IMAGE_STORE = '<ABSOLUTE ROUTE TO IMAGE FOLDER >/'
COUCHDB_USER = u'<COUCHDB ADMIN USERNAME>'
COUCHDB_PASS = u'<COUCHDB ADMIN PASS>'
FROMEMAIL = u'<GMAIL FROM EMAIL>'
FROMPASS = u'<GMAIL FROM EMAIL PASS>'
PREVIEW_LAYER = 2
