<div class="modal fade" id="delete_rq_a_b" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Are You sure you want to delete this ring?</h4>
      </div>
      <div class="modal-body">
        <div style="float:left; padding:0 10px;">
        <img style="width:150px;" src="/static/images/bea.jpg" class="img-thumbnail" >
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Nope</button>
        <a href='/{{ data.handle }}/{{ data.ring }}?method=delete' class="btn btn-primary">Yes</a>
      </div>
    </div>
  </div>
</div>