{% extends 'avispa_rest/tabs.html' %}

{% block title %} myRing {% endblock %}
{% block findme %} get_a_b {% endblock %}

{% block crumbs %}

<li class="active">˚{{ data.ring}} </li>


{% endblock %}

{% block tabcontent %}


  <!-- COLUMN 1 -->
  <div class="col-sm-12">
    <div class="rn-box-white gad100">
        
        {{ ui.panel(data.ring, data.ringorigin, data.handle, '#fce121', data.ringcount , '','',data.collection, data.user_authorizations) }}
        
    </div>

    {% block result1 %}

    <!-- RESULT LIST START -->
    <div class="rn-box-white gad100">
      
      <!-- TABSSSSSSS -->
      <div role="tabpanel">

        

          <!-- Nav tabs -->
          <ul class="nav nav-tabs text-right" role="tablist">
            
            {% if data.imagesui==True %}
            <li role="presentation" class="pull-right"><a href="#mosaic" aria-controls="mosaic" role="tab" data-toggle="tab" title="view as mosaic"><i class="fa fa-th"></i></a></li>
            {% endif %}
            <li role="presentation" class="pull-right"><a href="#biglist" aria-controls="megalist" role="tab" data-toggle="tab" title="view as list" ><i class="fa fa-th-list"></i></a></li>
            <li role="presentation" class="active pull-right"><a href="#list" aria-controls="list" role="tab" data-toggle="tab" title="view as list"><i class="fa fa-list"></i></a></li>

            
            </ul> 
        <div class="spa5"></div>
    <!-- ITEM N -->
        

        {% if 'post_a' in data.user_authorizations %}
          {% if not data.itemlist %}
          You have no items in this Ring. Create one, click here:

          <a href="/{{ data.handle }}/{{ data.ring }}?rq=post{% if data.collection != '' %}&collection={{data.collection}}{% endif %}" type="button" class="btn btn-success btn-xs " style="margin:0 5px;">
            <i class="fa fa-plus"></i> &nbsp; NEW
          </a>

          {% else %}
            <div class="pull-right">
              <a href="/{{ data.handle }}/{{ data.ring }}?rq=post{% if data.collection != '' %}&collection={{data.collection}}{% endif %}" type="button" class="btn btn-success btn-xs pull-right" style="margin:0 5px;">
                 <i class="fa fa-plus"></i> &nbsp; NEW
               </a>
            </div> 

          {% endif %}
        {% endif %}
          
        <!-- <p class="fs-0-8 fc-g pull-left">Filters: None (<a href='/{{data.handle}}/{{data.ring}}?q'>add one</a>)</p> -->
        <div class="spa20"></div>


        <!-- Tab panes -->
        <div class="tab-content">
        

<!-- AS LIST -->
      <div role="tabpanel" class="tab-pane fade in active" id="list">

        <div class="row">
          <div class="col-sm-12">

            
            <table class="table table-striped table-condensed">


              {% for item in data.itemlist %}
              <tr>
                  
                  {% if data.imagesui==True %}
                  <td style="width:100px;" class="text-right">
                      {% for k,v in item.items() %}
                        {% if data.widget[k] == 'images' %}  

                          {% if v[0] %}                      
                              <img style="width:40px;" src="{{data.host_url}}/_images/{{data.handle}}/t75/{{v[0]}}_t75.jpg" class="img-thumbnail" >
                          {% endif %}

                          {#% for image in v %}
                            {% if image %}                      
                              <img style="width:40px;" src="{{data.host_url}}/_images/{{data.handle}}/t75/{{image}}_t75.jpg" class="img-thumbnail" >
                            {% endif %}
                          {% endfor %#} 

                        {% endif %}
                      {% endfor %}
                      <!-- IMAGE PLACEHOLDER/ PLEASE REMOVE -->
                      <!--img style="width:20px;" src="/static/images/d3-a.png"  alt="Rings"-->
                      <!-- IMAGE PLACEHOLDER FINISH -->
                  </td>
                  {% endif %}
                      
                  
                  <td>
                             
                        
                         {% for k,v in item.items() %}
     
                            {% if k =='_public' %}
                              {% if v == True %}
                                
                                <span class="label label-info">PUBLIC</span>
                              {% else%}
                                <span class="label label-info">NOT PUBLIC</span>
                              {% endif %}
                            {% endif %}
                            
                          {% endfor %}
                  </td>

                  {% for k,v in item.items() %}
                  <td>
                        

                          {% if not k =='_public' %} 
                          {% if not k =='_id' %} 
                          {% if not data.widget[k] == 'images' %} 
                          {% if v %}                   
                          {% if 'get_a_b_c' in data.user_authorizations %}
                            <a href="/{{data.handle}}/{{data.ring}}/{{item._id}}" class="nounder"> {{ v|truncate(170, true) }} </a>
                          {% else %}
                            {{ v|truncate(170, true) }}
                          {% endif %}
                          {% endif %}
                          {% endif %}
                          {% endif %}
                          {% endif %}
                        

                  </td>
                  {% endfor %}

                  <td style="width:150px;">
                  <!-- 1st FIELD -->
                      {{ ui.pbar('35') }}
                  </td>  

                  <td style="width:90px;">
                      <div class="btn-group" role="group" aria-label="...">
                      {% if 'get_a_b_c' in data.user_authorizations %}
                        <a href="/{{data.handle}}/{{data.ring}}/{{item._id}}{% if data.collection != '' %}?collection={{data.collection}}{% endif %}" type="button" class="btn btn-info btn-xs"><i class="fa fa-eye"></i></a>
                      {%endif%}
                      {% if 'put_a_b_c' in data.user_authorizations %}
                        <a href="/{{data.handle}}/{{data.ring}}/{{item._id}}?rq=put{% if data.collection != '' %}&collection={{data.collection}}{% endif %}" type="button" class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i></i></a>
                      {%endif%}
                      {% if 'delete_a_b_c' in data.user_authorizations %}
                        <a href="/{{data.handle}}/{{data.ring}}/{{item._id}}?method=delete{% if data.collection != '' %}&collection={{data.collection}}{% endif %}" type="button" class="btn btn-default btn-xs"><i class="fa fa-times"></i></a>
                      {%endif%}
                      </div>
                  </td>
                  

              </tr>
            {% endfor %}
              <!-- END ITEM N -->
            </table>
          </div>  
          <!-- <div class="col-sm-2">
              {{ graphs.dona('Data completion','85','#a2b2c5',) }}

          </div>  -->
        </div><!-- close row -->
      </div> <!-- close tab -->
 <!-- AS A LIST close -->

 <!-- AS MEGA LIST -->
          <div role="tabpanel" class="tab-pane fade" id="biglist">
          
            <table class="table table-striped">
              {% for item in data.itemlist %}
              <tr>
                  <td>

                      {% if data.imagesui==True %}
                        {% for k,v in item.items() %}
                          {% if data.widget[k] == 'images' %} 

                            {% if v[0] %}                      
                              <img style="width:150px;" src="{{data.host_url}}/_images/{{data.handle}}/t150/{{v[0]}}_t150.jpg" class="img-thumbnail" >
                            {% endif %}

                            {#% for image in v %}       
                              {% if image %}                      
                                <img style="width:150px;" src="{{data.host_url}}/_images/{{data.handle}}/t150/{{image}}_t150.jpg" class="img-thumbnail" >
                              {% endif %}
                            {% endfor %#}                    
                          {% endif %}
                        {% endfor %}
                      {% endif %}


                      <div class="btn-group" role="group" aria-label="...">
                      {% if 'get_a_b_c' in data.user_authorizations %}
                        <a href="/{{data.handle}}/{{data.ring}}/{{item._id}}{% if data.collection != '' %}?collection={{data.collection}}{% endif %}" type="button" class="btn btn-info btn-xs"><i class="fa fa-eye"></i></a>
                      {% endif %}
                      {% if 'put_a_b_c' in data.user_authorizations %}
                        <a href="/{{data.handle}}/{{data.ring}}/{{item._id}}?rq=put{% if data.collection != '' %}&collection={{data.collection}}{% endif %}" type="button" class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i></i></a>
                      {% endif %}
                      {% if 'delete_a_b_c' in data.user_authorizations %}
                        <a href="/{{data.handle}}/{{data.ring}}/{{item._id}}?method=delete{% if data.collection != '' %}&collection={{data.collection}}{% endif %}" type="button" class="btn btn-default btn-xs"><i class="fa fa-times"></i></a>
                      {%endif%}
                      </div>
                             
                        <br/>
                         {% for k,v in item.items() %}
                            
                            {% if k =='_public' %}
                              {% if v ==True %}
                                
                                <span class="label label-info">PUBLIC</span>
                              {% else%}
                                <span class="label label-info">NOT PUBLIC</span>
                              {% endif %}
                            {% endif %}
                            
                          {% endfor %}
                  </td>
                  <td>
                      <table>
                      
                          {% for k,v in item.items() %}
                            {% if not k =='Images' %}
                            {% if not k =='Description' %} 
                            {% if not k =='_public' %} 
                            {% if not k =='_id' %} 
                            {% if v %} 
                          <tr>
                            <td  align="right" valign="top"><p class="fs-0-7 fc-g lh-1-2" style="margin-bottom:5px; padding:0 10px;">{% if data.FieldLabel[k]%}{{data.FieldLabel[k]}}{% else %}{{ k }}{% endif %}:</p></td>
                            <td>
                                <p class="fs-0-7 lh-0-1 text-gray" style="margin-bottom:5px;">{{ v|truncate(170, true) }}</p>
                            </td>
                          </tr>
                            {% endif %}
                            {% endif %}
                            {% endif %}
                            {% endif %}
                            {% endif %}
                          {% endfor %}
                        
                      </table>
                  </td>   
                  

              </tr>
            {% endfor %}
              <!-- END ITEM N -->
            </table>

          </div>
 <!-- AS A BIGLIST close -->

 {% if data.imagesui==True %}

  <!-- AS MOSAIC -->
          <div role="tabpanel" class="tab-pane fade" id="mosaic">

            
            
              {% for item in data.itemlist %}
              <div class="pull-left" style="background-color:#F7F7F7; margin:2px; padding:2px;">
                  
                      
                      <!-- IMAGE PLACEHOLDER -->
                  <table>
                    <tr>
                      <td align="center">
                      {% if 'get_a_b_c' in data.user_authorizations %}
                        <a href="/{{data.handle}}/{{data.ring}}/{{item._id}}{% if data.collection != '' %}?collection={{data.collection}}{% endif %}" type="button" class="pull-right" data-toggle="popover" data-placement="bottom" 
                                  title="
                                  {% for k,v in item.items() %}
                                    {% if k == 'name' %}
                                      {{ v }}
                                    {% endif %}
                                  {% endfor %}"
                                  data-content="
                                    {% for k,v in item.items() %}
                                    {% if k == 'description' %}
                                      {{ v|truncate(100, true) }}
                                    {% endif %}
                                  {% endfor %}">
                        <!-- Image placeholder -->
                      {% for k,v in item.items() %}
                        {% if data.widget[k] == 'images' %}       
                          
                            {% if v[0] %}                      
                              <img style="width:150px;" src="{{data.host_url}}/_images/{{data.handle}}/t150/{{v[0]}}_t150.jpg" class="img-thumbnail" >
                            {% endif %}
                                             
                        {% endif %}
                      {% endfor %}
                        </a>
                      {%else%}
                        {% for k,v in item.items() %}
                          {% if data.widget[k] == 'images' %}       
                            
                              {% if v[0] %}                      
                                <img style="width:150px;" src="{{data.host_url}}/_images/{{data.handle}}/t150/{{v[0]}}_t150.jpg" class="img-thumbnail" >
                              {% endif %}
                                               
                          {% endif %}
                        {% endfor %}
                      {%endif%}
                      </td>
                    </tr>
                    <tr>
                      <td align="center">
                        <span class="fs-0-6 text-gray">
                          {% for k,v in item.items() %}
                                    {% if k == 'name' %}
                                      
                                      {{ v|truncate(20, true,'...') }}
                                    {% endif %}
                          {% endfor %}
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td align="center">
                          <div class="btn-group" role="group" aria-label="...">
                          {% if 'get_a_b_c' in data.user_authorizations %}
                            <a href="/{{data.handle}}/{{data.ring}}/{{item._id}}{% if data.collection != '' %}?collection={{data.collection}}{% endif %}" type="button" class="btn btn-info btn-xs"><i class="fa fa-eye"></i></a>
                          {%endif%}
                          {% if 'put_a_b_c' in data.user_authorizations %}
                            <a href="/{{data.handle}}/{{data.ring}}/{{item._id}}?rq=put{% if data.collection != '' %}&collection={{data.collection}}{% endif %}" type="button" class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i></a>
                          {%endif%}
                          {% if 'delete_a_b_c' in data.user_authorizations %}
                            <a href="/{{data.handle}}/{{data.ring}}/{{item._id}}?method=delete{% if data.collection != '' %}&collection={{data.collection}}{% endif %}" type="button" class="btn btn-default btn-xs"><i class="fa fa-times"></i></a>
                          {%endif%}
                          </div>
                                 
                          <br/>
                           {% for k,v in item.items() %}
                              
                              {% if k =='_public' %}
                                {% if v ==True %}
                                  
                                  <span class="label label-info">PUBLIC</span>
                                {% else%}
                                  <span class="label label-info">NOT PUBLIC</span>
                                {% endif %}
                              {% endif %}
                              
                            {% endfor %}
                      </td>
                    </tr>
                  </table>
              </div>
              {% endfor %}
              <!-- END ITEM N -->            
          </div>
  <!-- AS MOSAIC close -->  
{% endif %}  

        </div>

      </div>

    </div><!-- //close box content -->
    <div class="">
        <ul class="pagination">
          <li><a href="/{{ data.handle }}/{{ data.ring }}">&laquo;</a></li>
          <!--li class="active"><a href="#">1</a></li>
          <li class="disable"><a href="#">2</a></li>
          <li class="disable"><a href="#">3</a></li-->
          {% if data.lastkey %}
          <li><a href="?lastkey={{ data.lastkey }}">&raquo;</a></li>
          {% endif %}
        </ul>
      {% if 'post_a' in data.user_authorizations %}
      <div class="pull-right">
          <a href="/{{ data.handle }}/{{ data.ring }}?rq=post{% if data.collection != '' %}&collection={{data.collection}}{% endif %}" type="button" class="btn btn-success btn-xs pull-right" style="margin:0 5px;">
             <i class="fa fa-plus"></i> &nbsp; NEW
           </a>
      </div>  
      {% endif %}   
    </div>
    <!-- RESULT LIST FIN -->
</div><!-- close 12 -->  
  {% endblock %}
   



{% endblock %}

{% block modals %}

{% include 'avispa_rest/delete_pre_a_b_c.html' %}
{% include 'avispa_rest/helpmodal.html' %}


{% endblock %}