{% extends 'base.html' %}

{% block headscripts %}

{% endblock %}

{% block title %} Avispa {% endblock %}

{% block crumbs %}


{% endblock %}



{% block content %}




<!-- START NEW CONTENT --> 


<section class="bp-20 p-50">
  <div class="container">
    <div class="row">
            
      <div class="col-md-9">  

        {{ ui.org_header(data,data.handle) }}


        <div class="row">
          <div class="col-sm-12">

            <div class="">

              {%if 'post_a_m' in data.user_authorizations %}
              <a href="/{{data.handle}}/_teams" type="button" class="btn btn-success btn-xs pull-right">
              + New Team</a> 
              {%endif%}
              {%if 'get_a_m' in data.user_authorizations %}
              <a href="/{{data.handle}}/_teams" type="button" class="btn btn-info btn-xs pull-right">
              Your teams</a>
              {%endif%}
              <br/><br/>
              
            </div> 
          

            <div class="rn-box-content"><br/>
                <span class="rn-b2">{{data.team.teamname}}</span><span class="pull-right"> 
                {%if 'put_a_m_n' in data.user_authorizations %}
                <a href="/{{data.handle}}/_teams/{{data.team.teamname}}/_settings?rq=put">Settings</a>
                {%endif%}
                </span>  <br/>
                          {#{data.team}#}<br/>
                          {{data.team.description}}
                          

                  <br/><br/>
                  {%if data.team.teamname!='owner' %}
                    This team grants <b>
                    {% if data.team.teamauth == 'R' %}Read{%endif%}
                    {% if data.team.teamauth == 'RW' %}Read and Write{%endif%}
                    {% if data.team.teamauth == 'RWX' %}Admin {%endif%}
                    {% if not data.team.teamauth %}no{%endif%}
                    </b> permissions to its members
                  {%else%}
                    Members of this team get <b>full access </b> to all the Rings and organization's settings. Please grant with precaution!
                  {%endif%}
                  <br/><br/><br/>
                <div class="rn-b1">Team members</div>
                
                {%if 'put_a_m_n' in data.user_authorizations %}
                <div class="">
                   <form action="/{{data.handle}}/_teams/{{data.team.teamname}}?method=PUT" method="POST">
                   <div class="pull-right">
                      &nbsp; Add a member from this organization to this team &nbsp;
                      <select name="newmember">
                          {% for member in data.people%}
                          <option value="{{member.handle}}">{{member.handle}}</option>
                          {% endfor %}
                      </select>
                      <input  type="submit" class="btn btn-success btn-xs pull-right" style="margin:0 5px;" value="+"/>
                      
                   </div> 
                   </form>    
                </div>
                {%endif%}

                <table class="table table"> <!-- inner row -->


                  {% for person in data.team.members %}
                    {% if person.handle %}
                      <tr>
                        <td>
                          
                        </td>
                        <td> 
                        </td>
                        <td> 
                          <a class="rn-b1" href="/{{ person.handle }}">
                              <img class="img-responsive center-block user-small" src="{% if person.thumbnail %}{{data.image_cdn_root}}/{{person.handle}}/t150/{{person.thumbnail}}_t150.jpg{% else %}/static/images/ph/ph_user2.gif{% endif %}" style="float:left; margin-right:10px;" alt="">
                              {{ person.handle }}
                          </a>

                          <hr/>
                          
                        </td>
                        <td style="min-width:200px;"> 
                          <div class="pull-right">
                            <!--input type="checkbox" value="public" name="public"/-->
                            {%if 'put_a_m_n' in data.user_authorizations %}
                            <div class="btn-group"> 
                              <a href="/{{data.handle}}/_teams/{{data.team.teamname}}?method=PUT&delmember={{ person.handle }}" type="button" class="btn btn-warning btn-xs pull-right">
                               REMOVE
                              </a>
                            </div>
                            {%endif%}
                            <br/><br/>
                            <!--span class="label label-discrete pull-right">Yesterday</span-->
                          </div>
                        </td>
                      </tr>
                    {% endif %}
                  {% endfor %}

                  </table>

                {%if 'put_a_m_n_invite' in data.user_authorizations %}
                <div class="pull-right">
                
                   Or invite somebody that doesn't belong to this organization yet: <a href="/{{data.handle}}/_teams/{{data.team.teamname}}/_invite?rq=put">Click here</a>
                      
                </div>
                {%endif%}
                
                <br/><br/>
                <hr/>

                  


               <div class="rn-b1">Rings</div>
              {%if data.team.teamname=='owner' or data.team.teamname=='staff' %}
                  <span>Members of this team have access to all the rings</span>
              {%else%}
                

                {%if 'put_a_m_n' in data.user_authorizations %}
                <div class="">
                   <form action="/{{data.handle}}/_teams/{{data.team.teamname}}?method=PUT" method="POST">
                   <div class="pull-right">
                      &nbsp; Add a new ring to this team &nbsp;
                      <select name="newring">
                          {% for ring in data.rings %}
                          <option value="{{ring}}">{{data.handle}}/{{ring}}</option>
                          {% endfor %}
                      </select>
                      <input  type="submit" class="btn btn-success btn-xs pull-right" style="margin:0 5px;" value="+"/>
                      
                   </div> 
                   </form>    
                </div>
                {%endif%}
                <br/>
                {% for ring in data.team.rings %}
                
                  <div class="rn-box-white gad100">           

                    {{ ui.panel(ring, data , '#fce121') }} 

                  </div>
                  <div class="btn-group" class="pull-right"> 
                      <a href="/{{data.handle}}/_teams/{{data.team.teamname}}?method=PUT&delring={{ ring.ringname }}" type="button" class="btn btn-warning btn-xs">
                        REMOVE
                      </a>
                  </div> 

                {%endfor%}
              {%endif%}

            </div><!-- //close box -->

          </div><!-- close 12 -->   
        </div> <!-- close row -->

    </div>
</section>

{% endblock %}

{% block modals %}

  {% include 'avispa_rest/helpmodal.html' %}

{% endblock %}
