{% extends 'avispa_rest/tabs.html' %}

{% block title %} myRing {% endblock %}
{% block findme %} get_a_b {% endblock %}

{% block crumbs %}

<li class="active">˚{{ data.ring}} </li>


{% endblock %}

{% block tabcontent %}


  <!-- COLUMN 1 -->
  <div class="col-sm-12">
    <div class="rn-box-white gad100">
      
        <div class="btn-toolbar pull-right" role="toolbar">
          <div class="btn-group">
            <!--a href="05" type="button" class="btn btn-default btn-xs">
            <i class="fa fa-arrow-left"></i>
            </a-->
            <!-- <a href="" type="button" class="btn btn-default btn-xs">
                <i class="fa fa-refresh"></i>
            </a> -->
          </div>
          <div class="btn-group">
            
            <!--button type="button" class="btn btn-default btn-xs pull-right" data-toggle="modal" data-target="#helpmodal">
            <i class="fa fa-question-circle"></i>
            </button-->
            <!--a href="?q" type="button" class="btn btn-success btn-xs pull-right">
                <i class="fa fa-search"></i> SEARCH
            </a-->
          </div>    
        </div>
        
        {{ ui.panel(data.ring, data.handle, '#fce121', '123', 'ringdescription') }}
        
    </div>





    {% block result1 %}

    <!-- RESULT LIST START -->
    <div class="rn-box-white gad100">
      
      <!-- TABSSSSSSS -->
      <div role="tabpanel">

        

          <!-- Nav tabs -->
          <ul class="nav nav-tabs text-right" role="tablist">
            
            <li role="presentation" class="active pull-right"><a href="#mosaic" aria-controls="mosaic" role="tab" data-toggle="tab" title="view as mosaic"><i class="fa fa-th"></i></a></li>
            <li role="presentation" class="pull-right"><a href="#list" aria-controls="list" role="tab" data-toggle="tab" title="view as list"><i class="fa fa-list-ul"></i></a></li>
            
            </ul> 
        <!-- Tab panes -->
        <div class="tab-content">

<!-- AS A LIST -->
          <div role="tabpanel" class="tab-pane fade" id="list">


            <!-- ITEM N -->
            {% if not data.itemlist %}
            You have no items in this Ring. Create one, click here:
            <a href="/{{ data.handle }}/{{ data.ring }}?rq=post" type="button" class="btn btn-success btn-xs " style="margin:0 5px;">
              <i class="fa fa-plus"></i> &nbsp; NEW
            </a>

            {% else %}
              <div class="pull-right">
                <a href="/{{ data.handle }}/{{ data.ring }}?rq=post" type="button" class="btn btn-success btn-xs pull-right" style="margin:0 5px;">
                   <i class="fa fa-plus"></i> &nbsp; NEW
                 </a>
              </div> 

            {% endif %}
              
            <p class="fs-0-8 fc-g pull-left">Filters: None (<a href='/{{data.handle}}/{{data.ring}}?q'>add one</a>)</p>
            <div class="spa20"></div>
            <table class="table table-striped">
              {% for item in data.itemlist %}
              <tr>
                  <td>
                      {% for k,v in item.items() %}
                        {% if k == 'Images' %}
                          {% for image in v %}
                            {% if image %}
                          
                          <img style="width:70px;" src="{{data.host_url}}/_images/{{data.handle}}/t75/{{image}}_t75.jpg" class="img-thumbnail" >
                            {% endif %}
                          {% endfor %}
                        {% else %}
                          
                        {% endif %}
                      {% endfor %}
                      <!-- IMAGE PLACEHOLDER/ PLEASE REMOVE -->
                      <img style="width:70px; margin:5px;" src="/static/images/d3-a.png"  alt="Rings">
                      <!-- IMAGE PLACEHOLDER FINISH -->

                      <div class="btn-group" role="group" aria-label="...">
                        <a href="/{{data.handle}}/{{data.ring}}/{{item._id}}" type="button" class="btn btn-info btn-xs"><i class="fa fa-eye"></i></a>
                        <a href="/{{data.handle}}/{{data.ring}}/{{item._id}}?rq=put" type="button" class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i></i></a>
                        <a href="/{{data.handle}}/{{data.ring}}/{{item._id}}?method=delete" type="button" class="btn btn-default btn-xs"><i class="fa fa-times"></i></a>
                      </div>
                             
                        <br/>
                         {% for k,v in item.items() %}
                            
                            {% if k =='_public' %}
                              {% if v ==True %}
                                
                                <span class="label label-info">PUBLIC</span>
                              {% else%}
                                <span class="label label-info">NOT PUBLIC</span>
                              {% endif %}
                            {% endif %}
                            
                          {% endfor %}
                  </td>
                  <td>
                      <table>
                      
                          {% for k,v in item.items() %}
                            {% if not k =='Images' %}
                            {% if not k =='Description' %} 
                            {% if not k =='_public' %} 
                            {% if not k =='_id' %} 
                            {% if v %} 
                          <tr>
                            <td  align="right" valign="top"><p class="fs-0-7 fc-g lh-1-2" style="margin-bottom:5px; padding:0 10px;">{% if data.FieldLabel[k]%}{{data.FieldLabel[k]}}{% else %}{{ k }}{% endif %}:</p></td>
                            <td>
                                <p class="fs-0-7 lh-0-1 text-gray" style="margin-bottom:5px;">{{ v|truncate(170, true) }}</p>
                            </td>
                          </tr>
                            {% endif %}
                            {% endif %}
                            {% endif %}
                            {% endif %}
                            {% endif %}
                          {% endfor %}
                        
                      </table>
                  </td>   
                  <td style="">
                      <p class="fs-1 fc-b">
                      {% for k,v in item.items() %}
                        {% if k == 'Description' %}
                          {{ v }}
                        {% endif %}
                      {% endfor %}
                      </p>
                  </td>

              </tr>
            {% endfor %}
              <!-- END ITEM N -->
            </table>

          </div>
 <!-- AS A LIST close -->

  <!-- AS MOSAIC -->
          <div role="tabpanel" class="tab-pane fade in active" id="mosaic">

            <!-- ITEM N -->
            {% if not data.itemlist %}
            You have no items in this Ring. Create one, click here:
            <a href="/{{ data.handle }}/{{ data.ring }}?rq=post" type="button" class="btn btn-success btn-xs " style="margin:0 5px;">
              <i class="fa fa-plus"></i> &nbsp; NEW
            </a>

            {% else %}
              <div class="pull-right">
                <a href="/{{ data.handle }}/{{ data.ring }}?rq=post" type="button" class="btn btn-success btn-xs pull-right" style="margin:0 5px;">
                   <i class="fa fa-plus"></i> &nbsp; NEW
                 </a>
              </div> 

            {% endif %}
              
            <p class="fs-0-8 fc-g pull-left">Filters: None (<a href='/{{data.handle}}/{{data.ring}}?q'>add one</a>)</p>
            <div class="spa20"></div>
            
              {% for item in data.itemlist %}
              <div class="pull-left" style="background-color:#F7F7F7; margin:2px; padding:2px;">
                  
                      
                      <!-- IMAGE PLACEHOLDER -->
                  <table>
                    <tr>
                      <td align="center">
                        <a href="/{{data.handle}}/{{data.ring}}/{{item._id}}" type="button" class="pull-right" data-toggle="popover" data-placement="bottom" 
                                  title="
                                  {% for k,v in item.items() %}
                                    {% if k == 'name' %}
                                      {{ v }}
                                    {% endif %}
                                  {% endfor %}"
                                  data-content="
                                    {% for k,v in item.items() %}
                                    {% if k == 'description' %}
                                      {{ v|truncate(100, true) }}
                                    {% endif %}
                                  {% endfor %}"
                          >
                        <!-- Image placeholder -->
                          <img style="width:90px; margin:1px;" src="/static/images/image01.jpg"  alt="Rings">
                          


                    <!-- {% for k,v in item.items() %}
                        {% if k == 'Images' %}
                          {% for image in v %}
                            {% if image %}


                          
                          <img style="width:70px;" src="{{data.host_url}}/_images/{{data.handle}}/t75/{{image}}_t75.jpg" class="img-thumbnail" >
                            {% endif %}
                          {% endfor %}
                        {% else %}
                          
                        {% endif %}
                      {% endfor %} -->

                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td align="center">
                        <span class="fs-0-6 text-gray">
                          {% for k,v in item.items() %}
                                    {% if k == 'name' %}
                                      
                                      {{ v|truncate(20, true,'...') }}
                                    {% endif %}
                          {% endfor %}
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td align="center">
                          <div class="btn-group" role="group" aria-label="...">
                            <a href="/{{data.handle}}/{{data.ring}}/{{item._id}}" type="button" class="btn btn-info btn-xs"><i class="fa fa-eye"></i></a>
                            <a href="/{{data.handle}}/{{data.ring}}/{{item._id}}?rq=put" type="button" class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i></i></a>
                            <a href="/{{data.handle}}/{{data.ring}}/{{item._id}}?method=delete" type="button" class="btn btn-default btn-xs"><i class="fa fa-times"></i></a>
                          </div>
                                 
                          <br/>
                           {% for k,v in item.items() %}
                              
                              {% if k =='_public' %}
                                {% if v ==True %}
                                  
                                  <span class="label label-info">PUBLIC</span>
                                {% else%}
                                  <span class="label label-info">NOT PUBLIC</span>
                                {% endif %}
                              {% endif %}
                              
                            {% endfor %}
                      </td>
                    </tr>
                  </table>
              </div>
              {% endfor %}
              <!-- END ITEM N -->
            </table>
            
          </div>
  <!-- AS MOSAIC close -->    

        </div>

      </div>

    </div><!-- //close box content -->
    <div class="">
        <ul class="pagination">
          <li><a href="/{{ data.handle }}/{{ data.ring }}">&laquo;</a></li>
          <!--li class="active"><a href="#">1</a></li>
          <li class="disable"><a href="#">2</a></li>
          <li class="disable"><a href="#">3</a></li-->
          {% if data.lastkey %}
          <li><a href="?lastkey={{ data.lastkey }}">&raquo;</a></li>
          {% endif %}
        </ul>
      <div class="pull-right">
          <a href="/{{ data.handle }}/{{ data.ring }}?rq=post" type="button" class="btn btn-success btn-xs pull-right" style="margin:0 5px;">
             <i class="fa fa-plus"></i> &nbsp; NEW
           </a>
      </div>     
    </div>
    <!-- RESULT LIST FIN -->
</div><!-- close 12 -->  
  {% endblock %}
   



{% endblock %}

{% block modals %}

{% include 'avispa_rest/delete_pre_a_b_c.html' %}
{% include 'avispa_rest/helpmodal.html' %}


{% endblock %}