{% extends 'avispa_rest/tabs.html' %}

{% block title %} myRing {% endblock %}


{% block crumbs %}

<li class="active">˚{{ data.ring}} </li>

{% endblock %}

{% block tabcontent %}

  <!-- COLUMN 1 -->

<div class="rn-curtain">
  
    <table class="table table-condensed">

    {{ ui.panel(data.ring, data.ringorigin, data.handle, '#fce121', data.ringcount , data.ringdescription,'',data.collection, data.user_authorizations) }}
    
    </table>


  {% if 'post_a' in data.user_authorizations %}
    {% if not data.itemlist %}

      <div class="row">
            <div class="col-xs-12 text-center">
              <div class="spa20">
                <h4>You have no items in this Ring. Create one, click here:
                  <a href="/{{ data.handle }}{% if data.collection != '' %}/_collections/{{data.collection}}{% endif %}/{{ data.ring }}?rq=post" type="button" class="btn btn-success btn-xs " style="margin:0 5px;">
                    <i class="fa fa-plus"></i> &nbsp; ADD FIRST ITEM
                  </a>
                </h4>
              </div>
            </div>
      </div>

    {% else %}

      <div class="row" style="margin-top:-15px;">
          <div class="col-xs-2 visible-xs">
              <a href="/{{ data.handle }}{% if data.collection != '' %}/_collections/{{data.collection}}{% endif %}/{{ data.ring }}?rq=post" type="button" class="btn btn-success btn-xs" >
                <i class="fa fa-plus fa-1x"></i>New
              </a>    
          </div>

          <div class="col-xs-10 col-sm-12">

            
            <ul class="nav nav-pills text-right" role="tablist">
              {% if data.imagesui==True %}
              <li role="presentation" class="pull-right"><a href="#mosaic" aria-controls="mosaic" role="tab" data-toggle="tab" title="view as mosaic"><i class="fa fa-th"></i></a></li>
              {% endif %}
              <li role="presentation" class="active pull-right"><a href="#biglist" aria-controls="megalist" role="tab" data-toggle="tab" title="view as list" ><i class="fa fa-th-list"></i></a></li>
              <li role="presentation" class="pull-right"><a href="#list" aria-controls="list" role="tab" data-toggle="tab" title="view as list"><i class="fa fa-list"></i></a></li>
            </ul> 
          </div>
      </div>

      {% endif %}
  {% endif %}   
        
    

    {% block result1 %}

    <!-- RESULT LIST START -->
</div>  

<div class="row rn-box-content">
  <div class="col-xs-12 col-sm-1 text-right ">
      {% if 'post_a' in data.user_authorizations %}
        {% if data.itemlist %}

          
        <div class="row">
          <div class="col-sm-12 hidden-xs">
            <div class="spa5"></div>
            <a href="/{{ data.handle }}{% if data.collection != '' %}/_collections/{{data.collection}}{% endif %}/{{ data.ring }}?rq=post" type="button" class="btn btn-success btn-lg" >
               <i class="fa fa-plus fa-3x"></i>
             </a>
             <br/>
          </div>
        </div> 
          

        {% endif %}
      {% endif %}
    
  </div> 
  <div class="col-xs-12 col-sm-11">
 
  <div role="tabpanel">
    <div class="tab-content">

  {% if data.itemlist %}


    
      <!-- AS LIST -->
      <div role="tabpanel" class="tab-pane fade" id="list" style="">

          <div class="">   
            <table class="table table-condensed">
              
              <tr class="bord-bottom bc-8 bw-2">
                 <th></th>
              {% for value in data.FieldLabel %}                   
                 
                 {% if not data.widget[value] == 'images' %}
                  <th class="text-s1 fs-0-8 ">
                    <span class="label label-xs">
                     
                     {%if data.FieldLabel[value] == '' %}
                         {{ value }}
                     {%else%}
                         {%if data.FieldLabel[value] == None %} 
                           {{ value }}
                         {%else%}
                           {{data.FieldLabel[value]}}
                         {%endif%}
                     {%endif%}
                     </span>
                     <br/>
                  </th>
                 {%endif%}
                               
              {% endfor %}
                 <th></th>
                 <th></th>

              </tr>


              {% for item in data.itemlist %}
              <tr class="bord-bottom bc-8 bw-2">
                  
                  {% if data.imagesui==True %}
                  <td style="width:100px;" class="text-right">
                      {% for k,v in item.items() %}
                        {% if data.widget[k] == 'images' %}  

                          {% if v[0] %}                      
                              <img style="width:40px;" src="{{data.image_cdn_root}}/_images/{{data.handle}}/t75/{{v[0]}}_t75.jpg" class="img-thumbnail" >
                          {% else %}
                              <img style="width:40px;" src="/static/images/ph/ph_img2.gif" class="img-thumbnail" >
                          {% endif %}

                          {#% for image in v %}
                            {% if image %}                      
                              <img style="width:40px;" src="{{data.image_cdn_root}}/_images/{{data.handle}}/t75/{{image}}_t75.jpg" class="img-thumbnail" >
                            {% else %}
                              <img style="width:40px;" src="/static/images/ph/ph_img2.gif" class="img-thumbnail" >
                            {% endif %}
                          {% endfor %#} 

                        {% endif %}
                      {% endfor %}
                      
                  </td>
                  {%else%}
                  <td></td>
                  {% endif %}
    

                  {% for value in data.FieldLabel %}        
                    {% if not data.widget[value] == 'images' %}  
                        <td>
                            <p class="fs-0-7">
                            {% if item[value] %}                   
                              {% if 'get_a_b_c' in data.user_authorizations %}

                                <a href="/{{data.handle}}{% if data.collection != '' %}/_collections/{{data.collection}}{% endif %}/{{data.ring}}/{{item._id}}" class="nounder"> {{ item[value]|truncate(20, true) }} </a>

                              {% else %}
                                {{ item[value]|truncate(20, true) }}
                              {% endif %}
                            {% endif %}
                            </p>
                        </td>
                    {% endif %}                
                  {% endfor %}

                  <td style="width:150px;">
                  <!-- 1st FIELD -->{#{((item['_fullcount']/item['_fieldcount'])*100)|round(1)|int}#}
                      {{ ui.pbar((item['_fullcount']/item['_fieldcount'])*100) }}
                  </td>  

                  <td style="width:90px;">
                      <div class="btn-group" role="group" aria-label="...">
                      {% if 'get_a_b_c' in data.user_authorizations %}
                        <a href="/{{data.handle}}{% if data.collection != '' %}/_collections/{{data.collection}}{% endif %}/{{data.ring}}/{{item._id}}" type="button" class="btn btn-info btn-xs"><i class="fa fa-eye"></i></a>
                      {%endif%}
                      {% if 'put_a_b_c' in data.user_authorizations %}
                        <a href="/{{data.handle}}{% if data.collection != '' %}/_collections/{{data.collection}}{% endif %}/{{data.ring}}/{{item._id}}?rq=put" type="button" class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i></a>
                      {%endif%}
                      {% if 'delete_a_b_c' in data.user_authorizations %}
                        <a href="/{{data.handle}}{% if data.collection != '' %}/_collections/{{data.collection}}{% endif %}/{{data.ring}}/{{item._id}}?method=delete" type="button" class="btn btn-default btn-xs"><i class="fa fa-times"></i></a>
                      {%endif%}
                      </div>
                  </td>
                  

              </tr>
            {% endfor %}
              <!-- END ITEM N -->
              
            </table>
          </div>  

      
        {% if 'post_a' in data.user_authorizations %}
            <div class="pull-right">
                <a href="/{{ data.handle }}{% if data.collection != '' %}/_collections/{{data.collection}}{% endif %}/{{ data.ring }}?rq=post" type="button" class="btn btn-success btn-xs pull-right" style="margin:0 5px;">
                   <i class="fa fa-plus"></i> &nbsp; NEW
                 </a>
            </div>  
        {% endif %} 
      </div> <!-- close tab -->

    
      

      <!-- AS A LIST close -->
  


      <!-- AS A BIG LIST -->
      <div role="tabpanel" class="tab-pane fade in active" id="biglist">
         
          <div> 
           
              {% for item in data.itemlist %}

                <div class="row bord-left bord-bottom bw-1 p-10 ml-15 bc-15">
                  <div class="col-sm-12"><br/><br/></div>
                  <div class="col-sm-2" >
                        <div class="row">
                            
                            <div class="col-sm-12 col-xs-7 text-left alpha" >
                              {% if data.imagesui==True %}
                                  {% for k,v in item.items() %}
                                    {% if data.widget[k] == 'images' %} 

                                      {% if v[0] %}                      
                                        <img style="width:100px;" src="{{data.image_cdn_root}}/_images/{{data.handle}}/t150/{{v[0]}}_t150.jpg" class="img-thumbnail" >
                                        {% else %}
                                        <img style="width:150px;" src="/static/images/ph/ph_img.gif" class="img-thumbnail" >

                                      {% endif %}


                                      {#% for image in v %}       
                                        {% if image %}                      
                                          <img style="width:100px;" src="{{data.image_cdn_root}}/_images/{{data.handle}}/t150/{{image}}_t150.jpg" class="img-thumbnail" >
                                        {% else %}
                                        <img style="width:150px;" src="/static/images/ph/ph_img.gif" class="img-thumbnail" >

                                        {% endif %}
                                      {% endfor %#}                    
                                    {% endif %}
                                  {% endfor %}
                                {% endif %}
                              
                            </div>
                            <div class="col-sm-12 col-xs-5 omega" >

                                <div class="btn-group" role="group" aria-label="...">
                                {% if 'get_a_b_c' in data.user_authorizations %}
                                  <a href="/{{data.handle}}{% if data.collection != '' %}/_collections/{{data.collection}}{% endif %}/{{data.ring}}/{{item._id}}" type="button" class="btn btn-info btn-xs"><i class="fa fa-eye"></i></a>
                                {% endif %}
                                 
                                {% if 'put_a_b_c' in data.user_authorizations %}
                                  <a href="/{{data.handle}}{% if data.collection != '' %}/_collections/{{data.collection}}{% endif %}/{{data.ring}}/{{item._id}}?rq=put" type="button" class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i></i></a>
                                {% endif %}

                                {% if 'delete_a_b_c' in data.user_authorizations %}
                                  <a href="/{{data.handle}}{% if data.collection != '' %}/_collections/{{data.collection}}{% endif %}/{{data.ring}}/{{item._id}}?method=delete" type="button" class="btn btn-default btn-xs"><i class="fa fa-times"></i></a>
                                {%endif%}
                                </div>
                            </div>
                        </div>
                         
                  </div>
                  



                  <div class="col-sm-10 ">
                    {% for value in data.FieldLabel %}        
                      {% if not data.widget[value] == 'images' %}  
                      {% if item[value] %}
                      
                        <div class="row hidden-xs">
                          <div class="col-sm-3 text-right alpha omega">
                            <p class="fs-0-7 fc-g lh-1-2" style="margin-bottom:5px; padding:0 10px;">{%if data.FieldLabel[value] == '' %}
                                  {{ value }}
                                     {%else%}
                                         {%if data.FieldLabel[value] == None %} 
                                           {{ value }}
                                         {%else%}
                                           {{data.FieldLabel[value]}}
                                         {%endif%}
                                     {%endif%}:
                            </p>
                          </div>
                          <div class="col-sm-9 alpha">
                          
                            <a href="/{{data.handle}}{% if data.collection != '' %}/_collections/{{data.collection}}{% endif %}/{{data.ring}}/{{item._id}}" class="nounder">
                              <p class="fs-0-7 lh-0-1" style="margin-bottom:5px;">{%if item[value] is defined %}{#{ item[value]|truncate(70, true) }#}{{item[value]}}{%endif%}</p>

                            </a>
                          </div>
                        </div>

                        <div class="row visible-xs bg-b">
                          <div class="col-xs-12 alpha omega">
                             <p class="fs-0-9 fc-g lh-1-2" style="margin-bottom:5px; padding:10px 0 0 0;">{%if data.FieldLabel[value] == '' %}
                                  {{ value }}
                                   {%else%}
                                       {%if data.FieldLabel[value] == None %} 
                                         {{ value }}
                                       {%else%}
                                         {{data.FieldLabel[value]}}
                                       {%endif%}
                                   {%endif%}:
                              </p>
                          </div>
                          <div class="col-xs-12 alpha omega">
                          
                            <a href="/{{data.handle}}{% if data.collection != '' %}/_collections/{{data.collection}}{% endif %}/{{data.ring}}/{{item._id}}" class="nounder">
                              <p class="fs-0-7 lh-0-1" style="margin-bottom:5px;">{%if item[value] is defined %}{#{ item[value]|truncate(110, true) }#}{{item[value]}}{%endif%}</p>
                            </a>
                          </div>
                        </div>
                      {%endif%}
                      {%endif%}
                    {%endfor%}
                  </div>   
              </div> 
               

              
                {% endfor %}
              <!-- END ITEM N -->
          
          </div>
      </div>
      <!-- AS A BIGLIST close -->


{% if data.imagesui==True %}

  <!-- AS MOSAIC -->
          <div role="tabpanel" class="tab-pane fade " id="mosaic">

            
            
              {% for item in data.itemlist %}
              <div class="pull-left" style="background-color:#F7F7F7; margin:2px; padding:2px;">
                  
                      
                      <!-- IMAGE PLACEHOLDER -->
                  <table>
                    <tr>
                      <td align="center">
                      {% if 'get_a_b_c' in data.user_authorizations %}
                        <a href="/{{data.handle}}{% if data.collection != '' %}/_collections/{{data.collection}}{% endif %}/{{data.ring}}/{{item._id}}" type="button" class="pull-right" data-toggle="popover" data-placement="bottom" 
                                  title="
                                  
                                  {% for k,v in item.items() %}
                                    
                                      {#{ v }#}
                                    
                                  {% endfor %}"
                                  data-content="
                                    {% for k,v in item.items() %}
                                    {% if k == 'description' %}
                                      {{ v|truncate(100, true) }}
                                    {% endif %}
                                  {% endfor %}">
                        <!-- Image placeholder -->
                      {% for k,v in item.items() %}
                        {% if data.widget[k] == 'images' %}       
                          


                            {% if v[0] %}                      
                              <img style="width:150px;" src="{{data.image_cdn_root}}/_images/{{data.handle}}/t150/{{v[0]}}_t150.jpg" class="img-thumbnail" >
                            {% else %}
                              <img style="width:150px;" src="/static/images/ph/ph_img.gif" class="img-thumbnail" >
                            {% endif %}
                                             
                        {% endif %}
                      {% endfor %}
                        </a>
                      {%else%}
                        {% for k,v in item.items() %}
                          {% if data.widget[k] == 'images' %}       
                            
                              {% if v[0] %}                      
                                <img style="width:150px;" src="{{data.image_cdn_root}}/_images/{{data.handle}}/t150/{{v[0]}}_t150.jpg" class="img-thumbnail" >
                              {% else %}
                              <img style="width:150px;" src="/static/images/ph/ph_img.gif" class="img-thumbnail" >
                              {% endif %}
                                               
                          {% endif %}
                        {% endfor %}
                      {%endif%}
                      </td>
                    </tr>
                    <tr>
                      <td align="center">
                        <span class="fs-0-6 text-gray">
                          {% for k,v in item.items() %}
                                    {% if k == 'name' %}
                                      
                                      {{ v|truncate(20, true,'...') }}
                                    {% endif %}
                          {% endfor %}
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td align="center">
                          <div class="btn-group" role="group" aria-label="...">
                          {% if 'get_a_b_c' in data.user_authorizations %}
                            <a href="/{{data.handle}}{% if data.collection != '' %}/_collections/{{data.collection}}{% endif %}/{{data.ring}}/{{item._id}}" type="button" class="btn btn-info btn-xs"><i class="fa fa-eye"></i></a>
                          {%endif%}
                          {% if 'put_a_b_c' in data.user_authorizations %}
                            <a href="/{{data.handle}}{% if data.collection != '' %}/_collections/{{data.collection}}{% endif %}/{{data.ring}}/{{item._id}}?rq=put" type="button" class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i></a>
                          {%endif%}
                          {% if 'delete_a_b_c' in data.user_authorizations %}
                            <a href="/{{data.handle}}{% if data.collection != '' %}/_collections/{{data.collection}}{% endif %}/{{data.ring}}/{{item._id}}?method=delete" type="button" class="btn btn-default btn-xs"><i class="fa fa-times"></i></a>
                          {%endif%}
                          </div>
                                 
                      </td>
                    </tr>
                  </table>

              </div><!-- CLOSE BOX -->
              {% endfor %}
              <!-- END ITEM N -->            
          </div>
  <!-- AS MOSAIC close -->  
  {% endif %}  

{% endif %} 



              
        

        </div>
       
      </div>
      <div class="spa20"></div>
    
    <!-- RESULT LIST FIN -->

  
  </div><!-- CLOSE COL 11 -->
</div><!--  CLOSE ROW    --> 



{% endblock result1 %}
   




{% endblock %}

{% block modals %}

{% include 'avispa_rest/delete_pre_a_b_c.html' %}
{% include 'avispa_rest/helpmodal.html' %}


{% endblock %}
{% block findme %} get_a_b {% endblock %}
