{% extends 'avispa_rest/orghome.html' %}

{% block title %} Avispa {% endblock %}
{% block findme %} get_a_m{% endblock %}


<!-- EMPTY OTHER BLOCKS -->
{% block org_datarings %}
{% endblock %}
{% block org_people %}
{% endblock %}


{% block tabs %}
                
    {{ ui.org_tabs(data.handle,'_home','','_people','','_teams','active','#campaigns','','#badges','','#settings','') }}

{% endblock %}


<!-- START NEW CONTENT --> 


{% block org_teams %}
    <div role="tabpanel" class="tab-pane active" id="profile">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <div class="bord-bottom bc-8 pad-y-10">  
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-10 fs-0-8">

                        {%if 'post_a_m' in data.user_authorizations %}
                            <div class="">
                                <form action="" method="POST">
                                     <div class="pull-right">

                                        <input name="newteam" type="text" placeholder="Create new team"/>&nbsp;
                                        <button type="submit" class="btn btn-success btn-xs pull-right">
                                            <i class="fa fa-plus pad-x-4"></i>
                                            <i class="fa fa-shield"></i>
                                        </button>

                                     </div> 
                                </form>   

                                 <h4 class="fc-g">Teams</h4>   
                            </div>
                        {%endif%}
                        
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-offset-1 col-sm-10">

                    <table class="table table-hover">

                        <tr class=" fs-0-6">  
                            <th>Team Name</th>
                            <th>Members</th>
                            <th>Actions</th>
                        </tr>
                        {% for team in data.teamlist %}
                            {% if team.teamname in data.teammembership%}

                            <tr onclick="getElementById('{{ team.teamname }}').click()" style="cursor: pointer">
                                <td class="fs-0-9 pt-5 fw-a">
                                    <a id="{{ team.teamname }}" href="/{{ data.handle }}/_teams/{{ team.teamname }}">
                                        <i class="fa fa-shield fs-1-5 p-x-10"></i>
                                        {{ team.teamname }}
                                    </a>    
                                </td>
                                 
                                <td>
                                    {%for member in team.members%}
                                
                                        <a href="/{{member.handle}}" class="fc-n" data-toggle="tooltip" data-original-title="{{member.handle}}">
                                          <img class="user-team" src="{% if member.thumbnail %}{{data.image_cdn_root}}/{{member.handle}}/t75/{{member.thumbnail}}.jpg{% else %}/_static/images/ph/ph_user2.gif{% endif %}" style="margin-right:8px; width:16px;" alt=""/>
                                          
                                        </a>
                                    {%endfor%}
                                </td>
                                <td>
                                    {%if 'get_a_m_n' in data.user_authorizations %}

                                        <a class="btn btn-xs btn-default fs-0-7" href="/{{ data.handle }}/_teams/{{ team.teamname }}" >
                                            <i class="fa fa-eye"></i>
                                        </a>

                                    {%endif%}
                                    {%if 'delete_a_m_n' in data.user_authorizations %}
                                        {%if team.teamname!='owner' %}
                                          
                                            <a class="btn btn-xs btn-vader fs-0-7" href="/{{ data.handle }}/_teams/{{ team.teamname }}?method=delete" >
                                                <i class="fa fa-trash"></i>
                                            </a>

                                        {%endif%}
                                    {%endif%}
                                </td>
                            </tr>
                            {%endif%}
                        {% endfor %}   
                    </table>
                </div>
            </div>    

            
                
        </div> 

         
        

    </div>
{% endblock %} 




{% block modals %}

  {% include 'avispa_rest/helpmodal.html' %}

{% endblock %}
