{% extends 'base.html' %}

{% block title %} Avispa {% endblock %}




{% block content %}


<!-- START NEW CONTENT --> 


<section class="bp-20 p-50">
  <div class="container">
    <div class="row">
            
      <div class="col-md-9">  
        {{ ui.org_header(data,data.handle) }}

        <div class="row">
          <div class="col-sm-12">

            {% if 'post_a_p' in data.user_authorizations %}
            <div class="">
               <form action="" method="POST">
               <div class="pull-right">
                  &nbsp; ADD NEW PERSON <input name="newperson" type="text"/>&nbsp;
                  <input  type="submit" class="btn btn-warning btn-xs pull-right" style="margin:0 5px;" value="+"/>
                  
               </div> 
               </form>    

            </div>
            {%endif%}

            <br/><br/>

            <div class="rn-box-content">
            <h2>PEOPLE</h2>
              <table class="table table-striped"> <!-- inner row -->




              {% for person in data.peoplelist %}
                {% if person.handle %}
                  <tr>
                    <td>
                      
                    </td>
                    <td> 
                    </td>
                    <td> 
                      <a class="rn-b1" href="/{{ person.handle }}">
                          <img class="img-responsive center-block user-small" src="{% if person.thumbnail %}{{data.image_cdn_root}}/_images/{{person.handle}}/t150/{{person.thumbnail}}_t150.jpg{% else %}/static/images/generic_thumbnail.png{% endif %}" style="float:left; margin-right:10px;" alt="">
                          {{ person.handle }}
                      </a>

                      <hr/>
                      <p class="rn-t3 rn-gray">Added on: {{ person.added }}</p>
                    </td>
                    <td style="min-width:200px;"> 
                      <div class="pull-right">
                        
                        {% if 'delete_a_p_q' in data.user_authorizations %}
                        <div class="btn-group"> 
                          <a href="/{{ data.handle }}/_people/{{ person.handle }}?method=delete" >Delete</a>
                        </div>
                        {%endif%}
                        <br/><br/>
                        
                      </div>
                    </td>
                  </tr>
                {% endif %}
              {% endfor %}

              </table>
            </div><!-- //close box -->
          </div><!-- close 12 -->   
        </div> <!-- close row -->

    </div>
</section>




{% endblock %}

{% block modals %}

  {% include 'avispa_rest/helpmodal.html' %}

{% endblock %}
