{% extends 'avispa_rest/tabs.html' %}

{% block title %}
	My Ring
{% endblock %}
{% block findme %} get_a{% endblock %}

{% block crumbs %}
{% endblock %}
           

{% block tabtitle %}
{% endblock %}

{% block crumb02 %}
                <i class="fa fa-caret-right breadinter"></i> <!-- caret right -->
               <span class="fc-a fs-0-7">{{ data.collection }}</span>    
{% endblock %}

{% block tabcontent %}


    <div class="row">
        
        <div class=" col-sm-12">
            <div class="gcard-subtitle" >
                

            {{ ui.collection(data.handle,data.collection,6,1,'1 day ago',data.user_authorizations) }}
            
         
            </div>
        </div>
        <div class="col-sm-offset-1 col-sm-10">

            
                <table width="100%" border="0">
                    <tr bgcolor="">
                      <td colspan="3" style="padding:0 0px 0px 2px;"> 
                        <table class="table table-bordered">

                            {% for ring in data.ringlist %}
                                 

                                 {{ ui.panel_collections(data.collection, data,ring, '#fce121','1') }}


                            {% endfor %} 
                        </table>
                      </td>
                    </tr>
                </table>
            

        </div>
        <div class="col-sm-3">
            
        </div>
        
    </div>
        



        {% if not data.ringlist %}
       <div class="row">
        <div class="col-sm-offset-1 col-sm-10 text-center">
         
          <div class="box box-help">

            <div style="clear:both;">{{ ui.icon_med(':(','#FFF') }}</div>

            <p class="fs-1-3"><i class="fa fa-arrow-up"></i>You have no Rings in this collection. Create one here:</p>
            
            <a href="/{{data.handle}}?rq=post&n=10" type="button" class="btn-help btn-success" style="margin:5px;">
              <i class="fa fa-plus"></i> &nbsp; Create a Ring
              </a>
                
              <br class="visible-xs" />
              <a href="/{{data.handle}}?rq=put" type="button" class="btn-help btn-warning" style="margin:5px;">
                <i class="fa fa-arrow-right"></i> &nbsp; Choose an existing one.
              </a>
              <br class="visible-xs" />

              <a data-toggle="modal" data-target="#no-ring" class="btn-help btn-info" style="margin:5px;">
                <i class="fa fa-lightbulb-o"></i> &nbsp; What is a Ring?
              </a>
              
              
          </div>
            
        </div>
       </div>
       {% endif %}


        </div>
            <!-- <div class="row">
                <div class="col-sm-12 ">
                    <div class="pull-right">
                        <ul class="pagination">
                            <li><a href="#">&laquo;</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li class="disable"><a href="#">2</a></li>
                            <li class="disable"><a href="#">3</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
            </div>  -->
        
        

        {% if not data.collection %}
        <div class="rn-box-title-slim">
                Actions
        </div>
        <div class="rn-box-solo ">
                
                 {% if 'post_a' in data.user_authorizations %}
                 <a href="?rq=post&n=1" type="button" class="btn btn-warning btn-xs" style="margin:0 5px;">
                    <i class="fa fa-plus"></i> &nbsp; NEW RING.
                 </a>
                 {% endif %}            
        </div>
        {% endif %}


    </div>
        
</div>

<!-- MODAL WHAT IS A COLLECTION -->

 <div class="modal fade" id="no-ring" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <!-- <h4 class="modal-title" id="myModalLabel">The User Graph</h4> -->
        <p class="fs-2">What is a Ring?</p>
        
      </div>
      <div class="modal-body">

        <div class="row">
            <div class="col-sm-offset-1 col-sm-4">
                <p class="fs-2">Answer:</p>
      
                <p class="fs-1 text-s1">
                <strong>A Ring is a Data repository </strong> that lives in the cloud and/or locally in connected devices. What makes Ring different from other repositories or databases is that it connects with a <strong>Global Ring</strong> where all the data is merged to create <strong>Super Datasets</strong>. 
                </p>


                <!-- <p class="fs-1-2 text-s1">
                Altough all the data is <strong>merged in bigger datasets</strong>, every bit of information keeps it's <strong>original license</strong> so mobile applications, websites, A.I. or any system understand how to handle it.
                </p>

                <p class="fs-1-2 text-s1">
                The global Ring uses a <strong>Blockchain</strong> system similar to the one used in <strong>Bitcoin</strong> to manage the <strong>licenses and</strong> keep track on transactions.
                </p> -->

                <!-- <br/>
                A ring helps other people and organizations find you and your data.
                <br/> -->

                
            </div>
            <div class="col-sm-7">
                <img class="img-responsive" src="/static/images/graphics/globaldiagram.gif">
            </div>
            
        </div>
        <div class="row">
            <div class="col-sm-offset-1 col-sm-9">

                <hr/>
                <p class="fs-2">How it works:</p>
                <p class="fs-1 text-s1">
                    Rich Data sets allows apps or A.I. systems to digg into more complex and granular queries than the regular 'Scrapping' approach used nowadays. 
                    <!-- The logic is simple:
                    Easy capture + a social media flair = More participation and richer datasets. -->
                    
                </p>

                <img class="img-responsive" src="/static/images/graphics/query.gif">
            </div>
            
        </div>
          

       </div>
            

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>


            

{% endblock %} 


{% block findme %} get_a {% endblock %}