{% extends 'avispa_rest/tabs.html' %}

{% block title %} Avispa {% endblock %}
{% block findme %} get_a_b_c {% endblock %}

{% block crumbs %}

<li><a href="/{{ data.handle }}/{{ data.ring }}" >˚{{ data.ring}}</a></li>
<li class="active">{{ data.idx}}</li>

{% endblock %}

{% block tabcontent %}


<!-- START NEW CONTENT --> 

      <div class="col-sm-12">  
        <div class="row">
          <div class="col-sm-12">
          {% if data.item %} 
            <div class="rn-box-title">
              Showing 1 item
              
              <a class="btn btn-vader btn-xs pull-right" href="/_api/{{ data.handle }}/{{ data.ring }}/{{ data.idx }}">
               <!-- <img src="/static/images/json.png"> -->
               
              </a>
              
            </div>
            <div class="rn-box-solo">
              <div class="row">
                <div class="col-sm-12">

                  {% for k,v in data.item.items() %}
                     {% if data.widget[k] =='images' %}
                         
                         {{k}}
                        {% for image in v %}
                          {% if image %}
                            <img src="{{data.host_url}}/_images/{{data.handle}}/r500/{{image}}_r500.jpg" class="img-thumbnail" >
                          {% endif %}

                        {% endfor %} 
                        <br/>            

                      {% endif %}
                  {% endfor %}
                
                <!--p>{{data.host_url}}/_images/{{data.handle}}/t75/{{image}}_t75.jpg</p-->

                </div>
              </div>    
            </div>

            <div class="rn-box-solo">
              <form class="form-horizontal" role="form">
                              
                <div class="form-group">
                {% for k,v in data.item.items() %}
                     
                     {% if k =='_public' %} 
                            <div><b>&nbsp;PUBLIC</b></div>
                      
                      {% endif %}
                  {% endfor %}

                  {% for k,v in data.item.items() %}
                     {% if not k =='_public' %} 
                     {% if not k =='_id' %} 
                     {% if data.widget[k] != 'images' %}
                            <label for="" class="col-sm-2 control-label">{{ k }}:</label>
                            <div class="col-sm-10">
                              <p>{{ v }}</p>
                            </div> 
                      {% endif %}
                      {% endif %}
                      {% endif %}
                  {% endfor %}
            
                </div>          
                <!--div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">Tags</label>
                  <div class="col-sm-10">
                    <div>
                            <span class="label label-success rn-mar5"> Deluxe Room </span>
                            <span class="label label-success rn-mar5"> Jacuzzi </span>
                            <span class="label label-success rn-mar5"> Ocean View  </span>
                            <span class="label label-warning rn-mar5"> Hotels </span>
                            <span class="label label-warning rn-mar5"> Room Images </span>
                            <span class="label label-warning rn-mar5"> Space stations</span>       
                    </div>
                  </div>
                </div-->
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label"></label>
                  <div class="col-sm-10">
                      <a href='/{{ data.handle }}/{{ data.ring }}/{{ data.idx }}?rq=put' type="submit" class="btn btn-success">Edit</a>
                      <a href='/{{ data.handle }}/{{ data.ring }}/{{ data.idx }}?method=delete' type="submit" class="btn btn-default">DELETE THIS
                      </a>
                      
                  </div>
                </div>
              </form>           
            </div><!-- //close box content -->  
            {% endif %}        
          </div><!-- close 12 -->   
        </div> <!-- close row -->
      </div> <!-- close 9 -->
   

{% endblock %}

{% block modals %}

  {% include 'avispa_rest/delete_pre_a_b_c.html' %}
  {% include 'avispa_rest/helpmodal.html' %}


{% endblock %}
