                            <div class="box box-help alert-dismissible-help hidden-xs" role="alert" style="margin-bottom:-200px;">

                           

                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" style="right:0px;">&times;</span></button>

                                <strong>This is your User Graph! </strong> It shows your progress. 

                                <a data-toggle="modal" data-target="#intro-graph" class="btn-help btn-info text-s1 text-center">
                                
                                 Learn More </a>

                                
                                 <img src="/static/images/graphics/graphfake.jpg" class="img-responsive"> 
                                 

                            </div>