{% extends 'base.html' %}

{% block title %} My Ring - {{ title }}{% endblock %}
{% block findme %} orghome {% endblock %}


{% block content %}

<!-- CONTENT HERE -->

<section>
    <div class="container pt-10">
        {{ ui.org_header(data,data.handle) }}
    </div>  
</section>


<!-- TABS START -->
<section>
    <div class="container">
        <div class="row">

            {% if 'get_a_m' in data.user_authorizations %}
            <div class="col-sm-12 alpha omega pt-10">

                {% block tabs %}
                
                    {{ ui.org_tabs(data.handle,'_home','active','_people','','_teams','','#campaigns','','#badges','','#settings','') }}


                {% endblock %}


                <!-- Tab panes -->
                <div class="tab-content gcard">

                    <!-- ORG DATA RINGS::::::::::::::::::::::::::::::::::::::: -->

                    {% block org_datarings %}

                    <div role="tabpanel" class="tab-pane active" id="data">

                        {% if 'post_a_x' in data.user_authorizations %}
                            {% if data.collections.collectionlist|length ==0  %}
                            
                                <div style="padding:20px 40px">

                                    
                                    <div class="row gcard bord-all">
                                        <div class="col-xs-12">
                                            <div class="alert  alert-success alert-top" role="alert">
                                                
                                                <i class="fa fa-info-circle "></i> 
                                                <span class="fs-1-2">Load a Collection for {%if data.handle_actualname %}<strong>{{ data.handle_actualname }}</strong>{%else%} this Organization {%endif%}</span>

                                            </div>
                                        </div>

                                        <div class="col-xs-12">
                                            
                                            <a class="float-right fs-0-8 p-y-10" data-toggle="popover" title="Collection" data-content="Choosing a category define what customer questions will be sent to you. Complex organizations can have one or multiple collections. Additional categories can be added at any time"
                                             data-placement="left">  What is this <i class="fa fa-question-circle-o fa-x2"></i></a>

                                            <h5 class="p-x-20 fs-0-9 fc-g"><em>Popular Collections:</em></h5>

                                            {{ ui.collec_item('co_wine.png', 'Winery', '/') }}
                                            {{ ui.collec_item('co_museum.png', 'Museum', '/') }}
                                            {{ ui.collec_item('co_generic.png', 'School', '/') }}
                                            {{ ui.collec_item('co_generic.png', 'Hotel', '/') }}
                                            {{ ui.collec_item('co_generic.png', 'Restaurant', '/') }}
                                            {{ ui.collec_item('co_generic.png', 'Travel service', '/') }}
                                            
                                            
                                            {{ ui.collec_item('co_basic.png', 'Load Basic', '/') }} 
                                            {{ ui.collec_item('co_more.png', 'More', '/') }} 

                                        </div>
                                        <div class="col-xs-12">
                                            <hr/>

                                            
                                            {{ ui.collec_item('co_empty.png', 'Empty', '/') }}
                                            {{ ui.collec_item('co_add.png', 'Create New', '/{{data.handle}}/_collections?rq=post') }}

                                            <div class="spa20">&nbsp;</div>
                                        </div>


                                    </div>
                                </div>

                                <!-- <div class="box box-help">
                                    <p class="fs-1-3"><i class="fa fa-arrow-up"></i> &nbsp; This Organization has no collections yet. </p>
                                    <a href="/{{data.handle}}/_collections?rq=post" type="button" class="btn-help btn-success" style="margin:0 5px;">
                                      <i class="fa fa-plus"></i> &nbsp; Create first collection
                                    </a>
                                  </div>  -->
                               
                            {% else %}
                                <div role="tablist" aria-multiselectable="true">

                                    <div class="bord-bottom bc-8 pad-y-10">  
                                        <div class="row">
                                            
                                            <div class="col-sm-offset-1 col-sm-10 fs-0-8">
                                                <a href="/{{data.handle}}/_collections?rq=post" type="button" class="fc-n float-right"> 
                                                    <span class="pad-x-5">Create new collection</span>
                                                    <i class="fa fa-plus pad-x-4"></i><i class="fa fa-cube"></i>
                                                </a> 
                                                <h4 class="fc-g">Rings</h4>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                
                            {% endif %}
                        {%endif%}

                        {% for collection in data.collections.collectionlist %}  
                            {% if collection.valid %}

                                
                                <div class="gcard-body" style="min-height:110px;">
                                    <div class="row">
                                        <!-- START RING LIST -->
                                        <div class="col-sm-offset-1 col-sm-10">   

                                            <div class="gcard-subtitle" >

                                                {{ ui.collection(data.handle,collection.collectionname,6,1,'1 day ago',data.user_authorizations) }}
                                            </div>
                                            <table class="table table-condensed table-hover">

                                            {% for ring in collection.rings %}  
                                                {{ ui.panel_collections2(ring.handle,collection.collectionname,ring.ringname, '#fce121', ring.count , '85', '',data.user_authorizations,'1') }}
                                            {% endfor %}
                                            </table>     
                                        </div>
                                        <!-- FINISH RING LIST -->
                                    </div>
                                </div>             

                            {% endif %}
                        {% endfor %}
                    </div>

                    {% endblock %}


                    <!-- ORG PEOPLE ::::::::::::::::::::::::::::::::::::::: -->

                    {% block org_people %}

                    <div role="tabpanel" class="tab-pane" id="people">

                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                            <div class="bord-bottom bc-8 pad-y-20">  
                                <div class="row">
                                    <div class="col-xs-11 fs-0-8 text-right">
                                        <a href="/{{data.handle}}/_people" type="button" class="fc-n"> 
                                            <span class="pad-x-8">Add People</span>
                                            <i class="fa fa-plus pad-x-4"></i>
                                            <i class="fa fa-user"></i>
                                        </a> 
                                    </div>
                                </div>
                            </div>

                                {% set openthis= 1 %}
                                <!-- EACH PERSON IN THE ORG-->
                                {% for person in data.people %}
                                    
                                <div class="bord-bottom bc-8">

                                    <div class="row bord-bottom bc-8 p-5">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#{{person.handle}}" aria-expanded="true" class="fc-m">
                                           
                                            <div class="col-xs-offset-1 col-xs-2 col-sm-offset-1 col-sm-1">
                                                
                                                    <img class="user-xsmall user-round" src="{% if data.peoplethumbnails[person.handle] %}{{data.image_cdn_root}}/{{person.handle}}/t75/{{data.peoplethumbnails[person.handle]}}.jpg{% else %}/_static/images/ph/ph_user2.gif{% endif %}"/>
                                                
                                            </div>
                                            <div class="col-xs-7 col-sm-8 fs-0-7 pt-5 fw-c">
                                                {{ person.handle }}
                                            </div>
                                           
                                            <div class="col-xs-1 col-sm-1">
                                                
                                                <i class="fa fa-angle-right"></i>

                                            </div>
                                        </a>
                                    </div>
                                    
                        
                                    <div id="{{person.handle}}" class="panel-collapse collapse" role="tabpanel">
                                        <div class="row">
                                            
                                            <div class="col-sm-offset-1 col-sm-3 bord-left p-20">
                                                
                                                
                                                <!-- <div class="fs-0-6 label bg-white bord-all fc-g" style="margin-left:-5px;">Teams:</div><br/> -->

                                                <div class="fs-0-6 label bg-white bord-all fc-g" style="margin-left:-10px;">Badges:</div><br/>
                                                <div class="fc-b">

                                                    <a href="" data-toggle="tooltip" title="" class="fc-m">
                                                      <i class="fa fa-bookmark fs-0-7"></i>
                                                    
                                                        <span class="fs-0-7">OAS General</span>
                                                    </a>
                                                    <br/>
                                                    <a href="" data-toggle="tooltip" title="" class="fc-m">
                                                      <i class="fa fa-bookmark fs-0-7"></i>
                                                    
                                                        <span class="fs-0-7">OAS Restaurants</span>
                                                    </a>
                                                    <br/>
                                                   

                                                    <a href="" data-toggle="tooltip" title="" class="fc-m">
                                                      <i class="fa fa-bookmark fs-0-7"></i>
                                                    
                                                    <span class="fs-0-7">Native Spanish</span>
                                                    </a>
                                                    <br/>

                                                </div>
                                                
 
                                            </div>
                                            <div class="col-sm-3 p-20">
                                                
                                                
                                                <!-- <div class="fs-0-6 label bg-white bord-all fc-g" style="margin-left:-5px;">Teams:</div><br/> -->

                                                <div class="fs-0-6 label bg-white bord-all fc-g" style="margin-left:-10px;">Teams:</div><br/>

                                                <a href="" data-toggle="tooltip" title="" class="fc-m">
                                                  <i class="fa fa-shield fs-0-7"></i>
                                                
                                                    <span class="fs-0-7">Sella F.C.</span>
                                                </a>
                                                <br/>

                                                <a href="" data-toggle="tooltip" title="" class="fc-m">
                                                  <i class="fa fa-shield fs-0-7"></i>
                                                
                                                <span class="fs-0-7">Brooklyn Ducks</span>
                                                </a>
                                                <br/>
                                                <a href="" data-toggle="tooltip" title="" class="fc-m">
                                                  <i class="fa fa-shield fs-0-7"></i>
                                                
                                                <span class="fs-0-7">Mexas</span>
                                                </a>
                                                <br/>
  
                                            </div>
                                            <div class="col-sm-4 p-20">
                                                
                                                
                                                <!-- <div class="fs-0-6 label bg-white bord-all fc-g" style="margin-left:-5px;">Teams:</div><br/> -->

                                                <div class="fs-0-6 label bg-white bord-all fc-g" style="margin-left:-10px;">Experience:</div><br/>

                                                <a href="" data-toggle="tooltip" title="" class="fc-m">
                                                  <i class="fa fa-flash fs-0-7"></i>
                                                
                                                    <span class="fs-0-7">OAS Collect Summer 15' (06.2015)</span>
                                                </a>
                                                <br/>

                                                <a href="" data-toggle="tooltip" title="" class="fc-m">
                                                  <i class="fa fa-flash fs-0-7"></i>
                                                
                                                    <span class="fs-0-7">Hotel Translations (04.2015)</span>
                                                </a>
                                                <br/>

                                                <a href="" data-toggle="tooltip" title="" class="fc-m">
                                                  <i class="fa fa-flash fs-0-7"></i>
                                                
                                                    <span class="fs-0-7">A.I. Trainig (03.2015)</span>
                                                </a>
                                                <br/>

                                                
                                                <br/>
  
                                            </div>


                                            <!-- <a href="/{{person.handle}}" data-toggle="tooltip" title="" class="fc-n">
                                                    
                                                    <span class="fs-0-7">Go to Profile</span>
                                                    <i class="fa fa-arrow-right fc-g"></i>
                                                </a> -->
                                        </div>
                                        
                                    </div>
                                </div>

                                    
                                {% endfor %} 
                              
                        </div> 
                        

                    </div>
                    {% endblock %} 

                    <!-- ORG TEAMS ::::::::::::::::::::::::::::::::::::::: -->

                    {% block org_teams %}

                    <div role="tabpanel" class="tab-pane" id="profile">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                            <div class="bord-bottom bc-8 pad-y-20">  
                                <div class="row">
                                    <div class="col-sm-11 fs-0-8 text-right">
                                        <a href="" type="button" class="fc-n"> 
                                            <span class="pad-x-8">Add members</span>
                                            <i class="fa fa-plus pad-x-4"></i>
                                            <i class="fa fa-user"></i>
                                        </a> 
                                    </div>
                                </div>
                            </div>

                            {% set openthis= 1 %}

                            {% for team in data.teams %}
                                {% if team.teamname in data.teammembership %}

                                <div class="bord-bottom bc-8">
                                    
                                    <!-- ITEM HEAD :::::: -->
                                    <div class="row bord-bottom bc-8 p-5">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#{{team.teamname}}" aria-expanded="true" class="darklink">
                                            <div class="col-xs-offset-1 col-xs-2 col-sm-offset-1 col-sm-1">
                                                <i class="fa fa-shield fs-1-7"></i>
                                            </div>
                                            <div class="col-xs-7 col-sm-8 fs-0-7 pt-5 fw-c">
                                                
                                                Team: {{team.teamname}} 
                                            </div>
                                            <div class="col-xs-1 col-sm-1">
                                                
                                                <i class="fa fa-angle-down"></i>

                                            </div>
                                         </a>
                                    </div>
                                   
                                    <!-- ITEM BODY :::::: -->
                                    <div id="{{team.teamname}}" class="panel-collapse collapse" role="tabpanel">
                                        
                                        <div class="row">
                                            <div class="col-xs-offset-2 col-xs-9 col-sm-offset-1 col-sm-5 p-20 row bord-left">

                                                {%for member in team.members%}

                                                <a href="/{{member.handle}}" class="fc-n">
                                                  <img class="user-team" src="{% if data.peoplethumbnails[member.handle] %}{{data.image_cdn_root}}/{{member.handle}}/t75/{{data.peoplethumbnails[member.handle]}}.jpg{% else %}/_static/images/ph/ph_user2.gif{% endif %}" style="margin-right:8px; width:12px;" alt=""/>
                                                  <span class="fs-0-7"> {{member.handle}}</span>
                                                </a>
                                                
                                                <br/>
                                                
                                                {%endfor%}
                                            </div>
                                            <div class="col-sm-5 pt-20 align-right">

                                                <!-- <div class="row">
                                                    <div class="col-sm-11 fs-0-7 text-right">
                                                        <a href="" type="button" class="fc-n"> 
                                                            <span class="pad-x-8 hidden-sm">Campaigns</span>
                                                            <i class="fa fa-flash"></i>
                                                        </a> 
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-11 fs-0-7 text-right">
                                                        <a href="" type="button" class="fc-n"> 
                                                            <span class="pad-x-8 hidden-sm">Messages</span>
                                                            <i class="fa fa-comment-o"></i>
                                                        </a> 
                                                        
                                                    </div>
                                                </div> -->

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {%endif%}
                            {% endfor %}   
                        </div> 
                        

                    </div>
                    {% endblock %} 

                    <!-- CAMPAIGNS  :::::::::::::::::::::::::::::::::::::::::::: -->

                    {% block org_campaigns %}

                    <div role="tabpanel" class="tab-pane" id="campaigns">

                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                            <div class="bord-bottom bc-8 pad-y-20">  
                                <div class="row">
                                    <div class="col-xs-11 fs-0-8 text-right">
                                        <a href="/{{data.handle}}/_people" type="button" class="fc-n"> 
                                            <span class="pad-x-5">Search</span>
                                            <i class="fa fa-search pad-x-4"></i>
                                        </a> 
                                    </div>
                                </div>
                            </div>
                            
                            <!-- START FOREACH -->

                                <div class="bord-bottom bc-8">
                                    
                                    <!-- ITEM HEAD :::::: -->
                                    <div class="row bord-bottom bc-8 p-5">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#cam1" aria-expanded="true" class="fc-m">
                                            <div class="col-xs-offset-1 col-xs-2 col-sm-offset-1 col-sm-1">
                                                <i class="fa fa-flash fs-1-5"></i>
                                            </div>
                                            <div class="col-xs-7 col-sm-8 fs-0-7 pt-5 fw-c">
                                                
                                                Translation Marathon  Summer 2016
                                            </div>
                                            <div class="col-xs-1 col-sm-1">
                                                
                                                <i class="fa fa-angle-down"></i>

                                            </div>
                                         </a>
                                    </div>
                                   
                                     <!-- ITEM BODY :::::: -->
                                    <div id="cam1" class="panel-collapse collapse" role="tabpanel">
                                        
                                        <div class="row">
                                            
                                            <div class="col-sm-offset-1 col-sm-2 p-20 row bord-left">
                                                
                                                <div class="fs-0-6 label bg-white bord-all fc-g" style="margin-left:-10px;">Teams:</div><br/>

                                                <!-- START INSIDE FOREACH -->


                                                <a href="/" data-toggle="tooltip" title="" class="fc-m">
                                                  <i class="fa fa-shield"></i>
                                                  <span class="fs-0-7">Milan Gang</span>
                                                </a>
                                                
                                                <br/>

                                                <a href="/" data-toggle="tooltip" title="" class="fc-m">
                                                  <i class="fa fa-shield"></i>
                                                  <span class="fs-0-7">CGH</span>
                                                </a>
                                                
                                                <br/>

                                                <a href="/" data-toggle="tooltip" title="" class="fc-m">
                                                  <i class="fa fa-shield"></i>
                                                  <span class="fs-0-7">Violin Masters</span>
                                                </a>
                                                
                                                <br/>
                                                

                                                <!-- END INSIDE FOREACH -->
                                            </div>

                                            <div class="col-sm-3 p-20 ">
                                                
                                                <div class="fs-0-6 label bg-white bord-all fc-g" style="margin-left:-10px;">Rings:</div><br/>

                                                <a href="/" data-toggle="tooltip" title="" class="fc-m">
                                                  <i class="fa fa-circle-o text-warning"></i>
                                                  <span class="fs-0-7">properties</span>
                                                </a>
                                                <br/>
                                                <a href="/" data-toggle="tooltip" title="" class="fc-m">
                                                  <i class="fa fa-circle-o text-warning"></i>
                                                  <span class="fs-0-7">rooms</span>
                                                </a>
                                                <br/>
                                                <a href="/" data-toggle="tooltip" title="" class="fc-m">
                                                  <i class="fa fa-circle-o text-warning"></i>
                                                  <span class="fs-0-7">amenities</span>
                                                </a>
                                                <br/>
                                                <a href="/" data-toggle="tooltip" title="" class="fc-m">
                                                  <i class="fa fa-circle-o text-warning"></i>
                                                  <span class="fs-0-7">translations</span>
                                                </a>


                                                <!-- START INSIDE FOREACH -->



                                                
                                                

                                                <!-- END INSIDE FOREACH -->
                                            </div>

                                            <div class="col-sm-4 pt-20 align-right">

                                                <div class="fs-0-6 label bg-white bord-all fc-g" style="margin-left:-10px;">Progress:</div><br/><br/>

                                                <div class="progress">
                                                  <div class="progress-bar progress-bar-success" style="width: 35%">
                                                    <span class="sr-only">35% Complete (success)</span>
                                                  </div>
                                                  <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 20%">
                                                    <span class="sr-only">20% Complete (warning)</span>
                                                  </div>
                                                  <div class="progress-bar progress-bar-danger" style="width: 10%">
                                                    <span class="sr-only">10% Complete (danger)</span>
                                                  </div>
                                                </div>


                                                <div class="fs-0-6 label bg-white bord-all fc-g" style="margin-left:-10px;">Period:</div>
                                                <p class="fs-1"> 23 Jun 2016 - 23 Ago 2016 (60 days)</p>






                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            <!-- END FOREACH -->
                         </div> 
                        
                    </div>
                    {% endblock %}

                    <!-- BADGES :::::::::::::::::::::::::::::::::::::::::::: -->

                    {% block org_badges %}

                    <div role="tabpanel" class="tab-pane" id="badges">

                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                            <div class="bord-bottom bc-8 pad-y-20">  
                                <div class="row">
                                    <div class="col-xs-11 fs-0-8 text-right">
                                        <a href="/{{data.handle}}/_people" type="button" class="fc-n"> 
                                            <span class="pad-x-5">More Info</span>
                                            <i class="fa fa-question pad-x-4"></i>
                                        </a> 
                                    </div>
                                </div>
                            </div>

                            <!-- START FOREACH -->

                                <div class="bord-bottom bc-8">
                                    
                                    <!-- ITEM HEAD :::::: -->
                                    <div class="row bord-bottom bc-8 p-5">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#badge1" aria-expanded="true" class="fc-m">
                                            <div class="col-xs-offset-1 col-xs-2 col-sm-offset-1 col-sm-1">
                                                <i class="fa fa-bookmark-o fs-1-5"></i>
                                            </div>
                                            <div class="col-xs-7 col-sm-8 fs-0-7 pt-5 fw-c">
                                                
                                                OAS - Hotels
                                            </div>
                                            <div class="col-xs-1 col-sm-1">
                                                
                                                <i class="fa fa-angle-down"></i>

                                            </div>
                                         </a>
                                    </div>
                                   
                                     <!-- ITEM BODY :::::: -->
                                    <div id="badge1" class="panel-collapse collapse" role="tabpanel">
                                        
                                        <div class="row">
                                            
                                            <div class="col-xs-offset-1 col-xs-11 col-sm-5 p-20 row bord-left">
                                                
                                                <span class='medal-container bg-gold'>
                                                    <i class='fa fa-wheelchair medal-icon'></i>
                                                </span>

                                                
                                                <span class="fw-b fs-1-2">OAS Hotels badge</span> 
                                                <p class="p-10 fs-0-8 ">
                                                    This badge shows that you have completed the training to inspect a hotel under OAS Standard for accessibility in restaurants, fast food loales and dinning establishments. This will allow you to start working with Open Access initiative.

                                                    <br/><br/>
                                                    <div class="fw-b fs-0-8 fc-n">Full name: Open Accessibility Standard for Hotels </div> 

                                                    <div class="fw-b fs-0-8 fc-n">Badge will be provided after completing certification</div>
                                                </p>
                                                <!-- END INSIDE FOREACH -->
                                            </div>

                                            <div class="col-sm-2 p-20 ">
                                                
                                                <div class="fs-0-6 label bg-white bord-all fc-g" style="margin-left:-10px;">References:</div>
                                                <br/><br/>

                                                <a href="/" data-toggle="tooltip" title="" class="fc-m">
                                                  <i class="fa fa-file-pdf-o fc-n"></i>
                                                  <span class="fs-0-7">OAS- Introduction</span>
                                                </a>
                                                <br/>
                                                <a href="/" data-toggle="tooltip" title="" class="fc-m">
                                                  <i class="fa fa-file-pdf-o fc-n"></i>
                                                  <span class="fs-0-7">OAS- Hotels Guide</span>
                                                </a>
                                                <br/>
                                                <a href="/" data-toggle="tooltip" title="" class="fc-m">
                                                  <i class="fa fa-file-pdf-o fc-n"></i>
                                                  <span class="fs-0-7">ADA Brief</span>
                                                </a>
                                                
                                            </div>

                                            <div class="col-sm-4 p-20 ">
                                            <br/>

                                                <table class="table table-striped table-condensed fs-0-7">
                                                    <tr>
                                                        <td class="fw-c">
                                                            Provided by:
                                                        </td>
                                                        <td>
                                                            OA Initiative
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="fw-c">
                                                            Renewal:
                                                        </td>
                                                        <td>
                                                            Every 2 years
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="fw-c">
                                                            Cost:
                                                        </td>
                                                        <td>
                                                            Free
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="fw-c">
                                                            Work:
                                                        </td>
                                                        <td class="text-success">
                                                            Available
                                                        </td>
                                                    </tr>
                                                    
                                                </table>

                                                <a class="btn btn-sm btn-info" href="" style="width:100%;">GET THIS BADGE</a>
                                               


                                            
                                            </div>

                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="bord-bottom bc-8">
                                    
                                    <!-- ITEM HEAD :::::: -->
                                    <div class="row bord-bottom bc-8 p-5">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#badge2" aria-expanded="true" class="fc-m">
                                            <div class="col-xs-offset-1 col-xs-2 col-sm-offset-1 col-sm-1">
                                                <i class="fa fa-bookmark-o fs-1-5"></i>
                                            </div>
                                            <div class="col-xs-7 col-sm-8 fs-0-7 pt-5 fw-c">
                                                
                                                OAS - Restaurants
                                            </div>
                                            <div class="col-xs-1 col-sm-1">
                                                
                                                <i class="fa fa-angle-down"></i>

                                            </div>
                                         </a>
                                    </div>
                                   
                                     <!-- ITEM BODY :::::: -->
                                    <div id="badge2" class="panel-collapse collapse" role="tabpanel">
                                        
                                        <div class="row">
                                            
                                            <div class="col-xs-offset-1 col-xs-11 col-sm-5 p-20 row bord-left">
                                                
                                                <span class='medal-container bg-gold'>
                                                    <i class='fa fa-wheelchair medal-icon'></i>
                                                </span>

                                                
                                                <span class="fw-b fs-1-2">OAS Restaurants badge</span> 
                                                <p class="p-10 fs-0-8 ">
                                                    This badge shows that you have completed the training to inspect a hotel under OAS Standard for accessibility in restaurants, fast food loales and dinning establishments. This will allow you to start working with Open Access initiative.

                                                    <br/><br/>
                                                    <div class="fw-b fs-0-8 fc-n">Full name: Open Accessibility Standard for Hotels </div> 

                                                    <div class="fw-b fs-0-8 fc-n">Badge will be provided after completing certification</div>
                                                </p>
                                                <!-- END INSIDE FOREACH -->
                                            </div>

                                            <div class="col-sm-2 p-20 ">
                                                
                                                <div class="fs-0-6 label bg-white bord-all fc-g" style="margin-left:-10px;">References:</div>
                                                <br/><br/>

                                                <a href="/" data-toggle="tooltip" title="" class="fc-m">
                                                  <i class="fa fa-file-pdf-o fc-n"></i>
                                                  <span class="fs-0-7">OAS- Introduction</span>
                                                </a>
                                                <br/>
                                                <a href="/" data-toggle="tooltip" title="" class="fc-m">
                                                  <i class="fa fa-file-pdf-o fc-n"></i>
                                                  <span class="fs-0-7">OAS- Restaurant Guide</span>
                                                </a>
                                                <br/>
                                                <a href="/" data-toggle="tooltip" title="" class="fc-m">
                                                  <i class="fa fa-file-pdf-o fc-n"></i>
                                                  <span class="fs-0-7">ADA Brief</span>
                                                </a>
                                                
                                            </div>

                                            <div class="col-sm-4 p-20 ">
                                            <br/>

                                                <table class="table table-striped table-condensed fs-0-7">
                                                    <tr>
                                                        <td class="fw-c">
                                                            Provided by:
                                                        </td>
                                                        <td>
                                                            OA Initiative
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="fw-c">
                                                            Renewal:
                                                        </td>
                                                        <td>
                                                            Every 2 years
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="fw-c">
                                                            Cost:
                                                        </td>
                                                        <td>
                                                            Free
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="fw-c">
                                                            Work:
                                                        </td>
                                                        <td class="text-success">
                                                            Available
                                                        </td>
                                                    </tr>
                                                    
                                                </table>

                                                <a class="btn btn-sm btn-success" href="" style="width:100%;"> <i class="fa fa-check"></i> YOU HAVE THIS BADGE</a>
                                                <br/>
                                                <br/>
                                                


                                            
                                            </div>

                                            
                                        </div>
                                    </div>
                                </div>

                            <!-- END FOREACH -->

                        </div> 
                        
                    </div>

                    {% endblock %}

                    <!-- CAMPAIGNS  :::::::::::::::::::::::::::::::::::::::::::: -->

                    {% block org_settings %}

                    <div role="tabpanel" class="tab-pane" id="settings">
                        Original
                    </div>

                    {% endblock %}


                </div>

            </div><!-- close second column --> 
        {%endif%}

        
    </div>
  </div>
</section>


<!-- MODAL WHAT IS A COLLECTION -->

<div class="modal fade" id="intro-collection" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <!-- <h4 class="modal-title" id="myModalLabel">The User Graph</h4> -->
        <p class="fs-2">What is a Data Collection?</p>
        
      </div>
      <div class="modal-body">
          
      
            <p class="fs-1-2">
            A collection of digital content about your business. It can be any text, photograph, video or audio.  <!-- <a href="" class="clearlink fs-0-8">(long answer here)</a> -->
            </p>
            <img class="img-responsive" src="/_static/images/graphics/wcollection.gif">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>

	
{% endblock %}

