{% extends 'avispa_rest/tabs.html' %}

{% block title %} {% endblock %}

{% block crumbs %}

<li class="active">New Ring</li>

{% endblock %}

{% block tabcontent %}


<!-- START NEW CONTENT --> 


<section>
  <div class="container">


        <div class="row">
          <div class="col-sm-10">
            <div class="rn-box-title">

               <!-- Ring owner  -->Modeling new Ring 

              <!-- <button type="button" class="btn btn-default btn-xs pull-right" data-toggle="modal" data-target="#helpmodal">
                <i class="fa fa-question-circle"></i>
              </button> -->

            </div>
            <div class="rn-box-solo">
              <div class="row">
                &nbsp;&nbsp;&nbsp; <strong>STEP 1.</strong> Fork a ring (optional, if you want to start from scratch skip to Step 2)
                <button type="button" class="btn btn-default btn-xs pull-right" data-toggle="modal" data-target="#helpmodal">
                  <i class="fa fa-question-circle"></i>
                </button> 
              </div> 

            </div>



            <form id="post_rq_a" action="/{{ data.handle }}" method="POST" >
            <div class="rn-box-content">
              Load Parent Ring from this URL: <input name="ringurl" class="form-control" type="text"><br>
              <!--input name="submit" value="load" type="submit"-->
              <input name="submit" value="load and save" type="submit">
            </div>
             </form>

            <div class="rn-box-solo">
              <div class="row">
                &nbsp;&nbsp;&nbsp; <strong>STEP 2.</strong> Define the Ring's characteristics
                <button type="button" class="btn btn-default btn-xs pull-right" data-toggle="modal" data-target="#helpmodal">
                  <i class="fa fa-question-circle"></i>
                </button>
              </div> 
            </div>

            <form class="form-horizontal" role="form" action="/{{ data.handle }}" method="POST">
               
              <!-- RING -->
              <div class="rn-box-content">  
              <br/>           
                <div class="form-group">
                  <label for="RingName" class="col-sm-2 control-label">ring:name</label>
                  <div class="col-sm-10">
                     <input name="RingName" type="text" class="form-control" id="RingName" placeholder="The name of the new ring">
                  </div>
                  <label for="RingLabel" class="col-sm-2 control-label">ring:label</label>
                  <div class="col-sm-10">
                     <input name="RingLabel" type="text" class="form-control" id="RingLabel" placeholder="The Label for this ring">
                  </div>
                  <label for="RingDescription" class="col-sm-2 control-label">ring:description</label>
                  <div class="col-sm-10">
                    <textarea name="RingDescription" class="form-control" rows="4" placeholder="What makes this ring unique?"></textarea>
                  </div>
                  <label for="RingVersion" class="col-sm-2 control-label">ring:version</label>
                  <div class="col-sm-10">
                    <input name="RingVersion" type="text" class="form-control" id="RingVersion" placeholder="if this ring is new it must be version 1">
                  </div>
                  <label for="RingURI" class="col-sm-2 control-label">ring:URI</label>
                  <div class="col-sm-10">
                    <input name="RingURI" type="text" class="form-control" id="RingURI" placeholder="URI that will be used to refer to this specific ring">
                  </div>
                  <label for="inputEmail3" class="col-sm-2 control-label">ring:build</label>
                  <div class="col-sm-10">
                    <input name="RingBuild" type="text" class="form-control" id="RingBuild" placeholder="">
                  </div>
                </div>
              </div>


              <div class="rn-box-solo">
                <div class="row">
                  &nbsp;&nbsp;&nbsp; <strong>STEP 3.</strong>  Define the Field's characteristics
                  <button type="button" class="btn btn-default btn-xs pull-right" data-toggle="modal" data-target="#helpmodal">
                  <i class="fa fa-question-circle"></i>
                  </button>

                </div> 
              </div>


 

              {% set numfields = request.args.get('n')|int %}
              
              

              {% for f in range( 1, numfields+1) %}
              

              
              <!-- N FIELD -->
              <div class="rn-box-content ringbuilder">
                <br/>
                <table class="form-group" style="width:100%;">
                  <tbody>
                    <tr>
                      <td style="text-align:left;" ><h2>&nbsp;&nbsp;&nbsp;{{ f }}</h2></td>
                      <td>

                        UP | DOWN | DELETE
                        <br/><br/>
                      </td>
                    </tr>
                    <tr>
                      <td>field:name</td>
                      <td>
                        <input id="FieldName_{{ f }}" name="FieldName_{{ f }}" class="form-control" type="text">
                      </td>
                    </tr>
                    <tr>
                      <td>field:label</td>
                      <td><textarea name="FieldLabel_{{ f }}" class="form-control"></textarea></td>
                    </tr>
                    <tr>
                      <td>field:semantic</td>
                      <td><textarea name="FieldSemantic_{{ f }}" class="form-control"></textarea></td>
                    </tr>
                    <tr>
                      <td>field:type</td>
                      <td>
                        <select name="FieldType_{{ f }}">
                          <option value="">SELECT ONE</option>
                          <option>INT</option>
                          <option selected="">TEXT</option>
                          <option>VARCHAR(120)</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td>field:source</td>
                      <td><textarea name="FieldSource_{{ f }}" class="form-control"></textarea></td>
                    </tr>
                    <tr>
                      <td>field:widget</td>
                      <td>
                        <select name="FieldWidget_{{ f }}">
                          <option value="">SELECT ONE</option>
                          <option>checkbox</option>
                          <option>date</option>
                          <option>file</option>
                          <option>images</option>
                          <option>location</option>
                          <option>password</option>
                          <option>radio</option>
                          <option>select</option>
                          <option selected="">text</option>
                          <option>textarea</option>
                          <option>url</option>
                          <option>url_flickr</option>
                          <option>url_video</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td>field:cardinality</td>
                      <td>
                        <select name="FieldCardinality_{{ f }}">
                          <option>Single</option>
                          <option>Multiple</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td>field:multilingual</td>
                      <td>
                        <input name="FieldMultilingual_{{ f }}" value="TRUE" type="checkbox">
                      </td>
                    </tr>
                    <tr>
                      <td>field:required</td>
                      <td>
                        <input name="FieldRequired_{{ f }}" value="TRUE" type="checkbox">
                      </td>
                    </tr>
                    <tr>
                      <td>field:default</td>
                      <td>
                        <input name="FieldDefault_{{ f }}" value="" class="form-control" type="text"></td>
                    </tr>
                    <tr>
                      <td>field:hint</td>
                      <td>
                        <textarea name="FieldHint_{{ f }}" class="form-control"></textarea></td>
                    </tr>
                    <tr>
                      <td>field:layer</td>
                      <td>
                        <input name="FieldLayer_{{ f }}" value="" class="form-control" type="text"></td>
                    </tr>
                    <tr>
                      <td>field:order</td>
                      <td>
                        <input name="FieldOrder_{{ f }}" value="{{ f }}" class="form-control" type="text"></td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <!-- N FIELD END -->

              {% endfor %}

              <!-- SUBMIT -->

              <div class="rn-box-content">
                <br/>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label"></label>
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a href="/{{ data.handle }}" type="submit" class="btn btn-default">Leave without saving anything</a>  
                  </div>
                </div>
              </div>

              <!-- SUBMIT END -->
              <!-- RING END -->

            </form> 
          </div> 
        </div>


  </div>
</section>

TEST  1







<div class="column">
  <div class="portlet">
    <div class="portlet-header">Feeds</div>
    <div class="portlet-content">qwerty</div>
  </div>
  <div class="portlet">
    <div class="portlet-header">News</div>
    <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
  </div>
  <div class="portlet">
    <div class="portlet-header">Shopping</div>
    <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
  </div>
  <div class="portlet">
    <div class="portlet-header">Links</div>
    <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
  </div>
  <div class="portlet">
    <div class="portlet-header">Images</div>
    <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
  </div>
</div>


 <style>
body {
min-width: 520px;
}
.column {
width: 100%;
float: left;
padding-bottom: 100px;
}
.portlet {
margin: 0 1em 1em 0;
padding: 0em;
}
.portlet-header {
padding: 0.2em 0em;
margin-bottom: 0em;
position: relative;
}
.portlet-toggle {
position: absolute;
top: 50%;
right: 10px;
margin-top: -8px;
}
.portlet-content {
padding: 0.4em;
background-color: yellow;
margin-left:10px;
}
.portlet-placeholder {
border: 1px dotted black;
margin: 0 1em 1em 0;
height: 50px;
}

/*FROM JQUERY UI*/


.ui-widget-header {
    border: 1px solid #AAA;
    background: url("images/ui-bg_highlight-soft_75_cccccc_1x100.png") repeat-x scroll 50% 50% #CCC;
    color: #222;
    font-weight: bold;
}
.ui-sortable-handle {
}
.ui-widget-content {
    color: #222;
}
.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
}



</style>
<script>
$(function() {
  $(".portlet-content").hide();
$( ".column" ).sortable({
connectWith: ".column",
handle: ".portlet-header",
cancel: ".portlet-toggle",
placeholder: "portlet-placeholder ui-corner-all"
});
$( ".portlet" )

  .addClass( "ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" )
  .find( ".portlet-header" )
  .addClass( "ui-widget-header ui-corner-all" )
  .prepend( "<i class='fa fa-minus-circle portlet-toggle'></i>");
$( ".portlet-toggle" ).click(function() {
  var icon = $( this );
  icon.toggleClass( "fa-minus-circle fa-plus-circle" );
  icon.closest( ".portlet" ).find( ".portlet-content" ).toggle();
});
});
</script>




{% endblock %}


{% block modals %}

  {% include 'avispa_rest/helpmodal.html' %}

{% endblock %}


{% block findme %} post_rq_a {% endblock %}

