{% extends 'avispa_rest/tabs.html' %}

{% block title %} {% endblock %}

{% block crumbs %}
<li class="active">New Ring</li>
{% endblock %}

{% block tabcontent %}
<div class="row">
  <div class="col-sm-8 alpha omega">
    <div class="alert  alert-success alert-top" style="height:60px;">
      <span class="fs-1-5">
        <i class="fa fa-info-circle"></i> 
        Create a New Ring  {%if data.collection %}in <strong>'{{data.collection|upper}}'</strong>{%endif%}
      </span>
      <p>Please complete the following steps.</p>
    </div>
  </div>
  <div class="col-sm-4 alpha omega text-right">
    <div class="alert  bg-gray alert-top" style="height:60px;">
      <p class="fs-1">or, use an existing Ring : 
        <button type="button" class="btn btn-vader btn-sm" data-toggle="modal" data-target="#forkModal">
          <i class="fa fa-code-fork fa-2x fc-a"></i>
        </button>
      </p>
    </div>
  </div>
</div>         
<div class="row bg-g">
  <form class="form-horizontal" role="form" action="/{{ data.handle }}{%if data.collection %}/_collections/{{data.collection}}{%endif%}" method="POST">
    <div class="col-sm-3">
      <h2 class="fs-4 hidden-xs">1</h2> 
      <div class="spa20 visible-xs"></div>
      <p class=" text-s1 text-lgray fs-1-5">Ring Name and Description</p>
    </div>
    <div class="col-sm-9">
      <div class="spa20 hidden-xs"></div>
      {%if data.collection %}
      <input type="hidden" name="collection" value="{{data.collection}}"/>
      {%endif%}  
      <div class="input-group input-group-sm">
        <span class="input-group-addon" id="sizing-addon1">Ring Name</span>
        <input name="RingName" type="text" class="form-control" id="RingName" placeholder="The name of the new Ring">
      </div>
      <div class="input-group input-group-sm">
        <span class="input-group-addon" id="sizing-addon1">Description</span>
        <textarea name="RingDescription" class="form-control" rows="10" placeholder="Please describe the Ring" style="height:100px;" ></textarea>
      </div>
      <div class="spa20 hidden-xs"></div>
    </div>
    <div class="row bg-g hidden-xs">
      <div class="col-sm-12">
        <hr/>
      </div>          
    </div>
    <div class="row bg-g">
      <div class="col-sm-3">
        <h2 class="fs-4 hidden-xs">2</h2>
        <p class="text-s1 text-lgray fs-1-5">Ring fields</p>   
      </div>
    <div class="col-sm-9">
      {% set numfields = request.args.get('n')|int %}
      <div id="columnfields"> <!-- A. START DRAG AREA -->
      {% for FieldOrder in range( 1, numfields+1) %}
        {{ ui.portlet(FieldOrder,3,True,FieldName,'text',FieldCardinality,'','',FieldSemantic,FieldLabel) }}
      {% endfor %}    
      </div> <!-- A. CLOSE COLUMN  -->
      <span class="addfield">Add a new field</span>  
    </div><!-- CLOSE COLSM10 -->
    </div><!-- CLOSE ROW -->
    <div class="row bg-g">
      <div class="col-sm-12">
        <hr/>
      </div>          
    </div>
    <div class="row bg-g">
      <div class="col-sm-3"> 
        <span class="fs-4">3</span>
        <p class="text-s1 text-lgray fs-1-5">Save</p>
      </div>
      <div class="col-sm-9">
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="/{{ data.handle }}" type="submit" class="btn btn-default">Leave without saving anything</a>
      </div>
    </div>
  </form>
</div>

<!-- ForkModal -->
<div class="modal fade" id="forkModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><i class="fa fa-code-fork fa-2x"></i> Fork existing Ring</h4>
      </div>
      <form id="post_rq_a" action="/{{ data.handle }}{%if data.collection %}/_collections/{{data.collection}}{%endif%}" method="POST">
        <div class="modal-body">       
          Load Parent Ring from this URL: 
          <input name="ringurl" class="form-control" type="text">
        </div>
        <div class="modal-footer">
          <input name="submit" value="load and save" type="submit" class="btn btn-success">       
        </div>
      </form>
    </div>
  </div> 
</div>
<div class="spa50"></div>

{% endblock %}

{% block modals %}
  {% include 'avispa_rest/helpmodal.html' %}
{% endblock %}

{% block footscripts %}
    <script type="text/javascript" src="{{ url_for('static',filename='js/handlebars-v3.0.3.js') }}">
    </script>
{% endblock%}

{% block footfunctions %}

<script type="text/javascript">
    var allbt= "bt-1 bt-2 bt-3 bt-4 bt-5 bt-6 bt-7";
    var allbb= "bc-1 bc-2 bc-3 bc-4 bc-5 bc-6 bc-7 ";

    $(document).ready(function(){

      //SET LAYER IN PORTLET
      $('#columnfields')
      .on('click', 'div div div div table tbody tr td div.treset' , function () {
        var layer = $(this).attr('layer');
        var order = $(this).attr('order');
        $("#tagged"+order).removeClass(allbt).addClass("bt-"+layer);
        $(this).parents().eq(2).find('td div').removeClass(allbt);
        $(this).addClass("bt-"+layer);
        $("#tagvalue_"+order).attr("value",layer); 
      });

      //DELETE PORTLET
      $('#columnfields')
      .on('click', 'div div div div table tbody tr td div.delset' , function () {
        var order = $(this).attr('order');
        $("#portlet_"+order).remove();      
      });

         
    });
</script>

<script type="text/javascript">
//PORTLET
$(function() {


  //REORDERING OF PORTLETS
  $(".portlet-content").hide();
  $( "#columnfields" ).sortable({
    // connectWith: ".columnfields",
    handle: ".handler",
    cancel: ".portlet-toggle",
    placeholder: "portlet-placeholder ui-corner-all ui-sort-position",
    opacity:0.7,
    cursor: "move",
    axis: 'y',
    stop: function(event,ui){   
      var c = 1;    
      $('.field-order-input').each(function(index, value){
        //$(this).html(c.toString());
        var old = $(this).val();
        var parts = $(this).attr('name').split('_');
        $('.order-label-'+parts[1]).html(c.toString());
        $(this).val(c.toString());
        c += 1;
      });

    }
  });

  // SHOW/HIDE ADVANCED FIELDS IN PORTLET
  $('#columnfields')
      .on('click', 'div div table tbody tr td span i.fa-plus-circle' , function () {
        var icon = $( this );
        //console.log('close!'+fieldcount);
        icon.toggleClass( "fa-plus-circle fa-minus-circle" );
        icon.closest( ".portlet" ).find( ".portlet-content" ).toggle(); 
      })
      .on('click', 'div div table tbody tr td span i.fa-minus-circle' , function () {
        var icon = $( this );
        //console.log('open!'+fieldcount);
        icon.toggleClass( "fa-minus-circle fa-plus-circle" );
        icon.closest( ".portlet" ).find( ".portlet-content" ).toggle(); 
      });
});
</script>

<script type="text/javascript">

  //CONVERT FIELDLABEL INTO SLUG AND PUT IN FIELDNAME 
  function string_to_slug(str) {
    str = str.replace(/^\s+|\s+$/g, ''); // trim
    str = str.toLowerCase();
    
    // remove accents, swap ñ for n, etc
    var from = "àáäâèéëêìíïîòóöôùúüûñç·/-,:;";
    var to   = "aaaaeeeeiiiioooouuuunc______";
    for (var i=0, l=from.length ; i<l ; i++) {
      str = str.replace(new RegExp(from.charAt(i), 'g'), to.charAt(i));
    }

    str = str.replace(/[^a-z0-9 _]/g, '') // remove invalid chars
      .replace(/\s+/g, '_') // collapse whitespace and replace by -
      .replace(/-+/g, '_'); // collapse dashes

    return str;
  }

  $('#columnfields').on('change paste','div div table tbody tr td input.fieldlabel', function() {
    console.log('The field '+$(this).attr('name')+' has changed its value to '+$(this).val()); 
    var order = $(this).attr('order');
       
    if($(this).val()){
      var slug = string_to_slug($(this).val());
      $('#FieldName_'+order).val(slug);
      $('#FieldNameDis_'+order).val(slug) ;    
    } else {
      $('#FieldName_'+order).val('');
      $('#FieldNameDis_'+order).val('');  
    }
  });
</script>
  
<script id="portlet-template" type="text/x-handlebars-template">
  {{ ui.portlet_raw() }}
</script>

<script type="text/javascript">
  //COMPILE THE PORTLET TEMPLATE
  var source   = $("#portlet-template").html();
  var template = Handlebars.compile(source);
</script>

<script type="text/javascript">
  //CREATE A PORTLET IF THERE ARE NONE WHEN PAGE LOADS
  var fieldcount = "{{ request.args.get('n') }}"
  //console.log(fieldcount)
  if(fieldcount == "None"){
    fieldcount=1;
    var context = {FieldOrder:fieldcount,FieldLayer:'2',new:false,FieldName:'',FieldWidget:'text',FieldCardinality:'single',FieldHint:'',FieldSource:'',FieldSemantic:'',FieldLabel:''}
    var html  = template(context);
    $( "#columnfields" ).add(html).appendTo( "#columnfields" );

  }
  
  //ADD NEW PORTLET/FIELD
  $( ".addfield" ).click(function() {
    fieldcount = parseInt(fieldcount,10)+ 1
    var context = {FieldOrder:fieldcount,FieldLayer:'2',new:false,FieldName:'',FieldWidget:'text',FieldCardinality:'single',FieldHint:'',FieldSource:'',FieldSemantic:'',FieldLabel:''}
    var html  = template(context);
    //console.log(html);

    $(".portlet-content").hide();
    $( "#columnfields" ).add(html).appendTo( "#columnfields" );
      
  });

</script>

{%endblock%}


{% block findme %} post_rq_a {% endblock %}

