{% extends 'avispa_rest/tabs.html' %}

{% block title %} {% endblock %}


{% block headscripts %}
  {% include 'avispa_rest/wa_richtable_style.html'  %}

  {% for field in data.fieldsschema %}
    {% set widgetstyle = 'avispa_rest/w_input_'+field.FieldWidget+'_style.html' %}   
    {% include widgetstyle ignore missing  %}                                
  {% endfor %}

{% endblock %}

{% block footscripts %}

  {% for field in data.fieldsschema %}
    {% set widgetlib = 'avispa_rest/w_input_'+field.FieldWidget+'_lib.html' %}   
    {% include widgetlib ignore missing  %}                                
  {% endfor %}
  
{% endblock %}

{% block footfunctions %}
  {% include 'avispa_rest/wa_richtable_functions.html'  %}

  {% for field in data.fieldsschema %}
    {% set widget = 'avispa_rest/w_input_'+field.FieldWidget+'_functions.html' %}   
    {% include widget ignore missing  %}                                
  {% endfor %}

{% endblock %}



{% block crumb02 %}
      <i class="fa fa-arrow-right breadinter"></i> <!-- caret right -->

      <a href="/{{data.handle}}/_collections/{{ data.collection }}" class="nounder">
          <span class="fc-a fs-0-7">{{ data.collection }}</span> 
      </a>
{% endblock %}
{% block crumb03 %}
    <i class="fa fa-arrow-right breadinter"></i> <!-- caret right -->
    <a href="/{{ data.handle }}/_collections/{{ data.collection}}/{{ data.ring }}" class="nounder">
        <span class="fc-a fs-0-7">{{ data.ring }}</span>
    </a>
{% endblock %}




{% block tabcontent %}

<!-- START NEW CONTENT --> 

    <div class="rn-curtain">
          
        <form  role="form" action="/{{ data.handle }}{% if data.collection %}/_collections/{{data.collection}}{% endif %}/{{ data.ring }}?method=post{% if data.raw %}&raw=1{%endif%}" method="POST" autocomplete="off">
            
            {% if not data.raw %}
                <table class="table table-condensed"> 
                    {#{ ui.panel(data.ring, data.ringorigin, data.handle, '#fce121', data.ringcount , data.ringdescription,'',data.collection, data.user_authorizations) }#}

                    {{ ui.panel3(data,'#fce121') }} 
                </table>
            {%endif%}
            {% if not data.raw %}

                <div class="alert  alert-success alert-dismissible alert-top" role="alert">
                    <span class="fs-1-2"><i class="fa fa-info-circle pad-x-10"></i> <strong>New Item</strong> |  Please complete the following fields {%if data.raw%}Raw is in the house{%endif%}</span>
                </div>
            {%endif%}
    </div>

    <div class="box box-clear text-right">
        <div class="row">
            <div class="col-sm-12">
                <span class="pad-x-20"> Public: <input type="checkbox" value="public" name="public"/></span>
                
                <button name="saveandnew" type="submit" value="saveandnew" class="btn btn-success btn-xs"><i class="fa fa-save"></i> &nbsp;<i class="fa fa-plus"></i></button> 
                <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#helpmodal">
                <i class="fa fa-question-circle"></i>
                </button>

            </div>
            
        </div>
        
        {% for field in data.fieldsschema %}
            <div class="row spa10">
                <div class="col-sm-1">&nbsp;</div>
                <div class=" col-sm-2 col-sm-push-8 text-left alpha">
  
                {{ ui.flagmarker(field,data.item) }}


                </div>
                <div class="col-sm-8 col-sm-pull-2 text-left omega">
                {% set widget = 'avispa_rest/w_input_'+field.FieldWidget+'.html' %}   
                {% include widget  %}  
                </div>

            </div>
        {% endfor %}
            
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                      <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                          {% if not data.raw %} 
                          <input value="save" type="submit" class="btn btn-primary">   
                          <button name="saveandnew" type="submit" value="saveandnew" class="btn btn-success">Save and New</button>
                          <a href="/{{ data.handle }}/{{ data.ring }}" type="submit" class="btn btn-default">Leave without saving anything</a>
                          {%else%}
                          <input value="add" type="submit" class="btn btn-primary"> 
                          {%endif%}
                          &nbsp;   
                        </div>
                      </div>
                    </div>
                  </div> 
                </div> 
              </div>
                 

            
            </div><!-- //close box content -->
            <div class="spa40"></div>
            </form> 
          
{% endblock %}

{% block footafterfunctions %}

  {% for field in data.fieldsschema %}
    {% set widgetafter = 'avispa_rest/w_input_'+field.FieldWidget+'_afterfunctions.html' %}   
    {% include widgetafter ignore missing  %}                                
  {% endfor %}

  {% include 'avispa_rest/wa_flagmarker_functions.html' %}

{% endblock %}


{% block modals %}

  {% include 'avispa_rest/helpmodal.html' %}

{% endblock %}

{% block findme %} post_rq_a_b {% endblock %}


