{% extends 'avispa_rest/tabs.html' %}

{% block title %} {% endblock %}

{% block crumbs %}

<li class="active">New Ring</li>

{% endblock %}

{% block tabcontent %}


<!-- START NEW CONTENT --> 


<section>
  <div class="container">


        <div class="row">
          <div class="col-sm-8">
            <h1>Create a New Ring {%if data.collection %}in {{data.collection}}{%endif%}</h1>
            <hr/>
          </div>
          <div class="col-sm-4">
            <p class="fs-0-8">..Or maybe you prefer to Fork an existing Ring? 
                <button type="button" class="btn btn-vader btn-sm" data-toggle="modal" data-target="#forkModal">
                    <i class="fa fa-code-fork fa-2x"></i>
                </button>
            </p>

          </div>
        </div>

         <form class="form-horizontal" role="form" action="/{{ data.handle }}{%if data.collection %}/_collections/{{data.collection}}{%endif%}" method="POST">
        <div class="row">
          <div class="col-sm-2">
            <h2 class="fs-4">1</h2> <p class=" text-s1 text-lgray fs-1-5">Ring Name and Description</p>

          </div>
          <div class="col-sm-10">

            <div class="rn-box p-15">
               

                {%if data.collection %}
                <input type="hidden" name="collection" value="{{data.collection}}">
                {%endif%}
                
                <div class="input-group input-group-sm">
                  <span class="input-group-addon" id="sizing-addon1">Ring Name</span>
                  <input name="RingName" type="text" class="form-control" id="RingName" placeholder="The name of the new ring">
                </div>
                <!-- <div class="input-group input-group-sm">
                  <span class="input-group-addon" id="sizing-addon1">label</span>
                  <input name="RingLabel" type="text" class="form-control" id="RingLabel" placeholder="The Label for this ring">
                </div> -->
                <div class="input-group input-group-sm">
                  <span class="input-group-addon" id="sizing-addon1">Description</span>
                  <textarea name="RingDescription" class="form-control" rows="10" placeholder="Please describe the Ring" style="height:100px;" ></textarea>
                </div>

                
                  <!-- <label for="RingVersion" class="col-sm-2 control-label">ring:version</label>
                  <div class="col-sm-10">
                    <input name="RingVersion" type="text" class="form-control" id="RingVersion" placeholder="if this ring is new it must be version 1">
                  </div>
                  <label for="RingURI" class="col-sm-2 control-label">ring:URI</label>
                  <div class="col-sm-10">
                    <input name="RingURI" type="text" class="form-control" id="RingURI" placeholder="URI that will be used to refer to this specific ring">
                  </div>
                  <label for="inputEmail3" class="col-sm-2 control-label">ring:build</label>
                  <div class="col-sm-10">
                    <input name="RingBuild" type="text" class="form-control" id="RingBuild" placeholder="">
                  </div> -->
                
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <hr/>
          </div>          
        </div>


        <div class="row">
          <div class="col-sm-2">
            <h2 class="fs-4 ">2</h2> <p class="text-s1 text-lgray fs-1-5">Ring fields</p>
              
          </div>
          <div class="col-sm-10">
            
  
              {% set numfields = request.args.get('n')|int %}

              <div id="columnfields"> <!-- A. START DRAG AREA -->
              {% for f in range( 1, numfields+1) %}

              <!-- N FIELD END -->         

                <div id="portlet_{{ f }}" class="portlet"> <!-- B. -->


                  <!-- THE VALUE TO WRITE -->
                  <input id="tagvalue_{{ f }}" type="hidden" name="FieldLayer_{{ f }}" value="">

                  <div class="tagged{{ f }} portlet-header bt-7">
                  <!-- <div id="tagged{{ f }}" class="bt-7">G</div> -->
                    <table>
                      <tr>
                        <td><span class="handler m-10" ><i class="fa fa-bars fa-1x text-white"></i></span></td>
                        <td>
                          <span class="label label-danger m-10">{{ f }}</span>
                          
                        </td>
                        <td style="width:40%;">
                          <input id="FieldName_{{ f }}" name="FieldName_{{ f }}" class="form-control input-sm" type="text" placeholder="name">
                        </td>
                        <td>
                          <select name="FieldWidget_{{ f }}" class="form-control input-sm" style="background-color:#666; color:white;">
                                <option value="">SELECT ONE</option>
                                <option>checkbox</option>
                                <option>date</option>
                                <option>file</option>
                                <option>images</option>
                                <option>items</option>
                                <option>location</option>
                                <option>password</option>
                                <option>radio</option>
                                <option>select</option>
                                <option selected="">text</option>
                                <option>textarea</option>
                                <option>url</option>
                                <option>url_flickr</option>
                                <option>url_video</option>
                          </select>
                        </td>
                        <td style="background-color:red; " >
                          
                            <!-- <div class="input-group input-group-sm m-10">
                              <span class="input-group-addon" id="sizing-addon1">*Source</span>
                              <input type="text" name="FieldSource_{{ f }}" class="form-control" placeholder="source"/>
                            </div> -->
                        </td>
                        <td><span class="tog"></span></td>
                      </tr>
                    </table>
                  </div> <!-- C1 -->
                  <div class="portlet-content"> <!-- C2. DETAILS -->

                      <div class="row">
                        <div class="col-sm-7">
                          
                            <span class="label bg-gray margin-x-7">
                              <input name="FieldRequired_{{ f }}" value="TRUE" type="checkbox">
                              required
                            </span>

                            <span class="label bg-gray margin-x-7">
                              <input name="FieldMultilingual_{{ f }}" value="TRUE" type="checkbox">
                              multilingual
                            </span>

                            <span class="label bg-gray margin-x-7">
                              <input name="FieldCardinality_{{ f }}" value="TRUE" type="checkbox">
                              cardinal
                            </span>

                            

                            <hr/>
                            
                            <div class="input-group input-group-sm">
                                  <span class="input-group-addon" id="sizing-addon1">Field Hint</span>
                                  <input type="text" name="FieldHint_{{ f }}" class="form-control" placeholder="What people see before typing "/>
                            </div>

                            <div class="input-group input-group-sm">
                                  <span class="input-group-addon" id="sizing-addon1">Source</span>
                                  <input type="text" name="FieldSource_{{ f }}" class="form-control" placeholder="URI of "/>
                            </div>
                              
                              <!-- <div class="input-group input-group-sm">
                                <span class="input-group-addon" id="sizing-addon1">Default</span>
                                <input type="text" name="FieldDefault_{{ f }}" class="form-control" placeholder="in case you want to leave this"/>
                              </div> -->
                              <input type="hidden" name="FieldDefault_{{ f }}">
                             
                        </div>
                        <div class="col-sm-5">

                          <table>
                            <tr>
                              <td><div id="tag1-{{ f }}" class="treset{{ f }} r-tag bt-0 bb-1"></div></td>
                              <td><div id="tag2-{{ f }}" class="treset{{ f }} r-tag bt-0 bb-2"></div></td>
                              <td><div id="tag3-{{ f }}" class="treset{{ f }} r-tag bt-0 bb-3"></div></td>
                              <td><div id="tag4-{{ f }}" class="treset{{ f }} r-tag bt-0 bb-4"></div></td>
                              <td><div id="tag5-{{ f }}" class="treset{{ f }} r-tag bt-0 bb-5"></div></td>
                              <td><div id="tag6-{{ f }}" class="treset{{ f }} r-tag bt-0 bb-6"></div></td>
                              <td><div id="tag7-{{ f }}" class="treset{{ f }} r-tag bt-7 bb-7"></div></td>
                            </tr>
                          </table>

                          <hr/>


                          <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="sizing-addon1">Context</span>
                            <textarea name="FieldSemantic_{{ f }}" class="form-control" placeholder="please provide context of what this field is. You can post a link to wikipedia or other website" rows="4" style="height:100%; width:100%;"></textarea>
                          </div>
                          <div class="input-group input-group-sm">
                              <span class="input-group-addon" id="sizing-addon1">label</span>
                              <input type="text" name="FieldLabel_{{ f }}" class="form-control" placeholder="label"/>
                            </div> 
                          

                        </div>
                        

                      </div><!-- CLOSE ROW 1 -->

                            <!-- NEW ORDER -->

                            

                            <!-- TYPE -->
                            <!-- <select name="FieldType_{{ f }}">
                                      <option value="">SELECT ONE</option>
                                      <option>INT</option>
                                      <option selected="">TEXT</option>
                                      <option>VARCHAR(120)</option>
                            </select> -->
                            <input type="hidden" name="FieldType_{{ f }}">

                            <div class="input-group input-group-sm">
                              <!-- <span class="input-group-addon" id="sizing-addon1">Order</span>
                              <input type="text" name="FieldOrder_{{ f }}" value="" class="form-control" placeholder="Order"/> -->
                              <input type="hidden" name="FieldOrder_{{ f }}" value="{{f}}">
                            </div>
                    <!-- SUBMIT -->
                  </div> <!-- C. PORTLET CONTENT -->
                </div> <!-- B. CLOSE PORTLET -->

                <script type="text/javascript">
                    var allbt= "bt-1 bt-2 bt-3 bt-4 bt-5 bt-6 bt-7";
                    var allbb= "bb-1 bb-2 bb-3 bb-4 bb-5 bb-6 bb-7 ";

                      $(document).ready(function(){

                        
                        $("#tag1-{{ f }}").click(function(){
                          $(".tagged{{ f }}").removeClass(allbt).addClass("bt-1");
                          $(".treset{{ f }}").removeClass(allbt);
                          $(this).addClass("bt-1");
                          $("#tagvalue_{{ f }}").attr("value","1");
                        }); 
                        $("#tag2-{{ f }}").click(function(){
                          $(".tagged{{ f }}").removeClass(allbt).addClass("bt-2");
                          $(".treset{{ f }}").removeClass(allbt);
                          $(this).addClass("bt-2");
                          $("#tagvalue_{{ f }}").attr("value","2");
                        }); 
                        $("#tag3-{{ f }}").click(function(){
                          $(".tagged{{ f }}").removeClass(allbt).addClass("bt-3");
                          $(".treset{{ f }}").removeClass(allbt);
                          $(this).addClass("bt-3");
                          $("#tagvalue_{{ f }}").attr("value","3");
                        }); 
                        $("#tag4-{{ f }}").click(function(){
                          $(".tagged{{ f }}").removeClass(allbt).addClass("bt-4");
                          $(".treset{{ f }}").removeClass(allbt);
                          $(this).addClass("bt-4");
                          $("#tagvalue_{{ f }}").attr("value","4");
                        }); 
                        $("#tag5-{{ f }}").click(function(){
                          $(".tagged{{ f }}").removeClass(allbt).addClass("bt-5");
                          $(".treset{{ f }}").removeClass(allbt);
                          $(this).addClass("bt-5");
                          $("#tagvalue_{{ f }}").attr("value","5");
                        }); 
                        $("#tag6-{{ f }}").click(function(){
                          $(".tagged{{ f }}").removeClass(allbt).addClass("bt-6");
                          $(".treset{{ f }}").removeClass(allbt);
                          $(this).addClass("bt-6");
                          $("#tagvalue_{{ f }}").attr("value","6");
                        }); 
                        $("#tag7-{{ f }}").click(function(){
                          $(".tagged{{ f }}").removeClass(allbt).addClass("bt-7");
                          $(".treset{{ f }}").removeClass(allbt);
                          $(this).addClass("bt-7");
                          $("#tagvalue_{{ f }}").attr("value","7");
                        }); 

                        
                       
                      });
                </script>
                  <!-- N FIELD END -->

              {% endfor %}
              </div> <!-- A. CLOSE COLUMN  -->

            
          </div><!-- CLOSE COLSM10 -->
        </div><!-- CLOSE ROW -->

        <div class="row">
          <div class="col-sm-12">
            <hr/>
          </div>          
        </div>

        <div class="row">
          <div class="col-sm-2">
            
            <h2 class="fs-4 ">3</h2> <p class="text-s1 text-lgray fs-1-5">Save</p>
          </div>
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="/{{ data.handle }}" type="submit" class="btn btn-default">Leave without saving anything</a> 

          </div>
        </div>

    </form>

  </div> <!-- CLOSE CONTAINER -->

</section>



<!-- ForkModal -->
<div class="modal fade" id="forkModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><i class="fa fa-code-fork fa-2x"></i> Fork existing Ring</h4>
      </div>
      <form id="post_rq_a" action="/{{ data.handle }}{%if data.collection %}/_collections/{{data.collection}}{%endif%}" method="POST" >
      <div class="modal-body">       
           Load Parent Ring from this URL: <input name="ringurl" class="form-control" type="text">
      </div>
      <div class="modal-footer">
        <input name="submit" value="load and save" type="submit" class="btn btn-success">       
      </div>
      </form>
    </div>
  </div>
</div>





<script>

//PORTLET
$(function() {
  $(".portlet-content").hide();
  $( "#columnfields" ).sortable({
  // connectWith: ".columnfields",
  handle: ".handler",
  cancel: ".portlet-toggle",
  placeholder: "portlet-placeholder ui-corner-all ui-sort-position",
  opacity:0.7,
  cursor: "move",
  axis: 'y',
  stop: function(event,ui){
    var pOrder = $(this).sortable('toArray').toString();
    $(".exit").prepend( pOrder);
  }


  });
  $( ".portlet" )

    .addClass( "ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" )
    .find( ".portlet-header" )
    .addClass( "ui-widget-header ui-corner-all" );

  $(".tog")
    .prepend( "<i class='fa fa-plus-circle portlet-toggle'></i>");
  $( ".portlet-toggle" ).click(function() {
    var icon = $( this );
    icon.toggleClass( "fa-plus-circle fa-minus-circle" );
    icon.closest( ".portlet" ).find( ".portlet-content" ).toggle();
  });

  $(".tog").prepend( "<span class='label label-warning'>W " + ui.index()+ "</span>");


});


</script>





{% endblock %}


{% block modals %}

  {% include 'avispa_rest/helpmodal.html' %}

{% endblock %}


{% block findme %} post_rq_a {% endblock %}

