{% extends 'base.html' %}

{% block title %} Avispa {% endblock %}

{% block crumbs %}
{% endblock %}



{% block content %}

<!-- START NEW CONTENT --> 
<section class="bp-20 p-50">
  <div class="container">
    <div class="row">
            
      <div class="col-md-9">  

      {{ ui.org_header(data.handle,data.handle_actualname,data.handle_profilepic,'team',data.user_authorizations) }}


        <div class="row">
          <div class="col-sm-12">

             <div class="">
 
              <a href="/{{data.handle}}/_teams" type="button" class="btn btn-info btn-xs pull-right">
              Your teams</a>
              <br/><br/>
              
            </div> 

              
          

            <div class="rn-box-content">

            <span class="rn-b2">{{data.team.teamname}}</span><span class="pull-right">
                <a href="/{{data.handle}}/_teams/{{data.team.teamname}}">back</a>
                </span>  <br/><br/>
                          

              
              <form action="/{{data.handle}}/_teams/{{data.team.teamname}}/_settings?method=put" method="POST" role="form">
              
                <div class="form-group">
                  <label for="">Description</label><br/>
                  <textarea name="description" rows='8' cols='100'>{{data.team.description}}</textarea> 
                </div>
                
                <div class="form-group">
                  {% if data.team.teamname != 'owner' %}{{data.team.teamname}}
                    <label for="">Team authorizations on the assigned rings</label><br/>
                    <input name="teamauth" type="radio" value="R" {%if data.team.teamauth=='R'%}checked=""{%endif%}> Read <br/>
                    <input name="teamauth" type="radio" value="RW" {%if data.team.teamauth=='RW'%}checked=""{%endif%}> Read and Write<br/>
                    <input name="teamauth" type="radio" value="RWX" {%if data.team.teamauth=='RWX'%}checked=""{%endif%}> Administrator<br/>
                  {%else%}
                  As an owner you can do a lot of things that not even Admins can do: <br/><br/>
                  + <a href="/{{data.handle}}?rq=post" >Create a new Ring</a> <br/>
                  + <a href="/{{data.handle}}/_collections?rq=post" >Create a new Collections </a><br/>
                  + <a href="/{{data.handle}}/_orgprofile" >Change the Organization's profile</a> <br/>
                  + <a href="/{{data.handle}}/_people" >Invite people to the organization</a> <br/>
                  + <a href="/{{data.handle}}/_teams" >Create, edit and delete teams </a><br/>
                  + <a href="/{{data.handle}}/_teams/owner">Invite other owners</a><br/>
                  


                  {%endif%}
                </div>
                
         
                <button type="submit" class="btn btn-primary">Update team settings</button>
              </form>
            </div><!-- //close box -->

          </div><!-- close 12 -->   
        </div> <!-- close row -->

    </div>
</section>

{% endblock %}


{% block modals %}

  {% include 'avispa_rest/helpmodal.html' %}

{% endblock %}
