{% extends 'avispa_rest/tabs.html' %}

{% block title %} {% endblock %}

{% block crumb02 %}
<i class="fa fa-arrow-right breadinter"></i>
<a href="/{{data.handle}}/_collections/{{ data.collection }}" class="nounder">
  <span class="fc-a fs-0-7">{{ data.collection }}</span> 
</a>
{% endblock %}

{% block crumb03 %}
<i class="fa fa-arrow-right breadinter"></i>
<a href="/{{ data.handle }}/_collections/{{ data.collection}}/{{ data.ring }}" class="nounder">
  <span class="fc-a fs-0-7">{{ data.ring }}</span>
</a>
{% endblock %}

{% block tabcontent %}
<div class="rn-curtain"> 
  <table class="table table-condensed"> 
    {{ ui.panel3(data,'#fce121') }}              
  </table>     
  <div class="alert  alert-warning alert-dismissible alert-top" role="alert">
    <span class="fs-1-2">
      <i class="fa fa-pencil pad-x-10"></i>
      <strong> Modifying</strong> the ring schema for "{{ data.handle }}/{{ data.ring }}"
    </span>
  </div>
  <!-- ROW NAME AND DESCRIPTION -->
  <form class="form-horizontal" role="form" action="/{{ data.handle }}{%if data.collection %}/_collections/{{data.collection}}{%endif%}/{{ data.ring }}?method=PUT" method="POST">
    <div class="row rn-box-content">
      <div class="col-sm-2"> 
        <h2 class="fs-4">1</h2> 
        <p class=" text-s1">Ring Name and Description</p>
      </div>
      <div class="col-sm-10">
        <div class="spa20">
        </div>
  {%if data.collection %}
        <input type="hidden" name="collection" value="{{data.collection}}">
  {%endif%}  
        <div class="input-group input-group-sm">
          <span class="input-group-addon" id="sizing-addon1">
            Ring Name
          </span>
          <input name="RingNameDisabled" type="text" class="form-control" id="RingNameDisabled" placeholder="The name of the ring" value="{{ data.ringschema.RingName }}" disabled>
          <input name="RingName" type="hidden" class="form-control" id="RingName" placeholder="The name of the ring" value="{{ data.ringschema.RingName | nonone }}">
        </div>
        <div class="input-group input-group-sm">
          <span class="input-group-addon" id="sizing-addon1">
            Description
          </span>
          <textarea name="RingDescription" class="form-control" rows="10" placeholder="What makes this ring unique?" style="height:100px;" >{{ data.ringschema.RingDescription | nonone }}</textarea>
        </div>
        <div class="text-right spa10">
          <a class="clearlink" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            <p>
              <i class="fa fa-wrench"></i>
              &nbsp; Advanced settings
            </p>
          </a>
        </div>               
        <div class="collapse" id="collapseExample">
          <div class="box box-clear">
            <div class="input-group input-group-sm">
              <span class="input-group-addon" id="sizing-addon1">
                Label
              </span>
              <input name="RingLabel" type="text" class="form-control" id="RingLabel" placeholder="The Label of the ring" value="{{ data.ringschema.RingLabel | nonone }}"/>
            </div>
            <div class="input-group input-group-sm">
              <span class="input-group-addon" id="sizing-addon1">
                Version
              </span>
              <input name="RingVersion" type="text" class="form-control" id="RingVersion" placeholder="" value="{{ data.ringschema.RingVersion | nonone }}">
            </div>
            <div class="input-group input-group-sm">
              <span class="input-group-addon" id="sizing-addon1">
                URI
              </span>
              <input name="RingURI" type="text" class="form-control" id="RingURI" placeholder="" value="{{ data.ringschema.RingURI | nonone }}"/>
            </div>
            <div class="input-group input-group-sm">
              <span class="input-group-addon" id="sizing-addon1"> 
                Build
              </span>
              <input name="RingBuild" type="text" class="form-control" id="RingBuild" placeholder="" value="{{ data.ringschema.RingBuild | nonone }}"/>
            </div>
            <div class="text-right">
              {#{ Ring's origin: <input type="text" name="ringorigin" value="{{data.ringorigin | nonone}}" /> }#}
            </div>
          </div>
          <br/>
        </div>    
      </div>
    </div>
    <div class="row rn-box-content">
      <div class="col-sm-12">
        <hr/>
      </div>          
    </div>
    <div class="row rn-box-content">
      <div class="col-sm-2">
        <h2 class="fs-4 ">2</h2>
        <p class="text-s1">Ring fields</p>     
      </div>
      <div class="col-sm-10">
        <div id="columnfields">
          <!-- A. START DRAG AREA -->
          
  {% for field in data.fieldsschema %}
          {{ ui.portlet(field.FieldOrder,field.FieldLayer,False,field.FieldName,field.FieldWidget,field.FieldCardinality,field.FieldHint,field.FieldSource,field.FieldSemantic,field.FieldLabel,field.FieldType) }}

          {#{ ui.portlet(field,False) }#}
          <!-- N FIELD END -->
  {% endfor %}
        </div> <!-- A. CLOSE COLUMN  -->
        Add a new field
      </div><!-- CLOSE COLSM10 -->
    </div><!-- CLOSE ROW -->  
    <div>
      <!-- SUBMIT -->
      <div class="rn-box-content">
        <br/>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label"></label>
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">
              Save
            </button>
            <a href="/{{ data.handle }}" type="submit" class="btn btn-default">Leave without saving anything</a>  
          </div>
          <a style="float:right; padding:25px;" href="/{{ data.handle }}/{{ data.ring }}?method=delete" >
            <p>
              <i class="fa fa-trash-o"></i> &nbsp; Delete this Ring
            </p>
          </a>
        </div>
      </div>
      <!-- SUBMIT END -->
      <!-- RING END -->          
    </div>  
    <br/><br/><br/>
  </form> 
  <hr/>
  <h4>Schema</h4>
  <div class="row">
    <div class="col-sm-offset-2 col-sm-5">
      <table class="table table-condensed fs-0-8">
    {% for field in data.fieldsschema %}
        {{ ui.showSchema(field.FieldOrder,field.FieldLayer,False,field.FieldName,field.FieldWidget,field.FieldCardinality,field.FieldHint,field.FieldSemantic,field.FieldLabel) }}
    {% endfor %}
      </table>
    </div> 
  </div>

{% endblock %}


{% block modals %}

  {% include 'avispa_rest/helpmodal.html' %}

{% endblock %}


{% block footfunctions %}

    <script type="text/javascript">
    var allbt= "bt-1 bt-2 bt-3 bt-4 bt-5 bt-6 bt-7";
    var allbb= "bc-1 bc-2 bc-3 bc-4 bc-5 bc-6 bc-7 ";

      $(document).ready(function(){

        //SET LAYER IN PORTLET(OLD)
        $(".treset").click(function(){
          var layer = $(this).attr('layer');
          var order = $(this).attr('order');
          $("#tagged"+order).removeClass(allbt).addClass("bt-"+layer);
          $(this).removeClass(allbt).addClass("bt-"+layer);                   
          $("#tagvalue_"+order).attr("value",layer);
        });    
      });
    </script>


    <script type="text/javascript">
        
        $(function() {

          //REORDERING OF PORTLETS(OLD)
          $(".portlet-content").hide();
          $( "#columnfields" ).sortable({
          // connectWith: ".columnfields",
            handle: ".handler",
            cancel: ".portlet-toggle",
            placeholder: "portlet-placeholder ui-corner-all ui-sort-position",
            opacity:0.7,
            cursor: "move",
            axis: 'y',
            stop: function(event,ui){
              var pOrder = $(this).sortable('toArray').toString();
              $(".exit").prepend( pOrder);
            }
          });


          // SHOW/HIDE ADVANCED FIELDS IN PORTLET (OLD)
          $( ".portlet-toggle" ).click(function() {
            var icon = $( this );
            icon.toggleClass( "fa-plus-circle fa-minus-circle" );
            icon.closest( ".portlet" ).find( ".portlet-content" ).toggle();
          });

          


        });
    </script>

    <script>

      //CONVERT FIELDLABEL INTO SLUG AND PUT IN FIELDNAME (OLD)
      function string_to_slug(str) {
        str = str.replace(/^\s+|\s+$/g, ''); // trim
        str = str.toLowerCase();
        
        // remove accents, swap ñ for n, etc
        var from = "àáäâèéëêìíïîòóöôùúüûñç·/-,:;";
        var to   = "aaaaeeeeiiiioooouuuunc______";
        for (var i=0, l=from.length ; i<l ; i++) {
          str = str.replace(new RegExp(from.charAt(i), 'g'), to.charAt(i));
        }

        str = str.replace(/[^a-z0-9 _]/g, '') // remove invalid chars
          .replace(/\s+/g, '_') // collapse whitespace and replace by -
          .replace(/-+/g, '_'); // collapse dashes

        return str;
    }
    </script>

    <script>
      $(".fieldname").on("change paste", function() {
        console.log('The field '+$(this).attr('name')+' has changed its value to '+$(this).val()); 
        if($(this).val()){
          var slug = string_to_slug($(this).val());
          $(this).val(slug);             
        } else {
          $(this).val($(this).attr('id'));          
        }
      });
    </script>

{% endblock %}

{% block findme %} put_rq_a_b {% endblock %}


