{% extends 'base.html' %}

{% block title %} Avispa {% endblock %}


{% block headscripts %}
  {% include 'avispa_rest/wa_jqueryui_style.html'  %}
  {% include 'avispa_rest/wa_richtable_style.html'  %}

    {% for field in data.fieldsblueprint %}
    {% set widgetstyle = 'avispa_rest/w_input_'+field.FieldWidget+'_style.html' %}   
    {% include widgetstyle ignore missing  %}                                
  {% endfor %}

{% endblock %}

{% block footscripts %}
  {% include 'avispa_rest/wa_jqueryui_lib.html'  %}

  {% for field in data.fieldsblueprint %}
    {% set widgetlib = 'avispa_rest/w_input_'+field.FieldWidget+'_lib.html' %}   
    {% include widgetlib ignore missing  %}                                
  {% endfor %}
  
{% endblock %}

{% block footfunctions %}
  {% include 'avispa_rest/wa_jqueryui_functions.html'  %} 
  {% include 'avispa_rest/wa_richtable_functions.html'  %}

  {% for field in data.fieldsblueprint %}
    {% set widget = 'avispa_rest/w_input_'+field.FieldWidget+'_functions.html' %}   
    {% include widget ignore missing  %}                                
  {% endfor %}

{% endblock %}

{% block footafterfunctions %}

  {% for field in data.fieldsblueprint %}
    {% set widgetafter = 'avispa_rest/w_input_'+field.FieldWidget+'_afterfunctions.html' %}   
    {% include widgetafter ignore missing  %}                                
  {% endfor %}

{% endblock %}



{% block crumbs %}

<div class="rn-hp5 pull-left"><span class="label label-m">AVISPA</span></div> 
<a href="/{{ data.handle }}" class="rn-b1" >{{ data.handle }}</a> / 
<a href="/{{ data.handle }}/{{ data.ring }}" class="rn-b1" >{{ data.ring}}</a> /
<a href="/{{ data.handle }}/{{ data.ring }}/{{ data.idx }}" class="rn-b1" >{{ data.idx}}</a> 

{% endblock %}

{% block content %}


<!-- START NEW CONTENT --> 


<section class="bp-20 p-50">
  <div class="container">
    <div class="row">
      <div class="col-md-9">  

        <div class="row">
          <div class="col-sm-12">
            <div class="rn-box-title">

              <strong> <!-- Ring owner  -->Updating 1 item  </strong> 

              <button type="button" class="btn btn-default btn-xs pull-right" data-toggle="modal" data-target="#helpmodal">
              <i class="fa fa-question-circle"></i>
              </button>
            </div>
            <form role="form" action="/{{ data.handle }}/{{ data.ring }}/{{ data.idx }}?method=put" method="POST" autocomplete="off">
              <div class="rn-box-solo">
                <div class="row">
                 Public: {{data.item}} <input type="checkbox" value="public" name="_public" {% if data.item.public == True %}checked{% endif %} >

               
                </div> 
              </div>
              <div class="rn-box-content">
                              
                              

                              {% for field in data.fieldsblueprint %}

                                &nbsp;
                                {% set widget = 'avispa_rest/w_input_'+field.FieldWidget+'.html' %}   
                                {% include widget  %} 
                                  
                              {% endfor %}

                                  &nbsp;
                                  <div class="form-group">
                                      <label for="inputPassword3" class="col-sm-2 control-label"></label>
                                      <div class="col-sm-10">
                                        
                                        <input value="save" type="submit" class="btn btn-primary">
                                        <a href="/{{ data.handle }}/{{ data.ring }}" type="submit" class="btn btn-default">Leave without saving anything</a>
                                        

                                      </div>
                                  </div>
                                  &nbsp;

                                
              </div><!-- //close box content -->
            </form>  
          </div><!-- close 12 -->   
        </div> <!-- close row -->

      </div> <!-- close 9 -->   
    </div>
  </div>
</section>



{% endblock content%}

{% block modals %}

  {% include 'avispa_rest/helpmodal.html' %}

{% endblock %}




