{% extends 'avispa_rest/tabs.html' %}

{% block title %} {% endblock %}


{% block headscripts %}

  {% include 'avispa_rest/wa_richtable_style.html'  %}
    {% for field in data.fieldsschema %}
    {% set widgetstyle = 'avispa_rest/w_input_'+field.FieldWidget+'_style.html' %}   
    {% include widgetstyle ignore missing  %}                                
  {% endfor %}

{% endblock %}

{% block footscripts %}
  
  {% for field in data.fieldsschema %}
    {% set widgetlib = 'avispa_rest/w_input_'+field.FieldWidget+'_lib.html' %}   
    {% include widgetlib ignore missing  %}                                
  {% endfor %}
  
{% endblock %}

{% block footfunctions %}
  {% include 'avispa_rest/wa_richtable_functions.html'  %}

  {% for field in data.fieldsschema %}
    {% set widget = 'avispa_rest/w_input_'+field.FieldWidget+'_functions.html' %}   
    {% include widget ignore missing  %}                                
  {% endfor %}

{% endblock %}

{% block footafterfunctions %}

  {% for field in data.fieldsschema %}
    {% set widgetafter = 'avispa_rest/w_input_'+field.FieldWidget+'_afterfunctions.html' %}   
    {% include widgetafter ignore missing  %}                                
  {% endfor %}

  {% include 'avispa_rest/wa_flagmarker_functions.html' %}

{% endblock %}


{% block crumb02 %}
    <i class="fa fa-angle-right breadinter"></i> <!-- caret right -->
    <a href="/{{ data.handle }}/{{ data.ring }}" class="nounder">
        <span class="fs-0-7">{{ data.ring }}</span>
    </a>
{% endblock %}

{% block crumb03 %}
    <i class="fa fa-angle-right breadinter"></i> <!-- caret right -->
    <span class=" fs-0-7">item: {{data.item['_id']}}</span> 
    
{% endblock %}

{% block tabcontent %}

<!-- START NEW CONTENT --> 
            
  <div class="rn-curtain">
  {% if not data.raw %}
      <table class="table table-condensed"> 
        {{ ui.panel3(data,'#fce121') }} 
      </table>
  {%endif%}
  {% if not data.raw %}
      <div class="alert  alert-warning alert-dismissible alert-top" role="alert">
        <span class="fs-1-2"><i class="fa fa-pencil pad-x-10"></i> <strong>Updating</strong> 1 item </span>
      </div>
  {%endif%}
  </div>
  <form role="form" action="/{{ data.handle }}/{{ data.ring }}/{{ data.idx }}?method=put{% if data.raw %}&raw=1{%endif%}" method="POST" autocomplete="off">
    <div class="box box-clear text-right">
      <div class="row">
        <div class="col-sm-12">
          <span class="pad-x-20"> Public: <input type="checkbox" value="public" name="_public" {% if data.item._public == True %}checked{% endif %} > 
          </span>
          <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#helpmodal">
            <i class="fa fa-question-circle"></i>
          </button>       
        </div>
      </div>
      <div class="row">
        <div class="form-group">
    {% if data.raw %} 
          <input value="update" type="submit" class="btn btn-primary pull-right"> 
    {%endif%} 
        </div>     
    {% if data.raw %}
        <h3>{{data.ring}}</h3>
    {%endif%}
      </div>            
    {% for field in data.fieldsschema %}
      {% if field.FieldLayer != '7' %}
      <div class="row spa10">
        <div class="col-sm-1">&nbsp;</div>
        <div class=" col-sm-2 col-sm-push-8 text-left alpha"> 
         {{ ui.flagmarker(field,data.item) }}
        </div>
        <div class="col-sm-8 col-sm-pull-2 text-left omega">
          {% set widget = 'avispa_rest/w_input_'+field.FieldWidget+'.html' %}   
          {% include widget  %}    
        </div>      
      </div>
      {% endif %}
    {% endfor %}
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
    {% if not data.raw %} 
              <input value="save" type="submit" class="btn btn-success"/>   
              <a href="/{{ data.handle }}/{{ data.ring }}" type="submit" class="btn btn-default">
                Leave without saving anything
              </a>
    {%else%}
              <input value="update" type="submit" class="btn btn-primary pull-right"/> 
    {%endif%}                                         
            </div>
          </div>
          &nbsp;
        </div>     
      </div> 
    </div>                       
  </form>  
         





{% endblock %}


{% block modals %}

  {% include 'avispa_rest/helpmodal.html' %}

{% endblock %}

{% block findme %} put_rq_a_b_c {% endblock %}


