{% extends 'avispa_rest/tabs.html' %}

{% block title %} Avispa {% endblock %}
{% block findme %} put_rq_a_x_y {% endblock %}

{% block headscripts %}
  {% include 'avispa_rest/wa_jqueryui_style.html'  %}
  {% include 'avispa_rest/wa_richtable_style.html'  %}

  {% for field in data.fieldsschema %}
    {% set widgetstyle = 'avispa_rest/w_input_'+field.FieldWidget+'_style.html' %}   
    {% include widgetstyle ignore missing  %}                                
  {% endfor %}

{% endblock %}

{% block footscripts %}
  {% include 'avispa_rest/wa_jqueryui_lib.html'  %}
  
{% endblock %}

{% block footfunctions %}
  {% include 'avispa_rest/wa_jqueryui_functions.html'  %} 
  {% include 'avispa_rest/wa_richtable_functions.html'  %}

{% endblock %}

{% block footafterfunctions %}

{% endblock %}




{% block crumbs %}





<div class="rn-hp5 pull-left"><span class="label label-m">AVISPA</span></div> 
<a href="/{{ data.handle }}" class="rn-b1" >{{ data.handle }}</a>/<a href="/{{ data.handle }}/_collections" class="rn-b1" >_collections</a> 

{% endblock %}

{% block tabtitle %}<i class="fa fa-wrench "></i> Settings 
{% endblock %}

{% block tabcontent %}


<!-- START NEW CONTENT --> 
   
<div class="row">
    <div class="col-sm-3">
        <div class="spa40 text-left">
            <i class="fa fa-wrench fa-3x "></i>
            <h2>SETTINGS</h2>
            <span class="label label-xs bl bl-orange ">Data Collection</span> 
            <h4 class="fs-1-5 fw-c text-gray">{{data.collectionlist.collectionname|upper}}</h4>
            
        </div>
    </div>
    <div class="col-sm-9">
        <div class="spa10"></div>
        <div class="alert  alert-warning alert-dismissible alert-top" role="alert">
            <span class="fs-1-2"><strong>Updating</strong> Settings for Data Collection:  {{data.collectionlist.collectionname|upper}} </span>
        </div>

             

              <!--button type="button" class="btn btn-default btn-xs pull-right" data-toggle="modal" data-target="#helpmodal">
                <i class="fa fa-question-circle"></i>
              </button-->

        <form class="form-horizontal" role="form" action="/{{ data.handle }}/_collections/{{ data.collection }}?method=PUT" method="POST">



            <div class="box box-clear">
                Collection name: <input name="CollectionNameDisabled" class="form-control" type="text" value="{{data.collectionlist.collectionname}}" disabled><input name="CollectionName" class="form-control" type="hidden" value="{{data.collectionlist.collectionname}}"><br/>
                Summary: <input name="CollectionDescription" class="form-control" type="text" value="{{data.collectionlist.collectiondescription}}"><br/>
                Version: <input name="CollectionVersion" class="form-control" type="text" value="{{data.collectionlist.version}}" ><br/>

            </div>

            <div class="box">
                
                <div class="spa30 fs-1-2">
                    <h4><strong>RINGS</strong> included in this Data Collection</h4>
                    
                    <p class="fs-0-9 text-gray">(Rings can be used in more than one collection)</p>
                </div> 
               
                <div class="form-group">
                  
                  {% set n = 0 %}
                  {% for ring in data.ringlist %}

                    {% set n = n+1 %}

                    {{ ui.icon_xsma('','#fce121') }}

                    <input name="ring_{{n}}" type='checkbox' value='{{data.handle}}_{{ring.ringname}}_{{ring.ringversionh}}' {% if data.handle+'_'+ring.ringname+'_'+ring.ringversionh in data.collectionrings %} checked {% endif %}/> <a href="/{{ data.handle }}/{{ring.ringname}}">{{ data.handle }}/{{ring.ringname}}</a>  ( v{{ring.ringversionh}} ) : {{ring.ringdescription}}<br/>

                    
                    {% endfor %}

                    <div class="spa20">
                        <a role="menuitem" tabindex="-1" href="/{{data.handle}}/_collections/{{data.collectionlist.collectionname}}?rq=post&n=10" class="fc-i"><i class="fa fa-plus"></i> Create a new Ring</a>
                    </div>


                </div>
            </div>

              {% set numfields = request.args.get('n')|int %}

              <!-- SUBMIT -->

            <div class="box">
                
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label"></label>
                    
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a href="/{{ data.handle }}/_collections" type="submit" class="btn btn-default">Leave without saving anything</a>                      
                    
                        <hr/>
                        <a style="float:right; padding:25px;" href="/{{ data.handle }}/_collections/{{ data.collection }}?method=delete" ><b>[Delete this Collection]</b>  No Ring or item will be deleted.</a>
                </div>
            </div>

              <!-- SUBMIT END -->
              <!-- RING END -->

        </form> 
    </div>
</div>



{% endblock %}


{% block modals %}

  {% include 'avispa_rest/helpmodal.html' %}

{% endblock %}




