{% extends 'avispa_rest/tabs.html' %}

{% block title %} Avispa {% endblock %}

{% block crumbs %}

<div class="rn-hp5 pull-left"><span class="label label-m">AVISPA</span></div> 
<a href="/{{ data.handle }}" class="rn-b1" >{{ data.handle }}</a>/<a href="/{{ data.handle }}/{{ data.ring }}" class="rn-b1" >{{ data.ring }}</a> 

{% endblock %}

{% block tabcontent %}


<!-- START NEW CONTENT --> 


<section class="bp-20 p-50">
  <div class="container">
    <div class="row">
      <div class="col-md-9">  

        <div class="row">
          <div class="col-sm-12">
            <div class="rn-box-title">

              <strong> <!-- Ring owner  -->Modifying the ring schema for "{{ data.handle }}/{{ data.ring }}"</strong> 

              <!--button type="button" class="btn btn-default btn-xs pull-right" data-toggle="modal" data-target="#helpmodal">
                <i class="fa fa-question-circle"></i>
              </button-->
            </div>


            <div class="rn-box-solo">
              <div class="row">
                &nbsp;&nbsp;&nbsp; <strong></strong>Ring's characteristics
                <button type="button" class="btn btn-default btn-xs pull-right" data-toggle="modal" data-target="#helpmodal">
                  <i class="fa fa-question-circle"></i>
                </button>
              </div> 
            </div>

            <form class="form-horizontal" role="form" action="/{{ data.handle }}/{{ data.ring }}?method=PUT" method="POST">
               
              <!-- RING -->
              <div class="rn-box-content">
              <br/>           
                <div class="form-group">
                  <label for="RingName" class="col-sm-2 control-label">ring:name</label>
                  <div class="col-sm-10">
                     <input name="RingNameDisabled" type="text" class="form-control" id="RingNameDisabled" placeholder="The name of the ring" value="{{ data.ringschema.RingName }}" disabled>
                     <input name="RingName" type="hidden" class="form-control" id="RingName" placeholder="The name of the ring" value="{{ data.ringschema.RingName }}">
                    
                  </div>
                  <label for="RingLabel" class="col-sm-2 control-label">ring:label</label>
                  <div class="col-sm-10">
                     <input name="RingLabel" type="text" class="form-control" id="RingLabel" placeholder="The Label of the ring" value="{{ data.ringschema.RingLabel }}">
                    
                  </div>
                  <label for="RingDescription" class="col-sm-2 control-label">ring:description</label>
                  <div class="col-sm-10">
                    <textarea name="RingDescription" class="form-control" rows="4" placeholder="What makes this ring unique?">{{ data.ringschema.RingDescription }}</textarea>
                  </div>
                  <label for="RingVersion" class="col-sm-2 control-label">ring:version</label>
                  <div class="col-sm-10">
                    <input name="RingVersion" type="text" class="form-control" id="RingVersion" placeholder="" value="{{ data.ringschema.RingVersion }}">
                  </div>
                  <label for="RingURI" class="col-sm-2 control-label">ring:URI</label>
                  <div class="col-sm-10">
                    <input name="RingURI" type="text" class="form-control" id="RingURI" placeholder="" value="{{ data.ringschema.RingURI }}">
                  </div>
                  <label for="inputEmail3" class="col-sm-2 control-label">ring:build</label>
                  <div class="col-sm-10">
                    <input name="RingBuild" type="text" class="form-control" id="RingBuild" placeholder="" value="{{ data.ringschema.RingBuild }}">
                  </div>
                </div>
              </div>


              <div class="rn-box-solo">
                <div class="row">
                  &nbsp;&nbsp;&nbsp; <strong></strong>Field's characteristics
                  <button type="button" class="btn btn-default btn-xs pull-right" data-toggle="modal" data-target="#helpmodal">
                  <i class="fa fa-question-circle"></i>
                  </button>

                </div> 
              </div>
       
              {% set f = 0 %}
              
              {% for field in data.fieldsschema %}

              {% set f = f+1 %}
              
              <!-- FIELD {{ f }} -->
              <div class="rn-box-content ringbuilder">
                <br/>
                <table class="form-group" style="width:100%;">
                  <tbody>
                    <tr>
                      <td style="text-align:left;" ><h2>&nbsp;&nbsp;&nbsp;{{ f }}</h2></td>
                      <td>

                        UP | DOWN | DELETE
                        <br/><br/>
                      </td>
                    </tr>
                    <tr>
                      <td>field:name</td>
                      <td>
                        <input id="FieldName_{{ f }}disabled" name="FieldName_{{ f }}disabled" class="form-control" type="text" value="{{ field.FieldName }}" disabled>
                        <input id="FieldName_{{ f }}" name="FieldName_{{ f }}" class="form-control" type="hidden" value="{{ field.FieldName }}">
                      </td>
                    </tr>
                    <tr>
                      <td>field:label</td>
                      <td><textarea name="FieldLabel_{{ f }}" class="form-control">{{ field.FieldLabel }}</textarea></td>
                    </tr>
                    <tr>
                      <td>field:semantic</td>
                      <td><textarea name="FieldSemantic_{{ f }}" class="form-control">{{ field.FieldSemantic }}</textarea></td>
                    </tr>
                    <tr>
                      <td>field:type</td>
                      <td>
                        <select name="FieldType_{{ f }}" disabled>
                          <option value="">SELECT ONE</option>
                          <option value="INT" {% if field.FieldType == "INT" %}selected{% endif %}>INT</option>
                          <option value="TEXT" {% if field.FieldType == "TEXT" %}selected{% endif %}>TEXT</option>
                          <option value="VARCHAR(120)" {% if field.FieldType == "VARCHAR(120)" %}selected{% endif %}>VARCHAR(120)</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td>field:source</td>
                      <td><textarea name="FieldSource_{{ f }}" class="form-control">{{ field.FieldSource }}</textarea></td>
                    </tr>
                    <tr>
                      <td>field:widget</td>
                      <td>
                        <select name="FieldWidget_{{ f }}">
                          <option value="">SELECT ONE</option>
                          <option value="checkbox" {% if field.FieldWidget == "checkbox" %}selected{% endif %}>checkbox</option>
                          <option value="date" {% if field.FieldWidget == "date" %}selected{% endif %}>date</option>
                          <option value="file" {% if field.FieldWidget == "file" %}selected{% endif %}>file</option>
                          <option value="images" {% if field.FieldWidget == "images" %}selected{% endif %}>images</option>
                          <option value="location" {% if field.FieldWidget == "location" %}selected{% endif %}>location</option>
                          <option value="password" {% if field.FieldWidget == "password" %}selected{% endif %}>password</option>
                          <option value="radio" {% if field.FieldWidget == "radio" %}selected{% endif %}>radio</option>
                          <option value="select" {% if field.FieldWidget == "select" %}selected{% endif %}>select</option>
                          <option value="text" {% if field.FieldWidget == "text" %}selected{% endif %}>text</option>
                          <option value="textarea" {% if field.FieldWidget == "textarea" %}selected{% endif %}>textarea</option>
                          <option value="url" {% if field.FieldWidget == "url" %}selected{% endif %}>url</option>
                          <option value="url_flickr" {% if field.FieldWidget == "url_flickr" %}selected{% endif %}>url_flickr</option>
                          <option value="url_video" {% if field.FieldWidget == "url_video" %}selected{% endif %}>url_video</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td>field:cardinality </td>
                      <td>
                        <select name="FieldCardinality_{{ f }}">
                          <option value="Single" {% if field.FieldCardinality == "Single" %} selected {% endif %} >Single</option>
                          <option value="Multiple" {% if field.FieldCardinality == "Multiple" %} selected {% endif %} >Multiple</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td>field:multilingual</td>
                      <td>
                        <input name="FieldMultilingual_{{ f }}" value="TRUE" type="checkbox" {% if field.FieldMultilingual %}checked{% endif %}>
                      </td>
                    </tr>
                    <tr>
                      <td>field:required</td>
                      <td>
                        <input name="FieldRequired_{{ f }}" value="TRUE" type="checkbox" {% if field.FieldRequired %}checked{% endif %}>
                      </td>
                    </tr>
                    <tr>
                      <td>field:default</td>
                      <td>
                        <input name="FieldDefault_{{ f }}" value="{{ field.FieldDefault }}" class="form-control" type="text"></td>
                    </tr>
                    <tr>
                      <td>field:hint</td>
                      <td>
                        <textarea name="FieldHint_{{ f }}" class="form-control">{{ field.FieldHint }}</textarea></td>
                    </tr>
                    <tr>
                      <td>field:layer</td>
                      <td>
                        <input name="FieldLayer_{{ f }}" value="{{ field.FieldLayer }}" class="form-control" type="text"></td>
                    </tr>
                    <tr>
                      <td>field:order</td>
                      <td>
                        <input name="FieldOrder_{{ f }}" value="{{ field.FieldOrder }}" class="form-control" type="text"></td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <!-- FIELD {{ f }} END -->

              {% endfor %}

              <!-- SUBMIT -->

              <div class="rn-box-content">
                <br/>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label"></label>
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a href="/{{ data.handle }}" type="submit" class="btn btn-default">Leave without saving anything</a>  
                  </div>
                  <a style="float:right; padding:25px;" href="/{{ data.handle }}/{{ data.ring }}?method=delete" >Delete this Ring</a>
                </div>
              </div>

              <!-- SUBMIT END -->
              <!-- RING END -->

            </form> 
          </div> 
        </div>

      </div> 
    </div>
  </div>
</section>



{% endblock %}


{% block modals %}

  {% include 'avispa_rest/helpmodal.html' %}

{% endblock %}




