{% extends 'avispa_rest/tabs.html' %}

{% block tabcontent %}


  <div class="row">
    <!-- COLUMN 1 -->
    <div class="col-sm-12" >
      
      
      <!-- <img class="img-responsive center-block" src="/static/images/graph3.png" alt="MyRing"> -->

       <!-- BOX 2 -->
      <div class="rn-box-gad gad100">
        <div class="rn-box-title">
                Collaborators
        </div>
        <div class="rn-box-solo gad100 text-center">
          <div class="visible-sm visible-md visible-lg">
            <i class="fa fa-plus pull-right fc-g"></i>
          </div>
          <span class="label label-discrete pull-left">Data Age</span>
          <div class="spa20"></div>
            {{ graphs.gline() }}
          <div class="spa10"></div>
        </div><!-- close BOX -->
      </div>


      
    <div class="rn-box-gad gad66"> 

      <div class="rn-box-title-slim ">
                Top collaborators
                
      </div>
      
      <div class="rn-box-solo gad100">
          
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            {{ ui.collab_collapse('1','Robert Rodriguez', 'dosx.jpg', 'useractions.jpg', '#15a6ff', '2,345', '81', '1 day ago','1','in') }}

            {{ ui.collab_collapse('2','Laura Mogollones', 'alba.jpg', 'useractions.jpg', '#ff1289', '1,323', '26', '1 week ago','2','') }}

            {{ ui.collab_collapse('3','Carlos Santana', 'clint.jpg', 'useractions.jpg', '#ef580c', '349', '92', '1 day ago','2','') }}
            {{ ui.collab_collapse('4','Roberto Carlos', 'clint.jpg', 'useractions.jpg', 'red', '349', '92', '1 day ago','2','') }}
            {{ ui.collab_collapse('5','Don Francisco', 'clint.jpg', 'useractions.jpg', 'blue', '349', '92', '1 day ago','2','') }}
            {{ ui.collab_collapse('6','Raul Toledo', 'clint.jpg', 'useractions.jpg', 'gray', '349', '92', '1 day ago','2','') }}
            {{ ui.collab_collapse('7','Maria Mar', 'clint.jpg', 'useractions.jpg', 'orange', '349', '92', '1 day ago','2','') }}
          </div>
      </div>
      
      
    </div>

    <div class="rn-box-gad gad33"> 
      <div class="rn-box-title-slim ">
                Actions      
      </div>
      <div class="rn-box-solo gad100">
          
            
            <p class="fs-0-8">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            </p>
            <div class="spa5"></div>

          <hr/>
          <p>Actions:</p>
          <a class="btn btn-warning btn-xs"><i class="fa fa-plus-circle fa-1x"></i> Join now!</a>
          <div class="spa10"></div>
          <a class="btn btn-info btn-xs"><i class="fa fa-plus-circle fa-1x"></i> Invite someone</a><br/>
            <div class="spa5"></div>
            <hr/>
          <div class="input-group input-group-sm">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <div class="spa15"></div>
      </div>
    </div>



  </div> 
{% endblock %} 

{% block auxbar %}

    <div class="col-sm-3">
      <div class="bord-left">
        <div class="rhr4 visible-xs"></div>

          <div class="spa10"></div>

            <h2 class="fs-1-5 fw-c text-lgray">Collaborators</h2>
            
            <p class="fs-0-8">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <div class="spa5"></div>

          
          <hr/>
          <p>Actions:</p>
          <a class="btn btn-warning btn-xs"><i class="fa fa-plus-circle fa-1x"></i> Join now!</a>

          <div class="spa10"></div>

          <a class="btn btn-info btn-xs"><i class="fa fa-plus-circle fa-1x"></i> Invite someone</a><br/>
            <div class="spa5"></div>

            <hr/>

          <div class="input-group input-group-sm">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <div class="spa15"></div>


          <br/>
      </div>  
    </div>

{% endblock %} 
