{% extends 'base.html' %}

{% block title %} Avispa {% endblock %}

{% block crumbs %}


{% endblock %}



{% block content %}


<!-- START NEW CONTENT --> 


<section class="bp-20 p-50">
  <div class="container">
    <div class="row">
            
      <div class="col-md-9">  


        <div class="row">
          <div class="col-sm-12">

        


               <div class="rn-box-space">
                  
                      <div class="rn-b1">Ring Roles</div>
                  
              </div> 
          

            <div class="rn-box-content">
              <table class="table "> <!-- inner row -->

               <tr>
                 <td colspan='4'></td>
               </tr>
               {% for role in data.roles %}
               <tr>
                 <td>&nbsp;</td>
                 <td colspan="2"><b>@blalab/{{role}}</b></td>
                 <td></td>
               </tr>
               <tr>
                 <td>&nbsp;</td>
                 <td>&nbsp;</td>
                 <td>Who is this Ring's Moderator?</td>
                 <td><input type="text" value="{%for m in data.roles[role]['moderator'] %}{{comma}}{{m}}{% set comma=', '%}{%endfor%}"></td>
               </tr>
               <tr>
                 <td>&nbsp;</td>
                 <td>&nbsp;</td>
                 <td>Who is this Ring's Capturist?</td>
                 <td><input type="text" value="{%for m in data.roles[role]['capturist'] %}{{comma}}{{m}}{% set comma=', '%}{%endfor%}"></td>
               </tr>
               {% endfor %}


              </table>
            </div><!-- //close box -->

          </div><!-- close 12 -->   
        </div> <!-- close row -->

    </div>
</section>






{% endblock %}

{% block modals %}

  {% include 'avispa_rest/helpmodal.html' %}

{% endblock %}
