{% extends 'base.html' %}

{% block headscripts %}
<link href="/static/css/dropzone.css" rel="stylesheet" type="text/css" media="screen">

<style>

  .dz-size {
    display:none;
  }
  
  .dz-message {
    padding:0px 0px;
  }

</style>
{% endblock %}

{% block title %} Avispa {% endblock %}
{% block findme %} profile {% endblock %}


{% block crumbs %}


{% endblock %}



{% block content %}


               

<!-- START NEW CONTENT --> 


<section class="p-20">
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-sm-3">
                <div class="gcard">
                    <div class="gcard-title">
                        

                        <i class="fa fa-user"></i> Personal Settings

                      

                    </div>
                    <div class="gcard bg-n">
                        <table class="table fs-0-9">
                            
                            <tr>
                                <td class="p-0">
                                  <div class="{% if data.menu =='s1' %} set_active bg-white{% else %}bc-10 bord-bottom bw-2 p-8 {%endif%}">
                                    <a href="/{{ current_user.id }}/_profile" class="pad-x-10 nounder {% if data.menu =='s1' %} fc-b{%endif%}">  Profile</a>
                                  </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="p-0">

                                  <div class="{% if data.menu =='s2' %} set_active bg-white{% else %}bc-10 bord-bottom bw-2 p-8{%endif%}">
                                  
                                    <a href="/{{ current_user.id }}/_access" class="pad-x-10 nounder "> Access</a>
                                  </div>
                                  
                                </td>
                            </tr>

                            <tr>
                                <td class="p-0">

                                  <div class="{% if data.menu =='s3' %} set_active bg-white{% else %}bc-10 bord-bottom bw-2 p-8{%endif%}">
                                  
                                    <a href="/{{ current_user.id }}/_email" class="pad-x-10 nounder "> Email</a>
                                  </div>
                                  
                                </td>
                            </tr>
                            <tr>
                                <td class="p-0">

                                  <div class="{% if data.menu =='s4' %} set_active bg-white{% else %}bc-10 bord-bottom bw-2 p-8{%endif%}">
                                  
                                    <a href="/{{ current_user.id }}/_billing" class="pad-x-10 nounder "> Billing</a>
                                  </div>
                                  
                                </td>
                            </tr>
                            <tr>
                                <td class="p-0">

                                  <div class="{% if data.menu =='s5' %} set_active bg-white{% else %}bc-10 bord-bottom bw-2 p-8{%endif%}">
                                  
                                    <a href="/{{ current_user.id }}/_licenses" class="pad-x-10 nounder "> Licenses</a>
                                  </div>
                                  
                                </td>
                            </tr>
                            
                        </table>
                        
                    </div>
                </div>

                
                <div class="gcard">
                    <div class="gcard-title">
                        <i class="fa fa-shield"></i> Organization Settings
                    </div>
                    <div class="gcard bg-n">
                        <table class="table fs-0-9 bc-15">

                          {% if data.menu =='org' %}
                            <tr>
                                <td class="p-0">

                                  <div class="{% if data.menu =='org' %} set_active_org bg-white{% else %}bc-10 bord-bottom bw-2 p-8{%endif%}">
                                  
                                    <a href="/{{ current_user.id }}/_orgprofile" class="pad-x-10 nounder fc-b"> {{ data.user['name'] }}</a>
                                  </div>


                                
                                    
                                </td>
                            </tr>
                          {% else %}
                            <tr>
                                <td class="p-0">
                                  <div class="bc-10 bord-bottom bw-2 p-8">
                                  
                                    
                                  </div>
                                </td>
                            </tr>
                          {% endif %}

                            
                            
                        </table>
                        
                    </div>
                </div>

            </div>
            <div class="col-sm-9 alpha">  

                {% block settings %}

                <div class="gcard">
                    <div class="gcard-title bg-d">
              
                        <span class="fc-a fs-1-2"> <i class="fa fa-user"></i> Personal Settings: </span>
                        
              
                    </div> 
                    <div class="gcard-subtitle ">
                        <span class="fc-b"><strong>{{ data.user['name'] }}</strong> Profile</span>
                    </div>


                    

                    <div class="gcard-body p-20">
              
                        <form class="form-horizontal" action="" method="POST" role="form">

                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        
                                        <div class="col-sm-10">

                                          <input type="hidden" class="form-control" id="input_images_1"  name="profilepic" value="{{ data.user['profilepic'] }}">

                                          <div id='dropzone1' class="dropzone" style="min-height:0px; padding:10px 10px;"><span class="dz-message" ><i class="fa fa-camera fa-1x"> </i> Upload Photo</span></div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-7 spa30">

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label fc-g fs-0-9">Name</label>
                                        <div class="col-sm-10">
                                          <input type="text" id="name" name="name"  class="form-control input-sm" placeholder="Your Name" value="{{ data.user['name'] }}" >
                                        </div>
                                    </div>

                                    <div class="form-group">
                                      <label class="col-sm-2 control-label fc-g fs-0-9">Website</label>
                                      <div class="col-sm-10">
                                          <input type="text" id="url" name="url"  class="form-control input-sm" placeholder="Homepage, personal blog" value="{{ data.user['url'] }}">
                                       </div>
                                    </div>

                                    <div class="form-group">
                                      <label class="col-sm-2 control-label fc-g fs-0-9">Location</label>
                                      <div class="col-sm-10">
                                        <input type="text" id="location" name="location"  class="form-control input-sm" placeholder="Where do you live" value="{{ data.user['location'] }}">
                                      </div>
                                    </div>

                                    <div class="form-group">
                                      <label class="col-sm-2 control-label fc-g fs-0-9">OnLogin</label>
                                      <div class="col-sm-4">
                                        <input type="text" id="onlogin" name="onlogin"  class="form-control input-sm" placeholder="" value="{{ data.user['onlogin'] }}">
                                      </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary pull-right">Update profile</button>

                                </div>


                            </div>
                            
                        </form>
                    </div><!-- //close box -->
                </div>

                {% endblock %}

            </div>
        </div>
    </div>
</section>

{% endblock %}



{% block footscripts %}
<script type="text/javascript" src="/static/js/dropzone.js"></script>
{% endblock %}




{% block modals %}

  {% include 'avispa_rest/helpmodal.html' %}

{% endblock %}



{% block footfunctions %}

  <script>
  Dropzone.autoDiscover = false;
  var myDropzone1 = new Dropzone("#dropzone1", { 
        url: "/_tools/upload_via_aud?handle={{ data.handle }}",
        addRemoveLinks: true,
        maxfiles:1 
        });

  $( ".dz-size" ).css( "display", "none" );


  {% if data.user['profilepic'] %}


    {% for image in data.user['profilepic'].split(',') %}
      {% if image %}
        {% if image!='1' %}
          console.log("{{image}}");
          var fieldvalue = { "name": "Click for preview", "size": 12345, imgurl:"{{data.image_cdn_root}}/_images/{{data.handle}}/t75/{{image}}_t75.jpg"  };
          myDropzone1.options.addedfile.call(myDropzone1, fieldvalue);
          myDropzone1.options.thumbnail.call(myDropzone1, fieldvalue, "{{data.image_cdn_root}}/_images/{{data.handle}}/t75/{{image}}_t75.jpg"); 

        {% endif %}
      {% endif %}
    {% endfor %}

  {% endif %}



  //This function starts right after DropZone has returned a JSON file with image id and location
  myDropzone1.on("success", function(file,success) {
        //alert('Success::'+success);
          console.log(success)

        var obj = jQuery.parseJSON(success);
        //alert('flag1:'+obj.imgbase+obj.imgid);
        
        console.log('ref x34:'+obj.imgbase+obj.imgid);

          if(obj.error){

              alert(obj.error);

          }else{
              console.log('will change the value')
          var value = $( '#input_images_1' ).val();
            console.log('val:'+value)
          $( '#input_images_1' ).val(value+','+obj.imgid);
              console.log('Value Changed')
          }
    });


  myDropzone1.on("removedfile", function(file) {
      console.log('File removal intent:'+file);
      //var stringify = JSON.stringify(file.previewElement);
      var stringify = file.previewElement;
      console.log('JSONstringify:'+stringify);
        if(file){
          
          
          if(typeof file.xhr === 'undefined'){
            console.log('file.imgurl:'+file.imgurl);
            var imgurl = file.imgurl;
                  var parts = imgurl.split('/');
                  var filename = parts[parts.length-1];
                  var filenameparts = filename.split('_');
                  var resource2delete = filenameparts[0];
          }else{
            console.log('file.xhr.response:'+file.xhr.response);
          //It does exist in the widget and in the server
          var obj = jQuery.parseJSON(file.xhr.response);
          //var resource2delete = obj.imgbase+obj.imgid;
          var resource2delete = obj.imgid.toString();
                  //console.log('Resource to delete:'+resource2delete)
          }
          
          
          //Delete from Form Inputs
          var value = $( '#input_images_1' ).val();
          console.log('prevalue:'+value);
          var valuearray = value.split(",");
          console.log(valuearray);
              console.log('resource2delete:'+resource2delete);
          var indextodelete = jQuery.inArray(resource2delete,valuearray);
          console.log('indextodelete:'+indextodelete);
          if (indextodelete!=-1){
            valuearray.splice(indextodelete,1);
            value = valuearray.join(',');
            console.log('aftervalue:'+value);
            $( '#input_images_1' ).val(value);   
          }else{
                  console.log('Could not find the id to delete in the list ')
              }
          
          //Delete Resource in Server
          //Notice the method overload. We are sending DELETE via GET
          //This still needs to be implemented in the server side
          $.ajax({
          type: "GET",
          url: "/_tools/delete_via_aud?id="+resource2delete,
          success: function(response){
            //alert('Response:'+response);
          }
        })
        .done(function( msg ) {
        //alert( "Done: " + msg );
        });
           
          
          
        }
        
    });


  myDropzone1.on("error", function(file,error,xhr) {
      /* Error::Server responded with 0 code.*/
          var obj = jQuery.parseJSON(error);
        alert('Error:'+obj.error);
        //alert('XHR Object::'+xhr);
    });


  </script>
{% endblock %}


{% block footafterfunctions %}

  <script>
      $(document).ready(function() {
      
      //imgurl='http://dev3.plantrobot.com/bc31a46cb1c7f929626cff125d3bebe5'; 
      $(".dz-preview").on("click",function(){
          console.log('clicked');
          //console.log('before:'+imgurl);
          imgurl = $(this).children("div").children("img").attr("src");
          console.log('after:'+imgurl);
          
          $(this).magnificPopup({
              items: {
                src: imgurl+'?size=s'
              },
              type: 'image' // this is default type
           });

      });
      
      
      $('.dz-message').css('padding','0px 0px');
      
      
        
      });
  </script>


{% endblock %}






  
