<!-- MODALS FOR THIS PAGE / LOAD AT THE END -->


<!-- MODAL WHAT IS A USER GRAPH -->


 <div class="modal fade" id="intro-graph" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <!-- <h4 class="modal-title" id="myModalLabel">The User Graph</h4> -->
        <p class="fs-2">The User Graph</p>
        <p class="fs-0-8">The User graph measures your progress and shows your records.</p>
      </div>
      <div class="modal-body">

      
        <img class="img-responsive" src="/_static/images/graphics/graphexample.jpg">
        <div class="box box-help alert-dismissible-help" role="alert">

          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" style="right:0px;">&times;</span></button>
          <a href="#" class="alert-link nounder"> <i class="fa fa-warning"></i> NOTE: If you don't see any graph in your home is because there's not enough activity recorded.</a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>


<!-- MODAL WHAT IS A COLLECTION -->

 <div class="modal fade" id="intro-collection" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <!-- <h4 class="modal-title" id="myModalLabel">The User Graph</h4> -->
        <p class="fs-2">What is a Data Collection?</p>
        
      </div>
      <div class="modal-body">
          <p class="fs-2">Answer:</p>
      
            <p class="fs-1-2">
            A collection is a grouped set of data or digital content that is available to the world via an API (text, photos, videos or any digital file). <!-- <a href="" class="clearlink fs-0-8">(long answer here)</a> -->
            </p>
            <img class="img-responsive" src="/_static/images/graphics/wcollection.gif">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
