{% extends 'base.html' %}

{% block title %}
  My Ring - {{ title }}
{% endblock %}

{% block content %}
<!-- CONTENT HERE -->


<div class="container" >

<div class="row">
      <div class="col-sm-12 spa5" >
      </div>
</div>

  <div class="gcard">
    
      <!-- BOX CONTENT --> 

          <!-- TABS WILL SHOW -->
        {% if data.collection %} 
            {% if not data.raw %} 
                      {#{ ui.collection_big(data.handle, data.collection, data.ring ,6,1,'1 day ago', data.handle_profilepic) }#}
                      {{ ui.collection_big(data ,6,1,'1 day ago') }}

            {%endif%}
         {%endif%}

    <div class="row">
      {% if data.collection %}
      {% if not data.raw %} 
            
          <div class="col-sm-12">
            <div class="gcard-body">
                    {% endif %}
                      {%endif%}
                        {% block tabcontent %}
                        {% endblock %}
                      {% if data.collection %} 
                      {% if not data.raw %} 
            </div>    
          </div>
      {%endif%}
      {%endif%} 
    </div> 
  </div>



</div>


<!-- IMAGE GALLERY BODY -->
<div id="blueimp-gallery" class="blueimp-gallery" data-use-bootstrap-modal="false">

    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>




    
  
{% endblock %}

