{% extends 'base.html' %}

{% block title %}
	My Ring - {{ title }}
{% endblock %}



{% block content %}

<!-- CONTENT HERE -->

<div class="fc-g fs-0-8" style="position:fixed; bottom:0; right:0;">({% block findme %} get_a {% endblock %})</div>

<section>


    <div class="row hidden-xs">
      <div class="col-sm-12">
        <div class="text-right">
                  {% if data.today is defined %}
                          <p class="fs-0-8">
                          {{ data.today }} 
                          </p>
                  {%endif%} 

        </div>
        <div class="rhr4"></div>

      </div>

      
    </div>
 
</section>



<section class="">
  <div class="container-fluid">

      <!-- BOX CONTENT -->
          
      <div class="row">
        <!-- COLUMN 1 -->

                        
        <div class="col-sm-3 omega">

          <div class="bord-right">

            <h1>Collection Name</h1>
            <div class="text-s1 fs-1">
              <strong>{{data.ringlistlen}}</strong>
              
              {% if data.ringlistlen == 1 %} ring {% else %} rings {% endif %}
              <br/>
            
                <strong>3,456 </strong> data assets
              <br/>
            
                <strong>5 </strong>collaborators

            </div>
            <div class="spa30 hidden-xs"></div>
            
            <hr/>
            <p>Actions:</p>

            <a href="?rq=post&n=10" class="btn btn-warning btn-xs">
              <i class="fa fa-plus"></i> &nbsp; NEW RING
            </a>
            <br/>
            <a href="" class="btn btn-default btn-xs">
              <i class="fa fa-plus-circle fa-1x"></i> Invite
            </a>
            <br/>
            <a href="" class="btn btn-default btn-xs">
              <i class="fa fa-plus-circle fa-1x"></i> Campaign
            </a>
             <div class="spa10"></div>

            <div class="spa5"></div>
            <br/>
            <hr/>
            <p>Other collections</p>
          </div>  
        </div>

        <!-- COLUMN 2 -->

        <div class="col-sm-9" >
          <!-- TABS -->
          <div class="spa10"></div>
          <div class="row">
            <div class="col-sm-1 omega">
          
              <div class="spa15"></div>
              <a href="/{{ data.handle }}" class="text-center">
                <div class="tab-box-d tab-on2{% if tab=='rep' %}tab-on{% endif %}">
                  <i class="fa fa-circle-o fa-1x"></i>
                </div>
              </a>
              
              <a href="" class="text-center">
                <div class="tab-box-d{% if tab=='mon' %}tab-on{% endif %}">
                  <i class="fa fa-crosshairs fa-1x"></i>
                </div>
              </a>
              <a href="" class="text-center">
                <div class="tab-box-d {% if tab=='col' %}tab-on{% endif %}">
                  <i class="fa fa-users fa-1x"></i>
                </div>
              </a> 
              
              <a href="" class="text-center">
                <div class="tab-box-d  {% if tab=='cam' %}tab-on{% endif %}">
                 <i class="fa fa-globe fa-1x"></i>
                </div>
              </a>

              <a href="" class="text-center">
                <div class="tab-box-d  {% if tab=='cam' %}tab-on{% endif %}">
                 <i class="fa fa-wrench fa-1x"></i>
                </div>
              </a> 
            </div>

            <div class="col-sm-11 alpha omega">
              <div class="row">
                <div class="col-sm-12 pl-40 pb-10" >

                  <span class="label label-m pull-left" style="margin:5px 20px 0 0;">AVISPA</span>
                  <ol class="breadcrumb fs-0-8" style="padding:5px 15px 0 20px; ">
                        
                        <li><a href="/{{ data.handle }}"><i class="fa fa-arrow-right"></i> {{ data.handle }}</a> </li>  
                  {% block crumbs %}
                  
                          

                  {% endblock %}
                  </ol>
                </div> 
                
                  
              </div>
            {% block tabcontent %}

        

            {% endblock %} 
            </div> 


          </div>  

        </div><!--  close col-9 -->
      </div> 
                 
    
  </div>
</section>

    
	
{% endblock %}

