{% extends 'base.html' %}

{% block title %}
  My Ring - {{ title }}
{% endblock %}



{% block content %}

<!-- CONTENT HERE -->

<div class="fc-g fs-0-8" style="position:fixed; bottom:0; right:0;"><span class=" label bird">&nbsp;</span></div>

<section>


    <div class="row hidden-xs">
      <div class="col-sm-12">
        <div class="text-right">
                  {% if data.today is defined %}
                          <p class="fs-0-8">
                          {{ data.today }} 
                          </p>
                  {%endif%} 

        </div>
        <div class="rhr4"></div>

      </div>

      
    </div>
 
</section>


<section>
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12 pl-40 pb-10" >
            
           
            <ol class="breadcrumb fs-0-8" style="padding:5px 15px 0 20px; ">
                  
                   <li><a href="/{{ data.handle }}"><i class="fa fa-arrow-right"></i> {{ data.handle }}</a> </li> 
            {% block crumbs %}
            
                    

            {% endblock %}
            </ol>
          </div> 
        </div>
        
        <!-- <div class="rn-box">
          

              <table class="table " cellpadding="0" cellspacing="0">
                
                    
                    {{ ui.collection_big('hotels',6,1,'1 day ago') }}
              </table>
        </div>  -->     
      </div>
    </div>

  

      <!-- BOX CONTENT -->
          
      <div class="row">


        <!-- COLUMN 1 -->

        <!-- <div class="col-sm-2 col-xs-12 omega">
              <a href="/" class="text-center">
                <span class="tab-box-d {% if tab=='rep' %} tab-on2 {% endif %}">
                  <i class="fa fa-circle-o fa-1x"></i>
                  <p class="hidden-xs fs-0-6">Rings</p>
                </span>
              </a>
              
              <a href="/monitoring" class="text-center">
                <span class="tab-box-d {% if tab=='mon' %}tab-on2{% endif %}">
                  <i class="fa fa-crosshairs fa-1x"></i>
                  <p class="hidden-xs fs-0-6">Monitoring</p>
                </span>
              </a>
              <a href="/collab" class="text-center">
                <span class="tab-box-d {% if tab=='col' %}tab-on2{% endif %}">
                  <i class="fa fa-users fa-1x"></i>
                  <p class="hidden-xs fs-0-6">Collaborators</p>
                </span>
              </a> 
              
              <a href="/campaigns" class="text-center">
                <span class="tab-box-d  {% if tab=='cam' %}tab-on2{% endif %}">
                 <i class="fa fa-globe fa-1x"></i>
                 <p class="hidden-xs fs-0-6">Campaigns</p>
                </span>
              </a>

              <a href="settings" class="text-center">
                <span class="tab-box-d  {% if tab=='set' %}tab-on2{% endif %}">
                 <i class="fa fa-wrench fa-1x"></i>
                 <p class="hidden-xs fs-0-6">Settings</p>
                </span>
              </a> 

        </div> -->




        <div class="col-sm-12 alpha" >
          <!-- TABS -->
           
          
            

            
              
            {% block tabcontent %}

        

            {% endblock %} 
            


           

        </div><!--  close col-9 -->

      </div> 
                 
    
  
</section>

    
  
{% endblock %}

