        {% extends 'avispa_rest/base.html' %}
        {% block content %}
          



          <a href="/" class="btn btn-default btn-fix1">
          <h4 class="pull-left"><span class="label label-c">C</span></h4>
            <h3><i class="fa fa-bug"></i></h3>Avispa
          </a>
          <a href="" class="btn btn-default btn-fix1">
          <h4 class="pull-left"><span class="label label-x">X</span></h4>
            <h3><i class="fa fa-bug fa-1x"></i></h3>Abeja
          </a>
          <a href="" class="btn btn-default btn-fix1">
          <h4 class="pull-left"><span class="label label-x">X</span></h4>
            <h3><i class="fa fa-bug fa-1x"></i></h3>Catarina
          </a>
          <br/>
          <a href="" class="btn btn-default btn-fix1">
          <h4 class="pull-left"><span class="label label-x">X</span></h4>
            <h3><i class="fa fa-bug fa-1x"></i></h3>Chapulin
          </a>
          <a href="" class="btn btn-default btn-fix1">
          <h4 class="pull-left"><span class="label label-m">M</span></h4>
            <h3><i class="fa fa-bug fa-1x"></i></h3>Oruga
          </a>
          <a href="" class="btn btn-default btn-fix1">
          <h4 class="pull-left"><span class="label label-c">C</span></h4>
            <h3><i class="fa fa-bug fa-1x"></i></h3>Papalotl
          </a>



        {% endblock %}