{% extends 'base.html' %}


{% block content %}


<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3">

                <div class="gcard">


                    <div class="row p-20">
                        <!-- USER ::::::::::::::::::::::   -->
                        <div class="col-xs-1 col-sm-12 pt-20 hidden-xs text-center">

                            {% if data.handle_profilepic %}
                            <img src="{%if data.cu_profilepic%}{{data.image_cdn_root}}/{{data.handle}}/t150/{{data.handle_profilepic}}.jpg{%else%}/_static/images/ph/ph_user.gif{%endif%}"
                                 class="img-circle img-responsive p-20">
                            {%else%}

                            <img src="/_static/images/ph/ph_user.gif" class="img-circle img-responsive">
                            <br/>
                            {%endif%}

                            <br/>
                        </div>
                        <div class="col-xs-10 col-sm-12 text-center">
                               
                                <span class="fc-b fs-1-5 lh-1 m-y-10">


                                    {% if data.handle_profilepic %}
                                    <img src="{%if data.cu_profilepic%}{{data.image_cdn_root}}/{{data.handle}}/t150/{{data.handle_profilepic}}.jpg{%else%}/_static/images/ph/ph_user.gif{%endif%}"
                                         class="user-xsmall float-left visible-xs">
                                    {%else%}
                                    <img src="/_static/images/ph/ph_user.gif" class="user-xsmall float-left visible-xs">
                                    {% endif %}

                                    {% if data.handle_actualname %}  
                                        {{data.handle_actualname}} 
                                        <br/>
                                    {% endif %}

                                </span>

                            <span class="fc-g fs-0-7">@{{data.handle}}</span>

                            {% if data.handle_location %}

                            <span class="fc-g fs-0-7"> | {{data.handle_location}}</span>
                            <br/>
                            {% endif %}
                            {% if data.handle_about %}

                            <p class="fs-0-7 fc-m"><em>{{data.handle_about}}</em></p>
                            {% endif %}

                            <div class="spa10 hidden-xs">
                                &nbsp;
                            </div>

                        </div>


                        <!-- USER ORGS ::::::::::::::::::::::   -->
                        <div class="col-xs-1 col-sm-offset-1 col-sm-11 col-md-12 ">
                            <div class="">

                                <div class="fs-0-8 lh-1-5">

                                    <a class="dropdown-toggle" href="/{{data.handle}}/_profile">
                                        <i class="fa fa-gear p-x-10"></i>
                                        <span class="hidden-xs">Settings</span>
                                    </a>
                                    <br/>
                                    <a class="dropdown-toggle" href="/_orgregister">
                                        <i class="fa fa-plus p-x-10"></i>
                                        <span class="hidden-xs">Add entity</span>
                                    </a>
                                    <br/>
                                    <a class="dropdown-toggle" href="/_logout">
                                        <i class="fa fa-sign-out p-x-10"></i>
                                        <span class="hidden-xs">Log out</span>
                                    </a>

                                </div>


                            </div>
                            <div class="spa20 hidden-xs">
                                &nbsp;
                            </div>
                        </div>


                    </div>
                </div>

            </div>

            <!-- SECOND COLUMN :::::::::::::::::::::::::::::::::::::::::-->


            <div class="col-xs-12 col-sm-9 col-md-9 ">

                <div class="row spa50">

                    <!-- ROW A -->
                    <div class="col-xs-6 col-sm-8 col-md-8">

                        <i class="fa fa-check-circle "></i>
                        <span class="fw-c fs-0-8 p-x-20 hidden-xs">Contributor</span>

                        <span class="fs-0-8 p-x-20">
                            <span class="hidden-xs">Status: </span>
                            <span class="badge bg-j fs-0-8">Active</span>
                        </span>
                        <span class="fs-0-8 bord-left p-x-20">
                            <span class="hidden-xs">Organizations: </span>
                            <strong>{{data.organizations|length}}</strong> 
                        </span>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 cornerfilter pr-20">
                        <ul class="nav nav-tabs navbar-right float-right" role="tablist">
                            <li role="presentation" class="active"><a href="#icons" aria-controls="home" role="tab"
                                                                      data-toggle="tab"><i class="fa fa-list"></i></a>
                            </li>
                            <li role="presentation"><a href="#list" aria-controls="profile" role="tab"
                                                       data-toggle="tab"><i class="fa fa-th"></i></a></li>
                        </ul>
                    </div>

                    <!-- ROW B -->
                    <div class=" col-sm-11">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active pt-20" id="icons">
                                <table class="table table-condensed table-hover table-clearhover">

                                    <tr class=" fs-0-6 fc-m">

                                        <th>Entity</th>
                                        <th class="hidden-xs">Handle</th>
                                        <th class="hidden-xs">Location</th>
                                        <th>Role</th>
                                        <th class="hidden-xs"></th>


                                    </tr>
                                    {% for organization in data.organizations %}
                                    <tr class=" fs-0-8">
                                        <td>
                                            <a href="/{{organization['handle']}}/_home">
                                                <img src="{%if organization['profilepic'] %}{{data.image_cdn_root}}/{{organization['handle']}}/t75/{{organization['profilepic']}}.jpg{%else%}/_static/images/ph/ph_org2.gif{%endif%}"
                                                     class="pic-org-2">

                                                <span class="p-x-10">{{ organization['handle'] }}</span>
                                            </a>
                                        </td>
                                        <td class="hidden-xs">
                                            <a href="/{{organization['handle']}}/_home" class="fc-g">
                                                {{ organization['handle'] }}
                                            </a>
                                        </td>
                                        <td class="hidden-xs">
                                            {{ organization['location'] }}
                                        </td>
                                        <td colspan="2">
                                            <span class="badge bg-d fs-0-7 ">collaborator</span>
                                        </td>

                                        <td class="text-right hidden-xs">

                                            <a href="/{{organization['handle']}}/_orgprofile" type="button"
                                               class="fc-b nounder" data-toggle="tooltip"
                                               title="{%if organization['handle'] %}{{organization['handle']}}{%else%}Handlemissing{%endif%}">

                                                <i class="fc-g fa fa-info-circle"></i>

                                            </a>

                                        </td>

                                    </tr>
                                    {% endfor %}

                                    {% if 'post_a' in data.user_authorizations %}
                                    <tr>
                                        <td colspan="4">
                                            <a class="btn btn-primary btn-xs" href="/_orgregister"
                                               class="hidden-xs pad-x-10 spa20" style="width:100%">
                                                <i class="fa fa-plus"></i> Add new Entity
                                            </a>
                                        </td>
                                    </tr>
                                    {%endif%}

                                </table>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="list">
                                <div class="fs-0-8 ">
                                    {% for organization in data.organizations %}
                                    <a href="/{{organization['handle']}}/_home" data-toggle="tooltip"
                                       title="{%if organization['handle'] %}{{organization['handle']}}{%else%}Handlemissing{%endif%}">
                                        <img src="{%if organization['profilepic'] %}{{data.image_cdn_root}}/{{organization['handle']}}/t75/{{organization['profilepic']}}.jpg{%else%}/_static/images/ph/ph_org2.gif{%endif%}"
                                             class="pic-org-1 mt-10">
                                    </a>
                                    {% endfor %}

                                    {% if 'post_a' in data.user_authorizations %}
                                    <a href="/_orgregister" data-toggle="tooltip" title="Create an organization"
                                       class="hidden-xs pad-x-10"><i class="fa fa-plus-circle fc-d"></i></a>
                                    {%endif%}
                                </div>

                            </div>

                            <div>


                            </div>

                        </div>


                    </div>

                </div>


            </div>
        </div>


    </div>

    </div> <!-- CLOSE CONTAINER -->
</section>
{% endblock %}

{% block footafterfunctions %}


{% endblock %}


