{% extends 'base.html' %}

{% block title %}
	My Ring - {{ title }}
{% endblock %}


{% block content %}

<!-- CONTENT HERE -->


<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 text-right">
        <img class="img-responsive center-block user-big" src="/static/images/dosx.jpg" style="float:left; margin-right:10px;" alt="MyRing">


        <h1 class="text-lead fw-300 pull-left"> {#{ dic['first'] }#} <span class="text-gray">{#{ dic['last'] }#}</span><br/><span class="text-lgray pull-left fs-0-6">{#{ dic['username'] }#}</span></h1>
        <br/>

        
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="spa20"></div>
      </div>
      
    </div>
  </div>  
</section>



<section>
  <div class="container-fluid">
      <div class="row">
        

        <div class="col-sm-12">

          <div class="rn-box-solo">
              <div class="row">
                <div class="col-sm-12">
                    <img style="height:200px;" class="img-responsive center-block"  src="/static/images/useractions.jpg" alt="MyRing">
                </div>
              </div>
          </div>
          <div class="spa10"></div>
        </div>
        
      </div>

      <div class="row">
        <div class="col-sm-6">
          <!-- BOX CONTENT -->
          <div class="rn-box-title">

              <a href="/{{data.handle}}/_collections" type="button" class="btn btn-info btn-xs pull-right">
              see all</a> 

              <strong>
                  <h4>Ring Collections</h4>
              </strong>


            </div>
          <div class="rn-box-solo">
              <table class="table table-striped table-condensed" cellpadding="0" cellspacing="0">
              
                  {% for collection in data.collections.collectionlist %}  
                    {% if collection.valid %}
                      {{ ui.collection(collection.collectionname,6,1,'1 day ago',data.handle+'/_collections/'+collection.collectionname) }}
                      <tr>
                        <td></td>
                        <td colspan="2">
                          <table class="table table-striped">
                            {% for ring in collection.rings %}  
                              {{ ui.panel_collections(ring.ringname, '#fce121', ring.count , '85', '',data.handle+'/'+ring.ringname,collection.collectionname) }}
                            {% endfor %}
                              
                          </table>
                        </td>
                        
                      </tr>
                    {% endif %}
                  {% endfor %}

                       
              </table>  

          </div> 
          <a href="/{{data.handle}}/_collections?rq=post">New Collection</a>
          <br/><br/><br/>
        </div><!-- close  --> 

        <div class="col-sm-6">
          <div class="rn-box-title">
              <a href="/{{data.handle}}" type="button" class="btn btn-info btn-xs pull-right">
              see all</a> 
              
                  My Rings
              
          </div>
          <div class="rn-box-solo">

          <table class="table table-striped table-condensed">
          {% for ring in data.rings.ringlist %}

            {{ ui.panel_rings(ring.ringname, '#924ea0', ring.count, '36', '',data.handle+'/'+ring.ringname) }}

          {% endfor %}

          </table>                  
                            
          </div> 
          <a href="/{{data.handle}}?rq=post&n=10">New Ring</a>
          
        </div><!-- close 2 --> 
                <!-- COLUMN 1 -->
        <!-- COLUMN 1 -->           
    </div>
  </div>
</section>

    
	
{% endblock %}

