<script src="/_static/assets/tagsinputs/bootstrap-tagsinput.min.js"></script>

<script type="text/javascript">

$(function() {
  $('#input_{{ field.FieldId }}, select').on('change', function(event) {
    
    //Update the value that will be sent
    var $element = $(event.target);
    $("#input_{{ field.FieldId }}_hidden").val(JSON.stringify($element.tagsinput('items')))

    //Update the PREVIEW container
    var $container = $element.closest('.example');
    if (!$element.data('tagsinput'))
      return;    
    $('#code_{{ field.FieldId }}', $('pre.items', $container)).html(JSON.stringify($element.tagsinput('items')));
    

    
  }).trigger('change');

});


</script>
