<script>
  $(document).ready(function(){
    function menutoggle(item_id,FieldId,menu_dict){
      var num = item_id+"_"+FieldId,
        wt= '#wt_'+num, //div wrapper
        wb= '#wb_'+num,
        t= '#t_'+num,//div wrapper
        b= '#b_'+num, //menu button
        shortname= menu_dict[item_id]["short"],
        longname= menu_dict[item_id]["long"],
        uppername= shortname.toUpperCase(),
        menu_hide = true,
        default_item= '1';

{% if data.item[field.FieldId] %}
      fvalue = {}

{% for s in data.item[field.FieldId] %}
      fvalue['{{s}}'] = '{{data.item[field.FieldId][s]}}'
{% endfor %}

      console.log(fvalue)
      if(fvalue[shortname]){
          //This exists
        console.log('This exists:'+shortname)
        menu_hide= false;
        var inputvalue = fvalue[shortname];
      }else{
          //fvalue[shortname] = '';
          var inputvalue = '';  
      }
{% else %}
      //If new
      var inputvalue = ''; 
      if(item_id == default_item){
        menu_hide = false;
      }     
{% endif %}

      //SETTING DIVS WRAPPERS
{% if field.FieldWidget == 'textarea_multilang' %}
      $(wt).html("<div class='input-group' id='t_"+num+"'><textarea class='form-control flag-aware increment inp' placeholder='{{field.FieldHint}}' rows='8'>"+inputvalue+"</textarea><span class='input-group-addon fs-0-7 name' ></span></div>");
{% else %}
      $(wt).html("<div class='input-group' id='t_"+num+"'><input type='text' class='form-control flag-aware increment inp' placeholder='{{field.FieldHint}}' value='"+inputvalue+"'><span class='input-group-addon fs-0-7 name' ></span></div>");
{% endif %}
      //SETTING BUTTON WRAPPER
      $(wb).html("<a id='b_"+num+"'><span class='fc-b item'><i class='fa fa-toggle-on icon'></i> <span class='name'></span></span></a>"); 
  

      //SET NAME TAGS
      $(t).find('.name').append(uppername);
      $(b).find('.name').append(longname);

      //MAKE DEFAULT VISIBLE
      if (menu_hide) {
        $(t).hide(); 
        $(b).find('.icon').switchClass( 'fa-toggle-on' ,'fa-toggle-off');
        $(b).find('.item').switchClass('fc-b' , 'fc-g');
      }

      //MAKING OTHER ITEMS VISIBLE
      $(b).click(function() {     
        $(t).toggle("slide", { direction: "up" }, 500);
        $(b).find('.icon').toggleClass('fa-toggle-off fa-toggle-on');
        $(b).find('.item').toggleClass('fc-b fc-g');
      });

      //INPUT , OUTPUT
      inp= $(t).find('.inp');
      inp.on("change paste", function(){
        oldvalue = $("#hidden{{ field.FieldOrder }}").val();
        if(oldvalue==''){
          oldvalue = '{}';
        }

        //Here, check if oldvalue is an object or not. If it is a string delete it.
        console.log(oldvalue);
        try{
          var jsonold = JSON.parse(oldvalue);        
        }
        catch{
          //Invalid JSON. Reset it
          console.log('Invalid JSON. Reset it')
          var jsonold = {};
        }

        console.log(jsonold)
        jsonold[shortname] = this.value;
        $("#hidden{{ field.FieldOrder }}").val(JSON.stringify(jsonold));

      });
    } //END menutoogle function

    // ITERATE MENU
    for(l in menu_{{ field.FieldId}}){
      console.log(l);
      menutoggle(l,'{{ field.FieldId}}',menu_{{ field.FieldId}} );
    }

  });
</script>