<script>
    var menu{{ field.FieldId}} ={
      "1":{"short":"general", "long":"General Info"},
      "2":{"short":"Customer", "long":"Customer Service"},
      "3":{"short":"Reservations", "long":"Reservation"},
      "4":{"short":"Press", "long":"Press Inquiries"},
      "5":{"short":"Groups", "long":"Groups & MICE"},
      "6":{"short":"Lost&Found", "long":"Lost & Found"},
      "7":{"short":"Other", "long":"Other Mail"}
    }

</script>


{% include 'avispa_rest/w_input_multi1_functions.html' %}