<script type="text/javascript">
    $(document).ready(function(){
        
        var value = $( '#input_items_{{ field.FieldOrder }}' ).val();
        console.log(value);
        if(value!=''){
            var items = value.split(',');
            console.log(items);
            for(i in items){
                //item is a URI, you need to subtract host,handle,ring,idx from it
                //  http://127.0.0.1:8080/_api/blalab/chiles/4033241872
                if(items[i]!=''){
                    console.log(items[i]);
                    item_parts = items[i].split('/');
                    console.log('item_parts:');
                    console.log(item_parts);
                    host = item_parts[0]+'//'+item_parts[2];

                    if(item_parts[3]=='_api'){
                        handle = item_parts[4];
                        ring = item_parts[5];
                        idx = item_parts[6];
                    }else{
                        handle = item_parts[3];
                        ring = item_parts[4];
                        idx = item_parts[5];
                    }
                    
                    if(load_item_preview(host,handle,ring,idx,'get')){
                        console.log('Item retrieved and placed in the interface');
                    }else{
                        console.log('Item could not be placed in the interface');
                    }
                }
            }
        }

    });
</script>
<script type="text/javascript">
    
    function load_item_preview(host,handle,ring,idx,action){

        var api_url = host+'/_api/'+handle+'/'+ring+'/'+idx+'?schema=1';
        var canonical_uri = host+'/'+handle+'/'+ring+'/'+idx;
        var slug_uri = 'u'+canonical_uri.toLowerCase().replace(/[^\w ]+/g,'').replace(/ +/g,'-');


        $.get( api_url, function( data_raw ) {
            //$( ".result" ).html( data );
            console.log(data_raw);
            i = jQuery.parseJSON( data_raw );

            console.log(i.items[0]);

            var widgets = new Array();
            for(f in i.fields){  
                ff = i.fields[f];
                console.log(ff);
                widgets[ff.FieldId] = ff.FieldWidget;
            }

            console.log(widgets);

            out = '';       

            out += '<div id="'+slug_uri+'" style="box-shadow: 1px 1px 2px #555555; border-radius: 5px; padding: 10px 25px 10px 25px;"><b><h4>'+ring+'</h4></b>';

            //out += '<a class="iframe cboxElement" href="/'+handle+'/'+ring+'/'+idx+'?raw=1" type="button" class="btn btn-info btn-xs"><i class="fa fa-eye"></i></a>';

            out += '<a class="iframe cboxElement" href="/'+handle+'/'+ring+'/'+idx+'?rq=put&raw=1" type="button" class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i></a>';

            out += '<a class="iframe cboxElement pull-right" href="/'+handle+'/'+ring+'/'+idx+'?method=delete&raw=1" type="button" class="btn btn-default btn-xs"><i class="fa fa-times"></i></a>';

            out +='<br/>';

            out += '<table class="table table-condensed table-striped">';    
            for( p in i.items[0] ){
                //#REFACTOR This needs to be replaced soon .
                if(p != '_id'){
                    console.log(p);
                    out += '<tr>';
                    out += '<td><b>'+p+'</b>:</td>';
                    if(widgets[p]=='images'){
                        ii = i.items[0][p];
                        console.log(ii);
                        if(typeof ii == 'object'){
                            img_list = ii;
                        }else{
                            img_list = ii.split(',');
                        }

                        
                        var content = ''
                        for (img in img_list){
                            content += '<img style="width:75px;" src="{{data.host_url}}/_images/'+handle+'/t75/'+img_list[img]+'_t75.jpg" class="img-thumbnail" >';
                        }
                        
                    }else{
                        var content = i.items[0][p];
                    }
                    out += '<td>'+content+'</td>';
                    out += '</tr>';
                }
            }
            out += '</table>';
            out +='</div>';
            console.log(out)

            if(action=='post' || action=='get'){
                $( '#addeditem_{{ field.FieldOrder }}' ).append(out);
            }else if(action=='put'){
                $( "#"+slug_uri ).replaceWith( out );
            }

            

            $(".iframe").colorbox({
                        transition:"none",
                        iframe:true, 
                        width:"50%", 
                        height:"20px",
                        opacity:0.7
                    });
        });

        return true;

    }
</script>
<script type="text/javascript">
    $(document).ready(function(){
        $(".iframe").colorbox({
            transition:"none",
            iframe:true, 
            width:"50%", 
            height:"80%",
            opacity:0.7
        });

        $(".callbacks").colorbox({
            onOpen:function(){ alert('onOpen: colorbox is about to open'); },
            onLoad:function(){ alert('onLoad: colorbox has started to load the targeted content'); },
            onComplete:function(){ alert('onComplete: colorbox has displayed the loaded content'); },
            onCleanup:function(){ alert('onCleanup: colorbox has begun the close process'); },
            onClosed:function(){ alert('onClosed: colorbox has completely closed'); }
        });



    });
</script>
<script type="text/javascript">
    
        // Create IE + others compatible event handler
        var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
        var eventer = window[eventMethod];
        var messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";



        // Listen to message from child window
        eventer(messageEvent,function(e) {
            console.log(e)
            if(e.origin !== '{{data.host_url}}') return;
            
            //http://stackoverflow.com/questions/10715801/javascript-decoding-html-entities
            //var doc = $('<div/>').html(e.data).text();
            //console.log('parent received message!:  ',doc); 
            //var obj = jQuery.parseJSON(doc);
            //console.log('JSON:',obj)

            if(e.error){
                alert(e.error);
            }else{
                //console.log('will change the value')
                var value = $( '#input_items_{{ field.FieldOrder }}' ).val();
                //console.log('val:'+value);
                 

                console.log(e.data)
                var data = $('<div/>').html(e.data).text();
                console.log(data)
                var obj = jQuery.parseJSON(data);
                console.log(obj)

                var canonical_uri = '{{data.host_url}}/'+obj.uri;
                var slug_uri = 'u'+canonical_uri.toLowerCase().replace(/[^\w ]+/g,'').replace(/ +/g,'-');

                if(obj.ui_action=='post'){
                    //Create this item in the UI
                    comma = '';
                    if(value != ''){ var comma = ','; }                
                    $( '#input_items_{{ field.FieldOrder }}' ).val(value+comma+canonical_uri);
                    console.log('Value Changed');

                    var parts = obj.uri.split('/')
                    var host = '{{data.host_url}}'
                    var handle = parts[0]
                    var ring = parts[1]
                    var idx = parts[2]

                    if(load_item_preview(host,handle,ring,idx,obj.ui_action)){  
                        console.log('Item added to the interface');
                    }else{
                        console.log('Item could not be added to the interface');
                    }


                }else if(obj.ui_action=='put'){  
                    //Make the load_item_preview function reload in the id=slug_uri
                    // Refresh this item in the UI
                    var parts = obj.uri.split('/')
                    var host = '{{data.host_url}}'
                    var handle = parts[0]
                    var ring = parts[1]
                    var idx = parts[2]

                    if(load_item_preview(host,handle,ring,idx,obj.ui_action)){  
                        console.log('Item updated in the interface');
                    }else{
                        console.log('Item could not be updated in the interface');
                    }

                }else if(obj.ui_action=='delete'){
                    // Delete this item from the UI
                    valueparts = value.split(',')
                    var key = jQuery.inArray( canonical_uri, valueparts )
                    valueparts.splice(key)
                    value = valueparts.join()
                    $( '#input_items_{{ field.FieldOrder }}' ).val(value);
                    //Find the part and remove it
                    console.log('Remove id:'+slug_uri)
                    //Remove id:uhttp1270018080blalabchiles1523381356
                    //          uhttp1270018080blalabchiles1523381356
                    
                    $( "#"+slug_uri ).remove();

                }


                
  
                
                

                
            }
        },false);

</script>