<div class="form-group">
    <label for="{{ field.FieldId }}" class="col-sm-2 control-label">{% if field.FieldLabel %}{{ field.FieldLabel}}{% else %}{{ field.FieldName }}{% endif %}{% if field.FieldRequired %}*{% endif %}</label>
    <div class="col-sm-10">
    		
      			<textarea class="form-control input-sm flag-aware" order="{{ field.FieldOrder }}" name="{{ field.FieldId }}" placeholder="{% if field.FieldHint %}{{ field.FieldHint }}{% endif %}" rows="5">{{ data.item[field.FieldId]|nonone }}</textarea>

     </div>
      	
    
</div>


