

<script>

$(document).ready(function(){

    var b = 0;
    $('.more').on('click', function () {
         b++;
         
         var div = $(this).prev().clone()
         div.find('input').val('');
         div.appendTo($(this));
         div.find(".increment").attr("id",function(i,id){
             return id.replace(/\d+/,b)
         })

         $(this).before(div);

    }); 

    //input
    // $('#in_l1').on("input", function() {
    //     $('#out_l1').text(this.value);
    // });
    //flag
    // $('#lang0').on("input", function() {
    //     $('#out_01').text(this.value);
    // });



// $('#act_02').on("input", function() {
//   if(this.value=='1'){

//   }

// });


   
    

});

</script>


<script>
$(document).ready(function(){


    var a01= $('#a01').val();
    var a02= $('#a02').val();
    var a03= $('#a03').val();
    var a04= $('#a04').val();
    var a05= $('#a05').val();
    var a06= $('#a06').val();
    var a07= $('#a07').val();
    var a08= $('#a08').val();
    var a09= $('#a09').val();

    var l01='eng';
    var l02='spa';
    var l03='por';
    var l04='ger';
    var l05='fra';
    var l06='ita';
    var l07='chi';
    var l08='jap';
    var l09='rus';

    $('#in_01').on("input", function() {
        $('#out_l1').text(this.value);
    });
    $('#in_02').on("input", function() {
        $('#out_l2').text(this.value);
    });
    $('#in_03').on("input", function() {
        $('#out_l3').text(this.value);
    });
    $('#in_04').on("input", function() {
        $('#out_l4').text(this.value);
    });
    $('#in_05').on("input", function() {
        $('#out_l5').text(this.value);
    });
    $('#in_06').on("input", function() {
        $('#out_l6').text(this.value);
    });
    $('#in_07').on("input", function() {
        $('#out_l7').text(this.value);
    });
    $('#in_08').on("input", function() {
        $('#out_l8').text(this.value);
    });
    $('#in_09').on("input", function() {
        $('#out_l9').text(this.value);
    });




    //UNO


    $( "#b_01" ).click(function() {     
       $('#t_01').toggle("slide", { direction: "up" }, 500);
       $("#i_01").toggleClass('fa-toggle-on fa-toggle-off');
       $("#m_01").toggleClass('fc-b fc-g');
       $( "#d_01" ).toggle(); 
    });

    //TWO
    if (a02 < '1') {
      $('#t_02').hide();
      $('#d_02').hide();
    }

    $( "#b_02" ).click(function() {     
       $('#t_02').toggle("slide", { direction: "up" }, 500);
       $("#i_02").toggleClass('fa-toggle-on fa-toggle-off');
       $("#m_02").toggleClass('fc-b fc-g');
       $( "#d_02" ).toggle(); 
    });

    //THREE
    if (a03 < '1') {
      $('#t_03').hide();
      $('#d_03').hide();
    }

    $( "#b_03" ).click(function() {     
       $('#t_03').toggle("slide", { direction: "up" }, 500);
       $("#i_03").toggleClass('fa-toggle-on fa-toggle-off');
       $("#m_03").toggleClass('fc-b fc-g');
       $( "#d_03" ).toggle(); 
    });

    //FOUR
    if (a04 < '1') {
      $('#t_04').hide();
      $('#d_04').hide();
    }

    $( "#b_04" ).click(function() {     
       $('#t_04').toggle("slide", { direction: "up" }, 500);
       $("#i_04").toggleClass('fa-toggle-on fa-toggle-off');
       $("#m_04").toggleClass('fc-b fc-g');
       $( "#d_04" ).toggle(); 
    });

    //FIVE
    if (a05 < '1') {
      $('#t_05').hide();
      $('#d_05').hide();
    }

    $( "#b_05" ).click(function() {     
       $('#t_05').toggle("slide", { direction: "up" }, 500);
       $("#i_05").toggleClass('fa-toggle-on fa-toggle-off');
       $("#m_05").toggleClass('fc-b fc-g');
       $( "#d_05" ).toggle(); 
    });

    //SIX
    if (a06 < '1') {
      $('#t_06').hide();
      $('#d_06').hide();
    }

    $( "#b_06" ).click(function() {     
       $('#t_06').toggle("slide", { direction: "up" }, 500);
       $("#i_06").toggleClass('fa-toggle-on fa-toggle-off');
       $("#m_06").toggleClass('fc-b fc-g');
       $( "#d_06" ).toggle(); 
    });

    //SIX
    if (a07 < '1') {
      $('#t_07').hide();
      $('#d_07').hide();
    }

    $( "#b_07" ).click(function() {     
       $('#t_07').toggle("slide", { direction: "up" }, 500);
       $("#i_07").toggleClass('fa-toggle-on fa-toggle-off');
       $("#m_07").toggleClass('fc-b fc-g');
       $( "#d_07" ).toggle(); 
    });

    //EIGHT
    if (a08 < '1') {
      $('#t_08').hide();
      $('#d_08').hide();
    }

    $( "#b_08" ).click(function() {     
       $('#t_08').toggle("slide", { direction: "up" }, 500);
       $("#i_08").toggleClass('fa-toggle-on fa-toggle-off');
       $("#m_08").toggleClass('fc-b fc-g');
       $( "#d_08" ).toggle(); 
    });

    //NINE
    if (a09 < '1') {
      $('#t_09').hide();
      $('#d_09').hide();
    }

    $( "#b_09" ).click(function() {     
       $('#t_09').toggle("slide", { direction: "up" }, 500);
       $("#i_09").toggleClass('fa-toggle-on fa-toggle-off');
       $("#m_09").toggleClass('fc-b fc-g');
       $( "#d_09" ).toggle(); 
    });


});
</script>





