                                <div class="form-group">
                                    <label for="{{ field.FieldId }}" class="col-xs-12 col-sm-3 control-label">{% if field.FieldLabel %}{{ field.FieldLabel}}{% else %}{{ field.FieldName }}{% endif %}{% if field.FieldRequired %}*{% endif %}</label>
                                    <div class="col-xs-12 col-sm-9">

                                      <input type="hidden" class="form-control input-sm flag-aware" order="{{ field.FieldOrder }}" id="input_images_{{ field.FieldOrder }}" placeholder="{{ field.Hint }}" name="{{ field.FieldId }}" value="{{ data.item[field.FieldId] }}">

                                      <div id='dropzone{{ field.FieldOrder }}' class="dropzone"><span class="dz-message" style="font-size:small;">Click to upload</span></div>

                                    </div>
                                </div>

