<script>

var existing_values_{{ field.FieldOrder }} = "{{data.item[field.FieldName]}}".split(',')
$("#chosen_{{ field.FieldOrder }}").chosen({width: "100%"}); 

/*
@USAGE urlo="http://anyurl.com/anyuser/equiposfutbol?fl=NombreDelEquipo";
*/

//The FieldSource should have a "fields" indicated
console.log("{{field.FieldSource}}")

var urlo_{{ field.FieldOrder }}="{{ field.FieldSource }}";



//Select widget can't work without a source
if(urlo_{{ field.FieldOrder }}!='undefined'){

    console.log('raw:'+urlo_{{ field.FieldOrder }})

    var url_{{ field.FieldOrder }}=urlo_{{ field.FieldOrder }}.split("?");

    //This object carries the values sent via AJAX
    var urldata_{{ field.FieldOrder }} = new Object();

    //No parameters via URL?
    if(typeof url_{{ field.FieldOrder }}[1]!='undefined'){
        console.log('parameter payload!')
        var urlpar_{{ field.FieldOrder }}=url_{{ field.FieldOrder }}[1].split("&");
        var urlval_{{ field.FieldOrder }} = new Array();
    
        for(j=0;j<urlpar_{{ field.FieldOrder }}.length;++j){
            console.log('parameter')
            console.log(urlpar_{{ field.FieldOrder }}[j])
            urlval_{{ field.FieldOrder }}=urlpar_{{ field.FieldOrder }}[j].split("=");
            urldata_{{ field.FieldOrder }}[urlval_{{ field.FieldOrder }}[0]]=urlval_{{ field.FieldOrder }}[1];
            urlval_{{ field.FieldOrder }}.length=0;
        }
    }
    urldata_{{ field.FieldOrder }}['method']='get';
    urldata_{{ field.FieldOrder }}['accept']='json';
    urldata_{{ field.FieldOrder }}['schema']='1';


    console.log('urldata: {{ field.FieldOrder }}');
    console.log(urldata_{{ field.FieldOrder }});

    
    $.get( url_{{ field.FieldOrder }}[0], urldata_{{ field.FieldOrder }} )
    .done(function( data ) {
        var returnedData_{{ field.FieldOrder }} = JSON.parse(data);

        console.log("returnedData:")
        console.log(returnedData_{{ field.FieldOrder }})
        //We put the returned JSON in a global variable for chosen to be able to use it
        window.input_select_{{ field.FieldOrder }}=returnedData_{{ field.FieldOrder }};
        
        //By default we will grab the first field to display it as the option
        if( typeof urldata_{{ field.FieldOrder }}['fl']=='undefined'){

            var thefield_{{ field.FieldOrder }}=returnedData_{{ field.FieldOrder }}.fields[0].FieldName;
            console.log("*Field to be shown({{ field.FieldOrder }}):"+thefield_{{ field.FieldOrder }})
        }else{ //But it is better if the source is explicitly indicated by &fl=<name_of_field>
            if(urldata_{{ field.FieldOrder }}['fl']){

                var urlfields_{{ field.FieldOrder }} = urldata_{{ field.FieldOrder }}['fl'].split("+");
                //Take just the first field mentioned
                var thefield_{{ field.FieldOrder }}=urlfields_{{ field.FieldOrder }}[0];
                console.log("**Field to be shown({{ field.FieldOrder }}):"+thefield_{{ field.FieldOrder }})
            }
        }
        
        var i;
        var newoption;

        


        for(i=0;i<returnedData_{{ field.FieldOrder }}.items.length; ++i){      
            //This grabs the indicated field and displays it as the option
            var id = '_id';
            var source = returnedData_{{ field.FieldOrder }}.source;
            var idx = returnedData_{{ field.FieldOrder }}.items[i][id];
            var repr = returnedData_{{ field.FieldOrder }}.items[i][thefield_{{ field.FieldOrder }}]
            var selected = '';
            
            
            if($.inArray(source+'/'+idx, existing_values_{{ field.FieldOrder }}) >= 0){
                
                selected = 'selected';
            }
            newoption = "<option value='"+source+"/"+idx+"' "+selected+" >"+repr+"</option>";
            $( '#chosen_{{ field.FieldOrder }}' ).append(newoption);
        
        }  
    
        $('#chosen_{{ field.FieldOrder }}').trigger("chosen:updated");
    
    
    },"json");
    

    
}
    


$("#chosen_{{ field.FieldOrder }}").chosen().change(function(){

    console.log('changed!');

    var selection = $( '#chosen_{{ field.FieldOrder }}' ).val();

    console.log('changed to: '+ selection);

    
    var value = $( '#input_select_{{ field.FieldOrder }}' ).val();

    var order = $( '#input_select_{{ field.FieldOrder }}' ).attr('order');
    console.log(selection);
    console.log(typeof(selection));

    if(selection!=null){
        console.log('This object is NOT null!')
    }else{
        console.log('This object is null!')
    }

    if(selection==''){      
        change_flag(order,'0000');           
    } else if(selection==null){
        change_flag(order,'0000');
    } else {
        change_flag(order,'1000');
    }

    console.log('old value:'+value)
    //$( '#input_select_{{ field.FieldOrder }}' ).val(value+','+selection);
    $( '#input_select_{{ field.FieldOrder }}' ).val(selection);
    console.log('Value Changed')

    //var selected=selection.split(",");
    //var datareturned  = window.input_select_{{ field.FieldOrder }};
     
    //for(k=0;k<selected.length;++k){
    //  //selected[k]
    //}
     
    //for(k=0;window.input_select.items.length;++k){
    //  if(window.input_select.items[k].NombreDelEquipo=)
    // alert('Rich: '+ window.input_select_{{ field.FieldOrder }});
    //}
});

</script>