<script>


  var menu_{{ field.FieldId}} ={
      "1":{"short":"eng", "long":"English"},
      "2":{"short":"spa", "long":"Spanish"},
      "3":{"short":"por", "long":"Portuguese"},
      "4":{"short":"ger", "long":"German"},
      "5":{"short":"fra", "long":"French"},
      "6":{"short":"ita", "long":"Italian"},
      "7":{"short":"chi", "long":"Chinese"},
      "8":{"short":"jap", "long":"Japanese"},
      "9":{"short":"rus", "long":"Russian"}
    }


</script>


{% include 'avispa_rest/w_input_multi1_functions.html' %}
