        <div class="form-group">
            <label for="{{ field.FieldName }}" class="col-sm-2 control-label">{% if field.FieldLabel %}{{ field.FieldLabel}}{% else %}{{ field.FieldName }}{% endif %}{% if field.FieldRequired %}*{% endif %}</label>
            <div class="col-sm-1 text-left">

              <input type="checkbox" id="checkbox{{ field.FieldOrder }}" class="flag-aware" order="{{ field.FieldOrder }}" placeholder="{{ field.FieldHint }}" name="{{ field.FieldName }}" value="Prendido" {% if field.FieldRequired %}checked{% endif %}>
              
            </div>
            <div>
            	<span class="fc-g fs-0-8">
            		{% if field.FieldHint %}{{ field.FieldHint }}{% endif %}
            	</span>
            </div>
        </div>