<script>
Dropzone.autoDiscover = false;
var myDropzone{{ field.FieldOrder }} = new Dropzone("#dropzone{{ field.FieldOrder }}", { 
      url: "/_tools/upload_via_aud?handle={{ data.handle }}",
      addRemoveLinks: true  
      });

$( ".dz-size" ).css( "display", "none" );


{% if data.item[field.FieldName] %}

//console.log("{{ data.item[field.FieldName] }}");

  {% for image in data.item[field.FieldName].split(',') %}
    {% if image %}
      {% if image!='1' %}
        console.log("{{image}}");
        var fieldvalue = { "name": "Click for preview", "size": 12345, imgurl:"{{data.host_url}}/_images/{{data.handle}}/t75/{{image}}_t75.jpg"  };
        myDropzone{{ field.FieldOrder }}.options.addedfile.call(myDropzone{{ field.FieldOrder }}, fieldvalue);
        myDropzone{{ field.FieldOrder }}.options.thumbnail.call(myDropzone{{ field.FieldOrder }}, fieldvalue, "{{data.host_url}}/_images/{{data.handle}}/t75/{{image}}_t75.jpg"); 

      {% endif %}
    {% endif %}
  {% endfor %}

{% endif %}



//This function starts right after DropZone has returned a JSON file with image id and location
myDropzone{{ field.FieldOrder }}.on("success", function(file,success) {
    	//alert('Success::'+success);
        console.log(success)

    	var obj = jQuery.parseJSON(success);
    	//alert('flag1:'+obj.imgbase+obj.imgid);
    	
    	console.log('ref x34:'+obj.imgbase+obj.imgid);

        if(obj.error){

            alert(obj.error);

        }else{
            console.log('will change the value')
    	    var value = $( '#input_images_{{ field.FieldOrder }}' ).val();
    	    console.log('val:'+value)
    	    $( '#input_images_{{ field.FieldOrder }}' ).val(value+','+obj.imgid);
            console.log('Value Changed')
        }
  });


myDropzone{{ field.FieldOrder }}.on("removedfile", function(file) {
		console.log('File removal intent:'+file);
		//var stringify = JSON.stringify(file.previewElement);
		var stringify = file.previewElement;
		console.log('JSONstringify:'+stringify);
    	if(file){
    		
    		
    		if(typeof file.xhr === 'undefined'){
    			console.log('file.imgurl:'+file.imgurl);
    			var imgurl = file.imgurl;
                var parts = imgurl.split('/');
                var filename = parts[parts.length-1];
                var filenameparts = filename.split('_');
                var resource2delete = filenameparts[0];
    		}else{
    			console.log('file.xhr.response:'+file.xhr.response);
				//It does exist in the widget and in the server
				var obj = jQuery.parseJSON(file.xhr.response);
				//var resource2delete = obj.imgbase+obj.imgid;
				var resource2delete = obj.imgid.toString();
                //console.log('Resource to delete:'+resource2delete)
    		}
    		
    		
    		//Delete from Form Inputs
    		var value = $( '#input_images_{{ field.FieldOrder }}' ).val();
    		console.log('prevalue:'+value);
    		var valuearray = value.split(",");
    		console.log(valuearray);
            console.log('resource2delete:'+resource2delete);
    		var indextodelete = jQuery.inArray(resource2delete,valuearray);
    		console.log('indextodelete:'+indextodelete);
    		if (indextodelete!=-1){
    			valuearray.splice(indextodelete,1);
    			value = valuearray.join(',');
    			console.log('aftervalue:'+value);
    			$( '#input_images_{{ field.FieldOrder }}' ).val(value);		
    		}else{
                console.log('Could not find the id to delete in the list ')
            }
    		
    		//Delete Resource in Server
    		//Notice the method overload. We are sending DELETE via GET
    		//This still needs to be implemented in the server side
    		$.ajax({
				type: "GET",
				url: "/_tools/delete_via_aud?id="+resource2delete,
				success: function(response){
					//alert('Response:'+response);
				}
			})
			.done(function( msg ) {
			//alert( "Done: " + msg );
			});
    		 
    		
    		
    	}
    	
  });


myDropzone{{ field.FieldOrder }}.on("error", function(file,error,xhr) {
    /* Error::Server responded with 0 code.*/
        var obj = jQuery.parseJSON(error);
    	alert('Error:'+obj.error);
    	//alert('XHR Object::'+xhr);
  });


</script>