    <div class="form-group">
        <label for="{{ field.FieldId }}" class="col-sm-2 control-label">{% if field.FieldLabel %}{{ field.FieldLabel}}{% else %}{{ field.FieldName }}{% endif %}{% if field.FieldRequired %}*{% endif %}</label>
        <div class="col-sm-10">


        		<!-- TTTTTTTTTTT -->
qwerty
        		<div id="t_1"></div>
        		zxcvb
        		<div id="t_2"></div>
        		<div id="t_3"></div>
        		<div id="t_4"></div>
        		<div id="t_5"></div>
        		<div id="t_6"></div>
        		<div id="t_7"></div>
        		<div id="t_8"></div>
        		<div id="t_9"></div>

		    	<!-- <div id="t_1">
		    		<div class="input-group">
					  <input type="text" class="form-control flag-aware increment" id='inp' placeholder="">
					  <span class="input-group-addon fs-0-7" id="lan"></span>
					  <input type="hidden" id='inp_hidden'  value="1">
					</div>
		    	</div>

		    	<div id="t_2">
		    		<div class="input-group">
					  <textarea class="form-control flag-aware increment" id='inp' rows="6" ></textarea>
					  <span class="input-group-addon fs-0-7" id="lan"></span>
					  <input type="hidden" id='inp_hidden'  value="0">
					</div>
		    	</div>
		    	<div id="t_3">
		    		<div class="input-group">
					  <input type="text" class="form-control flag-aware increment" id='inp'>
					  <span class="input-group-addon fs-0-7" id="lan"></span>
					  <input type="hidden" id='inp_hidden'  value="0" placeholder="">
					</div>
		    	</div>
		    	<div id="t_4">
		    		<div class="input-group">
					  <input type="text" class="form-control flag-aware increment" id='inp'>
					  <span class="input-group-addon fs-0-7" id="lan"></span>
					  <input type="hidden" id='inp_hidden'  value="0" placeholder="">
					</div>
		    	</div>
		    	<div id="t_5">
		    		<div class="input-group">
					  <input type="text" class="form-control flag-aware increment" id='inp'>
					  <span class="input-group-addon fs-0-7" id="lan"></span>
					  <input type="hidden" id='inp_hidden'  value="0" placeholder="">
					</div>
		    	</div>

		    	<div id="t_6">
		    		<div class="input-group">
					  <input type="text" class="form-control flag-aware increment" id='inp'>
					  <span class="input-group-addon fs-0-7" id="lan"></span>
					  <input type="hidden" id='inp_hidden'  value="0" placeholder="">
					</div>
		    	</div>

		    	<div id="t_7">
		    		<div class="input-group">
					  <input type="text" class="form-control flag-aware increment" id='inp'>
					  <span class="input-group-addon fs-0-7" id="lan"></span>
					  <input type="hidden" id='inp_hidden'  value="0" placeholder="">
					</div>
		    	</div>
		    	<div id="t_8">
		    		<div class="input-group">
					  
					  <input type="text" class="form-control flag-aware increment" id='inp'>
					  <span class="input-group-addon fs-0-7" id="lan"></span>
					  <input type="hidden" id='inp_hidden'  value="0" placeholder="">
					</div>
		    	</div>
		    	<div id="t_9">
		    		<div class="input-group"> 
					  <input type="text" class="form-control flag-aware increment" id='inp'>
					  <span class="input-group-addon fs-0-7" id="lan"></span>
					  <input type="hidden" id='inp_hidden'  value="0" placeholder="">
					</div>
		    	</div> -->




				<!-- BBBBBBBBBBBBBBB -->

		    	<div class="dropdown pull-right">
				  <a class="btn btn-link btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  	<i class="fa fa-language"></i>
				    <span class="fs-0-8">Translations</span>
				    <span class="caret"></span>
				  </a>
				  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
				    
				    <li>
				    	<a id="b_1">
				    		<span id="item" class="fc-b"> 
				    			<i id="icon" class="fa fa-toggle-on"> </i>
				    			<span id="lan"></span>
				    		</span>
				    	</a>
				    </li>
				    <li>
				    	<a id="b_2">
				    		<span id="item" class="fc-b">
				    			<i id="icon" class="fa fa-toggle-on"></i>
				    			<span id="lan"></span>
				    		</span>
				    	</a>
				    </li>
				    <li>
				    	<a id="b_3">
				    		<span id="item" class="fc-b">
				    			<i id="icon" class="fa fa-toggle-on"></i> 
				    			<span id="lan"></span>
				    		</span>
				    	</a>
				    </li>
				    <li>
				    	<a id="b_4">
				    		<span id="item" class="fc-b">
				    			<i id="icon" class="fa fa-toggle-on"></i>
				    			<span id="lan"></span>
				    		</span>
				    	</a>
				    </li>
				    <li>
				    	<a id="b_5">
				    		<span id="item" class="fc-b">
				    			<i id="icon" class="fa fa-toggle-on"></i>
				    			<span id="lan"></span>
				    		</span>
				    	</a>
				    </li>
				    <li>
				    	<a id="b_6">
				    		<span id="item" class="fc-b">
				    			<i id="icon" class="fa fa-toggle-on"></i>
				    			<span id="lan"></span>
				    		</span>
				    	</a>
				    </li>
				    <li>
				    	<a id="b_7">
				    		<span id="item" class="fc-b">
				    			<i id="icon" class="fa fa-toggle-on"></i>
				    			<span id="lan"></span>
				    		</span>
				    	</a>
				    </li>
				    <li>
				    	<a id="b_8">
				    		<span id="item" class="fc-b">
				    			<i id="icon" class="fa fa-toggle-on"></i>
				    			<span id="lan"></span>
				    		</span>
				    	</a>
				    </li>
				    <li>
				    	<a id="b_9">
				    		<span id="item" class="fc-b">
				    			<i id="icon" class="fa fa-toggle-on"></i>
				    			<span id="lan"></span>
				    		</span>
				    	</a>
				    </li>
 
				  </ul>
				</div>



		    <hr/>

		    <!-- HHHHHHHHHHHHHHHHHH -->
		    <span class="fs-0-7" id="salida">something:[
		    <span id="h_1">
		    	"<span id="lan"></span>":"<span id="out"></span>",
		    </span>
		    <span id="h_2">
		    	"<span id="lan"></span>":"<span id="out"></span>",
		    </span>
		    <span id="h_3">
		    	"<span id="lan"></span>":"<span id="out"></span>",
		    </span>
		    <span id="h_4">
		    	"<span id="lan"></span>":"<span id="out"></span>",
		    </span>
		    <span id="h_5">
		    	"<span id="lan"></span>":"<span id="out"></span>",
		    </span>
		    <span id="h_6">
		    	"<span id="lan"></span>":"<span id="out"></span>",
		    </span>
		    <span id="h_7">
		    	"<span id="lan"></span>":"<span id="out"></span>",
		    </span>
		    <span id="h_8">
		    	"<span id="lan"></span>":"<span id="out"></span>",
		    </span>
		    <span id="h_9">
		    	"<span id="lan"></span>":"<span id="out"></span>",
		    </span>
		    ]
		    </span>


		    <input type="hidden" class="form-control input-sm flag-aware" order="{{ field.FieldOrder }}" id="input_multilang_{{ field.FieldOrder }}" placeholder="{{ field.Hint }}" name="{{ field.FieldId }}" 
		    value='
		    <span class="fs-0-7" id="salida">something:[
		    <span id="h_1">
		    	"<span id="lan"></span>":"<span id="out"></span>",
		    </span>
		    <span id="h_2">
		    	"<span id="lan"></span>":"<span id="out"></span>",
		    </span>
		    <span id="h_3">
		    	"<span id="lan"></span>":"<span id="out"></span>",
		    </span>
		    <span id="h_4">
		    	"<span id="lan"></span>":"<span id="out"></span>",
		    </span>
		    <span id="h_5">
		    	"<span id="lan"></span>":"<span id="out"></span>",
		    </span>
		    <span id="h_6">
		    	"<span id="lan"></span>":"<span id="out"></span>",
		    </span>
		    <span id="h_7">
		    	"<span id="lan"></span>":"<span id="out"></span>",
		    </span>
		    <span id="h_8">
		    	"<span id="lan"></span>":"<span id="out"></span>",
		    </span>
		    <span id="h_9">
		    	"<span id="lan"></span>":"<span id="out"></span>",
		    </span>
		    ]
		    </span>
		    '>
	        
        </div>

    </div>