                                <div class="form-group">
                                    <label for="{{ field.FieldName }}" class="col-sm-2 control-label">{% if field.FieldLabel %}{{ field.FieldLabel}}{% else %}{{ field.FieldName }}{% endif %}{% if field.FieldRequired %}*{% endif %}</label>
                                    <div class="col-sm-10">
                                      <input type="text" class="form-control" id="text{{ field.FieldOrder }}" placeholder="{% if field.FieldHint %}{{ field.FieldHint }}{% endif %}" name="{{ field.FieldName }}" {% if field.FieldRequired %} required {% endif %} value="{{ data.item[field.FieldName] }}">

                                    </div>
                                </div>