                                <div class="form-group">
                                    <label for="{{ field.FieldId }}" class="col-xs-3 col-sm-2 control-label">{% if field.FieldLabel %}{{ field.FieldLabel}}{% else %}{{ field.FieldName }}{% endif %}{% if field.FieldRequired %}*{% endif %}</label>
                                    <div class="col-xs-9 col-sm-10">
                                      {% set value = data.item[field.FieldId] %}
                                      <input type="text" class="form-control flag-aware" order="{{ field.FieldOrder }}" id="{{ field.FieldId }}" placeholder="{{ field.Hint }}" name="{{ field.FieldId }}" {% if value %}checked{% endif %}>

                                    </div>
                                </div>