    <div class="form-group">
        <label for="{{ field.FieldId }}" class="col-xs-12 col-sm-3 control-label">{% if field.FieldLabel %}{{ field.FieldLabel}}{% else %}{{ field.FieldName }}{% endif %}{% if field.FieldRequired %}*{% endif %}</label>
        <div class="col-xs-12 col-sm-9">
	         <input type="text" class="form-control input-sm flag-aware" order="{{ field.FieldOrder }}" order="{{ field.FieldOrder }}" id="text{{ field.FieldOrder }}" placeholder="{% if field.FieldHint %}{{ field.FieldHint }}{% endif %}" name="{{ field.FieldId }}" {% if field.FieldRequired %} required {% endif %} value="{{ data.item[field.FieldId]|nonone }}">
	        
        </div>

    </div>