<script>
    var menu{{ field.FieldId}} ={
      "1":{"short":"general", "long":"General Info"},
      "2":{"short":"Customer", "long":"Customer Service"},
      "3":{"short":"Reservations", "long":"Reservation"},
      "4":{"short":"Press", "long":"Press Inquiries"},
      "5":{"short":"Sales", "long":"Sales"},
      "6":{"short":"Management", "long":"Management"},
      "7":{"short":"Lost&Found", "long":"Lost & Found"},
      "8":{"short":"Other", "long":"Other phone"}
    }



</script>


{% include 'avispa_rest/w_input_multi1_functions.html' %}