    <div class="form-group">
      <label for="{{ field.FieldId }}" class="col-sm-2 control-label" id="{{ field.FieldId}}">
        {% if field.FieldLabel %}{{ field.FieldLabel}}{% else %}{{ field.FieldName }}{% endif %}{% if field.FieldRequired %}*{% endif %}
      </label>
      <div class="col-sm-10">
        <!-- TTTTTTTTTTT -->
        <div id="wt_1_{{ field.FieldId}}"></div>
        <div id="wt_2_{{ field.FieldId}}"></div>
        <div id="wt_3_{{ field.FieldId}}"></div>
        <div id="wt_4_{{ field.FieldId}}"></div>
        <div id="wt_5_{{ field.FieldId}}"></div>
        <div id="wt_6_{{ field.FieldId}}"></div>
        <div id="wt_7_{{ field.FieldId}}"></div>
        <div id="wt_8_{{ field.FieldId}}"></div>
        <div id="wt_9_{{ field.FieldId}}"></div>
        <!-- BBBBBBBBBBBBBBB -->
        <div class="dropdown pull-right">
          <a class="btn btn-link btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-plus"></i>&nbsp;
            <span class="fs-0-8">Add Product Code</span>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li id="wb_1_{{ field.FieldId}}"></li>
            <li id="wb_2_{{ field.FieldId}}"></li>
            <li id="wb_3_{{ field.FieldId}}"></li>
            <li id="wb_4_{{ field.FieldId}}"></li>
            <li id="wb_5_{{ field.FieldId}}"></li>
            <li id="wb_6_{{ field.FieldId}}"></li>
            <li id="wb_7_{{ field.FieldId}}"></li>
            <li id="wb_8_{{ field.FieldId}}"></li>
            <li id="wb_9_{{ field.FieldId}}"></li>
          </ul>
        </div>
        <hr/>
        <!-- HHHHHHHHHH -->
        <input type="hidden" class="form-control input-sm flag-aware" order="{{ field.FieldOrder }}" id="hidden{{ field.FieldOrder }}" placeholder="{{ field.Hint }}" name="{{ field.FieldId }}" value='{{ data.item[field.FieldId] }}'>          
      </div>
    </div>