<script>
$(document).ready(function(){

    $('.dtpckr').datetimepicker({
      datepicker:false,
      format:'H:i',
      step:30
    });

    $('.dtpckr').on("change paste", function(){

        oldvalue = $("#text_multilang{{ field.FieldOrder }}").val();
        if(oldvalue==''){
          oldvalue = '{}';
        }
        var jsonold = JSON.parse(oldvalue);
        var parts = this.name.split('-');
        var shortname = parts[0];
        jsonold[shortname] = this.value;


        $("#text_multilang{{ field.FieldOrder }}").val(JSON.stringify(jsonold));
    });


});
</script>