    <div class="form-group">
      <label for="{{ field.FieldId }}" class="col-sm-2 control-label" id="{{ field.FieldId}}">
        {% if field.FieldLabel %}{{ field.FieldLabel}}{% else %}{{ field.FieldName }}{% endif %}{% if field.FieldRequired %}*{% endif %}
      </label>
      <div class="col-sm-10">
        <!-- TTTTTTTTTTT -->

        <table class="table table-striped table-condensed">

        	<tr>
        		<td>
        			<span class="fw-c fc-l">Monday</span>
        		</td>
        		<td>
        			<span class="fs-0-7">Open</span>
        		</td>
        		<!-- OPEN -->
        		<td>
                    <div class='input-group'>
                        <input type='text' name="mon_open-{{field.FieldId}}" class='form-control dtpckr flag-aware increment input-sm inp' placeholder='HH:MM am/pm' value=''>
                    </div>           
        		</td>
        		<td>
        			<span class="fs-0-7">Close</span>
        		</td>
        		<!-- CLOSE -->
        		<td>
                    <div class='input-group'>
                        <input type='text' name="mon_close-{{field.FieldId}}" class='form-control dtpckr flag-aware increment input-sm inp' placeholder='HH:MM am/pm' value=''>
                    </div>         
        		</td>
        	</tr>

        	<tr>
        		<td>
        			<span class="fw-c fc-l">Tuesday</span>
        		</td>
        		<td>
        			<span class="fs-0-7">Open</span>
        		</td>
        		<!-- OPEN -->
        		<td>
                    <div class='input-group'>
                        <input type='text' name="tue_open-{{field.FieldId}}" class='form-control dtpckr flag-aware increment input-sm inp' placeholder='HH:MM am/pm' value='9:25'>
                    </div>         
        		</td>
        		<td>
        			<span class="fs-0-7">Close</span>
        		</td>
        		<!-- CLOSE -->
        		<td>
                    <div class='input-group'>
                        <input type='text' name="tue_close-{{field.FieldId}}" class='form-control dtpckr flag-aware increment input-sm inp' placeholder='HH:MM am/pm' value=''>
                    </div>         
        		</td>
        	</tr>

        	<tr>
        		<td>
        			<span class="fw-c fc-l">Wednesday</span>
        		</td>
        		<td>
        			<span class="fs-0-7">Open</span>
        		</td>
        		<!-- OPEN -->
        		<td>
                    <div class='input-group'>
                        <input type='text' name="wed_open-{{field.FieldId}}" class='form-control dtpckr flag-aware increment input-sm inp' placeholder='HH:MM am/pm' value=''>
                    </div>          
        		</td>
        		<td>
        			<span class="fs-0-7">Close</span>
        		</td>
        		<!-- CLOSE -->
        		<td>
                    <div class='input-group'>
                        <input type='text' name="wed_close-{{field.FieldId}}" class='form-control dtpckr flag-aware increment input-sm inp' placeholder='HH:MM am/pm' value=''>
                    </div>          
        		</td>
        	</tr>

        	<tr>
        		<td>
        			<span class="fw-c fc-l">Thursday</span>
        		</td>
        		<td>
        			<span class="fs-0-7">Open</span>
        		</td>
        		<!-- OPEN -->
        		<td>
                    <div class='input-group'>
                        <input type='text' name="thu_open-{{field.FieldId}}" class='form-control dtpckr flag-aware increment input-sm inp' placeholder='HH:MM am/pm' value=''>
                    </div>          
        		</td>
        		<td>
        			<span class="fs-0-7">Close</span>
        		</td>
        		<!-- CLOSE -->
        		<td>
                    <div class='input-group'>
                        <input type='text' name="thu_close-{{field.FieldId}}" class='form-control dtpckr flag-aware increment input-sm inp' placeholder='HH:MM am/pm' value=''>
                    </div>          
        		</td>
        	</tr>

        	<tr>
        		<td>
        			<span class="fw-c fc-l">Friday</span>
        		</td>
        		<td>
        			<span class="fs-0-7">Open</span>
        		</td>
        		<!-- OPEN -->
        		<td>
                    <div class='input-group'>
                        <input type='text' name="fri_open-{{field.FieldId}}" class='form-control dtpckr flag-aware increment input-sm inp' placeholder='HH:MM am/pm' value=''>
                    </div>          
        		</td>
        		<td>
        			<span class="fs-0-7">Close</span>
        		</td>
        		<!-- CLOSE -->
        		<td>
                    <div class='input-group'>
                        <input type='text' name="fri_close-{{field.FieldId}}" class='form-control dtpckr flag-aware increment input-sm inp' placeholder='HH:MM am/pm' value=''>
                    </div>          
        		</td>
        	</tr>

        	<tr>
        		<td>
        			<span class="fw-c fc-l">Saturday</span>
        		</td>
        		<td>
        			<span class="fs-0-7">Open</span>
        		</td>
        		<!-- OPEN -->
        		<td>
                    <div class='input-group'>
                        <input type='text' name="sat_open-{{field.FieldId}}" class='form-control dtpckr flag-aware increment input-sm inp' placeholder='HH:MM am/pm' value=''>
                    </div>          
        		</td>
        		<td>
        			<span class="fs-0-7">Close</span>
        		</td>
        		<!-- CLOSE -->
        		<td>
                    <div class='input-group'>
                        <input type='text' name="sat_close-{{field.FieldId}}" class='form-control dtpckr flag-aware increment input-sm inp' placeholder='HH:MM am/pm' value=''>
                    </div>          
        		</td>
        	</tr>

        	<tr>
        		<td>
        			<span class="fw-c fc-l">Sunday</span>
        		</td>
        		<td>
        			<span class="fs-0-7">Open</span>
        		</td>
        		<!-- OPEN -->
        		<td>
                    <div class='input-group'>
                        <input type='text' name="sun_open-{{field.FieldId}}" class='form-control dtpckr flag-aware increment input-sm inp' placeholder='HH:MM am/pm' value=''>
                    </div>          
        		</td>
        		<td>
        			<span class="fs-0-7">Close</span>
        		</td>
        		<!-- CLOSE -->
        		<td>
                    <div class='input-group'>
                        <input type='text' name="sun_close-{{field.FieldId}}" class='form-control dtpckr flag-aware increment input-sm inp' placeholder='HH:MM am/pm' value=''>
                    </div>          
        		</td>
        	</tr>

        </table>

        <hr/>
        <!-- HHHHHHHHHH -->
        <input type="hidden" class="form-control input-sm flag-aware" order="{{ field.FieldOrder }}" id="text_multilang{{ field.FieldOrder }}" placeholder="{{ field.Hint }}" name="{{ field.FieldId }}" value='{{ data.item[field.FieldId] }}'>          
      </div>
    </div>