<div class="form-group">
  <label for="{{ field.FieldId }}" class="col-xs-3 col-sm-3 control-label" id="{{ field.FieldId}}">
    {% if field.FieldLabel %}{{ field.FieldLabel}}{% else %}{{ field.FieldName }}{% endif %}{% if field.FieldRequired %}*{% endif %}
  </label>
  <div class="col-xs-9 col-sm-9" id="hidden{{ field.FieldOrder }}" name="{{ field.FieldId }}">
    <select class="form-control flag-aware" order="{{ field.FieldOrder }}">
      <option value="" >Please select one </option>
      <option value="twitter" {% if data.item[field.FieldId] == 'twitter'  %} selected {% endif %} >Twitter</option>
      <option value="facebook" {% if data.item[field.FieldId] == 'facebook' %} selected {% endif %} >Facebook</option>
      <option value="linkedin" {% if data.item[field.FieldId] == 'linkedin' %} selected {% endif %} >Linkedin</option>
      <option value="googleplus" {% if data.item[field.FieldId] == 'googleplus' %} selected {% endif %} >Google +</option>
      <option value="slack" {% if data.item[field.FieldId] == 'slack' %} selected {% endif %} >Slack</option>
      <option value="instagram" {% if data.item[field.FieldId] == 'instagram' %} selected {% endif %} >Instagram</option>
      <option value="snapchat" {% if data.item[field.FieldId] == 'snapchat' %} selected {% endif %} >Snapchat</option>
      <option value="youtube" {% if data.item[field.FieldId] == 'youtube' %} selected {% endif %} >YouTube</option>
      <option value="medium" {% if data.item[field.FieldId] == 'medium' %} selected {% endif %} >Medium</option>
      <option value="pinterest" {% if data.item[field.FieldId] == 'pinterest' %} selected {% endif %} >Pinterest</option>
      <option value="reddit" {% if data.item[field.FieldId] == 'reddit' %} selected {% endif %} >Reddit</option>
      <option value="souncloud" {% if data.item[field.FieldId] == 'soundcloud' %} selected {% endif %} >SoundCloud</option>
      <option value="tumblr" {% if data.item[field.FieldId] == 'tumblr' %} selected {% endif %} >Tumblr</option>
      <option value="flickr" {% if data.item[field.FieldId] == 'flickr' %} selected {% endif %} >Flickr</option>
      <option value="foursquare" {% if data.item[field.FieldId] == 'foursquare' %} selected {% endif %} >Foursquare</option>
      <option value="meetup" {% if data.item[field.FieldId] == 'meetup' %} selected {% endif %} >Meetup</option>
      <option value="douban" {% if data.item[field.FieldId] == 'douban' %} selected {% endif %} >Douban</option>
    </select>

  </div>
</div>