    <div class="form-group">
      <label for="{{ field.FieldId }}" class="col-xs-12 col-sm-3 control-label" id="{{ field.FieldId}}">
        {% if field.FieldLabel %}{{ field.FieldLabel}}{% else %}{{ field.FieldName }}{% endif %}{% if field.FieldRequired %}*{% endif %}
      </label>
      <div class="col-xs-12 col-sm-9">
        
        <div class="example example_markupx">
        
          <div class="bs-examplex">
            <input id="input_{{ field.FieldId }}" type="text" data-role="tagsinput" order="{{ field.FieldOrder }}" order="{{ field.FieldOrder }}" placeholder="{% if field.FieldHint %}{{ field.FieldHint }}{% endif %}" name="ignore_{{ field.FieldId }}" {% if field.FieldRequired %} required {% endif %} value="{{ data.item[field.FieldId]|join(', ')|nonone }}" />
            <input id="{{ field.FieldId }}" name="{{ field.FieldId }}" type="hidden" >

            
          </div>
          <div class="accordion">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" href="#showarray_{{ field.FieldId }}">
                  <i class="fa fa-angle-down"></i>
                </a>
              </div>
              <div id="showarray_{{ field.FieldId }}" class="accordion-body collapse">
                <div class="accordion-inner highlight">
                  <pre class="items"><code id="code_{{ field.FieldId }}" data-language="javascript"></code></pre>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>