
<script>

$(document).ready(function(){


var langs ={
          "1":{"short":"eng", "long":"English"},
          "2":{"short":"spa", "long":"Spanish"},
          "3":{"short":"por", "long":"Portuguese"},
          "4":{"short":"ger", "long":"German"},
          "5":{"short":"fra", "long":"French"},
          "6":{"short":"ita", "long":"Italian"},
          "7":{"short":"chi", "long":"Chinese"},
          "8":{"short":"jap", "long":"Japanese"},
          "9":{"short":"rus", "long":"Russian"}
        }

    function langtoggle(x,y,z){


      //var ran = Math.floor(Math.random() * 90000) + 10000;
      var num = x+"_"+y;
      
      var wt= '#wt_'+num, //div wrapper
          wb= '#wb_'+num, 
          wh= '#wh_'+num,
          t= '#t_'+num, //div wrapper
          b= '#b_'+num, //menu button
          h= '#h_'+num, //hidden input
          shortname= z[x]["short"],
          longname= z[x]["long"],
          uppername= shortname.toUpperCase();


      // $(wt).html("<div id='t_"+num+"'><div class='input-group'><textarea class='form-control flag-aware increment' id='inp' rows='4' ></textarea><span class='input-group-addon fs-0-7' id='lan'></span><input type='hidden' id='inp_hidden'  value='0'></div></div>");

      $(wt).html("<div class='input-group' id='t_"+num+"'><input type='text' class='form-control flag-aware increment' id='inp' placeholder=''><span class='input-group-addon fs-0-7' id='lan'></span><input type='hidden' id='inp_hidden'  value='1'></div>");

      $(wb).html("<a id='b_"+num+"'><span id='item' class='fc-b'><i id='icon' class='fa fa-toggle-on'></i> <span id='lan'></span></span></a>");

      $(wh).html("<span id='h_"+num+"'><span id='lan'></span> : <span id='out'></span>, </span> ");



      a1= $(t).find('#inp_hidden').val();
      
      $(t).find('#lan').append(uppername);
      $(t).find('#inp_hidden').attr("placeholder",longname);
      $(b).find('#lan').append(longname);
      $(h).find('#lan').append(shortname);


      if (shortname != 'eng') {
        $(t).hide(); 
        $(h).hide(); 
        $(b).find('#icon').switchClass( 'fa-toggle-on' ,'fa-toggle-off');
        $(b).find('#item').switchClass('fc-b' , 'fc-g');
      }

      $(b).click(function() {     
         $(t).toggle("slide", { direction: "up" }, 500);
         $(b).find('#icon').toggleClass('fa-toggle-off fa-toggle-on');
         $(b).find('#item').toggleClass('fc-b fc-g');
         $(h).toggle(); 
      });


      //INPUT , OUTPUT
      var inp= $(t).find('#inp');

      inp.on("input", function() {
        
        $(h).find('#out').text(this.value);


      });

    }



    langtoggle('1','{{ field.FieldId}}',langs);
    langtoggle('2','{{ field.FieldId}}',langs);
    langtoggle('3','{{ field.FieldId}}',langs);
    langtoggle('4','{{ field.FieldId}}',langs);
    langtoggle('5','{{ field.FieldId}}',langs);
    langtoggle('6','{{ field.FieldId}}',langs);
    langtoggle('7','{{ field.FieldId}}',langs);
    langtoggle('8','{{ field.FieldId}}',langs);
    langtoggle('9','{{ field.FieldId}}',langs);




    

});
</script>





