<script type="text/javascript">

    function change_flag(order,status){

        console.log(order+' '+status)

        var statusd = {};
        statusd['0000'] = 'Empty'; //RED
        statusd['1000'] = 'WIP';  //ORANGE
        statusd['2000'] = 'OnRevision'; // YELLOW
        statusd['3000'] = 'Returned'; // RETURNED
        statusd['4000'] = 'Live'; // GREEN


        if(status=='0000'){
            $('#flagmenu_'+order+'_1000').css('display','none')
            $('#flagmenu_'+order+'_2000').css('display','none')
            $('#flagmenu_'+order+'_3000').css('display','none')
            $('#flagmenu_'+order+'_4000').css('display','none')
        }else if(status=='1000'){
            $('#flagmenu_'+order+'_1000').css('display','none')
            $('#flagmenu_'+order+'_2000').css('display','inline')
            $('#flagmenu_'+order+'_3000').css('display','none')
            $('#flagmenu_'+order+'_4000').css('display','none')
        }else if(status=='2000'){
            $('#flagmenu_'+order+'_1000').css('display','inline')
            $('#flagmenu_'+order+'_2000').css('display','none')
            $('#flagmenu_'+order+'_3000').css('display','inline')
            $('#flagmenu_'+order+'_4000').css('display','inline')
        }

        $('#flag_'+order).val(status);  
        $('#flagmarker_'+order).removeClass().addClass('fc-'+status); 
        $('#flagtext_'+order).html(statusd[status]+'*');

    }

    $( ".fieldflag" ).click(function() {       
        var flag = $(this).attr('flag');
        var f = flag.split('_')

        change_flag(f[0],f[1]);

        //$('#live_'+f[0]).removeClass().addClass('label label-success').empty().append("Live on save"); 

    });



    $(".flag-aware").on("change paste", function() {
        console.log('The field '+$(this).attr('name')+' has changed its value to '+$(this).val()); 
        var order = $(this).attr('order');
        //if(isEmpty($(this.val))){
        if($(this).val()){
            change_flag(order,'1000');           
        } else {
            change_flag(order,'0000');
        }
    });
</script>

<script type="text/javascript">
$(window).load(function(){
    console.log("data.item==={{data.item}}")
    // This is to load existing values
    {% for field in data.fieldsschema %}
    console.log("Flag:{{field.FieldId}}_flag = {{data.item[field.FieldId+'_flag']}}");
        {%if field.FieldId+'_flag' in data.item %}
            {%if data.item[field.FieldId+'_flag']!='1' %}
    console.log("Flag exists, comes from DB = {{data.item[field.FieldId+'_flag']}}");
              {#% set flag = 0%#}
            {%else%}
    console.log('Flag exists but it is set as 1 ');
            {%endif%}
        {%else%}
    console.log('Flag doesnt even exist');
        {%endif%}

    change_flag({{field.FieldOrder}},{%if field.FieldId+'_flag' in data.item %}"{{data.item[field.FieldId+'_flag']}}"{%else%}"0000"{%endif%});
    {% endfor %}
});
</script>