
{% extends 'rwiz.html' %}


{% block name %}1. Set Goals{% endblock %}

{% block wizsteps %} 
              {{ ui.wizSteps(1,'Set Goals','on') }}
              {{ ui.wizSteps(2,'Define Type','') }}
              {{ ui.wizSteps(3,'Define Rings','') }}
              {{ ui.wizSteps(4,'Launch','') }}
{% endblock %}


{% block wizcontent %}
   <div class="form-group">
    <label for="exampleInputEmail1">Campaign Name</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Dates</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
  </div>


{% endblock %}
            
{% block wizprev %}/campaigns {% endblock %}
{% block wiznext %} /campaigns/wiz2 {% endblock %} 

