<!-- ::::::BUSINESS FACTS REPORT:::::::::::::::::: --> 
<!-- ::::::BUSINESS FACTS REPORT:::::::::::::::::: --> 
<!-- ::::::BUSINESS FACTS REPORT:::::::::::::::::: --> 



<!-- GENERATES THE HEADER WITH COMPANY INFO -->
 {% macro BizHead(data) %}
  <div class="row">
      <div class="col-sm-offset-1 col-sm-12">
        <h4 class="fc-g"><span class="label label-vader">Business Facts</span></h4>
          
        <h1 class="fc-b fw-c fs-3" id="sec0" ><span id="data-Name"></span></h1>
        
        <p class="fc-b fs-1-2"> 
          
          <span id="data-Address"></span>,
          <span id="data-City"></span>, 
          <span id="data-State"></span>,
          <span id="data-Zip"></span>

        </p>
        
          <span><strong><i class="fa fa-globe pad-x-4"></i></strong><span id="data-Website"></span></span>
          |<span><strong><i class="fa fa-phone pad-x-4"></i></strong><span id="data-Phone"></span></span>
          |<span><strong><i class="fa fa-envelope pad-x-4"></i></strong><span id="data-Mail"></span> 
        | <a id="sm1" href=""> <i class="fa fa-twitter pad-x-4"></i> </a> 
        | <a id="sm2" href=""> <i class="fa fa-facebook pad-x-4"></i> </a>
        | <a id="sm3" href=""> <i class="fa fa-youtube pad-x-4"></i></a> 
        | <a id="sm4" href=""> <i class="fa fa-instagram pad-x-4"></i></a>
        
      </div>
  </div><!-- close row -->
{% endmacro %}

{% macro status_text(code) %}

    {% if code==1 %} tst-1 
    {% elif code==2 %} tst-2
    {% elif code==3 %} tst-3
    {% elif code==4 %} tst-4
    {% elif code==5 %} tst-5
    {% elif code==6 %} tst-6
    {% else %} {% endif %}
    
      
{% endmacro %}

{% macro status_label(code) %}

    {% if code==1 %} lst-1 
    {% elif code==2 %} lst-2
    {% elif code==3 %} lst-3
    {% elif code==4 %} lst-4
    {% elif code==5 %} lst-5
    {% elif code==6 %} lst-6
    {% else %} {% endif %}
    }
      
{% endmacro %}

