<script type="text/javascript" src="{{ url_for('static',filename='js/modernizr-2.7.1.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/jquery-ui.js') }}"></script>



<script type="text/javascript" src="{{ url_for('static',filename='js/d3.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/Chart.js') }}"></script>


<script type="text/javascript" src="{{ url_for('static',filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static',filename='assets/textillate/jquery.lettering.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='assets/textillate/jquery.textillate.js') }}"></script>




<!-- IMAGE GALLERY -->
<script type="text/javascript" src="{{ url_for('static',filename='assets/blueimp/js/jquery.blueimp-gallery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='assets/imagegallery/js/bootstrap-image-gallery.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static',filename='js/intro.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/jquery.mmenu.min.all.js') }}"></script>


<script type="text/javascript">
$(window).load(function(){
		mixpanel.track("{{data.method}}", {
		{% if data.collection %}"collection":"{{data.collection}}",{%endif%}
	    {% if data.handle %}"handle": "{{data.handle}}",{%endif%}
	    {% if data.ring %}"ring":"{{data.ring}}",{%endif%}
	    {% if data.idx %}"idx": "{{data.idx}}",{%endif%}
	    "currentuser": "{{ current_user.id }}"
	});

});
</script>

<script type="text/javascript">
$(window).load(function(){

  	$(function (){
    $('.tlt').textillate();
	})

});
</script>

<!-- TOOLTIP + POPOVER SCRIPT -->
<script type="text/javascript">
$(window).load(function(){

	$('[data-toggle="tooltip"]').tooltip({
	    'placement': 'bottom'
	});
	$('[data-toggle="popover"]').popover({
	    trigger: 'hover',
	        'placement': 'left'
	});

	$('#userNameField').tooltip({
	    'show': true,
	        'placement': 'bottom',
	        'title': "Please remember to..."
	});

	$('#userNameField').tooltip('show');

});
</script>

{% if data.raw %}
<script type="text/javascript">
$(window).load(function(){

	if(parent){
		var h = $( 'body' ).height();
		console.log('iframe should have this height:'+h)
		console.log(parent)
		parent.$.fn.colorbox.resize({
			'innerHeight':h
		});
	}

});
</script>
{%endif%}


<!-- SIDEBAR -->

<script type="text/javascript">
$(window).load(function(){


      $(function() {
        $('nav#menu').mmenu();

      });

});   
</script>


