<script type="text/javascript" src="{{ url_for('static',filename='js/modernizr-2.7.1.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/jquery-ui.js') }}"></script>



<script type="text/javascript" src="{{ url_for('static',filename='js/d3.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/Chart.js') }}"></script>


<script type="text/javascript" src="{{ url_for('static',filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static',filename='assets/textillate/jquery.lettering.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='assets/textillate/jquery.textillate.js') }}"></script>




<!-- IMAGE GALLERY -->
<script type="text/javascript" src="{{ url_for('static',filename='assets/blueimp/js/jquery.blueimp-gallery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='assets/imagegallery/js/bootstrap-image-gallery.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static',filename='js/intro.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/jquery.mmenu.min.all.js') }}"></script>


<script type="text/javascript">
$(window).load(function(){

    {%if current_user.id%}
        mixpanel.identify('{{ current_user.id }}');
    {%endif%}

    mixpanel.track("{{data.method}}", {
		{% if data.collection %}"collection":"{{data.collection}}",{%endif%}
	    {% if data.handle %}"handle": "{{data.handle}}",{%endif%}
	    {% if data.ring %}"ring":"{{data.ring}}",{%endif%}
	    {% if data.idx %}"idx": "{{data.idx}}",{%endif%}
	    "currentuser": "{{ current_user.id }}"
	});

});
</script>


<script type="text/javascript">
	$(window).load(function(){
		{% with messages = get_flashed_messages(category_filter=["MP"]) %}
		      {% if messages %}
		        {% for message in messages %}
		            {%if message is iterable %}
		                {%for m in message%}
		                    mixpanel.{{m}}("{{message[m]}}");
		                {%endfor%}
		            {%else%}
		                mixpanel.track("{{message}}");
		            {%endif%}
		            
		        {% endfor %}     
		      {% endif %}
		{% endwith %}
	});
</script>


<script type="text/javascript">
$(window).load(function(){

  	$(function (){
    $('.tlt').textillate();
	})

});
</script>

<!-- TOOLTIP + POPOVER SCRIPT -->
<script type="text/javascript">
$(window).load(function(){

	$('[data-toggle="tooltip"]').tooltip({
	    'placement': 'bottom'
	});
	$('[data-toggle="popover"]').popover({
	    trigger: 'hover',
	        'placement': 'left'
	});

	$('#userNameField').tooltip({
	    'show': true,
	        'placement': 'bottom',
	        'title': "Please remember to..."
	});

	$('#userNameField').tooltip('show');

});
</script>

{% if data.raw %}
<script type="text/javascript">
$(window).load(function(){

	if(parent){
		var h = $( 'body' ).height();
		console.log('iframe should have this height:'+h)
		console.log(parent)
		parent.$.fn.colorbox.resize({
			'innerHeight':h
		});
	}

});
</script>
{%endif%}


<!-- SIDEBAR -->

<script type="text/javascript">
$(window).load(function(){


      $(function() {
        $('nav#menu').mmenu();

      });

});   
</script>

<!-- SIDEBAR OPEN-->




<!-- REGISTER SCRIPTS -->

        <script type="text/javascript">
              $(document).ready(function() {
                  $('#username').keyup(function() {
                   $('#myOutputText').val($(this).val());
                   $('#myDIVTag').html("<i class='fa fa-user'></i><span class='text-dgray fw-c'> " + $(this).val() + " </span> will be the admin.");
                  });
              });    
          </script>

        <script type="text/javascript">

        $(document).ready(function(){
          $("#op2").hide();
          $("#op3").hide();

          $("#rad1").click(function(){

              if ($("#rad1").is(":checked")) {
                   
                  //show the hidden div
                   $("#op1").show("slide");
                   $("#op2").hide("fade");
                   $("#op3").hide("fade");
                  
              }
          });

          $("#rad2").click(function(){

              if ($("#rad2").is(":checked")) {
                   
                  //show the hidden div
                   $("#op2").show("slide");
                   $("#op1").hide("fade");
                   $("#op3").hide("fade");
                  
              }
          });

          $("#rad3").click(function(){

              if ($("#rad3").is(":checked")) {
                   
                  //show the hidden div
                   $("#op3").show("slide");
                   $("#op2").hide("fade");
                   $("#op1").hide("fade");
                  
              } 
          });


        });

        </script>

<!-- END REGISTER SCRIPTS -->

