
{% macro collection(handle,collection,percent,role,update,user_authorizations) %}

  

<div class="row">
    <div class="col-xs-12 col-sm-12">

 
        {% if 'get_a' in user_authorizations %}

          <a href="/{{handle}}/_collections/{{collection}}">{{ collection|capitalize }}</a>

                {% if 'get_a_x' in user_authorizations %}
            
                    
                    <div class="dropdown pull-right">
                        <a class="dropdown-toggle" id="menu_{{collection}}" data-toggle="dropdown" aria-expanded="false">
                        
                            <i class="fa fa-cog fc-g"></i>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu_{{collection}}">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="/{{handle}}/_collections/{{ collection}}?rq=put"><i class="fa fa-cog"></i> Settings </a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="/{{handle}}/_collections/{{ collection }}?rq=post&n=10"><i class="fa fa-plus"></i> New Ring</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="/{{handle}}/_collections/{{ collection }}?rq=put"> <i class="fa fa-link"></i> Link Ring</a></li>
                            
                        </ul>
                    </div>

            
                {% endif %}
            
           
            

        {%else%}
            
            <span class="">{{ collection|capitalize }} </span>
            
        {%endif%}
             

    </div>
</div>
{% endmacro %}



{#% macro collection_big(handle, collection, ring , percent, role, update,handle_profilepic,user_authorizations) %#}
{% macro collection_big(data, percent, role, update) %}


<div class="row">
  <div class="col-sm-12">
    <div class="gcard-title">
      

            <div class="pull-right text-right spa10">
                <span class="dropdown">
                  <a class="dropdown-toggle nounder" id="menu_{{data.collection}}" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span><span class="hidden-xs">Actions</span>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu_{{data.collection}}">
                    <li role="presentation"><a role="menuitem" class="nounder" tabindex="-1" href="/{{data.handle}}/_collections/{{ data.collection}}?rq=post&n=10"><i class="fa fa-plus-circle"></i> New Ring</a></li>
                    <li role="presentation"><a role="menuitem" class="nounder" tabindex="-1" href="/{{ data.handle }}/_collections/{{ data.collection }}"><i class="fa fa-circle-o"></i> Show all Rings</a></li>
                    <li role="presentation"><a role="menuitem" class="nounder" tabindex="-1" href="/{{ data.handle }}/_collections/{{ data.collection }}?rq=put"> <i class="fa fa-wrench"></i>Collection Settings</a></li>
                  </ul>
                </span>
            </div>



            <div class="fs-1-7 text-s1">
              <a class="nounder" href="/{{data.handle}}">
                  <img class="user-bar bord-all bg-1 desaturate" src="{% if data.handle_profilepic %}{{data.image_cdn_root}}/_images/{{data.handle}}/t75/{{ data.handle_profilepic}}_t75.jpg{% else %} /static/images/ph/ph_user2.gif{% endif %}" style="width:28px;">
                
                <span class="fc-a">{{ data.handle|lower() }}</span>   
                <span class="fc-a">/</span>
                
             </a>
             <a href="/{{data.handle}}/_collections/{{ data.collection }}">
               <span class="fc-b fw-a">{{ data.collection }}</span> /
             </a>
             <a href="/{{data.handle}}/_collections/{{ data.collection }}">
                {{ icon_sma('', '345') }}
               <span class="fc-b fw-a">{{ data.ring }}</span>
              
             </a>

            </div> 
    
    </div>
  </div>
</div> 
{% endmacro %}



{% macro panel_collections2(handle, collection, ringname, color, count, percent, active, user_authorizations,extended) %} 

          
          <tr class="bord-bottom bc-8 bw-2">
            
            <td style="width:15%">{{ icon_sma(count, color) }}
            <!-- <img src="/static/images/icons/ico_schema.png" style="width:10px; opacity:0.2;"> -->
            
            
             
              
            </td>
            <td>

              <!--img src="/static/images/icons/ico_schema.png" style="width:15px; opacity:0.5;"-->
              <div class="fw-c">
                <div class="spa5"></div>             
                {% if ringname+'_get_a_b' in user_authorizations or 'get_a_b' in user_authorizations %}
                  <a class="nounder" href="/{{handle}}/_collections/{{collection}}/{{ ringname }}"> {{ringname}}</a>
                {%else%}
                  {{ringname}}
                {%endif%} 
              </div>
            </td>
            <td>
              <div class="pull-right">
                
                <div class="btn-group" >
                

                  

                  {% if ringname+'_post_a_b' in user_authorizations or 'post_a_b' in user_authorizations %}
                 

                  <a href="/{{handle}}/_collections/{{collection}}/{{ringname}}?rq=post" type="button" class="fc-b nounder" data-toggle="tooltip" title="Add item">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-1x fc-i fs-1-2"></i>
                      <i class="fa fa-plus fa-stack-1x fa-inverse fs-0-6"></i>
                    </span>
                  </a>

                  <a href="/{{handle}}/_collections/{{collection}}/{{ ringname }}" type="button" class="fc-b nounder" data-toggle="tooltip" title="See Ring">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-1x fc-d fs-1-2"></i>
                          <i class="fa fa-eye fa-stack-1x fa-inverse fs-0-6"></i>
                        </span>
                  </a>



                    {% if extended=='1' %}
                      

                      <a href="/{{ handle }}{% if collection %}/_collections/{{collection}}{% endif %}/{{ ringname }}?rq=put" type="button" class="nounder" data-toggle="tooltip" title="Edit Schema">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-1x fc-c fs-1-2"></i>
                          <i class="fa fa-gear fa-stack-1x fa-inverse fs-0-6"></i>
                        </span>
                      </a>
                      <a href="/_api/{{ handle }}/{{ ringname }}" type="button" class="nounder" data-toggle="tooltip" title="See REST">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-1x fc-m fs-1-2"></i>
                          <i class="fa fa-arrow-right fa-stack-1x fa-inverse fs-0-6"></i>
                        </span>
                      </a>
                    {% endif %}

                  {% endif %}

                </div>
                
              </div>
            </td>
            <td>
              
            </td>
          </tr>
          
                   
{% endmacro %}



{% macro panel_collections(collectionname,data,ring, color,extended) %} 
          
          <tr class="bord-bottom bc-8 bw-2">
            
            <td style="width:15%">{{ icon_sma(ring.count, color) }}
            <!-- <img src="/static/images/icons/ico_schema.png" style="width:10px; opacity:0.2;"> -->
            
              {% if data.user_authorizations %}
                {% if extended!='1' %}
                <span class="dropdown">
                  <a class="dropdown-toggle nounder" id="menu_{{data.collection}}" data-toggle="dropdown" aria-expanded="false">
                    
                    <i class="fa fa-caret-down fs-0-8 fc-g"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu_{{data.collection}}">
                    <li role="presentation"><a role="menuitem" class="nounder" tabindex="-1" href="/{{ data.handle }}{% if data.collection %}/_collections/{{data.collection}}{% endif %}/{{ ring.ringname }}?rq=put"><i class="fa fa-cog"></i> Edit schema</a></li>
                    <li role="presentation"><a role="menuitem" class="nounder" tabindex="-1" href="/_api/{{ data.handle }}/{{ ring.ringname }}"><img src="/static/images/icons/json.png" style="opacity:0.5; width:15px;"> See JSON</a></li>
                    
                  </ul>
                </span>
                {% endif %}
              {% endif %}
            </td>
            <td>

              <!--img src="/static/images/icons/ico_schema.png" style="width:15px; opacity:0.5;"-->
              <div class="fw-c">
                <div class="spa5"></div>

              

                {% if data.user_authorizations %}
                

                {#% if ring.ringname+'_get_a_b' in data.user_authorizations or 'get_a_b' in data.user_authorizations %#}


                  <a class="nounder" href="/{{data.handle}}/_collections/{{collectionname}}/{{ ring.ringname }}"> {{ring.ringname}}</a>
                {%else%}
                  {{ring.ringname}}
                {%endif%} 
                  <p class="fc-g fs-0-8">{{ ring.ringdescription }}</p>
              </div>
            </td>
            <td>
              <div class="pull-right">
                
                <div class="btn-group" >
                

                  {% if data.user_authorizations %}


                  {#% if ring.ringname+'_post_a_b' in data.user_authorizations or 'post_a_b' in data.user_authorizations %#}

                 

                  <a href="/{{data.handle}}/_collections/{{data.collection}}/{{ring.ringname}}?rq=post" type="button" class="fc-b nounder" data-toggle="tooltip" title="Add item">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-1x fc-i fs-1-2"></i>
                      <i class="fa fa-plus fa-stack-1x fa-inverse fs-0-6"></i>
                    </span>
                  </a>

                    {% if extended=='1' %}
                      <a href="/{{data.handle}}/_collections/{{collectionname}}/{{ ring.ringname }}" type="button" class="fc-b nounder" data-toggle="tooltip" title="See Ring">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-1x fc-d fs-1-2"></i>
                          <i class="fa fa-eye fa-stack-1x fa-inverse fs-0-6"></i>
                        </span>
                      </a>

                      <a href="/{{ data.handle }}{% if data.collection %}/_collections/{{data.collection}}{% endif %}/{{ ring.ringname }}?rq=put" type="button" class="nounder" data-toggle="tooltip" title="Edit Schema">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-1x fc-c fs-1-2"></i>
                          <i class="fa fa-gear fa-stack-1x fa-inverse fs-0-6"></i>
                        </span>
                      </a>
                      <a href="/_api/{{ data.handle }}/{{ ring.ringname }}" type="button" class="nounder" data-toggle="tooltip" title="See API">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-1x fc-m fs-1-2"></i>
                          <i class="fa fa-angle-double-right fa-stack-1x fa-inverse fs-0-6"></i>
                        </span>
                      </a>
                    {% endif %}

                  {% endif %}

                </div>
                
              </div>
            </td>
            <td>
              
            </td>
          </tr>
          
                   
{% endmacro %}




{#% macro panel(ring, origin, handle, color, count,description,date,collection,user_authorizations,idx) %#}
{% macro panel(ring, data, color) %}

   <tr class="bord-bottom bc-10 bw-5">
    <td width="50px" class="hidden-xs">
    </td>
    <td class=""> 
      <div class="row">
        <div class="col-sm-offset-1 col-sm-2 hidden-xs ">
          {{ icon_stack(ring.count,color) }} 
        </div> 
        <div class="col-sm-offset-1  col-xs-2 visible-xs">
              {{ icon_sma(ring.count,color) }}
        </div>

        <div class="col-xs-6 col-sm-6">

          <div class="spa10 text-left ">
            <div class="fs-1-5">

              <div class="fs-1">

              {% if 'get_a' in user_authorizations %}
              
                <div class="spa5 hidden-xs"></div>
                <a href="/{{ data.handle }}{% if data.collection %}/_collections/{{ data.collection}}{% endif %}/{{ ring.ringname }}" class="nounder">
                
                 {{ ring.ringname }}
                </a>
              
                {%else%}
                
                  {{ring.ringname }}

                {%endif%}
                

              </div>
              <p class="text-lgray fs-0-6">{{ ring.ringdescription }}</p>
            </div>
            
          </div>

        </div> 
        <div class="col-xs-2 col-sm-3">

          <div class="pull-right">
            

            <div class="btn-group">
              {% if 'post_a_b' in data.user_authorizations %}
              <a href="/{{ data.handle }}{% if data.collection %}/_collections/{{ data.collection}}{% endif %}/{{ ring.ringname }}?rq=post" type="button" class="btn btn-success btn-xs"><i class="fa fa-plus fa-1x"></i></a>
              {% endif %}

              
              {% if 'put_a_b' in data.user_authorizations %}
              
              <a href="/{{ data.handle }}{% if data.collection %}/_collections/{{ data.collection}}{% endif %}/{{ ring.ringname }}?rq=put" type="button" class="btn btn-warning btn-xs"><i class="fa fa-cog fa-1x"></i></a>
              <a href="/_api/{{ data.handle }}/{{ ring.ringname }}" type="button" class="btn  btn-xs"><img src="/static/images/icons/json.png"></a>
              {% endif %}

            </div> 
            
            
          </div>
        </div>
      </div>  
    </td>
  </tr> 


{% endmacro %}

{% macro panel3(data,color) %}

  <tr class="bord-bottom bc-10 bw-5">
    <td style="width:3%" class="hidden-xs">
    </td>
    <td style="width:10%">
      {% if data.item %}
        <div class=" col-sm-1 hidden-xs ">
            {{ icon_med('',color) }} 
          </div> 
          <div class=" col-xs-1 visible-xs">
            {{ icon_sma('',color) }}
        </div>

      {% else%}
        <div class=" col-sm-1 hidden-xs ">
            {{ icon_stack(data.ringcount,color) }} 
          </div> 
          <div class=" col-xs-1 visible-xs">
            {{ icon_sma(data.ringcount,color) }}
        </div>
      {% endif %}
    </td>
    <td> 
      <div class="row">
        

        <div class="col-xs-8 col-sm-7">

          <div class="spa10 text-left ">
            <div class="fs-1-5">
              <div class="spa10"></div>
              {% if data.item %} 

                <span class="fw-c">
                {% for i in data.item%}  
                  {%if i[:1] != '_' %}   
                    {%if x%}
                    {%else%}
                      {{data.item[i]}}                    
                      {%set x = True%}
                    {%endif%}
                  {%endif%}
                {%endfor%}
                </span>

                <div class="fc-g fs-0-7">{{data.ring}}</div>
                
              {% else %}
                <span class="fw-c">{{data.ring}}</span>

              {% endif %} 
            </div>
            {% if data.item %} 
            {% else%}
              <p class="fc-m fs-0-7">{{ data.ringdescription}}</p>
            {% endif %}
            
          </div>
        </div> 
        <div class="col-xs-4 col-sm-5">

          <div class="pull-right">

            <div class="btn-group">
              {% if 'post_a_b' in data.user_authorizations %}
              <a href="/{{ data.handle }}{% if data.collection %}/_collections/{{ data.collection}}{% endif %}/{{ data.ring }}?rq=post" type="button" class="btn btn-success btn-xs"><i class="fa fa-plus fa-1x"></i></a>
              {% endif %}

              
              {% if 'put_a_b' in data.user_authorizations %}
              
              <a href="/{{ data.handle }}{% if data.collection %}/_collections/{{ data.collection}}{% endif %}/{{ data.ring }}?rq=put" type="button" class="btn btn-warning btn-xs"><i class="fa fa-cog fa-1x"></i></a>
              <a href="/_api/{{ data.handle }}/{{ data.ring }}{%if data.idx%}/{{data.idx}}{%endif%}" type="button" class="btn  btn-xs"><img src="/static/images/icons/json.png"></a>
              {% endif %}

            </div> 
            
            <span class="label label-discrete pull-right">{{ data.date }}</span>
          </div>
        </div>
      </div>  
    </td>
  </tr>


{% endmacro %}



{% macro cta1() %}
    <section id="header" class="bg-yellow">
      <div class="row">
        <div class="col-sm-offset-3 col-sm-7 text-left">
            <div class="spa40"></div>
            <h3 class="text-black " style="font-size:6em; line-height:0.8em;">Start today</h3>
            <p class="fs-1-5">No Commitment, no credit card required</p>
            <div class="spa20"></div>

            
            <form action='/thankyou' method='post'/>

                <h2 class="text-white lh-1" style="font-size:3em;">email: <br/>
                  <span class="text-white">
                    <input type="email" id="email" name="email" required="required" class="text-gray remove-s" placeholder="email">
                  </span>
                </h2>

                <h2 class="text-white lh-1" style="font-size:3em;">Create a password: <br/>
                  <span class="text-white">
                      <input type="password" name="password" id="password" class="text-gray remove-s" required="required" title="" placeholder="password">
                  </span>
                </h2>


                <h2 class="text-white lh-1" style="font-size:3.5em; float:right;">
                <input type="submit" value="go" class="remove-b text-black">
                </h2>
            </form>

            <div class="spa20 clearboth"></div>

        </div>
      </div>  
    </section> 
{% endmacro %}


  {% macro panel2(ring, handle, color, count,description) %}

  <tr>
    <td> 
      <div class="row">
        <div class=" col-sm-2 hidden-xs">
          {{ icon_sma(count,color) }}
        </div> 
        <div class="col-xs-7 col-sm-7">
          <a href="/{{ handle }}/{{ ring }}" class="nounder"><h3 class="fs-1-5">&deg;{{ ring }}</h3></a>
          <p class="rn-t3 text-lgray">{{ description }}</p>
        </div> 
        <div class="col-xs-5 col-sm-3">
          <div class="pull-right">
            <div class="visible-xs">
              {{ icon_med(count,color) }}
            </div>
            <div class="btn-group">
            
              <!-- <a href="/{{ handle }}/{{ ring }}" type="button" class="btn btn-info btn-xs">List</a> -->
              <a href="/{{ handle }}/{{ ring }}?rq=post" type="button" class="btn btn-success btn-xs"><i class="fa fa-plus fa-1x"></i></a>

              <a href="/{{ handle }}/{{ ring }}?rq=put" type="button" class="btn btn-warning btn-xs"><i class="fa fa-cog fa-1x"></i></a>

              <a class="btn btn-vader btn-xs pull-right" href="/_api/{{ handle }}/{{ ring }}">
              { }</a>

            </div>
            <br/><br/>
            <span class="label label-discrete pull-right">1 day ago (ipsum)</span>
          </div>
        </div>
      </div>  
    </td>
  </tr>

{% endmacro %}

{% macro panel_collapse(name, color, number, percent, active) %} <!-- TO BE USED INSIDE A COLLAPSABLE TAB -->
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingOne">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#{{ name }}" aria-expanded="true" aria-controls="collapseOne">
        <table>
          <tr>
            <td>{{ icon_xsma(number, color) }}</td>
            <td><h4>&deg;{{ name }}</h4></td>
          </tr>
        </table>
           
      </a>
    </h4>
  </div>
  <div id="{{ name }}" class="panel-collapse collapse {{ active }}" role="tabpanel" aria-labelledby="{{ name }}">
    <div class="panel-body">
        
      

        {{ pbar2('35', name, color) }}
    </div>
  </div>
</div>
{% endmacro %}

{% macro panel_rings(name, origin, handle, color, number, percent, active, resource, user_authorizations) %} 
          
          <tr>
            <td><p>{{ number }}</p></td>
            <td>{{ icon_xsma(number, color) }}</td>
            <td>
              <span class="octicon {% if handle == origin %} octicon-repo {% else %} octicon-git-branch {%endif%}"></span>
              {% if 'get_a_b' in user_authorizations %} 
              &nbsp;<a href="/{{ resource }}"> {{origin}}/<span style="font-weight:700;">{{ name }}</span></a>
              {%else%}
              &nbsp; {{origin}}/<span style="font-weight:700;">{{ name }}</span>
              {%endif%} 
              <span class="fc-g"><p class="fs-0-8">1 day ago</p></span>
            </td>
            <td>
              <div class="pull-right">
                <div class="visible-xs">
                  {{ icon_med(count,color) }}
                </div>
                <div class="btn-group" >
                
                  <!-- <a href="/{{ handle }}/{{ name }}" type="button" class="btn btn-info btn-xs">List</a> -->
                  {% if 'post_a' in user_authorizations %}
                  <a href="/{{ resource }}?rq=post" type="button" class="btn btn-success btn-xs"><i class="fa fa-plus fa-1x"></i></a>
                  {% endif %}
                  {% if 'put_a' in user_authorizations %}
                  <a href="/{{ resource }}?rq=put" type="button" class="btn btn-warning btn-xs"><i class="fa fa-cog fa-1x"></i></a>
                  {% endif %}
                  

                </div>
                
              </div>
            </td>
          </tr>
          
                   
{% endmacro %}



{% macro portlet(FieldOrder,FieldLayer,new,FieldName,FieldWidget,FieldCardinality,FieldHint,FieldSource,FieldSemantic,FieldLabel) %}

<!-- N FIELD END -->         

                <div id="portlet_{{ FieldOrder }}" class="portlet"> <!-- B. -->


                  <!-- TAGS -->

                  <input id="tagvalue_{{ FieldOrder }}" type="hidden" name="FieldLayer_{{ FieldOrder }}" value="{{ FieldLayer }}">

                  <div id="tagged{{ FieldOrder }}" class="portlet-header bt-{{ FieldLayer }}">
                  <!-- <div id="tagged{{ f }}" class="bt-7">G</div> -->
                    <table>
                      <tr>
                        <td><span class="handler m-10" ><i class="fa fa-bars fa-1x text-white"></i></span></td>
                        <td>
                          

                          <span class="label label-danger m-10">{{ FieldOrder }}</span>
                          
                        </td>
                        <td>
                          {% if new == True %}
                            <!-- <input id="FieldName_{{ FieldOrder }}" name="FieldName_{{ FieldOrder }}" class="form-control input-sm fs-0-9" type="text" placeholder="Field name" value="f{{ FieldOrder }}"> -->

                            {{ FieldOrder }}

                            <input id="FieldName_{{ FieldOrder }}" name="FieldName_{{ FieldOrder }}" class="form-control input-sm fs-0-9" type="hidden" value="f{{ FieldOrder }}">

                          {%else%}
                            <!-- <input id="FieldName_{{ FieldOrder }}disabled" name="FieldName_{{ FieldOrder }}disabled" class="form-control" type="text" value="{{ FieldName }}" disabled> -->
                            <span class="fs-0-8 p-x-10">{{ FieldName }}</span>
                            <input id="FieldName_{{ FieldOrder }}" name="FieldName_{{ FieldOrder }}" class="form-control input-sm fs-0-9" type="hidden" value="{{ FieldName }}">
                          {% endif %}
                        
                       </td>
                       <td>
                          <select name="FieldWidget_{{ FieldOrder }}" class="form-control input-sm" style="background-color:#666; color:white;">
                              <option value="">SELECT ONE</option>
                              <option value="checkbox" {% if FieldWidget == "checkbox" %}selected=""{% endif %}>checkbox</option>
                              <option value="date" {% if FieldWidget == "date" %}selected=""{% endif %}>date</option>
                              <!--option value="file" {% if FieldWidget == "file" %}selected=""{% endif %}>file</option-->
                              <option value="images" {% if FieldWidget == "images" %}selected=""{% endif %}>images</option>
                              <option value="items" {% if FieldWidget == "items" %}selected=""{% endif %}>items</option>
                              <option value="location" {% if FieldWidget == "location" %}selected=""{% endif %}>location</option>
                              <option value="password" {% if FieldWidget == "password" %}selected=""{% endif %}>password</option>
                              <option value="radio" {% if FieldWidget == "radio" %}selected=""{% endif %}>radio</option>
                              <option value="select" {% if FieldWidget == "select" %}selected=""{% endif %}>select</option>
                              <option value="text" {% if FieldWidget == "text" %}selected=""{% endif %}>text</option>
                              <option value="textarea" {% if FieldWidget == "textarea" %}selected=""{% endif %}>textarea</option>
                              <option value="url" {% if FieldWidget == "url" %}selected=""{% endif %}>url</option>
                              <!--option value="url_flickr" {% if FieldWidget == "url_flickr" %}selected=""{% endif %}>url_flickr</option-->
                              <!--option value="url_video" {% if FieldWidget == "url_video" %}selected=""{% endif %}>url_video</option-->
                          </select>
                        </td>
                        <td>
                           <!--  <span class="fs-0-8">({{ FieldLabel }})</span> -->

                           <input type="text" name="FieldLabel_{{ FieldOrder }}" class="form-control input-sm fs-0-6" value="{{ FieldLabel }}" placeholder="label"/>

                            <!-- <div class="input-group input-group-sm m-10">
                              <span class="input-group-addon" id="sizing-addon1">*Source</span>
                              <input type="text" name="FieldSource_{{ f }}" class="form-control" placeholder="source"/>
                            </div> -->
                        </td>
                        <td>
                          &nbsp;
                        </td>
                        <td class="" style="width:40%;">
                            <input type="text" name="FieldHint_{{ FieldOrder }}" class="form-control input-sm fs-0-6 " value="{{ FieldHint }}" placeholder="placeholder"/> 
                        </td>
                        <td><span class="tog"></span></td>

                      </tr>
                    </table>
                  </div> <!-- C1 -->
                  <div class="portlet-content"> <!-- C2. DETAILS -->

                      <div class="row">
                        <div class="col-sm-8">
                          
                            <span class="fc-g fs-0-8 margin-x-7">
                              
                              required
                              <input name="FieldRequired_{{ FieldOrder }}" value="TRUE" type="checkbox">
                            </span>

                            <!-- <span class="label bg-gray margin-x-7">
                              <input name="FieldMultilingual_{{ FieldOrder }}" value="TRUE" type="checkbox">
                              multilingual
                            </span> -->

                            <span class="fc-g fs-0-8 margin-x-7">
                              Cardinality
                              <select name="FieldCardinality_{{ FieldOrder }}" class="fc-b">
                                <option value="Single" {% if FieldCardinality == "Single" %} selected {% endif %} >Single</option>
                                <option value="Multiple" {% if FieldCardinality == "Multiple" %} selected {% endif %} >Multiple</option>
                              </select>
                              
                            </span>
                        </div>
                        <div class="col-sm-4">
                            <table>
                            <tr>
                              <td><div layer="1" class="treset{{ FieldOrder }} r-tag bt-0 bc-1"></div></td>
                              <td><div layer="2" class="treset{{ FieldOrder }} r-tag bt-0 bc-2"></div></td>
                              <td><div layer="3" class="treset{{ FieldOrder }} r-tag bt-0 bc-3"></div></td>
                              <td><div layer="4" class="treset{{ FieldOrder }} r-tag bt-0 bc-4"></div></td>
                              <td><div layer="5" class="treset{{ FieldOrder }} r-tag bt-0 bc-5"></div></td>
                              <td><div layer="6" class="treset{{ FieldOrder }} r-tag bt-0 bc-6"></div></td>
                              <td><div layer="7" class="treset{{ FieldOrder }} r-tag bt-7 bc-7"></div></td>
                            </tr>
                          </table>

                            <!-- <div class="input-group input-group-sm">
                              <span class="input-group-addon" id="sizing-addon1">label</span>
                              <input type="text" name="FieldLabel_{{ FieldOrder }}" class="form-control" value="{{ FieldLabel }}" placeholder="label"/>
                            </div>  -->
                        </div>
                      </div>
                      <hr/>
                      <div class="row">
                        <div class="col-sm-12">

                            <div class="input-group input-group-sm">
                                  <span class="input-group-addon fs-0-8" id="sizing-addon1">Source*</span>
                                  <textarea name="FieldSource_{{ FieldOrder }}" rows="4" class="form-control" placeholder="URI of ">{{ FieldSource }}</textarea>
                            </div>
                            
                              
                              
                              
                             
                        </div>
                        <br/>
                        <div class="col-sm-3">
                          <div class="input-group input-group-sm">
                              <span class="input-group-addon fs-0-8" id="sizing-addon1">Order</span>
                              <input type="text" name="FieldOrder_{{ FieldOrder }}" value="{{ FieldOrder }}" class="fc-0-9">
                              
                          </div> 
                          
                        </div>
                        <div class="col-sm-9">

                          <div class="input-group input-group-sm">
                                <span class="input-group-addon" id="sizing-addon1">Default</span>
                                <input type="text" name="FieldDefault_{{ f }}" class="form-control" placeholder="in case you want to leave this"/>
                                <!-- <input type="hidden" name="FieldDefault_{{ FieldOrder }}"> -->
                          </div>
                          
                        </div>
                        
                        

                      </div><!-- CLOSE ROW 1 -->

                            <!-- NEW ORDER -->

                            <input type="hidden" name="FieldType_{{ FieldOrder }}">
                            

                            <div class="input-group input-group-sm">
                              
                            </div>
                    <!-- SUBMIT -->
                  </div> <!-- C. PORTLET CONTENT -->
                </div> <!-- B. CLOSE PORTLET -->


                  <!-- N FIELD END -->

{% endmacro%}


{% macro showSchema(FieldOrder,FieldLayer,new,FieldName,FieldWidget,FieldCardinality,FieldHint,FieldSemantic,FieldLabel) %}

        
      <tr class="bt-{{ FieldLayer }}">
          
          <td>
            <span class="label label-danger">{{ FieldOrder }}</span>
          </td>
          <td>
            <span class="label label-default">{{ FieldName }}</span>
          </td>

          <td>
              <strong> {{ FieldLabel }}</strong>
          </td>
          <td>
            {{ FieldWidget }}
          </td>
          
          <td>
            {{ FieldCardinality }}
          </td>
          <td>
            {{ FieldSource }}
          </td>
         

      </tr>                

{% endmacro%}



{% macro campaign(active,name,by,type,rings,da,q) %}

  <tr>
    
    <td><i class="fa fa-toggle-{{ active }} fa-1x"></i></td>
    <td><p class="fs-0-8"><a href="/campaigns/w1">{{ name }}</a></p></td>
    <td><img class=" user-med" src="/static/images/{{ by }}" style="width:20px;"></td>
    <td><p class="fs-0-8">{{ type }}</p></td>
    
    <td><span class="badge">{{ da }} </span></td>

    <td style="min-width:100px;">
      <div class="spa5"></div>

      {{ pbar(q) }}

    </td>
    <td></td>
  </tr>
{% endmacro %}



{% macro wizSteps(number,name,active) %}

<div class="step step-{{ active }}"><span class="text-s2 fs-3 fw-a" style="padding-right:15px;">{{ number }}</span> <span class="text-s1">{{ name }}</span></div>

{% endmacro %}

{% macro pbar(value) %}
<div class="fs-0-6 fc-g float-right p-x-4">{{value|round|int }} %</div>
<div class="progress " style="height:7px;">

        <div class="progress-bar {% if value <=50 %}bg-a{% elif value <=90 %} bg-c2 {% elif value >=91 %} bg-j{% endif %} " role="progressbar" aria-valuenow="{{ value }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ value }}%;">
        </div>
</div>

{% endmacro %}

{% macro pbar2(value, name, color) %}
<tr>
  <td>
    <span class="text-s1 pull-right">˚{{ name }}</span>
    <span class="">{{ icon_xsma(value, color) }}</span>
    <!-- <span class="pull-right"><i class="fa fa-toggle-on fa-1x"></i></span> -->
    
    <div class="progress" style="height:7px; margin:0;">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{ value }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ value }}%; background-color:{{ color }};">
            </div>
    </div>
    <span class="text-s1 fw-a pull-right fs-0-8">200</span>
    <span class="text-s1 fw-a pull-left fs-0-8">345</span>
  </td>
</tr>


{% endmacro %}



<!-- ////////////////////ICONS -->

{% macro icon_big(number,color) %}
  <svg height="85" width="100" style="margin:-5px;">
    <!-- <line x1="3" y1="0" x2="3" y2="40" stroke-dasharray="2,2" style="stroke:rgb(180,180,180);stroke-width:1" />
    <line x1="3" y1="40" x2="32" y2="55" stroke-dasharray="2,2" style="stroke:rgb(180,180,180);stroke-width:1" /> -->
    <circle cx="57" cy="45" r="25" stroke="#f0f0f0" stroke-width="3" fill="none" />
    <circle cx="60" cy="40" r="25" stroke="{{ color }}" stroke-width="2" fill="none" />
    <text x="60" y="49" fill="gray" class="fs-1-5 text-s2" text-anchor="middle">{{ number }}</text>
  </svg>
{% endmacro %}


{% macro icon_med(number,color) %}
  <svg height="85" width="80" style="margin:-5px;">
    <circle cx="50" cy="48" r="22" stroke="#e5e5e5" stroke-width="3" fill="none" />
    <circle cx="48" cy="44" r="22" stroke="{{ color }}" stroke-width="2" fill="none" />
    <text x="48" y="53" fill="gray" class="fs-1-5" text-anchor="middle">{{ number }}</text>
  </svg>
{% endmacro %}

{% macro icon_sma(number,color) %}
  <svg height="40" width="50" style="margin:-5px;">
    <circle cx="30" cy="20" r="15" stroke="#e5e5e5" stroke-width="3" fill="none" />
    <circle cx="28" cy="22" r="15" stroke="{{ color }}" stroke-width="2" fill="none" />
    <text x="29" y="26" fill="gray" class="fs-1" text-anchor="middle">{{ number }}</text>
  </svg>
{% endmacro %}

{% macro icon_xsma(number,color) %}
  <svg height="30" width="40" style="margin:-5px;">
    <circle cx="15" cy="15" r="10" stroke="#e5e5e5" stroke-width="3" fill="none" />
    <circle cx="22" cy="16" r="10" stroke="{{ color }}" stroke-width="2" fill="none" />
  </svg>
{% endmacro %}


{% macro icon_stack(number,color,last) %}
  <svg height="70" width="90">
    <!-- <line x1="3" y1="0" x2="3" y2="40" stroke-dasharray="2,2" style="stroke:rgb(180,180,180);stroke-width:1" />
    <line x1="3" y1="40" x2="32" y2="55" stroke-dasharray="2,2" style="stroke:rgb(180,180,180);stroke-width:1" /> -->
    <circle cx="57" cy="45" r="25" stroke="#f0f0f0" stroke-width="3" fill="none" />
    <circle cx="60" cy="40" r="25" stroke="{{ color }}" stroke-width="2" fill="none" />
    <text x="59" y="47" fill="gray" class="fs-1-5 text-s2" text-anchor="middle">{{ number }}</text>

    <line x1="0" y1="0" x2="0" y2="42" stroke-dasharray="2,2" style="stroke:rgb(224,224,224);stroke-width:2" />
    <line x1="0" y1="42" x2="35" y2="42" stroke-dasharray="2,2" style="stroke:rgb(224,224,224);stroke-width:2" />


  </svg>
{% endmacro %}




{% macro org_header(data,handle) %}

        <a href="/{{handle}}"><img class="img-responsive center-block user-big" src="{% if data.handle_profilepic %}{{data.image_cdn_root}}/_images/{{handle}}/t150/{{data.handle_profilepic}}_t150.jpg{% else %}/static/images/ph_org.gif{% endif %}" style="float:left; margin-right:10px;" alt=""></a>

        {% if data.handle_actualname %} 
         <h3 class="text-lead fw-300 pull-left"><a href="/{{handle}}"><span class="text-gray">{{data.handle_actualname}}</span></a><br/><span class="text-lgray pull-left fs-0-6">{{handle}}</span></h3><br/>
        {% else %}
         <h3 class="text-lead fw-300 pull-left"><a href="/{{handle}}"><span class="text-gray">{{handle}}</span></a><br/><span class="text-lgray pull-left fs-0-6"></span></h3><br/>
        {% endif %}

        <span class=" pull-right">
            <a href="/{{handle}}" >go to<b> mainpage</b> </a> &nbsp;&nbsp;<br/>

          {% if data.section == '_teams' %}
            {% if 'get_a_p' in data.user_authorizations %}     
            <a href="/{{handle}}/_people" >go to <b> People</b> </a> &nbsp;&nbsp;
            {% endif %}
          {%endif%}

          {% if data.section == '_people' %}
            {% if 'get_a_m' in data.user_authorizations %}     
            <a href="/{{handle}}/_teams" > go to <b>Teams</b> </a> &nbsp;&nbsp;
            {% endif %}
          {%endif%}
        </span>

{% endmacro %}

{% macro org_header2(handle,realname,pic,cdn) %}

        <div class="row">
                {% if pic %} 
                  <div class="col-sm-1 col-xs-2">
                    <a href="/{{handle}}"><img class="img-responsive center-block user-small" src="{% if pic %}{{cdn}}/_images/{{handle}}/t150/{{pic}}_t150.jpg{% else %}/static/images/ph_org.gif{% endif %}" style="margin-right:10px;" alt=""></a>
                  </div>
                {% endif %}

                <div class="col-sm-11 ">
                    <span class="fc-b fs-1-2"> 

                        {% if realname %} 
                         <span class="text-lead fw-300 pull-left"><a href="/{{handle}}">
                            <span class="fc-b fs-1-2 fw-c">{{ realname }}</span></a>
                            <br/>
                            <span class="fc-a pull-left fs-0-9">@ {{handle}}</span>
                         </span>

                        {% else %}
                         <a href="/{{ handle }}/_orgprofile" class="nounder fc-b"> @{{ handle }}</a>
                          
                        {% endif %}
                          
                          
                    </span>
                </div>
                
        </div>

{% endmacro %}




{% macro whatis(title, text, icon, iconfile) %}

  <div class="box box-help">

    <table>
      <tr>
        <td colspan="2">
          <div class="pull-right">
            <i class="fa fa-arrow-up fa-2x"></i>
          </div>
        
          <p class="fs-1-3">What is a Data collection?</p>
        </td>
      </tr>
      <tr>
        <td style="width:20px;">
          <img src="/static/images/box.png" class="img-responsive block-center" style="width:80px;"> 
        </td>
      
        <td>
          
           <p class="fs-0-8">


            It's a collection of information that you want to make available to the world via an API. It can be text, photos, videos and/ or any digital format.
            </p>
            
            
            <div class="pull-right fs-1">
              <a href="" class="clearlink">
                <p class="blueprint2 fc-d"><i class="fa fa-times"></i> Close</p>  
              </a>  
          </div>

        </td>
      </tr>

    </table>
  </div>

{% endmacro %}


{% macro rntitle(title , help) %}

<div class="box box-title bord-left bw-9">
            
  <p class="text-gray pt-10">{{title}}</p>
  <div class="btn-group pull-right" role="group">
  
  </div>  
</div>
{% endmacro %}


{% macro demotitle(number, title,org,user,position, picuser, picorg,mail,pass,redirect) %}
<tr>
    <td><span class="label label-vader">Demo {{number}}</span>
    </td>
    <td>

      <img src="/static/images/demo/{{picorg}}" class="pic-org-1" style="width:100px; height:100px;">
        
        <img class="user-small user-round" src="/static/images/demo/{{picuser}}" style="margin-left:-40px; margin-top:90px;" alt=""/>

    </td>
    <td>

      <div class="spa20">
        <h4 class="fw-c">
        {{title}}</h4>
        <hr/>

        <div class="fs-0-8"><strong>Organization</strong>:
         

         {{org}} | <strong>User</strong>:

        

         {{user}} ( {{position}} )</div>
      </div>
      
    </td>
    
    <td>
      <form action="/_login" method="POST" target="_blank">
      <input type="hidden" name="email" value="{{mail}}" />
      <input type="hidden" name="password" value="{{pass}}"/>
      <input type="hidden" name="redirect" value ="{{redirect}}"/>
      <input class="btn btn-info" type="submit" value="Go to Demo">
    </form>
    </td>
    
  </tr>
<!--   update -->
{% endmacro %}




<!-- EXPERIMENTAL::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->





{% macro collab_collapse(order,colname, avatar, graph, color, assets, percent, last,role, active) %}

  

<div class="panel panel-default">
  <a data-toggle="collapse" data-parent="#accordion" href="#{{ order }}" aria-expanded="true" aria-controls="{{ order }}">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
      
        <span class="badge text-s2"> {{ order }}</span>
         
        <span class="pl-20 fs-0-8"> {{ colname }} </span> 
        
        </a>
      </h4>
    </div>
  </a>  
  <div id="{{ order }}" class="panel-collapse collapse {{ active }}" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-2">
          <img class=" user-med" src="/static/images/ph/users/{{ avatar }}">


          {{ label(role) }}
          

          
          <div class="spa5"></div>

          <div class="btn-group" role="group" aria-label="123">
            <a class="btn btn-default btn-xs"><i class="fa fa-plus fa-1x"></i></a>
            <a class="btn btn-default btn-xs"><i class="fa fa-comment fa-1x"></i></a>
          </div>

        </div>
        <div class="col-sm-10">
          <img class="img-responsive center-block" src="/static/images/graphics{{ graph }}" >
          <div class="pull-left fs-0-8 text-gray"><strong>{{ assets }}</strong>  Data Resources | {{ percent }}%</div>
          <div class="pull-right fs-0-8 text-gray"><a href="/campaigns"><strong>4 </strong>Active Campaigns &nbsp; <i class="fa fa-flag fa-1x"></i></a> </div>
        <div class="spa10 visible-xs"></div>
          <hr/>
          <div class="pull-right fs-0-8 text-lgray">{{ last }}</div> 
        </div>
      </div>
      
    </div>
  </div>
</div>
{% endmacro %}


{% macro label(code) %}
          {% if code==1 %}
            <div class="label label-discrete" style="margin-top:-50px;">Owner</div>
          {% elif code==2 %}
            <div class="label label-discrete" style="margin-top:-50px;">Admin</div>
          {% elif code==3 %}
            <div class="label label-discrete" style="margin-top:-50px;">Collab</div>  
          {% else %}
            <div class="label label-discrete" style="margin-top:-50px;">Observer</div>
          {% endif %}
{% endmacro %}   

{% macro friend(name, avatar) %}

<div>
  <img class=" user-med pull-left" src="/static/images/{{ avatar }}" width="40px">  
  <div class="btn-group pull-right" role="group" aria-label="123">
            <a class="btn btn-default btn-xs"><i class="fa fa-line-chart fa-1x"></i></a>
            <a class="btn btn-default btn-xs"><i class="fa fa-plus fa-1x"></i></a>
  </div>
  <p> {{ name }}</p>
  

  <hr/>
</div>    
{% endmacro %}    


{% macro mosaic_item(name) %}
<div class="pull-left" style="background-color:#F7F7F7; margin:2px; padding:2px;">
                      <!-- IMAGE PLACEHOLDER -->
    <table>
      <tr>
        <td align="center">
          <a href="" type="button" class="pull-right" data-toggle="popover" data-placement="bottom" 
                    
            >
          <!-- Image placeholder -->
            <img style="width:90px; margin:1px;" src="/static/images/image01.jpg"  class="img-thumbnail">

          </a>
        </td>
      </tr>
      <tr>
        <td align="center">
          <span class="fs-0-6 text-gray">
            {{ name }}
          </span>
        </td>
      </tr>
      <tr>
        <td align="center">
            <div class="btn-group" role="group" aria-label="...">
              <a href="" type="button" class="btn btn-info btn-xs"><i class="fa fa-eye"></i></a>
              <a href="" type="button" class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i></i></a>
              <a href="" type="button" class="btn btn-default btn-xs"><i class="fa fa-times"></i></a>
            </div>
                   
            <br/>
                    <span class="label label-info">PUBLIC</span>     
        </td>
      </tr>
    </table>
</div>

{% endmacro %}  

{% macro list_item() %}

<tr>
                  <td>
                      
                    <table> 
                      <tr>
                        <td>
                          <img style="width:70px;" src="/static/images/image01.jpg" class="img-thumbnail" >
                        </td>
                      </tr> 
                      <tr>
                        <td align="center">
                          <div class="btn-group" role="group" aria-label="...">
                            <a href="" type="button" class="btn btn-info btn-xs"><i class="fa fa-eye"></i></a>
                            <a href="" type="button" class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i></i></a>
                            <a href="" type="button" class="btn btn-default btn-xs"><i class="fa fa-times"></i></a>
                          </div>
                        </td>
                      </tr>   
                    </table>
                         
                  </td>
                  <td>
                      <table>

                          <tr>
                            <td  align="right" valign="top"><p class="fs-0-7 fc-g lh-1-2" style="margin-bottom:5px; padding:0 10px;">name:</p></td>
                            <td>
                                <p class="fs-0-7 lh-0-1 text-gray" style="margin-bottom:5px;">BALLY'S LAS VEGAS</p>
                            </td>
                          </tr>
                          <tr>
                            <td  align="right" valign="top"><p class="fs-0-7 fc-g lh-1-2" style="margin-bottom:5px; padding:0 10px;">address:</p></td>
                            <td>
                                <p class="fs-0-7 lh-0-1 text-gray" style="margin-bottom:5px;">3645 Las Vegas Blvd S, Las Vegas</p>
                            </td>
                          </tr>
                          <tr>
                            <td  align="right" valign="top"><p class="fs-0-7 fc-g lh-1-2" style="margin-bottom:5px; padding:0 10px;">state:</p></td>
                            <td>
                                <p class="fs-0-7 lh-0-1 text-gray" style="margin-bottom:5px;">NV</p>
                            </td>
                          </tr>
                          <tr>
                            <td  align="right" valign="top"><p class="fs-0-7 fc-g lh-1-2" style="margin-bottom:5px; padding:0 10px;">country:</p></td>
                            <td>
                                <p class="fs-0-7 lh-0-1 text-gray" style="margin-bottom:5px;">US</p>
                            </td>
                          </tr>
                          <tr>
                            <td  align="right" valign="top"><p class="fs-0-7 fc-g lh-1-2" style="margin-bottom:5px; padding:0 10px;">stars:</p></td>
                            <td>
                                <p class="fs-0-7 lh-0-1 text-gray" style="margin-bottom:5px;">3.5</p>
                            </td>
                          </tr>
                          <tr>
                            <td  align="right" valign="top"><p class="fs-0-7 fc-g lh-1-2" style="margin-bottom:5px; padding:0 10px;">description:</p></td>
                            <td>
                                <p class="fs-0-7 lh-0-1 text-gray" style="margin-bottom:5px;">Bally’s Las Vegas is one of the strip’s most exciting resorts, offering guests a “classic Las Vegas” experience. The 44-acre property is located on the center of the wor...</p>
                            </td>
                          </tr>
                            
                        
                      </table>
                  </td> 
                  <td width="30%">
                    
                    
                  </td>  
                  

              </tr>

{% endmacro%}










<!-- ::::::::::::::::FACT MODULE HELPERS:::::::::::::::::: --> 


<!-- Generates the PhotoMosaic -->
{% macro PhotoMosaic(owner,item,size,float) %}


        <div style="width:{{size}}px; float:{{float}}; padding:0 2px;">
          <a href="https://avispa.myring.io/_images/{{ owner }}/o/{{item}}_o.jpg" class="text-left" target="_blank">
               <img src="https://avispa.myring.io/_images/{{ owner }}/t150/{{item}}_t150.jpg" class="img-responsive">

          </a>
          <div style="margin-top:-25px; margin-bottom:10px;">
            {{ labelRes(1, 'ok-res') }}
          </div>
          
        </div>

{% endmacro %}



{% macro lorem() %}
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam varius risus sed purus egestas dictum. Integer enim lectus, elementum faucibus odio nec, scelerisque scelerisque sapien. Duis facilisis odio arcu, sed euismod dui accumsan in. Pellentesque a leo in massa rhoncus pretium. Suspendisse a dictum sem, nec malesuada enim. Mauris non nisl quis nulla laoreet lobortis quis nec justo. Mauris dictum mauris erat. Pellentesque vel hendrerit urna. Aliquam sollicitudin non ex quis accumsan. Suspendisse tincidunt quam urna, ut scelerisque lorem malesuada sed. 
  </p>
{% endmacro %}

{% macro flag01(text) %}
   <span style="background-color:yellow;">{{ text }}</span>
{% endmacro %}



{% macro labelRes(q, text, s) %}
  <span class="label label_report
    {% if q==1 %} label-success
    {% elif q==2 %} label-warning
    {% elif q==3 %} label-danger
    {% else %} label-default
    {% endif %} 

    {{ status_label(s) }}
    inline-block
    " >{{ text }}</span>
{% endmacro %}


{% macro labelPhoto(q, text) %}

  {% if q==1 %}
    <spa class="label lst-1">hi res</spa>
  {% elif q==2 %}
    <spa class="label lst-2">ok res</spa>
  {% elif q==3 %}
    <spa class="label lst-3">review</spa>
  {% elif q==4 %}
    <spa class="label lst-4">low res</spa>
  {% elif q==5 %}
    <spa class="label lst-5">outdated</spa>
  {% elif q==6 %}
    <spa class="label lst-6">No Photos</spa>
  {% endif %}

{% endmacro %}



{% macro labelAmmenity(q, id, status) %}

  <span class="label_report
    {% if q==1 %} label-success
    {% elif q==2 %} label-warning
    {% elif q==3 %} label-danger
    {% else %} label-default
    {% endif %} 
    
    {{ status_label(status) }}

    inline-block
    ">
  
    {% if id=='a_001' %}Business Center
    {% elif id=='a_002' %}Meeting Rooms
    {% elif id=='a_003' %}Convention Space

    {% elif id=='b_001' %}Hair Salon
    {% elif id=='b_002' %}Nails Salon
    {% elif id=='b_003' %}Barber Shop

    {% elif id=='c_001' %}24 hrs Concierge  
    {% elif id=='c_002' %}Elevators 
    {% elif id=='c_003' %}Luggage Storage 
    {% elif id=='c_004' %}Multilingual Staff 
    {% elif id=='c_005' %}Laundry 
    {% elif id=='c_006' %}Dry Cleaning 

    {% elif id=='d_001' %}Menu Restaurant 
    {% elif id=='d_002' %}Bar/Lounge 
    {% elif id=='d_003' %}Wine Bar 
    {% elif id=='d_004' %}Buffet 
    {% elif id=='d_005' %}Gluten Free Options
    {% elif id=='d_006' %}Vegan Options
    {% elif id=='d_007' %}Raw Vegan Options 
    {% elif id=='d_008' %}Snacl Bar / Deli 

    {% elif id=='e_001' %}Weddings 
    {% elif id=='e_002' %}Social Events  
    {% elif id=='e_003' %}Event Planning 

    {% elif id=='f_001' %}Cardio 
    {% elif id=='f_002' %}Weights 
    {% elif id=='f_003' %}Classes 
    {% elif id=='f_004' %}Spinning 
    {% elif id=='f_005' %}Personal Trainer 

    {% elif id=='g_001' %}Kids Club 
    {% elif id=='g_002' %}Kids Activities
    {% elif id=='g_003' %}In Room Childcare
    {% elif id=='g_004' %}Cribs

    {% elif id=='h_001' %}Golf Course
    {% elif id=='h_002' %}Casino
    {% elif id=='h_003' %}Pool
    {% elif id=='h_004' %}Live Show

    {% elif id=='i_001' %}In House Doctor
    {% elif id=='i_002' %}In House Nurse
    {% elif id=='i_003' %}Ambulance accesible
    {% elif id=='i_004' %}Fibrillator
    {% elif id=='i_005' %}First Aid Kit
    {% elif id=='i_006' %}X Ray

    {% elif id=='j_001' %}Pets Allowed
    {% elif id=='j_002' %}Pet Menu
    {% elif id=='j_003' %}Dog Walker
    {% elif id=='j_004' %}Dog Care

    {% elif id=='k_001' %}Temperature controlled
    {% elif id=='k_002' %}Towels
    {% elif id=='k_003' %}Bar Service
    {% elif id=='k_004' %}Family Friendly
    {% elif id=='k_005' %}Adult Only

    {% elif id=='l_001' %}Gift Shop
    {% elif id=='l_002' %}Pharmacy
    {% elif id=='l_003' %}Newstand
    {% elif id=='l_004' %}Books
    {% elif id=='l_005' %}Sport
    {% elif id=='l_006' %}Tobacco

    {% elif id=='m_001' %}Interior smoking Area
    {% elif id=='m_002' %}Exterior smoking Area
    {% elif id=='m_003' %}Smoking Rooms Available

    {% elif id=='n_001' %}Airport - Hotel
    {% elif id=='n_002' %}Hotel - Airport
    {% elif id=='n_003' %}Car Rental
    {% elif id=='n_004' %}Parking
    {% elif id=='n_005' %}Valet Parking

    {% else %}
      {{ id }}

    {% endif %}

  </span>
  
{% endmacro %}


{% macro flagmarker(field,item) %}

{# In order for this macro to work you need to include 'avispa_rest/wa_flagmarker_functions.html' in the 'footafterfunctions' block #}
                        
                          <input type="hidden"  id="flag_{{ field.FieldOrder }}" name="flag_{{ field.FieldName }}" value="{% if field.FieldName+'_flag' in item %}{{item[field.FieldName+'_flag']}}{%else%}0000{%endif%}"/> 
                          <div class="dropdown">
                            <a data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" class="clearlink">
                              <span class="pull-right-xs">
                                <span id="flagmarker_{{ field.FieldOrder }}" class="fc-0000">

                                      <i class="fa fa-caret-down fa-2x visible-xs"></i> 
                                      <i class="fa fa-caret-left fa-2x hidden-xs"></i> 
                                      <span id="flagtext_{{ field.FieldOrder }}" class="fc-g fs-0-8">Empty</span>

                                </span>
                              </span>
                            </a>
                            <br/>
                            
                              <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                <li><span id="flagmenu_{{ field.FieldOrder }}_0000" class="clearlink fs-0-8 fieldflag" flag="{{ field.FieldOrder }}_0000" style="display:none;" ><i class="fa fa-caret-left fa-2x pad-x-8 fc-0000 "></i>Empty</span></li>
                                <li><span id="flagmenu_{{ field.FieldOrder }}_1000" class="clearlink fs-0-8 fieldflag" flag="{{ field.FieldOrder }}_1000" style="display:none;" ><i class="fa fa-caret-left fa-2x pad-x-8 fc-1000"></i>Work in Progress</span></li>
                                <li><span id="flagmenu_{{ field.FieldOrder }}_2000" class="clearlink fs-0-8 fieldflag" flag="{{ field.FieldOrder }}_2000" style="display:none;" ><i class="fa fa-caret-left fa-2x pad-x-8 fc-2000"></i>Needs Revision</span></li>
                                <li><span id="flagmenu_{{ field.FieldOrder }}_3000" class="clearlink fs-0-8 fieldflag" flag="{{ field.FieldOrder }}_3000" style="display:none;" ><i class="fa fa-caret-left fa-2x pad-x-8 fc-3000"></i>Return</span></li>
                                <li><span id="flagmenu_{{ field.FieldOrder }}_4000" class="clearlink fs-0-8 fieldflag" flag="{{ field.FieldOrder }}_4000" style="display:none;" ><i class="fa fa-caret-left fa-2x pad-x-8 fc-4000"></i>Approved</span></li>
                              </ul>
                            
                            

                          </div>
                        

{% endmacro %}



