

  {% macro panel(name, handle, color, count,description,link,collection) %}

  <tr>
    <td> 
      <div class="row">
        <div class=" col-sm-2 hidden-xs">
          {{ icon_big(count,color) }} 
        </div> 
        <div class="col-xs-7 col-sm-7">
          <a href="/{{ handle }}/{{ name }}" class="nounder"><h3 class="fs-1-5">&deg;{{ name}}</h3></a> 

          <!-- <a href="/{{ handle }}/{{ name }}{% if collection =='' or not collection %}?collection={{collection}}{% endif %}" class="nounder"><h3 class="fs-1-5">&deg;{{ name}}</h3></a>  -->

          <p class="rn-t3 text-lgray">{{ description }} </p>
        </div> 
        <div class="col-xs-5 col-sm-3">
          <div class="pull-right">
            <div class="visible-xs">
              {{ icon_med(count,color) }}
            </div>
            <div class="btn-group">
            
              <!-- <a href="/{{ handle }}/{{ name }}" type="button" class="btn btn-info btn-xs">List</a> -->

              <a href="/{{ handle }}/{{ name }}?rq=post{% if collection != '' %}&collection={{collection}}{% endif %}" type="button" class="btn btn-success btn-xs"><i class="fa fa-plus fa-1x"></i></a>
              
              <a href="/{{ handle }}/{{ name }}?rq=put" type="button" class="btn btn-warning btn-xs"><i class="fa fa-cog fa-1x"></i></a>
              <a href="/_api/{{ handle }}/{{ name }}" type="button" class="btn btn-vader btn-xs">{ }</a>

            </div>
            <br/><br/>
            <span class="label label-discrete pull-right">1 day ago (fpo)</span>
          </div>
        </div>
      </div>  
    </td>
  </tr>

{% endmacro %}


  {% macro panel2(name, handle, color, count,description) %}

  <tr>
    <td> 
      <div class="row">
        <div class=" col-sm-2 hidden-xs">
          {{ icon_sma(count,color) }}
        </div> 
        <div class="col-xs-7 col-sm-7">
          <a href="/{{ handle }}/{{ name }}" class="nounder"><h3 class="fs-1-5">&deg;{{ name }}</h3></a>
          <p class="rn-t3 text-lgray">{{ description }}</p>
        </div> 
        <div class="col-xs-5 col-sm-3">
          <div class="pull-right">
            <div class="visible-xs">
              {{ icon_med(count,color) }}
            </div>
            <div class="btn-group">
            
              <!-- <a href="/{{ handle }}/{{ name }}" type="button" class="btn btn-info btn-xs">List</a> -->
              <a href="/{{ handle }}/{{ name }}?rq=post" type="button" class="btn btn-success btn-xs"><i class="fa fa-plus fa-1x"></i></a>

              <a href="/{{ handle }}/{{ name }}?rq=put" type="button" class="btn btn-warning btn-xs"><i class="fa fa-cog fa-1x"></i></a>

              <a class="btn btn-vader btn-xs pull-right" href="/_api/{{ handle }}/{{ name }}">
              { }</a>

            </div>
            <br/><br/>
            <span class="label label-discrete pull-right">1 day ago (ipsum)</span>
          </div>
        </div>
      </div>  
    </td>
  </tr>

{% endmacro %}

{% macro panel_collapse(name, color, number, percent, active) %} <!-- TO BE USED INSIDE A COLLAPSABLE TAB -->
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingOne">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#{{ name }}" aria-expanded="true" aria-controls="collapseOne">
        <table>
          <tr>
            <td>{{ icon_xsma(number, color) }}</td>
            <td><h4>&deg;{{ name }}</h4></td>
          </tr>
        </table>
           
      </a>
    </h4>
  </div>
  <div id="{{ name }}" class="panel-collapse collapse {{ active }}" role="tabpanel" aria-labelledby="{{ name }}">
    <div class="panel-body">
        
      

        {{ pbar2('35', name, color) }}
    </div>
  </div>
</div>
{% endmacro %}

{% macro panel_collections(name, color, number, percent, active, resource,collection) %} 
          
          <tr>
            <td><p>{{ number }}</p></td>
            <td>{{ icon_xsma(number, color) }}</td>
            <td><a href="/{{ resource }}?collection={{collection}}"><p class="fs-0-8">&deg;{{ name }}</a> / <span class="fc-g">1 day ago</span></p></td>
            <td>
              <div class="pull-right">
                <div class="visible-xs">
                  {{ icon_med(count,color) }}
                </div>
                <div class="btn-group" >
                
                  <!-- <a href="/{{ handle }}/{{ name }}" type="button" class="btn btn-info btn-xs">List</a> -->
                  <a href="/{{ resource }}?rq=post&collection={{collection}}" type="button" class="btn btn-success btn-xs"><i class="fa fa-plus fa-1x"></i></a>

                  <a href="/{{ resource }}?rq=put&collection={{collection}}" type="button" class="btn btn-warning btn-xs"><i class="fa fa-cog fa-1x"></i></a>

                  

                </div>
                
              </div>
            </td>
          </tr>
          
                   
{% endmacro %}

{% macro panel_rings(name, color, number, percent, active, resource) %} 
          
          <tr>
            <td><p>{{ number }}</p></td>
            <td>{{ icon_xsma(number, color) }}</td>
            <td><a href="/{{ resource }}"><p class="fs-0-8">&deg;{{ name }}</a> / <span class="fc-g">1 day ago</span></p></td>
            <td>
              <div class="pull-right">
                <div class="visible-xs">
                  {{ icon_med(count,color) }}
                </div>
                <div class="btn-group" >
                
                  <!-- <a href="/{{ handle }}/{{ name }}" type="button" class="btn btn-info btn-xs">List</a> -->
                  <a href="/{{ resource }}?rq=post" type="button" class="btn btn-success btn-xs"><i class="fa fa-plus fa-1x"></i></a>

                  <a href="/{{ resource }}?rq=put" type="button" class="btn btn-warning btn-xs"><i class="fa fa-cog fa-1x"></i></a>

                  

                </div>
                
              </div>
            </td>
          </tr>
          
                   
{% endmacro %}

  {% macro collection(name, percent, role, update,link,collection) %}

  <tr>
    
    <td align="center"> 
      <img class="block-center" src="/static/images/repo-icon.png" style="width:50px;" alt="MyRing"> <br/>
      
    </td>
    <td> 
      <a class="nounder" href="{{link}}?collection={{collection}}"><h3 class="fs-1 text-gray text-s1 fw-c">
      {{ name|upper() }}</h3></a>
      <p class="text-gray fs-0-8 text-s1"><strong>5,345</strong> Data resources | <strong>{{percent}}%</strong> completed | <strong>3</strong> Collab</p>
    </td>

    <td> 
      <div class="pull-right">
        {{ label(role) }}
      </div>
    </td>
  </tr>
{% endmacro %}

  {% macro collection_big(name, percent, role, update,link) %}

  <tr>
    
    <td align="center"> 
      <img class="block-center" src="/static/images/case-44.png" style="width:70px;" alt="MyRing"> <br/>
      <span class="label label-default fs-0-7 ">Data Collection</span> 
    </td>
    <td> 
      <a class="nounder" href="{{link}}"><h3 class="fs-1-5 text-gray text-s1 fw-c">
      {{ name|upper() }}</h3></a>
      <p class="text-gray fs-0-8 text-s1"><strong>5,345</strong> Data resources | <strong>{{percent}}%</strong> completed | <strong>3</strong> Collab</p>
    </td>

    <td> 
      <div class="pull-right">
        {{ label(role) }}
      </div>
    </td>
  </tr>
{% endmacro %}



{% macro campaign(active,name,by,type,rings,da,q) %}

  <tr>
    
    <td><i class="fa fa-toggle-{{ active }} fa-1x"></i></td>
    <td><p class="fs-0-8"><a href="/campaigns/w1">{{ name }}</a></p></td>
    <td><img class=" user-med" src="/static/images/{{ by }}" style="width:20px;"></td>
    <td><p class="fs-0-8">{{ type }}</p></td>
    
    <td><span class="badge">{{ da }} </span></td>

    <td style="min-width:100px;">
      <div class="spa5"></div>

      {{ pbar(q) }}

    </td>
    <td></td>
  </tr>
{% endmacro %}



{% macro wizSteps(number,name,active) %}

<div class="step step-{{ active }}"><span class="text-s2 fs-3 fw-a" style="padding-right:15px;">{{ number }}</span> <span class="text-s1">{{ name }}</span></div>

{% endmacro %}

{% macro pbar(value) %}
<div class="progress" style="height:7px;">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{ value }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ value }}%;">
        </div>
</div>
{% endmacro %}

{% macro pbar2(value, name, color) %}
<tr>
  <td>
    <span class="text-s1 pull-right">˚{{ name }}</span>
    <span class="">{{ icon_xsma(value, color) }}</span>
    <!-- <span class="pull-right"><i class="fa fa-toggle-on fa-1x"></i></span> -->
    
    <div class="progress" style="height:7px; margin:0;">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{ value }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ value }}%; background-color:{{ color }};">
            </div>
    </div>
    <span class="text-s1 fw-a pull-right fs-0-8">200</span>
    <span class="text-s1 fw-a pull-left fs-0-8">345</span>
  </td>
</tr>


{% endmacro %}



<!-- ////////////////////ICONS -->

{% macro icon_big(number,color) %}
  <svg height="85" width="100" style="margin:-5px;">
    <!-- <line x1="3" y1="0" x2="3" y2="40" stroke-dasharray="2,2" style="stroke:rgb(180,180,180);stroke-width:1" />
    <line x1="3" y1="40" x2="32" y2="55" stroke-dasharray="2,2" style="stroke:rgb(180,180,180);stroke-width:1" /> -->
    <circle cx="57" cy="45" r="25" stroke="#f0f0f0" stroke-width="3" fill="none" />
    <circle cx="60" cy="40" r="25" stroke="{{ color }}" stroke-width="2" fill="none" />
    <text x="60" y="49" fill="gray" class="fs-1-5 text-s2" text-anchor="middle">{{ number }}</text>
  </svg>
{% endmacro %}

{% macro icon_med(number,color) %}
  <svg height="85" width="80" style="margin:-5px;">
    <circle cx="50" cy="48" r="22" stroke="#e5e5e5" stroke-width="3" fill="none" />
    <circle cx="48" cy="44" r="22" stroke="{{ color }}" stroke-width="2" fill="none" />
    <text x="48" y="53" fill="gray" class="fs-1-5" text-anchor="middle">{{ number }}</text>
  </svg>
{% endmacro %}

{% macro icon_sma(number,color) %}
  <svg height="40" width="80" style="margin:-5px;">
    <circle cx="30" cy="20" r="15" stroke="#e5e5e5" stroke-width="3" fill="none" />
    <circle cx="28" cy="22" r="15" stroke="{{ color }}" stroke-width="2" fill="none" />
  </svg>
{% endmacro %}

{% macro icon_xsma(number,color) %}
  <svg height="30" width="40" style="margin:-5px;">
    <circle cx="15" cy="15" r="10" stroke="#e5e5e5" stroke-width="3" fill="none" />
    <circle cx="22" cy="16" r="10" stroke="{{ color }}" stroke-width="2" fill="none" />
  </svg>
{% endmacro %}


{% macro collab_collapse(order,colname, avatar, graph, color, assets, percent, last,role, active) %}

  

<div class="panel panel-default">
  <a data-toggle="collapse" data-parent="#accordion" href="#{{ order }}" aria-expanded="true" aria-controls="{{ order }}">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
      
        <span class="badge text-s2"> {{ order }}</span>
         
        <span class="pl-20 fs-0-8"> {{ colname }} </span> 
        
        </a>
      </h4>
    </div>
  </a>  
  <div id="{{ order }}" class="panel-collapse collapse {{ active }}" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-2">
          <img class=" user-med" src="/static/images/{{ avatar }}">


          {{ label(role) }}
          

          
          <div class="spa5"></div>

          <div class="btn-group" role="group" aria-label="123">
            <a class="btn btn-default btn-xs"><i class="fa fa-plus fa-1x"></i></a>
            <a class="btn btn-default btn-xs"><i class="fa fa-comment fa-1x"></i></a>
          </div>

        </div>
        <div class="col-sm-10">
          <img class="img-responsive center-block" src="/static/images/{{ graph }}" >
          <div class="pull-left fs-0-8 text-gray"><strong>{{ assets }}</strong>  Data Resources | {{ percent }}%</div>
          <div class="pull-right fs-0-8 text-gray"><a href="/campaigns"><strong>4 </strong>Active Campaigns &nbsp; <i class="fa fa-flag fa-1x"></i></a> </div>
        <div class="spa10 visible-xs"></div>
          <hr/>
          <div class="pull-right fs-0-8 text-lgray">{{ last }}</div> 
        </div>
      </div>
      
    </div>
  </div>
</div>
{% endmacro %}


{% macro label(code) %}
          {% if code==1 %}
            <div class="label label-discrete" style="margin-top:-50px;">Owner</div>
          {% elif code==2 %}
            <div class="label label-discrete" style="margin-top:-50px;">Admin</div>
          {% elif code==3 %}
            <div class="label label-discrete" style="margin-top:-50px;">Collab</div>  
          {% else %}
            <div class="label label-discrete" style="margin-top:-50px;">Observer</div>
          {% endif %}
{% endmacro %}   

{% macro friend(name, avatar) %}

<div>
  <img class=" user-med pull-left" src="/static/images/{{ avatar }}" width="40px">  
  <div class="btn-group pull-right" role="group" aria-label="123">
            <a class="btn btn-default btn-xs"><i class="fa fa-line-chart fa-1x"></i></a>
            <a class="btn btn-default btn-xs"><i class="fa fa-plus fa-1x"></i></a>
  </div>
  <p> {{ name }}</p>
  

  <hr/>
</div>    
{% endmacro %}    


{% macro mosaic_item(name) %}
<div class="pull-left" style="background-color:#F7F7F7; margin:2px; padding:2px;">
                      <!-- IMAGE PLACEHOLDER -->
    <table>
      <tr>
        <td align="center">
          <a href="" type="button" class="pull-right" data-toggle="popover" data-placement="bottom" 
                    
            >
          <!-- Image placeholder -->
            <img style="width:90px; margin:1px;" src="/static/images/image01.jpg"  class="img-thumbnail">

          </a>
        </td>
      </tr>
      <tr>
        <td align="center">
          <span class="fs-0-6 text-gray">
            {{ name }}
          </span>
        </td>
      </tr>
      <tr>
        <td align="center">
            <div class="btn-group" role="group" aria-label="...">
              <a href="" type="button" class="btn btn-info btn-xs"><i class="fa fa-eye"></i></a>
              <a href="" type="button" class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i></i></a>
              <a href="" type="button" class="btn btn-default btn-xs"><i class="fa fa-times"></i></a>
            </div>
                   
            <br/>
                    <!-- <span class="label label-info">PUBLIC</span> -->     
        </td>
      </tr>
    </table>
</div>

{% endmacro %}  

{% macro list_item() %}

<tr>
                  <td>
                      
                    <table> 
                      <tr>
                        <td>
                          <img style="width:70px;" src="/static/images/image01.jpg" class="img-thumbnail" >
                        </td>
                      </tr> 
                      <tr>
                        <td align="center">
                          <div class="btn-group" role="group" aria-label="...">
                            <a href="" type="button" class="btn btn-info btn-xs"><i class="fa fa-eye"></i></a>
                            <a href="" type="button" class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i></i></a>
                            <a href="" type="button" class="btn btn-default btn-xs"><i class="fa fa-times"></i></a>
                          </div>
                        </td>
                      </tr>   
                    </table>
                         
                  </td>
                  <td>
                      <table>

                          <tr>
                            <td  align="right" valign="top"><p class="fs-0-7 fc-g lh-1-2" style="margin-bottom:5px; padding:0 10px;">name:</p></td>
                            <td>
                                <p class="fs-0-7 lh-0-1 text-gray" style="margin-bottom:5px;">BALLY'S LAS VEGAS</p>
                            </td>
                          </tr>
                          <tr>
                            <td  align="right" valign="top"><p class="fs-0-7 fc-g lh-1-2" style="margin-bottom:5px; padding:0 10px;">address:</p></td>
                            <td>
                                <p class="fs-0-7 lh-0-1 text-gray" style="margin-bottom:5px;">3645 Las Vegas Blvd S, Las Vegas</p>
                            </td>
                          </tr>
                          <tr>
                            <td  align="right" valign="top"><p class="fs-0-7 fc-g lh-1-2" style="margin-bottom:5px; padding:0 10px;">state:</p></td>
                            <td>
                                <p class="fs-0-7 lh-0-1 text-gray" style="margin-bottom:5px;">NV</p>
                            </td>
                          </tr>
                          <tr>
                            <td  align="right" valign="top"><p class="fs-0-7 fc-g lh-1-2" style="margin-bottom:5px; padding:0 10px;">country:</p></td>
                            <td>
                                <p class="fs-0-7 lh-0-1 text-gray" style="margin-bottom:5px;">US</p>
                            </td>
                          </tr>
                          <tr>
                            <td  align="right" valign="top"><p class="fs-0-7 fc-g lh-1-2" style="margin-bottom:5px; padding:0 10px;">stars:</p></td>
                            <td>
                                <p class="fs-0-7 lh-0-1 text-gray" style="margin-bottom:5px;">3.5</p>
                            </td>
                          </tr>
                          <tr>
                            <td  align="right" valign="top"><p class="fs-0-7 fc-g lh-1-2" style="margin-bottom:5px; padding:0 10px;">description:</p></td>
                            <td>
                                <p class="fs-0-7 lh-0-1 text-gray" style="margin-bottom:5px;">Bally’s Las Vegas is one of the strip’s most exciting resorts, offering guests a “classic Las Vegas” experience. The 44-acre property is located on the center of the wor...</p>
                            </td>
                          </tr>
                            
                        
                      </table>
                  </td> 
                  <td width="30%">
                    
                    
                  </td>  
                  

              </tr>

{% endmacro%}


