<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %} Sapo {% endblock %}[base]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'includes/headscripts.html' %}
    {% import 'includes/ui_macros.html' as ui %}
    {% import 'includes/graphs.html' as graphs %}
    
<link href="{{ url_for('static',filename='assets/bootstrap/css/lumen.css') }}" rel="stylesheet" type="text/css" media="screen">
    <link href="{{ url_for('static',filename='css/ring1.css') }}" rel="stylesheet" type="text/css" media="screen">
    
  {% block headscripts %}
    
  {% endblock %}

</head>
<body >

<!-- SIDEBAR OPEN-->
<script type="text/javascript">
      $(function() {
        $('nav#menu').mmenu();

      });
</script>

    <div id="page" >
      
      <div class="content">
<!-- SIDEBAR OPEN-->


  {%if not data.raw%}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
 
        {% for message in messages %}
          {{ message }}
        {% endfor %}
         
      {% endif %}
    {% endwith %}
  {%endif%}
<a name="top"></a>
{%if not data.raw%}



<header>


<nav class="navbar navbar-default color-a-bar" style="padding-top:0px;">
  <div class="container-fluid bg-bargray">
    <!-- Brand and toggle get grouped for better mobile display -->
    {%if current_user.is_authenticated()%}
      <ul class="nav navbar-nav navbar-right hidden-xs w-links">
        <li class="active hidden-xs">
          <a href="/{{ current_user.id }}/_home" class="text-lgray clearlink"><img src="{%if data.cu_profilepic%}/_images/{{current_user.id}}/t150/{{data.cu_profilepic}}_t150.jpg{%else%}/static/images/ph_user2.gif{%endif%}" class="user-bar"><span class="fs-1-5 text-s1 pr-20 pl-5"> {{ current_user.id }}</span></a>
          
        </li>

        <li class="dropdown hidden-xs bg-lgray">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-plus fa-2x"></i> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/{{ current_user.id }}?rq=post&n=10"><i class="fa fa-plus-circle"></i> &nbsp; New <span class="fw-c text-gray">Ring</span></a></li>
            <li><a href="/{{ current_user.id }}/_collections?rq=post"><i class="fa fa-plus-circle"></i> &nbsp;  New <span class="fw-c text-gray">Collection</span></a></li>
            <li><a href="/_orgregister"><i class="fa fa-plus-circle"></i> &nbsp; New <span class="fw-c text-gray"><i class="fa fa-universit"></i> Organization</span></a></li>
            
          </ul>
        </li>

        <li class="dropdown hidden-xs bg-dgray">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-gear fa-2x"></i> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
          

            <li><a href="/{{ data.handle }}/_home"> <i class="fa fa-home"></i> <span class="text-s1">Home</span></a></li>

            <li><a href="/{{ current_user.id }}/_profile"><i class="fa fa-user"></i> <span class="text-s1">My Profile</span></a>
            </li>
            <!--li><a href="/_roles/{{ current_user.id }}"><i class="fa fa-certificate"></i> <span class="text-s1">Roles</span></a></li-->
            <li><a href="/_logout"><i class="fa fa-sign-out "></i>  log-Out</a></li>


            
         </ul>
        </li>
        <!-- <li class="active hidden-xs">
          <a href="/{{ current_user.id }}/_home" class="clearlink  ">
            <i class="fa fa-sign-out fa-2x text-gray"></i>
          </a>
        </li> -->


        
      </ul>

      {% else %}

            <div class="spa5"></div>
              <a href="/_login" class="btn btn-default btn-sm">LOG IN</a> 
              <a href="/_register" class="btn btn-success btn-sm">SIGN UP</a>
      {%endif%}


      <ul class="nav navbar-nav navbar-left visible-xs">
        {%if current_user.is_authenticated()%}
        <li class="active">
          <a href="#menu" class="clearlink"><i class="fa fa-bars fa-2x"></i><img src="/static/images/myring04.png" style=" margin:10px 30px 10px 20px; width:100px; float:right;" alt="MyRing"></a>
        </li>

        {% else %}

            <div class="spa5"></div>
              <a href="/_login" class="btn btn-default btn-sm">LOG IN</a> 
              <a href="/_register" class="btn btn-success btn-sm">SIGN UP</a>
        {%endif%}
      </ul>

      <ul class="nav navbar-nav navbar-left hidden-xs">

        <a class="navbar-brand clearlink" href="/{{current_user.id}}"><img src="/static/images/myring04.png" style=" margin:10px 30px 10px 20px; width:100px;" alt="MyRing"></a>
      </ul>
  </div><!-- /.container-fluid -->
</nav>

</header>
{%endif%}

<section class="">


  <div class="container-fluid">

    {%if not data.raw%}
    <div class="row hidden-xs">
      <div class="col-sm-12">
        <div class="text-right">
          {% if data.today is defined %}
            <p class="fs-0-8">
            {{ data.today }}    
            </p>
          {%endif%}        
        </div>
      </div>
    </div>
    {%endif%}
    <div class="row">
      <div class="col-sm-12 alpha omega">     
        {#{current_user.id}} credentials for this page:{{data.user_authorizations}#}
          {% block content %}
          {% endblock %}
      </div> <!-- close 9 -->
    </div>
  </div>
</section>       
<!--span class="scro"><a href='#top'>&nbsp;Top</a></span-->


<footer>
{% include 'includes/footscripts.html' %}
</footer> 


<!-- SIDEBAR CLOSE-->
            
      </div>
      <nav id="menu">
        <ul>
             <li class="active">
              <a class="clearlink" href="/{{current_user.id}}"><img src="/static/images/myring04.png" style="width:120px;" alt="MyRing"></a>

            </li>
            <li>
              <table>
                <tr>
                  <td style="padding:10px 3px 10px 20px;"><img src="{%if data.cu_profilepic%}/_images/{{current_user.id}}/t150/{{data.cu_profilepic}}_t150.jpg{%else%}/static/images/generic_thumbnail.png{%endif%}" style=" margin:0 5px; width:50px;"></td>
                  <td>
                    <h2 class="fc-a fs-1-5 text-lgray">{{data.handle_actualname}}</h2>
                    <span class="text-s1 fc-a fs-1-2">{{ current_user.id }}</span>

                  </td>
                </tr>
                
              </table>
               <div class="spa60"></div>
            </li>
           

            <li><a href="#about/team"><i class="fa fa-plus pad-x-20"></i> New</a>
              <ul>
                <li><a href="/{{ current_user.id }}?rq=post">New Ring</a></li>
                <li><a href="/{{ current_user.id }}/_collections?rq=post"> New Collection</a></li>
                <li><a href="/_orgregister">New Organization</a></li>
              </ul>
            </li>
            
            
        </ul>
      </nav>
    </div>
<!-- SIDEBAR CLOSE-->




<!-- THIS WAS THE PREVIOUS SCRIPTS, I SUSPECT THERES A LOT OF TRASH , NOT ERASING IN CASE, BUT FIND NEW SCRIPTS LOCATION AT footscripts.html -->

<!--[if lt IE 9]>
    <script src="/static/js/html5shiv.js"></script>
    <script src="/static/js/respond.min.js"></script>
<![endif]-->

<!-- <script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/modernizr.custom.js"></script>
<script type="text/javascript" src="/static/js/jquery.mousewheel-3.0.6.pack.js"></script>
<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/static/js/jquery.easing.js"></script>

<script type="text/javascript" src="/static/assets/hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
<script type="text/javascript" src="/static/assets/page-scroller/jquery.ui.totop.min.js"></script>
<script type="text/javascript" src="/static/assets/mixitup/jquery.mixitup.js"></script>
<script type="text/javascript" src="/static/assets/mixitup/jquery.mixitup.init.js"></script>
<script type="text/javascript" src="/static/assets/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
<script type="text/javascript" src="/static/assets/easy-pie-chart/jquery.easypiechart.js"></script>

<script type="text/javascript" src="/static/assets/datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/static/assets/switch/js/bootstrap-switch.js"></script>
<script type="text/javascript" src="/static/assets/switch/js/initswitch.js"></script>
<script type="text/javascript" src="/static/assets/switch/js/highlight.js"></script>
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?autoload=true&amp;skin=sunburst&amp;lang=css" defer="defer"></script>
<script type="text/javascript" src="/static/assets/tree/tree.js"></script>
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>


<script type="text/javascript" src="/static/js/jquery.wp.custom.js"></script>
<script src="/static/assets/fraction/jquery.fractionslider.min.js"></script>
<script src="/static/assets/fraction/jquery.fractionslider.init.js"></script>
<script src="/static/assets/fraction/jquery.fractionslider.init.js"></script> -->



{% block scripts %}
{% endblock %}

{% block footscripts %}
{% endblock %}

{% block footfunctions %}
{% endblock %}


{% block footafterfunctions %}
{% endblock %}


</body>
</html>
