<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %} Sapo {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    

    <!-- Required -->
    <link href="/static/css/normalize.css" rel="stylesheet" type="text/css" media="screen">
    <link href="/static/css/main.css" rel="stylesheet" type="text/css" media="screen">
    <link href="/static/css/ring1.css" rel="stylesheet" type="text/css" media="screen">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    

    <link rel="icon" href="/static/images/favicon.png" type="image/png"><link rel="stylesheet" href="/static/assets/fraction/fractionslider.css" type="text/css" />

    

    <script type="text/javascript" src="//use.typekit.net/nyy5cxc.js"></script>
    <script type="text/javascript">try{Typekit.load();}catchg(e){}</script>


    {% block headscripts %}
    {% endblock %}





</head>
<body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
 
        {% for message in messages %}
          {{ message }}
        {% endfor %}
         
      {% endif %}
    {% endwith %}

<header>
  <div class="topbar topbar-white" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <img style="width:30px; margin:5px;" src="/static/images/myringpurple.png"  alt="Rings">
        <a href="/">
            <span class="rn-clear">MY</span><span class="rn-black">RING </span>
        </a>  
      </div>
        <div class="navbar-collapse collapse">
            <!-- Note: you can use <li class="hidden-sm"> to hide things -->
            
            {%if current_user.is_authenticated()%}
            <ul class="nav navbar-nav navbar-right">
                
                <li>Hello {{ current_user.id }}! </li>
                <li class="active"><a href="/{{ current_user.id }}">Home</a></li>
                
                <!--li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tools &nbsp; <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/tools">Avispa</a></li>
                    <li><a href="/tools">Papalotl</a></li>
                    <li><a href="/tools">Oruga</a></li>
                    <li><a href="/tools">Catarina</a></li>
                    <li><a href="/tools">Chapulin</a></li>
                    <li><a href="/tools">Abeja</a></li>
                  </ul>
                </li-->
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions &nbsp; <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <!--li><a href="/login">Login</a></li-->
                    <li><a href="/logout">Logout</a></li>
                  </ul>
                </li>
                <!-- <li><a href="#"><i class="fa fa-comment"></i></a></li>
                <li><a href="#"><i class="fa fa-cog"></i></a></li>
                <li><a href="#"><i class="fa fa-sign-out"></i></a></li> -->
            </ul>
            {%endif%}
        </div><!--/.nav-collapse -->
    </div>
  </div>
</header>

<br/> 

<section class="bp-20 p-50">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <div class="pull-right rn-t3 text-right">
            <i class="fa fa-dot-circle-o fa-2x" style="color:#CCC; padding:0 10px;"></i>
        </div>
    
        {% if data.today is defined %}
        <div class="pull-right rn-t3 text-right"><strong>{{ data.today }}</strong><br/>
            <span class="rn-clear">Resources: <br/>Global: 1,345 / Local: 34,543 </span>
        </div>
        {%endif%}

        <br/>
                            
                

        <div class="btn-group" style="padding:10px;">

            {% block crumbs %}
            {% endblock %}

        </div>
      </div>
    </div>
  </div>
</section> 

<section class="bp-20 p-50">
  <div class="container">
    <div class="row">

      <div class="col-md-9">  
        
        {% block content %}
          


        {% endblock %}

        <hr/>
      </div> <!-- close 9 -->
   
    </div>
  </div>
</section>       




{% block modals %}

<!-- INSECT MODALS HERE -->

{% endblock %}





    <!-- <div class="footer" style="background-color:gray; bottom:0px;">
      <div class="container">
        <p class="text-muted">Footer</p>
      </div>
    </div> -->
    
<!-- JavaScript -->
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/modernizr.custom.js"></script>
<script type="text/javascript" src="/static/js/jquery.mousewheel-3.0.6.pack.js"></script>
<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/static/js/jquery.easing.js"></script>



<!--[if lt IE 9]>
    <script src="/static/js/html5shiv.js"></script>
    <script src="/static/js/respond.min.js"></script>
<![endif]-->

<script type="text/javascript" src="/static/assets/hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
<script type="text/javascript" src="/static/assets/page-scroller/jquery.ui.totop.min.js"></script>
<script type="text/javascript" src="/static/assets/mixitup/jquery.mixitup.js"></script>
<script type="text/javascript" src="/static/assets/mixitup/jquery.mixitup.init.js"></script>
<script type="text/javascript" src="/static/assets/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
<script type="text/javascript" src="/static/assets/easy-pie-chart/jquery.easypiechart.js"></script>
<!-- <script type="text/javascript" src="/static/assets/waypoints/waypoints.min.js"></script> -->
<script type="text/javascript" src="/static/assets/datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/static/assets/switch/js/bootstrap-switch.js"></script>
<script type="text/javascript" src="/static/assets/switch/js/initswitch.js"></script>
<script type="text/javascript" src="/static/assets/switch/js/highlight.js"></script>
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?autoload=true&amp;skin=sunburst&amp;lang=css" defer="defer"></script>
<script type="text/javascript" src="/static/assets/tree/tree.js"></script>

<!-- <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script> -->


<script type="text/javascript" src="/static/js/jquery.wp.custom.js"></script>
<script src="/static/assets/fraction/jquery.fractionslider.min.js"></script>
<script src="/static/assets/fraction/jquery.fractionslider.init.js"></script>
<script src="/static/assets/fraction/jquery.fractionslider.init.js"></script>



{% block scripts %}
{% endblock %}

{% block footscripts %}
{% endblock %}

{% block footfunctions %}
{% endblock %}


{% block footafterfunctions %}
{% endblock %}


</body>
</html>
