{% extends 'avispa_rest/base.html' %}

{% block title %} Avispa {% endblock %}

{% block crumbs %}

<div class="rn-hp5 pull-left"><span class="label label-m">AVISPA</span></div> 
<a href="/{{ data.handle }}" class="rn-b1" >{{ data.handle }}</a> 

{% endblock %}

{% block content %}


<!-- START NEW CONTENT --> 


<section class="bp-20 p-50">
  <div class="container">
    <div class="row">
      <div class="col-md-9">  

        <div class="row">
          <div class="col-sm-12">
            <div class="rn-box-title">

              <strong> <!-- Ring owner  -->Modeling 1 ring </strong> 

              <button type="button" class="btn btn-default btn-xs pull-right">
                <i class="fa fa-question-circle"></i>
              </button>
            </div>
            <div class="rn-box-solo">
              <div class="row">&nbsp;&nbsp;&nbsp; <strong>STEP 1.</strong> Fork a ring (optional, if you want to start from scratch skip to Step 2) </div> 
            </div>

            <!--div class="rn-box-content ringbuilder">
              <table class="form-group" style="width:100%;">
                <tbody>
                <tr>
                  <td>ring:name</td>
                  <td>
                    <input name="RingName" value="" class="form-control" required="" type="text" placeholder="The name of the ring">
                  </td>
                </tr>
                <tr>
                  <td>ring:description</td>
                  <td><textarea name="RingDescription" class="form-control"></textarea></td>
                </tr>
                <tr>
                  <td>ring:version</td>
                  <td><input name="RingVersion" value="" class="form-control" type="text"></td>
                </tr>
                <tr>
                  <td>ring:URI</td>
                  <td><input name="RingURI" value="" class="form-control" type="url"></td>
                </tr>
                <tr>
                  <td>ring:build</td>
                  <td><input name="RingBuild" value="" class="form-control" type="text"></td>
                </tr>
                </tbody>
              </table>
            </div-->

            <form novalidate="novalidate" role="form" id="form1" action="/scar?method=postrq" method="POST" autocomplete="off">
            <div class="rn-box-content">
              Load Parent Ring from this URL: <input name="ringurl" class="form-control" type="text"><br>
              <input name="submit" value="load" type="submit">
              <input name="submit" value="load and save" type="submit">
            </div>
             </form>

            <div class="rn-box-solo">
              <div class="row">&nbsp;&nbsp;&nbsp; <strong>STEP 2.</strong> Define the Ring's characteristics</div> 
            </div>

            <form class="form-horizontal" role="form">
               
              <!-- RING -->
              <div class="rn-box-content">  
              <br/>           
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">ring:name</label>
                  <div class="col-sm-10">
                     <input type="" class="form-control" id="inputEmail3" placeholder="The name of the new ring">
                  </div>
                  <label for="inputEmail3" class="col-sm-2 control-label">ring:description</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" rows="4" placeholder="What makes this ring unique?"></textarea>
                  </div>
                  <label for="inputEmail3" class="col-sm-2 control-label">ring:version</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="if this ring is new it must be version 1">
                  </div>
                  <label for="inputEmail3" class="col-sm-2 control-label">ring:URI</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="URI that will be used to refer to this specific ring">
                  </div>
                  <label for="inputEmail3" class="col-sm-2 control-label">ring:build</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="summary">
                  </div>
                </div>
              </div>


              <div class="rn-box-solo">
                <div class="row">&nbsp;&nbsp;&nbsp; <strong>STEP 3.</strong>  Define the Field's characteristics</div> 
              </div>


 

              {% set numfields = request.args.get('n')|int %}
              

              {% for f in range( 1, numfields+1) %}
              
              <!-- N FIELD -->
              <div class="rn-box-content ringbuilder">
                <br/>
                <table class="form-group" style="width:100%;">
                  <tbody>
                    <tr>
                      <td style="text-align:left;" ><h2>&nbsp;&nbsp;&nbsp;{{ f }}</h2></td>
                      <td>

                        UP | DOWN | DELETE
                        <br/><br/>
                      </td>
                    </tr>
                    <tr>
                      <td>field:name</td>
                      <td>
                        <input id="FieldName_{{ f }}" name="FieldName_{{ f }}" class="form-control" type="text">
                      </td>
                    </tr>
                    <tr>
                      <td>field:label</td>
                      <td><textarea name="FieldLabel_{{ f }}" class="form-control"></textarea></td>
                    </tr>
                    <tr>
                      <td>field:semantic</td>
                      <td><textarea name="FieldSemantic_{{ f }}" class="form-control"></textarea></td>
                    </tr>
                    <tr>
                      <td>field:type</td>
                      <td>
                        <select name="FieldType_{{ f }}">
                          <option value="">SELECT ONE</option>
                          <option>INT</option>
                          <option selected="">TEXT</option>
                          <option>VARCHAR(120)</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td>field:source</td>
                      <td><textarea name="FieldSource_{{ f }}" class="form-control"></textarea></td>
                    </tr>
                    <tr>
                      <td>field:widget</td>
                      <td>
                        <select name="FieldWidget_{{ f }}">
                          <option value="">SELECT ONE</option>
                          <option>checkbox</option>
                          <option>date</option>
                          <option>file</option>
                          <option>images</option>
                          <option>location</option>
                          <option>password</option>
                          <option>radio</option>
                          <option>select</option>
                          <option selected="">text</option>
                          <option>textarea</option>
                          <option>url</option>
                          <option>url_flickr</option>
                          <option>url_video</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td>field:cardinality</td>
                      <td>
                        <select name="FieldCardinality_{{ f }}">
                          <option>Single</option>
                          <option>Multiple</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td>field:multilingual</td>
                      <td>
                        <input name="FieldMultilingual_{{ f }}" value="1" type="checkbox">
                      </td>
                    </tr>
                    <tr>
                      <td>field:required</td>
                      <td>
                        <input name="FieldRequired_{{ f }}" value="1" type="checkbox">
                      </td>
                    </tr>
                    <tr>
                      <td>field:default</td>
                      <td>
                        <input name="FieldDefault_{{ f }}" value="" class="form-control" type="text"></td>
                    </tr>
                    <tr>
                      <td>field:hint</td>
                      <td>
                        <textarea name="FieldHint_{{ f }}" class="form-control"></textarea></td>
                    </tr>
                    <tr>
                      <td>field:layer</td>
                      <td>
                        <input name="FieldLayer_{{ f }}" value="" class="form-control" type="text"></td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <!-- N FIELD END -->

              {% endfor %}

              <!-- SUBMIT -->

              <div class="rn-box-content">
                <br/>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label"></label>
                  <div class="col-sm-10">
                    <a href="/{{ data.handle }}/{{ data.ring }}/{{ data.idx }}?method=patch" type="submit" class="btn btn-primary">Save</a>
                    <a href="/{{ data.handle }}/{{ data.ring }}/{{ data.idx }}" type="submit" class="btn btn-default">Leave without saving anything</a>  
                  </div>
                </div>
              </div>

              <!-- SUBMIT END -->
              <!-- RING END -->

            </form> 
          </div> 
        </div>

      </div> 
    </div>
  </div>
</section>



{% endblock content%}




