                                <div class="form-group">
                                    <label for="{{ field.FieldName }}" class="col-sm-2 control-label">{{ field.FieldName }}{% if field.FieldRequired %}*{% endif %}</label>
                                    <div class="col-sm-10">

                                      <input type="text" class="form-control" id="input_images_{{ field.FieldOrder }}" placeholder="{{ field.Hint }}" name="{{ field.FieldName }}" value="1">

                                      <div id='dropzone{{ field.FieldOrder }}' class="dropzone"><span class="dz-message" style="font-size:small;">Click to upload</span></div>

                                    </div>
                                </div>

