
{% extends 'base.html' %}

{% block title %}
  {{ data.title }}
{% endblock %}

{% block headscripts %}
  
{% endblock %}

{% block content %}

{% if data.mode =='status' %}
    <!-- SEMAFORO STYLE-->
         <style type="text/css">
          .tst-1{color:green;} /*approved*/
          .tst-2{color:blue;} /*In revision*/
          .tst-3{color:orange;} /*Work in Progress*/
          .tst-4{color:red;} /*empty*/
          .tst-5{color:pink;} /*returned*/ 
          .tst-6{color:gray;} /*not specified123*/ 

          .lst-1{background-color:green; color:#FFF;} /*approved*/
          .lst-2{background-color:#5FC1E8; color:#FFF;} /*In revision*/
          .lst-3{background-color:orange; color:#FFF;} /*Work in Progress*/
          .lst-4{background-color:red; color:#FFF;} /*empty*/
          .lst-5{background-color:pink; color:#FFF;} /*returned */ 
          .lst-6{background-color:gray; color:#FFF;} /*not specified*/ 
        </style>
{% endif %}

<body data-spy="scroll" data-target="#affix-nav" data-offset="180">
<head>
    <link href="{{ url_for('static',filename='css/ring1_rich.css') }}" rel="stylesheet" type="text/css" media="screen">
</head>



<div class="container-fluid bg-07">

<div class="spa10"></div>

<div class="row">

  {% if data.mode =='status' %}
  <div class="col-sm-offset-1 col-sm-7">
     
    Color Key: <span class="fw-c tst-1">green =</span> Confirmed |
    <span class="fw-c tst-4">red =</span> Not Confirmed
    
  </div>
  <div class="col-sm-offset-1 col-sm-3">
    <a href="/_widget/facts/{{ data.slug}}/view">
      <i class="fa fa-toggle-on"></i>
      Switch to regular view
    </a>
  </div>
  {% else %}
    <div class="col-sm-offset-9 col-sm-3">
      <a href="/_widget/facts/{{ data.slug}}/status">
        <i class="fa fa-toggle-off"></i>
        Switch to status view
      </a>
    </div>

  {% endif %}
  
</div>

<target id="start"></target>
 {{ fui.BizHead() }}

  <div class="row">

    

    <section id="content" class="col-sm-offset-1 col-sm-8 ">

     STARTARTICLE1
    
      <article id="information"> 

      START BIZCARD
     
        <!-- DESCRIPTION -->
        
      
        <section id="info1">
          <div class="row box box-widget">
            <div class="col-sm-6 box-columns">
              <div class="row">
                <div class="col-sm-12">   
                  {{ fui.fm_SubTitle('Full Description') }}


                  {{ fui.fm_LangVersions(0) }} ID0
                </div>
              </div> 
            </div>
            <div class="col-sm-6">
             START ID0A{{ fui.FactCard(data.OneLine) }} END ID0A
            </div>
            
          </div>
        </section>
      

      END BIZCARD

      STARTID0AA

        {% if data.photos %}
          <section id="info2">
            <div class="row box box-widget p-10">
              <div class="col-sm-12">
              {{ fui.FactCard(data.photos) }}
              </div>
            </div>
          </section>
        {% endif %}

      ENDID0AA

      STARTID0AB
        {% if data.Includes %}
          <section id="info3">
            <div class="row box box-widget p-10">
              <div class="col-sm-12">
              {{ fui.FactCard(data.Includes) }}
              </div>
            </div>
          </section>
        {% endif %}

      ENDID0AB


      </article>

      ENDARTICLE1



      STARTARTICLE2
     
      {% if data.Rooms %}
      <!-- ROOMS /////////////////////////////////////////////// -->
      <article id="rooms">

        <div class="row box box-widget p-10 bg-08">
          <div class="col-sm-12">
            <h3 class="fc-g">{{ data.Name }} <span class="fc-b">Rooms</span> </h3>
          </div>
        </div>

        {{ fui.FactCard_Rooms(data.Rooms) }}
        
      </article>
      {% endif %}

      ENDARTICLE2

      STARTARTICLE3
      
      <!-- SERVICES /////////////////////////////////////////////// -->
      <article id="product">
        <div class="row box box-widget p-10 bg-08">
          <div class="col-sm-12">
            {{ fui.TitleCard('Services')}}
          </div>
        </div>
          
        {% set count = 1 %}
        {% for x in data.Services %} 
           START FactCard_Services 

        <section id="service{{ count }}">  
          <div class="row box box-widget bw-9 bord-left bc-8" style="padding:10px 20px 20px 20px" >         
           <div class="col-sm-12"></div>
            <div class="col-sm-12">
                <div class="label label-vader" style="margin-left:-55px;"><i class="fa fa-arrow-right"></i> {{x.fc_Category}} </div>

              
                <span>

                  <h3 class="fw-c lh-1 {{fui.status_text(x.S_fc_Title)}}">{{x.fc_Title}}</h3>
                </span>
              

              {% macro fm_SubTitle(text,icon,size,color) %}
              <!-- <span class="pull-right"><i class="fa fa-question-circle fc-l"></i></span> -->
              <h4 class="fw-c fc-l fs-1-2 {{color}}">{{text}}</h4>
              <br/>
              {% endmacro %}

                <span>

                  <h4 class="fw-c fc-l fs-1-2 {{fui.status_text(x.S_fc_Title)}}">{{x.fc_SubTitle}}</h4>
                  <br/>

                </span>
              
              
              
                <span>
                  {{ fui.fm_SubTitle(x.fc_OneLine,'','',fui.status_text(x.S_fc_OneLine)) }}
                </span>
              


            </div>
                
            <div class="col-sm-7">
              
              
                  <span class="{{ fui.status_text(x.S_fc_Specs) }}" >
                  {{ fui.fm_Specs(x.fc_Specs, '') }} 
                  </span>          
              

              
                {{ fui.fm_LangVersions('2') }} ID2
              

              <div class="row">
                <div class="col-sm-12">
                  <hr/>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  
                    {{ fui.fm_Schedule(x.fc_Schedule, 'Schedule') }}
                  
                  <hr/>
                  
                    {{ fui.fm_Tags(x.fc_Tags, '') }}
                  

                </div>
                
                
                <div class="col-sm-6">
                  
                    <span class="{{ fui.status_text(x.S_fc_SmallNotes) }}" >
                    {{ fui.fm_SmallNotes(x.fc_SmallNotes, '') }}    
                    </span>       
                  
                </div>
              </div>
       
            </div>
            <div class="col-sm-5">
              
                  {{ fui.fm_SmartPhotos(x.fc_SmartPhotos, x.fc_Owner, '','100','left' ) }}
              

               
                  {{ fui.fm_Photos(x.fc_Photos, x.fc_Owner, '','100','left' ) }}
               
            </div>

            <div class="col-sm-12">
                <div class="spa20"></div>
            </div>
          </div> <!-- close row -->
        </section> 
           {% set count = count + 1 %}
           END FactCard_Services
        {% endfor %}
      </article>
      
      ENDARTICLE3

      STARTARTICLE4

      <!-- ABOUT /////////////////////////////////////////////// -->
      <article id="about">
        <div class="row box box-widget p-10 bg-08">
          <div class="col-sm-12">
            {{ fui.TitleCard('About','Entertainment Cruises NY')}}
          </div>
        </div>
        

        STARTABOUT1

        <section id="story1">

          <div class="row box box-widget p-10">
            
            <div class="col-sm-6 box-columns" id="story1">
              XXA
              {{ fui.FactCard(data.history) }}
              XXAEND
            </div>  
            <div class="col-sm-6" id="story2">
             XXB
              {{ fui.FactCard(data.staff) }}
             XXBEND
            </div>
            
          </div>

        </section>

        ENDABOUT1

        STARTABOUT2
      

        <section id="story2">



          <div class="row box box-widget p-10">
            <div class="col-sm-5 box-columns" id="story3">
              {{ fui.FactCard(data.contact) }}
            </div>
            <div class="col-sm-7 box-columns" id="story4">
              {{ fui.FactCard(data.curious) }}
            </div>
            
          </div>
          
        </section>

        ENDABOUT2


        {% if data.Example %}
        <section >

          <div class="row box box-widget p-10">
            <div class="col-sm-6 box-columns" id="story3">
            
              {{ fui.FactCard(data.Example) }}
            </div>
            
          </div>
          
        </section>
        {% endif %}

      </article>

      ENDARTICLE4

      <div class="spa100"></div>

    </section> <!-- col-7 -->

    <nav id="affix-nav" class="sidebar col-sm-3 hidden-xs ">
      
        <ul class="nav sidenav bord-left" data-spy="affix" data-offset-top="330">
            
            <li class="active"><a href="#start">Facts</a>
              <ul class="nav">
                <li><a href="#info1">Description</a>

                </li>

                <li><a href="#info2">Photos</a></li>
                <li><a href="#info3">Ammenities</a></li>
              </ul>
            </li>

          {% if data.Rooms %}
            <li><a href="#rooms">Rooms</a>
              <ul class="nav">   

                {% set count = 1 %}

                {% for x in data.Rooms %}  
                <li><a href="#room{{count}}">{{x.fc_Title}}</a></li>
                  {% set count = count + 1 %}
                {% endfor %}

                <!-- <li><a href="#room1">Single</a></li>
                <li><a href="#room2">Double</a></li>
                <li><a href="#room3">Triple</a></li>
                <li><a href="#room4">Quad</a></li>    -->     
              </ul>
            </li>
          {% endif %}
            <li>
              <a href="#product">

                    {% if data.ServiceName %}
                      {{ data.ServiceName }}
                    {% else %}
                      Services
                    {% endif %}


              </a>
              <ul class="nav">   

                {% set count = 1 %}

              {% for x in data.Services %}  
                <li><a href="#service{{count}}">{{x.fc_Title}}</a></li>
                {% set count = count + 1 %}
              {% endfor %}

              <!--                 <li><a href="#room1">Single</a></li>
                <li><a href="#room2">Double</a></li>
                <li><a href="#room3">Triple</a></li>
                <li><a href="#room4">Quad</a></li>    -->     
              </ul>
            </li>

            <li><a href="#about">About</a>
              <ul class="nav">   
                <li><a href="#story1">History</a></li>
                <li><a href="#story2">Curious Facts</a></li>
                  
              </ul>
            </li>

            <!-- <li><a href="#services">Services</a>
            <ul class="nav">   
            <li><a href="#service1">Beauty & SPA</a></li>
            <li><a href="#service2">Food</a></li>
            <li><a href="#service3">Fitness</a></li>
            <li><a href="#service4">Kids</a></li> 
            <li><a href="#service5">Leisure</a></li> 
            <li><a href="#service6">Pets</a></li> 
            <li><a href="#service7">Transportation</a></li>        
            </ul>
            </li> -->

            <!-- </li>
            <li><a href="#promos">Promotions</a>
            <ul class="nav">   
            <li><a href="#promo1">Permanent</a></li>
            <li><a href="#promo2">Seasonal</a></li>
            <li><a href="#promo3">Limited</a></li>   
            </ul>
            </li> -->
        </ul>
      
    </nav>
  </div><!-- end of row -->

  <footer>
  </footer>

</div><!-- end of container -->

<div class="container1"></div>

</body>

{% endblock %}

{% block footscripts %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script-->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0-rc2/js/bootstrap.min.js"></script-->  
{% endblock %}

{% block footfunctions %}

<script type="text/javascript">
$(window).load(function(){

  //url = "https://avispa.myring.io/_api/open3/company/6286418040"
  url = "https://avispa.myring.io/_api/ecruises/company/3713092370"

  
  var jqxhr = $.get( url, function( data ) {
    //alert( "success:" + data );
    //var old = $( ".data-Name" ).html();
    //alert( "old_value:"+ old)
    var obj = jQuery.parseJSON(data);

    $( "#data-Name" ).html(obj.items[0].f01).parent().addClass('tst-'+obj.items[0].f01_flag);

    $( "#data-Address" ).html(obj.items[0].f02).addClass('tst-'+obj.items[0].f02_flag);
    $( "#data-State" ).html(obj.items[0].f03).addClass('tst-'+obj.items[0].f03_flag);
    $( "#data-City" ).html(obj.items[0].f04).addClass('tst-'+obj.items[0].f04_flag);
    $( "#data-Zip" ).html(obj.items[0].f05).addClass('tst-'+obj.items[0].f05_flag);

    $( "#data-Website" ).html(obj.items[0].f09).parent().addClass('tst-'+obj.items[0].f09_flag);
    $( "#data-Phone" ).html(obj.items[0].f11).parent().addClass('tst-'+obj.items[0].f11_flag);
    $( "#data-Mail" ).html(obj.items[0].f10).parent().addClass('tst-'+obj.items[0].f10_flag);

    $( "#sm1" ).attr('href',obj.items[0].f14).addClass('tst-'+obj.items[0].f14_flag);
    $( "#sm2" ).attr('href',obj.items[0].f15).addClass('tst-'+obj.items[0].f15_flag);
    $( "#sm3" ).attr('href',obj.items[0].f16).addClass('tst-'+obj.items[0].f16_flag);
    $( "#sm4" ).attr('href',obj.items[0].f17).addClass('tst-'+obj.items[0].f17_flag);

    
    
  })
  .done(function(data) {
    //alert( "done:" + data );
  })
  .fail(function(data) {
    //alert( "fail:" + data );
  })


  jqxhr.always(function(data) {
    //alert( "always:" + data  );
  });

});
</script>

{% endblock %}


