
{% extends 'base.html' %}

{% block title %}
  {{ data.title }}
{% endblock %}

{% block content %}

{% if data.mode =='status' %}
    <!-- SEMAFORO STYLE-->
         <style type="text/css">
          .tst-1{color:green;} /*approved*/
          .tst-2{color:blue;} /*In revision*/
          .tst-3{color:orange;} /*Work in Progress*/
          .tst-4{color:red;} /*empty*/
          .tst-5{color:pink;} /*returned*/ 
          .tst-6{color:gray;} /*not specified*/ 

          .lst-1{background-color:green; color:#FFF;} /*approved*/
          .lst-2{background-color:#5FC1E8; color:#FFF;} /*In revision*/
          .lst-3{background-color:orange; color:#FFF;} /*WIP*/
          .lst-4{background-color:red; color:#FFF;} /*empty*/
          .lst-5{background-color:pink; color:#FFF;} /*returned */ 
          .lst-6{background-color:gray; color:#FFF;} /*not specified*/ 
        </style>
{% endif %}



<link href="/_static/css/ring1_rich.css" rel="stylesheet" type="text/css" media="screen">

<body data-spy="scroll" data-target="#affix-nav" data-offset="180">
<div class="container-fluid bg-07">

<div class="spa10"></div>

<div class="row">

  {% if data.mode =='status' %}
  <div class="col-sm-offset-1 col-sm-7">
     
    Color Key: <span class="fw-c tst-1">green =</span> Confirmed |
    <span class="fw-c tst-4">red =</span> Not Confirmed
    
  </div>
  <div class="col-sm-offset-1 col-sm-3">
    <a href="/_widget/facts/{{ data.slug}}/view">
      <i class="fa fa-toggle-on"></i>
      Switch to regular view
    </a>
  </div>
  {% else %}
    <div class="col-sm-offset-9 col-sm-3">
      <a href="/_widget/facts/{{ data.slug}}/status">
        <i class="fa fa-toggle-off"></i>
        Switch to status view
      </a>
    </div>

  {% endif %}
  
</div>

<target id="start"></target>
 {{ ui.BizHead(data) }}

  <div class="row">

    <section id="content" class="col-sm-offset-1 col-sm-8 ">
    
      <article id="information">
     
        <!-- DESCRIPTION -->
        
      {% if data.Generic %}  <!-- test generic -->
        <section id="info1">
          <div class="row box box-widget">
            <div class="col-sm-12 box-columns">
             {{ ui.FactCard(data.Generic) }}
            </div>
            
          </div>
        </section>
      {% endif %}

      </article>
     
      {% if data.Rooms %}
      <!-- ROOMS /////////////////////////////////////////////// -->
      <article id="rooms">

        <div class="row box box-widget p-10 bg-08">
          <div class="col-sm-12">
            <h3 class="fc-g">{{ data.Name }} <span class="fc-b">Rooms</span> </h3>
          </div>
        </div>

        {{ ui.FactCard_Rooms(data.Rooms) }}
        
      </article>
      {% endif %}


      {% if data.Services %}
      <!-- SERVICES /////////////////////////////////////////////// -->
      <article id="product">
        <div class="row box box-widget p-10 bg-08">
          <div class="col-sm-12">
            <h3 class="fc-g"><span class="fc-b">
            {% if data.ServiceName %}

              {{ data.ServiceName }}

            {% else %}
              Services
            {% endif %}

            </span> </h3>
          </div>
        </div>
        
        {{ ui.FactCard_Services(data.Services) }}
        
      </article>
      {% endif %}


    </section> <!-- col-7 -->


  </div><!-- end of row -->

  <footer>
  </footer>

</div><!-- end of container -->
 
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0-rc2/js/bootstrap.min.js"></script>
</body>



{% endblock %}


