{% extends 'base.html' %}


         
    {% block content %}

  <section class="bg-hand" style="padding-bottom:10px;">
    <div class="bg-05b">  
      <div class="row margin-50">
          <div class="col-sm-offset-2 col-sm-8 text-center">
            <div class="spa5"></div>

            
            <div class="spa30"></div>
            <h1 class="fs-5 fw-a lh-1 fc-b hidden-xs pad-x-20">
              Is your company ready for Artificial Intelligence ?
            </h1>
            <h1 class="fs-4 fw-a lh-1 fc-b visible-xs pad-x-20">
              Is your company ready for Artificial Intelligence ?
            </h1>

          </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-2 col-sm-8 text-center pad-x-20">
          
            <h2 class="text-black fs-1-5 lw-1em">A.I. is not science fiction anymore, your customers are taking buying decissions based on the answers that assitants like Siri&#8482;, Cortana&#8482; and Watson&#8482; provide. <a href="/_sandbox/mbf_home" class="fs-0-8">(Learn More) </a></h2>

            <div class="spa40"></div>
      </div>
    </div>
  </section> 


  
  <section class="">
    
    <div class="row">
            
        <div class="col-sm-offset-2 col-sm-8 text-center">
            <div class="spa20"></div>
            

            <img class="img-responsive center-block" src="/_static/images/choro.png" style="width:200px;"/>
            
            <h2 class="lh-1" style="font-size:2.5em; color:#9e9e9e;">MyRing prepares your company <span class="text-black">data & content</span> for <span class="fc-c">A.I. and Machine learning systems</span></h2>
            
          
            <p></p>
            <div class="spa10"></div>

          <div class="spa5"></div>
        </div>
        
    </div>

  </section> 



    <section class="bg-white top">
      <div class="container">

        <!-- <div class="row">
          <div class="col-sm-12 text-center">
            <div class="rhr4"></div>
            <div class="spa20"></div>
            <h2 class="text-lgray fs-2">with our solution your company will:</h2>
            <div class="spa20"></div>
          </div>  
        </div> -->

        <div class="row spa40">
          <div class=" col-sm-offset-1 col-sm-5 margin-20 text-right">
            <h2 class="text-gray">Have an updated Business Facts Profile</h2>
            <h3 class="text-lgray"></h3>
            <p class="lh-1-5">Don't let poor photos, outdated info, and bad reviews define how your company is understood on the internet, become your product's main source of information by providing complete and accurate business facts. </p>
            <a class="" href="/_sandbox/mbf_home">(learn more)</a>
          </div>
          <div class="col-sm-5 margin-20">
            <img class="img-responsive right-block" src="/_static/images/ai_01.png" style="width:200px;"/>
          </div>
        </div> 
        <hr/>
        <div class="row spa40">
          <div class="col-sm-offset-1 col-sm-5 margin-20">
            <img class="img-responsive right-block" src="/_static/images/ai_02.png" style="width:200px; float:right;"/>
          </div>
          <div class="col-sm-5 margin-20 text-left">
            <h2 class="text-gray">Be accessible 24/7</h2>
            <h3 class="text-lgray">(Worldwide all the time)</h3>
            <p class="lh-1-5">One of the most important parts of serving dynamic data on demand is the ability to be there whenever you are required and to scale your capacity on demand. My Ring give access to Global Content Distribution Networks (CDNs) without the IT overhead.</p>
            <a class="" href="/_sandbox/mbf_home">(Learn more)</a>
            
          </div>
        </div> 
        <hr/>
        <div class="row margin-40">
          <div class="col-sm-offset-1 col-sm-5 margin-20 text-right">
            <h2 class="text-gray">Serve data & content via an enterprise API</h2>
            <p class="lh-1-5">Start serving any digital content programatically: Photos, texts, 360 Panoramas, video, multilingual descriptions, geolocation, pdfs, documents, you name it. MyRing exposes a catalog of your content and Data in JSON and any other popular format.</p>
            <a class="" href="/_sandbox/mbf_home">(Learn more)</a>
            
          </div>
          <div class="col-sm-5 margin-20 text-left">
            <img class="img-responsive left-block" src="/_static/images/ai_03.png" style="width:200px;"/>
          </div>
        </div> 

        <!-- <div class="row margin-40">
          <div class="col-sm-offset-2 col-sm-4 margin-20 text-center">
            <img class="img-responsive left-block" src="/_static/images/clip/clead.jpg" style="width:200px;"/>
          </div>
          <div class="col-sm-4 margin-20 text-left">
            <h2 class="text-gray">Take the lead in your vertical</h2>
            <p class="text-9">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
            
          </div>
        </div>  -->
        <div class="spa40"></div>
      </div>
    </section> 

    <section class="bg-07 ">
      	<div class="container spa40">
	        <div class="row">
	          <div class="col-sm-offset-2 col-sm-6" >
	            <h2 class="text-black" style="font-size:3em;">Start today for free</h2>
	              

	          </div>
            <div class="col-sm-4 bord-left spa40 p-30">
                
                  <button type="submit" class="btn btn-success btn-lg">CREATE ACCOUNT</button>
                  <p class="fs-1 text-gray">No comitment, no credit card required.</p>
                
            </div>
	        </div>

	        <!-- <div class="row spa20">

	        	<div class="col-sm-offset-2 col-sm-8 text-center">
    	        <form action="/_register" class="form-inline">
    					  <div class="form-group">
    					    <label class="sr-only" for="exampleInputEmail3">Email</label>
    					    <input type="email" class="form-control input-lg" id="" placeholder="Enter email">
    					  </div>
    					  <div class="form-group">
    					    <label class="sr-only" for="exampleInputPassword3">Password</label>
    					    <input type="password" class="form-control input-lg" id="" placeholder="Password">
    					  </div>
    					 
    					  <button type="submit" class="btn btn-success btn-lg">CREATE ACCOUNT</button>
    					</form>
	        	</div>
	        	
	        </div> -->
          
        </div>
      </div>
    </section>
      


    <section class="bg-white">
      <div class="row margin-60">
        
        <div class="col-sm-offset-2 col-sm-8 text-center">
            <div class="spa20"></div>
            <h2 class="text-lgray" style="font-size:4em;">Why this</h2>
            <h2 class="text-gray" style="font-size:4em;">is important?</h2>
            

          <div class="spa20"></div>
        </div>
      </div><!--end Row-->

        <div class="row spa40">
          <div class="col-sm-offset-1 col-sm-5 margin-20 text-right">
            <h2 class="text-gray">1. Your traditional Website + SEO strategy is not enough</h2>
            <p class="text-9">Websites, paid banners and SEO techniques, belong to the desktop environment. Currently there are more mobile than desktop users and this will only increase dramatically over the next decade. </p><a class="" href="/_sandbox/mbf_how">(Learn more)</a>
          </div>
          <div class="col-sm-4 margin-20 text-left">
            <img class="img-responsive left-block" src="/_static/images/graph1.png" style="width:300px;"/>
          </div>
        </div> 

        <hr/>

        <div class="row spa40">
          <div class="col-sm-offset-2 col-sm-4 margin-20 text-center">
            <img class="img-responsive left-block" src="/_static/images/graph2.png" style="width:300px;"/>
          </div>
          <div class="col-sm-5 margin-20 text-left">
            <h2 class="text-gray">2. Having a responsive HTML Design doesn’t make you mobile Friendly</h2>
            <p class="text-9">Because a responsive HTML website doesn't make you mobile friendly: Mobile users only spend 14% in their Mobile Device Browsers, even the best responsive website ever designed will miss 86% of the mobile user attention and 100% on any Weareable. 



            </p>
            <a class="" href="/_sandbox/mbf_how">(Learn more)</a>
          </div>
        </div>

        <hr/>

        <div class="row spa40">
          <div class="col-sm-offset-1 col-sm-5 margin-20 text-right">
            <h2 class="text-gray">API's can convert competitors into partners </h2>
            <p class="text-9">
            The API can help turn your competitors into partners by allowing them to build solutions on top of your data & content. This concept lets partners leverage the existing capabilities of your company and allows you to open new and unexpected revenue streams.</p>
            <a class="" href="/_sandbox/mbf_how">(Learn more)</a>
          </div>
          <div class="col-sm-4 margin-20 text-left">
            <img class="img-responsive left-block" src="/_static/images/cproduct.png" style="width:300px;"/>
          </div>
        </div> 

        <div class="row margin-40">
          <div class="col-sm-12">
              <div class="spa30"></div>
          </div>
        </div>
    


          
      </div>  
    </section>

  <section class="">
    
    <div class="row bg-c">
      
      <div class="col-sm-offset-2 col-sm-8">
      
          <div class="spa70">
            <h1 class="fc-b fw-c">Start with your business Facts today</h1>
            
            <p>Signing up is free and Business accounts start at $9.99</p>
            


            <a href="/_sandbox/mbf_signup" type="submit" class="btn btn-default btn-lg">CREATE ACCOUNT</a>
           



        <!-- <form class="form-inline spa20" action="https://avispa.myring.io/_register">
          <div class="form-group">
            <label class="sr-only" for="exampleInputEmail3">Name</label>
            <input type="text" class="form-control" id="exampleInputName2" placeholder="Name">
          </div>            
          <div class="form-group">
            <label class="sr-only" for="exampleInputEmail3">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail3" placeholder="email">
          </div>

          <button type="submit" class="btn btn-default">Sign up</button>
        </form> -->


          </div>
      
      </div>
    </div>

  </section> 
    

    <!-- {{ ui.cta1() }} -->





    {% endblock %}


