{% extends 'avispa_rest/tabs.html' %}

{% block title %}
	My Ring - {{ data.section_name}}
{% endblock %}




    {% block crumbs %}
          
	<li class="active">{{ data.section_name}}</li>


    {% endblock %}
         
    {% block tabcontent %}


	<div class="row text-center">
	    <div class="col-sm-12 spa30">     
	    	<h1>Hey Joe, Thanks for accepting my invite</h1>
	    	<p class="fs-1-2">Please complete your registration or log-in.</p>
	    	
	    </div>
	    <hr/>
           
	</div>
	<div class="row">
		<div class=" col-sm-offset-2 col-sm-8 text-center">  
			<div class="spa40">
				<h2><span class="label label-default">1. Do you have a MyRing.io personal account?</span></h2>
			</div>
			
			
		</div>
	</div>
	<div class="row">
	    <div class="col-sm-offset-2 col-sm-4">     
	      	<div class="rn-box text-center pair_win500">

		        <h1 class="fs-2 fw-c">yes</h1>
		        <p class="fs-1-3">Ok, let's login</p>
		        <hr/>
	        		<div class="input-group input-group-md text-center">
					<span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user"></i></span>
					<input type="text" class="form-control" placeholder="username" aria-describedby="sizing-addon1">
					</div>

					<div class="spa5"></div>

					<div class="input-group input-group-md text-right">
					<span class="input-group-addon" id="sizing-addon1"><i class="fa fa-envelope-o"></i></span>
					<input type="text" class="form-control" placeholder="email" aria-describedby="sizing-addon1">
					</div>

					<div class="spa20">
						<a class="btn btn-success btn-lg fs-1-2 text-right" href="">Login</a>
					</div>
	      	</div>
	    </div>

	    <div class="col-sm-4">     

	    	<div class="rn-box text-center pair_win500">

		        <h1 class="fs-2 fw-c">no</h1>
		        <p class="fs-1-3">let's create one</p>
		        <hr/>
	        		
		        	<div class="input-group input-group-md text-center">
						<span class="input-group-addon fw-c" id="sizing-addon1">myring.io/</span>
						<input type="text" class="form-control" placeholder="username" aria-describedby="sizing-addon1">
					</div>

					<div class="spa5"></div>
		        	
					<div class="input-group input-group-md text-center">
						<span class="input-group-addon" id="sizing-addon1"><i class="fa fa-envelope-o"></i></span>
						<input type="text" class="form-control" placeholder="email" aria-describedby="sizing-addon1">
					</div>

					<div class="spa5"></div>
					<div class="input-group input-group-md text-center">
						<span class="input-group-addon" id="sizing-addon1"><i class="fa fa-key"></i></span>
						<input type="text" class="form-control" placeholder="password" aria-describedby="sizing-addon1">
					</div>
					


					<div class="spa30">
						<a class="btn btn-info btn-lg fs-1-2 text-right" href="">Next</a>
					</div>

					<hr/>

					Are you creating an account for an organization, company or group? great!, you can do it <a href="" class="fw-c">here <i class="fa fa-arrow-right"></i></a>
	      	</div>

	    </div>

	               
	</div>
    
    

    {% endblock %}


