{% extends 'avispa_rest/tabs.html' %}

{% block title %}
	My Ring - {{ data.section_name}}
{% endblock %}


         
    {% block tabcontent %}


  <section class="bg-ring01">
    
    <div class="row margin-50 spa70">
      <div class="col-sm-offset-1 col-sm-7 text-left">

          
          	<h1 class=" lh-1 fc-a" style="font-size:5em; font-weight:300;">
          			Organize the <br/>
		          	<span class="tlt">
								    <ul class="texts">
								    	<li data-in-effect="fadeIn" data-out-effect="fadeOut">Photos</li>
								    	<li data-in-effect="fadeIn" data-out-effect="fadeOut">Descriptions</li>
								    	<li data-in-effect="fadeIn" data-out-effect="fadeOut">Translations</li>
								          
							        <!-- <li data-in-effect="fadeIn" data-out-effect="fadeOut">Mobile Apps</li>
							        <li data-in-effect="fadeIn" data-out-effect="fadeOut">Weareables</li>
							        <li data-in-effect="fadeIn" data-out-effect="fadeOut">A. Intelligence</li>
							        <li data-in-effect="fadeIn" data-out-effect="fadeOut">Cars</li>
							        <li data-in-effect="fadeIn" data-out-effect="fadeOut">IoT</li>
							        <li data-in-effect="fadeIn" data-out-effect="fadeOut">API</li> -->
								    </ul>
								</span>

							<br/> <span class="fs-0-6">of your company with an API</span>
						</h1>


          <div class="spa20"></div>

        

          <!-- <h2 class="lw-1em fs-1-7 fc-b show-xs">Organize your Data smarter, create collaborators teams, deploy APIs in no time.</h2> -->
          <h2 class="lw-1em fs-1-7 fc-j hidden-sm hidden-md hidden-lg">Make your product or service accesible to any connected device in the planet</h2>
          
          <h2 class="lw-1em fs-1-8 fc-j hidden-xs fc-d">Make your product or service accesible to any connected device in the planet</h2>


          <form action="/_register" class="form-inline spa20">
						  <div class="form-group">
						    <label class="sr-only" for="exampleInputEmail3">Email</label>
						    <input type="email" class="form-control input-lg" id="" placeholder="Enter email">
						  </div>
						  <div class="form-group">
						    <label class="sr-only" for="exampleInputPassword3">Password</label>
						    <input type="password" class="form-control input-lg" id="" placeholder="Password">
						  </div>
						 
						  <button type="submit" class="btn btn-info btn-lg">CREATE ACCOUNT</button>
				</form>




  		</div>
  		<div class="col-sm-4 hidden-xs">
  			<img class="img-responsive right-block" src="/_static/images/connect3.png" style="float:right;"/>
  		</div>
    </div>

  </section> 

  
  <section class="">
    
    <div class="row margin-50 spa70">

    	<div class="col-sm-offset-1 col-sm-3 text-right">
    		<img class="img-responsive right-block" src="/_static/images/choro.png" style="float:right; width:200px;"/>

    	</div>
      <div class="col-sm-6 text-left">

          	<h4 class="text-gray fs-1-5">Take responsiveness to the next level by making all your product and content easy to use by <span class="fw-b fc-b">Artificial Intelligence</span> and <span class="fw-b fc-b">Weareables</span>. Don't settle by being only responsive to screens. <a href="" class="fs-0-8 pl-20">(learn more)</a></h4> 

  		</div>
  		
    </div>

  </section> 



    <section class="bg-white top">
      <div class="container spa100">




        <div class="row margin-40">
          <div class="col-sm-2 margin-20">
            <img class="img-responsive right-block" src="/_static/images/ai_01.png" style="width:200px; float:right;"/>
          </div>
          <div class="col-sm-4 margin-20 text-left">
            <h2 class="text-gray">Capture & Organize your Data smarter</h2>
            
            <p class="lh-1-5">Rings it’s a platform that annotate and organize big amounts of data facilitate it capture and prepare it to be shared via RESTful APIs.</p>
            
          </div>
        
          <div class="col-sm-2">
            <img class="img-responsive right-block" src="/_static/images/ai_02.png" style="width:200px; float:right;"/>
          </div>
          <div class="col-sm-4 text-left">
            <h2 class="text-gray">Create Data Capture teams.</h2>
            
            <p class="lh-1-5">Doesn’t matter if you are an individual or a big organization, MyRing allows you to crowd-capture Data sets.</p>
            
          </div>
        </div> 

        <hr/>

        <div class="row margin-40">
          <div class="col-sm-2">
            <img class="img-responsive right-block" src="/_static/images/ai_08.png" style="width:200px; float:right;"/>
          </div>
          <div class="col-sm-4 text-left">
            <h2 class="text-gray">Federate your Data with Schemas</h2>
            
            <p class="lh-1-5">Choose exisitng industry standars or create your own schemas to federate it with similar Data sources. </p>
            
          </div>

          <div class="col-sm-2">
            <img class="img-responsive right-block" src="/_static/images/ai_03.png" style="width:200px; float:right;"/>
          </div>
          <div class="col-sm-4 text-left">
            <h2 class="text-gray">Expose it via API  + Auto Documentation</h2>
            
            <p class="lh-1-5">Choose between different flavors of API: Rest, XML, Sparq, etc. Take advantage of the autogenerated documentation.</p>
            
          </div>
        </div> 




       
      </div>
    </section> 

    <section class="bg-07 rn-box-solo ">
      	<div class="container spa40">
	        <div class="row">
	          <div class="col-sm-offset-2 col-sm-8 text-center" >
	            <h2 class="text-black" style="font-size:3em;">Start today for free</h2>
	              
	            <div class="spa10"></div>
	            <p class="fs-1 text-gray">No comitment, no credit card required.</p>
	            <div class="spa25"></div>

	          </div>
	        </div><!--end Row-->
	        <div class="row spa20">

	        	<div class="col-sm-offset-2 col-sm-8 text-center">

	        		<form action="/_register" class="form-inline">
					  <div class="form-group">
					    <label class="sr-only" for="exampleInputEmail3">Email</label>
					    <input type="email" class="form-control input-lg" id="" placeholder="Enter email">
					  </div>
					  <div class="form-group">
					    <label class="sr-only" for="exampleInputPassword3">Password</label>
					    <input type="password" class="form-control input-lg" id="" placeholder="Password">
					  </div>
					 
					  <button type="submit" class="btn btn-success btn-lg">CREATE ACCOUNT</button>
					</form>
	        	</div>
	        	
	        </div>
          
        </div>
      </div>
    </section>
      




    <section class="bg-white">
      <div class="row">
        
        <div class="col-sm-offset-2 col-sm-8 text-center spa60">
            <h2 class="text-lgray" style="font-size:4em;">Why this</h2>
            <h2 class="text-gray" style="font-size:4em;">is important?</h2>
            <div class="spa10"></div>

          <div class="spa5"></div>
        </div>
      </div><!--end Row-->

        <div class="row margin-40">
          <div class="col-sm-offset-1 col-sm-5 margin-20 text-right">
            <h2 class="text-gray">Your traditional Website + SEO is not enough</h2>
            <p class="text-9">Websites, paid banners and  SEO techniques, belong to the desktop environment. They translate poorly to Mobile and don't have place in A.I. & Weareables <a href="/_register"></a></p>
          </div>
          <div class="col-sm-4 margin-20 text-left">
            <img class="img-responsive left-block" src="/_static/images/graph1.png" style="width:300px;"/>
          </div>
        </div> 

        <hr/>

        <div class="row margin-40 spa40">
          <div class="col-sm-offset-2 col-sm-4 margin-20 text-right">
            <img class="img-responsive left-block" src="/_static/images/graph2.png" style="width:300px;"/>
          </div>
          <div class="col-sm-5 margin-20 text-left">
            <h2 class="text-gray">Having a responsive HTML Design doesn’t make you mobile friendly</h2>
            <p class="text-9">Mobile users only spend 14% in their Mobile Device Browsers, even the best responsive website ever designed will miss 86% of the user available attention in any mobile device and 100% on any Weareable. 

            </p>
          </div>
        </div>

        <hr/>

        <div class="row margin-40 spa40">
          <div class="col-sm-offset-2 col-sm-4 margin-20 text-right">
            <h2 class="text-gray">API's can convert competitors into partners </h2>
            <p class="text-9">
            The API can help turn your competitors into partners by allowing them to build solutions on top of your product’s functionality. This concept lets partners leverage the existing capabilities of your program and enhance it by using their expertise and know-how to create new and innovative solutions.</p>
          </div>
          <div class="col-sm-4 margin-20 text-left">
            <img class="img-responsive left-block" src="/_static/images/cproduct.png" style="width:300px;"/>
          </div>
        </div> 

        <div class="row margin-40">
          <div class="col-sm-12">

          	<div class="spa50"></div>
            
          </div>
        </div>
    


          
      </div>  
    </section>

        <section class="bg-07 rn-box-solo ">
      	<div class="container spa40">
	        <div class="row">
	          <div class="col-sm-offset-2 col-sm-8 text-center" >
	            <h2 class="text-black" style="font-size:3em;">Start for free</h2>
	              
	            <div class="spa10"></div>
	            <p class="fs-1 text-gray">No comitment, no credit card required.</p>
	            <div class="spa25"></div>

	          </div>
	        </div><!--end Row-->
	        <div class="row spa20">

	        	<div class="col-sm-offset-2 col-sm-8 text-center">

	        		<form action="/_register" class="form-inline">
					  <div class="form-group">
					    <label class="sr-only" for="exampleInputEmail3">Email</label>
					    <input type="email" class="form-control input-lg" id="" placeholder="Enter email">
					  </div>
					  <div class="form-group">
					    <label class="sr-only" for="exampleInputPassword3">Password</label>
					    <input type="password" class="form-control input-lg" id="" placeholder="Password">
					  </div>
					 
					  <button type="submit" class="btn btn-success btn-lg">CREATE ACCOUNT</button>
					</form>
	        	</div>
	        	
	        </div>
          
        </div>
      </div>
    </section>

    

    {% endblock %}


