{% extends 'base.html' %}

{% include 'includes/headscripts.html' %}
    {% import 'includes/ui_macros.html' as ui %}


{% block content %}


<section>
    <div class="container-fluid">
        <div class="row m-10">
            <div class="col-sm-12 omega">

            	<h1>Please choose a Demo:</h1>
            	<p>MyRing is a flexible easy to use API system that allows companies to organize and deploy their Data in a ridiculously easy way. The following are few examples on how myRing can be used.  </p>
            	<br/>
            	<br/>

	            <table class="table table-striped ">
	            	<tr>
	            		<td><span class="label label-vader">Demo A</span></td>
	            		<td>
	            			<div class="spa20">
		            			<h4 class="fw-c">
		            			"Company managing their Product Data"</h4>
		            			<hr/>

		            			<div class="fs-0-8"><strong>Organization</strong>: Fairmont Hotels</div>
		            			<div class="fs-0-8"><strong>Simulated User</strong>: John (Hotel Manager)</div>
	            			</div>
	            		</td>
	            		
	            		<td>
	            			<form action="/_login" method="POST" target="_blank">
								<input type="hidden" name="email" value="john@myring.io" />
								<input type="hidden" name="password" value="happy123"/>
								<input class="btn btn-info" type="submit" value="Go to Demo">
							</form>
	            		</td>
	            		
	            	</tr>

					<!-- DEMO 2 -->
<!-- 
					<tr>
	            		<td><span class="label label-vader">Demo B</span></td>
	            		<td>

		            		<div class="spa20">
		            			<h4 class="fw-c">
		            			"Publishing House managing Data Assets"</h4>
		            			<hr/>

		            			<div class="fs-0-8"><strong>Organization</strong>: Fairmont Hotels</div>
		            			<div class="fs-0-8"><strong>Simulated User</strong>: John (Hotel Manager)</div>
		            		</div>
	            			
	            		</td>
	            		
	            		<td>
	            			<form action="/_login" method="POST" target="_blank">
								<input type="hidden" name="email" value="john@myring.io" />
								<input type="hidden" name="password" value="happy123"/>
								<input class="btn btn-info" type="submit" value="Go to Demo">
							</form>
	            		</td>
	            		
	            	</tr>

	            	<tr>
	            		<td><span class="label label-vader">Demo C</span></td>
	            		<td>

	            			<div class="spa20">

		            			<h4 class="fw-c">
		            			"Non Profit Crowd-capture campaign"</h4>
		            			<hr/>

		            			<div class="fs-0-8"><strong>Organization</strong>: Fairmont Hotels</div>
		            			<div class="fs-0-8"><strong>Simulated User</strong>: John (Hotel Manager)</div>
		            		</div>
	            		</td>
	            		
	            		<td>
	            			<form action="/_login" method="POST" target="_blank">
								<input type="hidden" name="email" value="john@myring.io" />
								<input type="hidden" name="password" value="happy123"/>
								<input class="btn btn-info" type="submit" value="Go to Demo">
							</form>
	            		</td>
	            		
	            	</tr>
 -->



				
				</table>

			</div>
		</div>
	</div>
</section>



{% endblock %}



