{% extends 'base.html' %}

{% include 'includes/headscripts.html' %}
    {% import 'includes/ui_macros.html' as ui %}


{% block content %}


<section>
    <div class="container-fluid">
        <div class="row m-10">
            <div class="col-sm-12 omega">

            	<h1>Demos:</h1>
            	
            	<br/>
            	<br/>

	            <table class="table table-striped ">



	            	{{ ui.demotitle('A', 'The Plaza Hotel','theplazahotel','john','HC', 'ralph1.jpg', 'fairlogo.png','john@myring.io','happy123','theplazahotel') }}

	            	{{ ui.demotitle('B', 'Liberty Helicopters','libertyhelicopters','Susane','MA', 'susane.jpg', 'rampant.png','susane@myring.io','happy123','rampantzine') }}

	            	{{ ui.demotitle('C', 'Cosme Gramercy Park','cosmenyc','Donna','MA', 'donna.jpg', 'best.jpg','donna@myring.io','happy123','bestfriends') }}


	            	

	            	


	            	


	            	


				
				</table>

			</div>
		</div>
	</div>
</section>



{% endblock %}



