{% extends 'base.html' %}

{% include 'includes/headscripts.html' %}
    {% import 'includes/ui_macros.html' as ui %}


{% block content %}


<section>
    <div class="container-fluid">
        <div class="row m-10">
            <div class="col-sm-12 omega">

            	<h1>Please choose a Demo:</h1>
            	<p>MyRing is a flexible easy to use API system that allows companies to organize and deploy their Data in a ridiculously easy way. The following are few examples on how myRing can be used.  </p>
            	<br/>
            	<br/>

	            <table class="table table-striped ">



	            	{{ ui.demotitle('A', 'Company managing their Product Data','fairmont','john','Hotel Manager', 'ralph1.jpg', 'fairlogo.png','john@myring.io','happy123') }}

	            	{{ ui.demotitle('B', 'Publication syndicating content','Rampant Zine','Susane','Editor in Chief', 'susane.jpg', 'rampant.png','susane@myring.io','happy123') }}

	            	{{ ui.demotitle('C', 'Non Profit Crowd-capture campaign','Dogs Friends C.A.','Donna','Manager', 'donna.jpg', 'best.jpg','donna@myring.io','happy123') }}


	            	{{ ui.demotitle('D', 'Organization sharing declarations','United Nations','James','UN Delegate', 'james.jpg', 'un.png','james@myring.io','happy123') }}

	            	


	            	


	            	


				
				</table>

			</div>
		</div>
	</div>
</section>



{% endblock %}



