{% extends 'sandbox/mail_base.html' %}

{% block title %}
	Thank you for Joining MyRing
{% endblock %}
         
{% block content %}

				<tr style="margin:5px;">
					<td bgcolor="#f6f6f6" align="left" ><h4><a href="http://myring.io"><img class="img-responsive" src="/static/images/myring02.png" style="width:80px; padding:10px;" alt="myRing.io"/></a></h4></td>
				</tr>

				<tr>
					<td style="padding:0 20px 20px 20px;">
						
						<h1>Thank you for Joining MyRing</h1>
					</td>
				</tr>
				<tr >
					<td >

						<img class="img-responsive left-block" src="/static/images/ma_001.jpg" width="80%" onerror="this.style.display='none'" />
					</td>
				</tr>
				<tr>
					<td>	

						<div style="padding:20px 40px 20px 60px; text-align:left; line-height: 1.;">
							<p style="color:gray; font-size:18px;"><em>Here is some important information about your new account.
							Please save this email, so you can refer to it later.</em></p>
							
							<br/>
							<div class="fs-15 fw-200">Access:</div>
							<p class="fs-15"><a href="" class="btn btn-info">http://myring.io/_login</a></p>

							<br/>
							<div class="fs-15 fw-200">Your Ring is located at:</div>
							<p class="fs-15"><a href="" class="btn btn-info">http://myring.io/juanperez</a></p>
							<br/>
							<div class="fs-15 fw-200">Help starts here:</div>
							<p class="fs-15"><a href="" class="btn btn-warning">http://myring.io/_support</a></p>
							

							<br/><br/><br/>
							<p class="fs-15" style="font-size:20px; color:#CCC;">Log in and have fun using MyRing!</p>
							<h4><img class="img-responsive left-block" src="/static/images/ringteam.jpg" width="200px" alt="- MyRing Team"/></h4>
							<br/>
							
						</div>
					

					</td>
				</tr>

{% endblock %}