
<style type="text/css">
	p{font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;}
	h4{font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;}
	.signature{ font-size:14px;}
</style>
         
{% block content %}



				<tr>
					<td>	

						<p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;">
							<!-- a) Hey [First Name], a quick email to welcome you to MyRing. --> 

							Wanted to quickly say ‘hi’ 
							<br/> <br/> 
							Great to have you as a MyRing member! I hope you find the site useful in organizing your data. Let me know if there’s anything I can help you with – Feedback is very welcome during this early stage! If you’re interested in, happy to offer some great examples how other companies are using Rings to boost their business. 

							<br/><br/><br/>

							<h4>Gerardo Cid</h4>

							<p class="signature"><em>
							Co-Founder MyRing.io <br/><br/>
							gcid@myring.io<br/>
							1407 Broadway Ave. 24 floor, <br/>
							New York NY 10018
							</em></p>

						</p>

					

					</td>
				</tr>

{% endblock %}