{% extends 'sandbox/mail_base.html' %}

{% block title %}
	Reset MyRing.io Password
{% endblock %}
         
{% block content %}

				
				<tr>
					<td>	

						<div style="padding:20px 40px 20px 60px; text-align:left; line-height: 1.;">
							<p>Greetings Paul,</p>
							
							<br/>
							<p> We received a request to reset your password. Simply click the button to reset your password</p>


							<br/><br/>
							
							<p class="fs-15"><a href="" class="btn btn-info">Reset My Password</a></p>

							<br/><br/>
							<p>Cheers,</p>

							
							
							<h4><img class="img-responsive left-block" src="/static/images/ringteam.jpg" width="150px" alt="- MyRing Team"/></h4>
							<br/>
							
						</div>
					

					</td>
				</tr>

{% endblock %}