{% extends 'sandbox/mail_base.html' %}

{% block title %}
	Mike wants to collaborate with you.
{% endblock %}
         
{% block content %}


				<tr>
					<td align="left" style="padding:0 20px 0px 60px;">
						
						<!-- <h1 style="font-weight:400;">Hello Jon</h1> -->
						<h1 style="font-weight:400;">Hola Verónica</h1>

						<!-- <h3 style="max-width:400px;">Mike wants you to collaborate in the collection:</h3> -->
						<h3 style="max-width:400px;">ENPEG Esmeralda quiere que colabores en la colección:</h3>
						
					</td>
				</tr>
				<tr >
					<td align="center">
						<!-- <h1>˚Group_restaurants</h1> -->
						<h1>˚artistas</h1>

						<img class="img-responsive left-block" src="/static/images/ma_envelope.jpg" width="80%" onerror="this.style.display='none'" />
					</td>
				</tr>
				<tr>
					
				</tr>
					<td>
						<p class="fs-15"><a href="" class="btn btn-info" style="margin-top:20px;">Accept Invitation, yeah!</a></p>
					</td>
				<tr>
					<td>	

						<div style="padding:20px 40px 20px 60px; text-align:left; line-height: 1.;">
							
							
						
							
							<h2 class="fs-15" style="font-size:15px; ">MyRing is the easiest way to create Data collections, If you have any question please visit the <a href="">help section</a> or contact us at <a href="">support@myring.io</a></h2>
							<h4><img class="img-responsive left-block" src="/static/images/ringteam.jpg" width="150px" alt="- MyRing Team"/></h4>
							<br/>
							
						</div>
					

					</td>
				</tr>

{% endblock %}