
{% extends 'base.html' %}



{% block content %}


<div class="container-fluid">
        
    <div class="row bg-07">
      
		<div class="col-sm-offset-2 col-sm-6">
			<div class="spa80">
				
		  		<h1 class="text-black fw-a fs-3">My <span class="fw-c">Business Facts </span>Profile</h1>
		  		

		  		<!-- <h2 class="fw-a text-white lh-1">Engage your customers with facts</h2> 
		  		<p class="fs-1-5">By providing useful information and stories behind your product you are making everyone understands it better. </p> -->

		  		
		  		<h2 class="fw-c fc-i lh-1-2 fs-3">Inform with your facts, <br/>cautivate with your story</h2>

		  		<p class="fs-1-5 fc-b">Engage with your customers by providing meaningful and useful information about your product and service.</p>



	      		
	      		 </p>

			</div>
		</div>
    </div>
    
    <div class="row">
		<div class="col-sm-offset-2  col-sm-10 spa50">
			<h1 class="fw-a text-gray">What is inside your profile?</h1>
			<hr/>
		</div>
    </div>
    <!-- ROW1 -->
    <div class="row">
		<div class="col-sm-offset-2 col-sm-1">
			<img src="/static/images/ico_flag.png"  class="img-responsive" />
		</div>
		<div class="col-sm-4">
		  	<h4 class="fw-c fc-g"> Your <span class=" fc-b">Company </span> facts</h4>
		  	<p class="fs-0-9">Tell the world about your company, what drives it,  what is the story behind it, who found it, also tell us about basic information like hours of operation, how it’s easier to reach you, accreditations, etc.</p>
		</div>
		<div class="col-sm-4">	
			<a href="/_sandbox/mbf_signup" class="btn btn-lime"> <img src="/static/images/ico_flag.png" class="io_50 icobtn" /> Complete your Company Facts</a>
			<p class="fs-0-8 spa20">
				
				<!-- <a href="/_sandbox/mbf_signup"> <i class="fa fa-file-text-o fa-1x"></i> See example of completed facts</a> -->
			</p>
			<div class="spa20"></div>
		</div>
		
    </div>
    <hr/>
    <!-- ROW2 -->
    <div class="row">
		<div class="col-sm-offset-2 col-sm-1">
			<img src="/static/images/ico_loca.png"  class="img-responsive" />
		</div>
		<div class="col-sm-4">
		  	<h4 class="fw-c fc-g"> Your <span class=" fc-b">Location </span> facts</h4>
		  	<p class="fs-0-9">Share the locations of your business in the physical world, but also on the web and mobile apps, help your customers find you in every retailer that carry your product, maximize your conversion rate.</p>
		</div>
		<div class="col-sm-4">	
			<a href="/_sandbox/mbf_signup" class="btn btn-lime"> <img src="/static/images/ico_loca.png" class="io_50 icobtn" />  Complete your Location</a>
			<p class="fs-0-8 spa20">
				
				<!-- <a href="/_sandbox/mbf_signup"> <i class="fa fa-file-text-o fa-1x"></i> See example of completed facts</a> -->
			</p>
			<div class="spa20"></div>
		</div>
		
    </div>
    <hr/>
    <!-- ROW3 -->
    <div class="row">
		<div class="col-sm-offset-2 col-sm-1">
			<img src="/static/images/ico_prod.png"  class="img-responsive" />
		</div>
		<div class="col-sm-4">
		  	<h4 class="fw-c fc-g"> Your <span class=" fc-b">Product </span> facts</h4>
		  	<p class="fs-0-9">What is your product name, what benefits your customers will get from buying it, how it looks like (photos, video), The more specific the better, customers and media love details.</p>
		</div>
		<div class="col-sm-4">	
			<a href="/_sandbox/mbf_signup" class="btn btn-lime"> <img src="/static/images/ico_prod.png" class="io_50 icobtn" />  Complete your Product</a>
			<p class="fs-0-8 spa20">
				
				<!-- <a href="/_sandbox/mbf_signup"> <i class="fa fa-file-text-o fa-1x"></i> See example of completed facts</a> -->
			</p>
			<div class="spa20"></div>
		</div>
		
    </div>
    <hr/>
    <!-- ROW4 -->
    <div class="row">
		<div class="col-sm-offset-2 col-sm-1">
			<img src="/static/images/ico_promo.png"  class="img-responsive" />
		</div>
		<div class="col-sm-4">
		  	<h4 class="fw-c fc-g"> Your <span class=" fc-b">Promotions </span></h4>
		  	<p class="fs-0-9">create seasonal promotions, organize sales events,  and distribute numbered coupons to activate interest in your products and locations.</p>
		</div>
		<div class="col-sm-4">	
			<a href="/_sandbox/mbf_signup" class="btn btn-lime"> <img src="/static/images/ico_promo.png" class="io_50 icobtn" />  Complete your Promotioms</a>
			<p class="fs-0-8 spa20">
				
				<!-- <a href="/_sandbox/mbf_signup"> <i class="fa fa-file-text-o fa-1x"></i> See example of completed facts</a> -->
			</p>
			<div class="spa50"></div>
		</div>
		
    </div>




    
    

     <div class="row bg-j spa30">
      <div class="col-sm-offset-2 col-sm-8 text-left">
      		<div class="spa50">
	      		<h3 class="fw-c"> Facts + <span class="fc-a">Story telling = <i class="fa fa-smile-o"></i></span></h3>
	      		<p class="fc-b fs-1-2">When your customers are looking for your product they have plenty of questions. The best way to gain their trust is by providing all the information and answers they need on the spot. MyBusinessFacts helps you create a knowledge Base that is compatible with any system, mobile app or website.</p>
      		</div>
      		<a href="/_sandbox/mbf_signup" class="btn btn-default"> Start today</a>
      		<div>Try it for free, no credit card required</div>
      		<div class="spa20"></div>
      </div>
    </div>



    
    <div class="row text-left spa30">
      
      <div class="col-sm-offset-2 col-sm-8 text-left">
      
      		<div class="spa40">
	      		<h4 class="fw-c">Some happy customers:</h4>
	      	
	      		
	      		<div class="row text-left spa10">
	      			<div class="col-sm-2">
	      			<!-- <img src="static/images/bea.jpg" class="img-responsive img-circle"/> -->
	      			<i class="fa fa-smile-o fa-3x fc-g"></i>
	      			</div>
	      			<div class="col-sm-9">
	      				
	      				<blockquote><p class="fs-0-8">"We used to a have a passive role in the way Online Stores sell our hotel, now we can provide new photos, add new descriptions and be more proactive"</p><p><small>Carol R. / Owner, Compass Hotel</small></p></blockquote>
	      			</div>
	      		</div>
	      		
	      		<div class="row text-left spa10">
	      			<div class="col-sm-2">
	      			<!-- <img src="static/images/bea.jpg" class="img-responsive img-circle"/> -->
	      			<i class="fa fa-smile-o fa-3x fc-g"></i>
	      			</div>
	      			<div class="col-sm-9">
	      				
	      				<blockquote><p class="fs-0-8">"We thought creating an App for mobile was the next step after building our website, thank god that was not the case, we are working with 8 apps and selling more than ever”</p><p><small>Andres G. / New Accounts, Shoesmatter</small></p></blockquote>
	      			</div>
	      		</div>
	      		
      		</div>
      
      </div>
    </div>
    
    
    <div class="row text-left bg-e">
      
      <div class="col-sm-offset-2 col-sm-2">
      
      		<div class="spa80">
	      		
	      		<img src="/static/images/choro.png" class="img-responsive"/>
      		</div>
      
      </div>
      
      <div class="col-sm-6">
      
      		<div class="spa80">
	      		<h2 class="fw-a">"Every great love<br/><span class="fw-b">starts with a great story"</span> <br/><span class="fs-0-6">-Nicholas Sparks</span></h2>

	      		<hr/>
	      		<p>Make your product more appealing by telling the story behind it. <a class="fs-0-9" href="/_sandbox/mbf_how">(How it works?)</a> </p>
	      		
      		</div>
      
      </div>
    </div>
    
    
    <div class="row bg-j">
      
      <div class="col-sm-offset-2 col-sm-8">
      
      		<div class="spa70">
	      		<h1 class="text-white fw-c">Start today</h1>
	      		
	      		<p>You can try it for free for 30 days, and it's super accesible with plans starting at $9.99</p>

            <a href="/_sandbox/mbf_signup" type="submit" class="btn btn-default btn-lg">CREATE ACCOUNT</a>
	      		
	      		<!-- <form class="form-inline spa20" action="https://avispa.myring.io/_register">
				  <div class="form-group">
				    <label class="sr-only" for="exampleInputEmail3">Name</label>
				    <input type="text" class="form-control" id="exampleInputName2" placeholder="Name">
				  </div>	      		
				  <div class="form-group">
				    <label class="sr-only" for="exampleInputEmail3">Email</label>
				    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="email">
				  </div>

				  <button type="submit" class="btn btn-default">Sign up</button>
				</form> -->


      		</div>
      
      </div>
    </div>
    

</div>


{% endblock %}
