
{% extends 'base.html' %}



{% block content %}


<div class="container-fluid">
        
    <div class="row bg-d">
      <div class="col-sm-offset-2 col-sm-8">
      		<div class="spa80">
      		
				<h1 class="fc-b fw-c fs-3">For busy companies</h1>
	      		<h2 class="fc-a fw-a">that need to get things done</h2>
	      		<p class="fc-b fs-1-5"> If you want to complete your business facts but don' have the time to do it. Let our professional experts help.
	      		
	      		 </p>
      		</div>
      </div>
    </div>
    

    <div class="row">
		<div class="col-sm-offset-2  col-sm-10 spa30x">
			<h1 class="fw-a fc-g">services:</h1>
			<br/><br/>
		</div>
    </div>
    <!-- ROW1 -->
    <div class="row">
		<div class="col-sm-offset-2 col-sm-1">
			<img src="/static/images/ico_camera.png"  class="img-responsive" />
		</div>
		<div class="col-sm-4">
		  	<h4 class="fw-c"> Photography</h4>
		  	<p class="fs-0-9">An image speaks louder than a 1000 words. Don’t let your product looks bad with ugly shots, our experts know about light, composition and the best angle to make your product or location look amazing.</p>
		</div>
		<div class="col-sm-4 bord-left">	
			
			<div class="fw-c fs-0-8 spa5 fc-g"><em>services:</em></div>
			<div class="fs-0-8">
				Interior photography<br/>
				Exterior photography<br/>
				Product shots<br/>
				RealState photography<br/>
				Lookbooks<br/>
				Headshots<br/>
			</div>
			

			<br/>
		  		
		  		<a href="" class="btn bg-d txt-center btn-sm fc-a"> <img src="/static/images/ico_camera.png" class="io_25" width="30px" /> Hire a photographer</a>
		  
		</div>
		
    </div>
    <hr/>
    <!-- ROW -->
     <div class="row spa30">
		<div class="col-sm-offset-2 col-sm-1">
			<img src="/static/images/ico_pen.png"  class="img-responsive" />
		</div>
		<div class="col-sm-4">
		  	<h4 class="fw-c"> Copywriting</h4>
		  	<p class="fs-0-9">Communicating more with the least amount of words it’s an art perfected by a few.  Let our experts communicate your idea with perfectly curated words that feel right and resonate in your customer’s minds. </p>
		</div>
		<div class="col-sm-4 bord-left">	
			
			<div class="fw-c fs-0-8 spa5 fc-g"><em>services:</em></div>
			<div class="fs-0-8 text-gray">
				Business Description<br/>
				Product Description<br/>
				Storytelling<br/>
				
			</div>
			

			<br/>
		  		<a href="" class="btn bg-d btn-sm txt-center fc-a"> <img src="/static/images/ico_pen.png" class="io_25" width="30px" /> Hire a Copywriter</a>
		  
		</div>
		
    </div>
    <hr/>
    <!-- ROW -->

        <div class="row spa30">
		<div class="col-sm-offset-2 col-sm-1">
			<img src="/static/images/ico_trans.png"  class="img-responsive" />
		</div>
		<div class="col-sm-4">
		  	<h4 class="fw-c"> Translation</h4>
		  	<p class="fs-0-9">One of the biggest mistakes of letting a machine translate is not only that it sounds mechanical but that can mess up the context completely. Our experts are not only native speakers but professionals that understand the cultural context.</p>
		</div>
		<div class="col-sm-4 bord-left">	
			
			<div class="fw-c fs-0-8 spa5 fc-g"><em>services:</em></div>
			<div class="fs-0-8">
				English<br/>
				Spanish<br/>
				Chinese<br/>
				Japanese<br/>
				Indu<br/>
				French<br/>
				German<br/>
				<span class="fc-g">+more</span>

			</div>
			

			<br/>
		  		<a href="" class="btn bg-d btn-sm txt-center fc-a"> <img src="/static/images/ico_trans.png" class="io_25" width="30px" /> Hire a Translator</a>
		  
		</div>
		
    </div>
    <br/><br/>
    <!-- ROW -->





    <div class="row bg-d">
    	<div class="col-sm-offset-2 col-sm-2">
      
      		<div class="spa50">
	      		
	      		<img src="/static/images/connect2.png" class="img-responsive"/>
      		</div>
      
      	</div>

      <div class="col-sm-6">
      		<div class="spa50">
	      		<br/>
	      		<h2 class="fw-a"><span class="fw-c">Don’t look amateur!</span> Project professionalism with appealing descriptions,  professional photos and accurate translations.</h2>
	      		
      		</div>
      		
      </div>
    </div>




    
    <div class="row text-left">
      
      <div class="col-sm-offset-2 col-sm-8 text-left">
      
      		<div class="spa80">
	      		<h4 class="fw-c">Some customers:</h4>
	      		
	      		
	      		<div class="row text-left spa10">
	      			<div class="col-sm-2">
	      			<!-- <img src="static/images/bea.jpg" class="img-responsive img-circle"/> -->
	      			<i class="fa fa-smile-o fa-3x fc-g"></i>
	      			</div>
	      			<div class="col-sm-9">
	      				
	      				<blockquote><p class="fs-0-8">"We work with more than 2,000 hotels and we need  translated descriptions in 3 different languages.  MyBusiness facts connected hotels, translators and us. It saved us a lot of time."</p><p><small>-Kenia M. / Director Contracting, TA Inc.</small></p></blockquote>
	      			</div>
	      		</div>
	      		
	      		<div class="row text-left spa10">
	      			<div class="col-sm-2">
	      			<!-- <img src="static/images/bea.jpg" class="img-responsive img-circle"/> -->
	      			<i class="fa fa-smile-o fa-3x fc-g"></i>
	      			</div>
	      			<div class="col-sm-9">
	      				
	      				<blockquote><p class="fs-0-8">"We used to a have a passive role in the way Online Stores sell our hotel, now we can provide new photos, add new descriptions and be more proactive"</p><p><small>Carol R. / Owner, Compass Hotel</small></p></blockquote>
	      			</div>
	      		</div>
	      		
      		</div>
      
      </div>
    </div>
    
    
    <div class="row text-left bg-e">
      
      <div class="col-sm-offset-2 col-sm-3">
      
      		<div class="spa80">
	      		
	      		<img src="/static/images/ai_08b.png" class="img-responsive"/>
      		</div>
      
      </div>
      
      <div class="col-sm-5">
      
      		<div class="spa80">
	      		<h2 class="fw-a">Reach <span class="fw-b">new markets worlwide </span>by providing translated facts and content.</h2>
	      		
      		</div>
      
      </div>
    </div>
    
    
    <div class="row bg-d">
      
      <div class="col-sm-offset-2 col-sm-8">
      
      		<div class="spa70">
	      		<h1 class="fw-c fc-a">Hire an expert today</h1>


	      		<h2 class="fw-a">(or check our packages <a>here</a>)</h2>
	      		<br/><br/>

	      		<p>MyRing experts interact with you via MyRIng, please signup to start.</p>
	      		
	      		<form class="form-inline spa20" action="https://avispa.myring.io/_register">
				  <div class="form-group">
				    <label class="sr-only" for="exampleInputEmail3">Name</label>
				    <input type="text" class="form-control" id="exampleInputName2" placeholder="Name">
				  </div>	      		
				  <div class="form-group">
				    <label class="sr-only" for="exampleInputEmail3">Email</label>
				    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="email">
				  </div>

				  <button type="submit" class="btn btn-default">Sign up</button>
				</form>


      		</div>
      
      </div>
    </div>
    

</div>


{% endblock %}
