
{% extends 'base.html' %}



{% block content %}

<div class="container-fluid">
        
    <div class="row margin-20">
          <div class="col-sm-12">
          	<div class="spa20"></div>
          </div>
    </div>
    
    <div class="row bg-ring01">
      
      <div class="col-sm-offset-2 col-sm-8">
      
      		<div class="spa100">
      			
	      		<h1 class="text-white fw-c">Do you need Business Facts?</h1>
	      		<h2 class="text-white fw-a">We can help you with that</h2>
      		</div>
      
      </div>
    </div>
    
    <div class="row">
      
      <div class="col-sm-offset-2 col-sm-6 text-left">
      
      		<div class="spa50">
	      		<h3 class="fw-a lh-1" > <span class="fw-c">MBF captures and organizes accurate facts from thousands of companies in more than 30 cities in North America.<hr/></span> We work directly with business owners to provide updated photos, professionally written descriptions and translated versions of their content.</h3>
	      		
      		</div>
      		
      		
      		
      
      </div>
      <div class="col-sm-2 text-left">
      	<div class="spa50">
      		<img src="static/images/connect2.png" class="img-responsive" />
      	</div>
      </div>
    </div>
    
    <!-- ROW -->
    <div class="row text-left bg-e">
      
      <div class="col-sm-offset-2 col-sm-6">
      
      		<div class="spa80">
	      		<h4 class="fw-c">Primary Sources Only</h4>
	      		<p>Our Facts come from the 2 most reliable sources. The business owner herself or professional experts with deep understanding in the area. </p>
      		</div>
      
      </div>
      <div class="col-sm-2">
      	<div class="spa80">
      		<img src="static/images/ico_team.png" class="img-responsive"/>
      	</div>
      </div>
    </div>
    
    <!-- ROW -->
    <div class="row text-left">
      <div class="col-sm-offset-2 col-sm-3">
      	<div class="spa80">
      		<img src="static/images/d_json.png" class="img-responsive"/>
      	</div>
      </div>
      <div class=" col-sm-6">
      
      		<div class="spa80">
	      		<h4 class="fw-c">Semantically Annotated</h4>
	      		<p>All data is perfectly annotated, allowing developers to create advanced and predictable functionality on top of it.</p>
      		</div>
      
      </div>
      
    </div>
    
        <!-- ROW -->
    <div class="row text-left bg-e">
      
      <div class="col-sm-offset-2 col-sm-6">
      
      		<div class="spa80">
	      		<h4 class="fw-c">Licensed Data</h4>
	      		<p>Every bit of information, data and content is clearly licensed (most of it under Creative Commons) This will allow you to build complex solutions without worrying about copyright issues.</p>
      		</div>
      
      </div>
      <div class="col-sm-2">
      	<div class="spa80">
      		<img src="static/images/d_license.png" class="img-responsive"/>
      	</div>
      </div>
    </div>
    
    <!-- ROW -->
    <div class="row text-left">
      <div class="col-sm-offset-2 col-sm-2">
      	<div class="spa80">
      		<img src="static/images/d_handshake.png" class="img-responsive"/>
      	</div>
      </div>
      <div class=" col-sm-6">
      
      		<div class="spa80">
	      		<h4 class="fw-c">Ready for development</h4>
	      		<p>Our API it’s extremely easy to use and it comes in different flavors. We work constantly in our documentation and have a 24/7 response team to tackle any problem you might encounter.</p>
      		</div>
      
      </div>
      
    </div>
    
    
    
    
    
    
    
<div class="row text-left bg-ring01">
      
      <div class="col-sm-offset-2 col-sm-6 text-left">
      
      		<div class="spa40">
	      		<h3 class="fw-c text-white lh-1">If we don't have the data you are looking for, we help you find it.</h3>
	      		<br/>
	      		<p class="text-white">Create a Data Request and send it in minutes.  Our system allows you to organize <strong>Crowd-Capturing campaigns</strong>, <strong>Capturethons</strong> and other strategies to get the information you are missing.</p>
	      	</div>
	  </div>
</div>
    
    
    <div class="row text-left">
      
      <div class="col-sm-offset-2 col-sm-8 text-left">
      
      		<div class="spa40">
	      		<h4 class="fw-c">Some happy customers:</h4>
	      		<p class="fc-l"><em> (Developers)</em></p>
	      		<p>MyBusinessFacts is being used by companies in travel, retail, auto parts, wines and liquors, restaurants and real state.</p>
	      		
	      		<div class="row text-left spa40">
	      			<div class="col-sm-2">
	      			<!-- <img src="static/images/bea.jpg" class="img-responsive img-circle"/> -->
	      			<i class="fa fa-smile-o fa-3x fc-g"></i>
	      			</div>
	      			<div class="col-sm-9">
	      				
	      				<blockquote><p>"We work with more than 2,000 hotels and we need  translated descriptions in 3 different languages.  MyBusiness facts connected hotels, translators and us. It saved us a lot of time."</p><p><small>-Kenia M. / Director Contracting, TA Inc.</small></p></blockquote>
	      			</div>
	      		</div>
	      		
	      		<div class="row text-left spa40">
	      			<div class="col-sm-2">
	      			<!-- <img src="static/images/bea.jpg" class="img-responsive img-circle"/> -->
	      			<i class="fa fa-smile-o fa-3x fc-g"></i>
	      			</div>
	      			<div class="col-sm-9">
	      				
	      				<blockquote><p>"We use to take images for our App straight out from Google images, now we receive them directly from the wineries"</p><p><small>-Tim R. / CEO BotellaJerez</small></p></blockquote>
	      			</div>
	      		</div>
	      		
      		</div>
      
      </div>
    </div>
    
    
   
    
    
       <div class="row text-left bg-e">
      
      <div class="col-sm-offset-2 col-sm-2">
      
      		<div class="spa80">
	      		
	      		<img src="static/images/f/dfly3.png" class="img-responsive"/>
      		</div>
      
      </div>
      
      <div class="col-sm-6">
      
      		<div class="spa80">
	      		<h2 class="fw-a">Spend more time improving your App functionality, let us help you with the dirty work of capture.</h2>
	      		
      		</div>
      
      </div>
    </div>
    
    
    <div class="row bg-ring01">
      
      <div class="col-sm-offset-2 col-sm-8">
      
      		<div class="spa70">
	      		<h1 class="text-white fw-c">Start today</h1>
	      		<h2 class="text-white fw-b">and receive a free Data Report</h2>
	      		<p class="text-white">It's free the first 30 days, and super accesible with plans starting at $9.99</p>
	      		
	      		<form class="form-inline spa20" action="https://avispa.myring.io/_register">
				  <div class="form-group">
				    <label class="sr-only" for="exampleInputEmail3">Name</label>
				    <input type="text" class="form-control" id="exampleInputName2" placeholder="Name">
				  </div>	      		
				  <div class="form-group">
				    <label class="sr-only" for="exampleInputEmail3">Email</label>
				    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="email">
				  </div>

				  <button type="submit" class="btn btn-default">Sign up</button>
				</form>


      		</div>
      
      </div>
    </div>
    


</div>



{% endblock %}
