
{% extends 'base.html' %}



{% block content %}


<div class="container-fluid">
        
    <div class="row margin-20">
          <div class="col-sm-12">
          	<div class="spa20"></div>
          </div>
    </div>
    
    <div class="row bg-c">
      
      <div class="col-sm-offset-2 col-sm-8">
      
      		
      		<div class="spa100">
      			
      			
	      		<!--
<h1 class="text-black fw-c">Do you have products <span class="fw-a fs-0-6">and/or</span> services?</h1>
	      		<h1 class="text-black fw-a">Let everyone know about it</h1>
	      		
-->

				<h1 class="text-black fw-c fs-4">My Business Facts</h1>
	      		<h1 class="text-black fw-a">The voice of the business owner</h1>
	      		<p class="fs-1-5">We live in an era where business live and die by reviews. For everyone who have created a business, risked family savings and put thousands of hours of hard work to pursue a dream and a vision we have created this project. We want you to personaly tell the story behind your product and the passion that drives it.
	      		
	      		 </p>
	      		
	      		
      		</div>
      		
      
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-offset-2 col-sm-6 text-left">
      		<div class="spa50">
	      		<h3 class="fw-c"> Warm facts or Cold facts?</h3>
	      		<h3 class="fw-a">Just the right balance</h3>
	      		<p>When your customers look for your product they are full of questions. The best way to gain their trust and inform them accurately is by providing a combination of both cold and warm facts. MyBusinessFacts helps you create a knowledge Base of your company that is accesible worldwide by any website, app or A.I. system</p>
      		</div>
      		<a href="" class="btn btn-warning"> Start today</a>
      		<div>Try it for free, no credit card required</div>
      		<div class="spa20"></div>
      </div>
    </div>
    
    
<!--
     <div class="row">
      <div class="col-sm-offset-2 col-sm-8 text-left">
      		<div class="spa50">
	      		<h3 class="fw-c"> Informed customers = <span class="fc-c">happy customers <i class="fa fa-smile-o"></i></span></h3>
	      		<p>When your customers are looking for your product they have plenty of questions. The best way to gain their trust is by providing all the information and answers they need on the spot. MyBusinessFacts helps you create a knowledge Base that is compatible with any system, mobile app or website.</p>
      		</div>
      		<a href="" class="btn btn-warning"> Start today</a>
      		<div>Try it for free, no credit card required</div>
      		<div class="spa20"></div>
      </div>
    </div>
-->
    
    
    
    
    
    
    <div class="row text-left bg-connect">
      
      <div class="col-sm-offset-2 col-sm-5">
      
      		<div class="spa80">
	      		<h3 class="fw-c text-white">Why it's important?</h3>
	      		<p class="text-white">80% of online shoppers make a quick research before taking any purchasing decision. They want to know reviews of course, but also what drives the company (socially responsable, charitable, history, etc.) In a world of cold facts level the plainfield by telling your story.</p>
      		</div>
      
      </div>
    </div>
    
    
    
    
    <div class="row text-left">
      
      <div class="col-sm-offset-2 col-sm-8">
      
      		<div class="spa80">
	      		<h3 class="fw-c">Why having <span class="fc-c">Annotated Facts</span> is great for your business</h3>
	      		<p>When you tell the story behind your product and specify details about it  (semantic annotation) you are literally making easy for Search, A.I. and Mobile Apps to understand it <span class="fw-c">in great detail</span>.</p>
	      		
	      		<img src="static/images/cheese.png"  class="img-responsive" />
	      		
	      		<a href="" style="float:right;">Sign up today , it's free and easy</a>
      		</div>
      
      </div>
    </div>
    
    <div class="row text-left bg-07">
      
      <div class="col-sm-offset-2 col-sm-8">
      
      		<div class="spa80">
	      		<h4 class="fw-c">But what if I have a website already?</h4>
	      		<p>Great!, having annotated Facts is the perfect complement of your existing website, it can help boost your SEO(1) and will allow you to gain access to the next generation of devices where a website simply can’t go . </p>
	      		
	      		
	      		<img src="static/images/lineweb.png"  class="img-responsive" />
	      		
	      		<p class="fs-0-7">(1. Google recently released rules establish that annotated websites will rank higher in results. MBF Provide paralell website Annotation and REST service.)</p>
	      		<hr/>
	      		<div class="spa30">
	      		
	      		<a href="" class="btn btn-warning"> Start today</a>
      			<div>Try it for free, no credit card required</div>
      			</div>
      		
      		
      		</div>
      
      </div>
    </div>
    
    <div class="row text-left">
      
      <div class="col-sm-offset-2 col-sm-8 text-left">
      
      		<div class="spa40">
	      		<h4 class="fw-c">Some happy customers:</h4>
	      		<p class="fc-c"><em> (Business owners)</em></p>
	      		<p>MyBusinessFacts is being used by companies in travel, retail, auto parts, wines and liquors, restaurants and real state</p>
	      		
	      		<div class="row text-left spa40">
	      			<div class="col-sm-2">
	      			<!-- <img src="static/images/bea.jpg" class="img-responsive img-circle"/> -->
	      			<i class="fa fa-smile-o fa-3x fc-g"></i>
	      			</div>
	      			<div class="col-sm-9">
	      				
	      				<blockquote><p>"We used to a have a passive role in the way Online Stores sell our hotel, now we can provide new photos, add new descriptions and be more proactive"</p><p><small>Carol R. / Owner, Compass Hotel</small></p></blockquote>
	      			</div>
	      		</div>
	      		
	      		<div class="row text-left spa40">
	      			<div class="col-sm-2">
	      			<!-- <img src="static/images/bea.jpg" class="img-responsive img-circle"/> -->
	      			<i class="fa fa-smile-o fa-3x fc-g"></i>
	      			</div>
	      			<div class="col-sm-9">
	      				
	      				<blockquote><p>We thought creating an App for mobile was the next step after building our website, thank god that was not the case, we are working with 8 apps and selling more than ever”</p><p><small>Andres G. / New Accounts, Shoesmatter</small></p></blockquote>
	      			</div>
	      		</div>
	      		
      		</div>
      
      </div>
    </div>
    
    
    <div class="row text-left bg-e">
      
      <div class="col-sm-offset-2 col-sm-2">
      
      		<div class="spa80">
	      		
	      		<img src="static/images/f/cata1.png" class="img-responsive"/>
      		</div>
      
      </div>
      
      <div class="col-sm-6">
      
      		<div class="spa80">
	      		<h2 class="fw-a">Get ahead of the game, make your <span class="fw-b">"business facts"</span> your biggest competitive advantage.</h2>
	      		
      		</div>
      
      </div>
    </div>
    
    
    <div class="row bg-c">
      
      <div class="col-sm-offset-2 col-sm-8">
      
      		<div class="spa70">
	      		<h1 class="text-white fw-c">Start today</h1>
	      		<h2 class="text-white fw-a">and receive a free Data Report</h2>
	      		<p>It's free the first 30 days, and super accesible after that with plans starting at $9.99</p>
	      		
	      		<form class="form-inline spa20" action="https://avispa.myring.io/_register">
				  <div class="form-group">
				    <label class="sr-only" for="exampleInputEmail3">Name</label>
				    <input type="text" class="form-control" id="exampleInputName2" placeholder="Name">
				  </div>	      		
				  <div class="form-group">
				    <label class="sr-only" for="exampleInputEmail3">Email</label>
				    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="email">
				  </div>

				  <button type="submit" class="btn btn-default">Sign up</button>
				</form>


      		</div>
      
      </div>
    </div>
    

</div>


{% endblock %}
