
{% extends 'base.html' %}



{% block content %}


<div class="container-fluid">
        
    <div class="row bg-c">
      
		<div class="col-sm-offset-2 col-sm-8">

			<div class="spa100">
				
				<h1 class="text-black fw-c fs-4">Provide your Facts</h1>
		  		<h1 class="text-black fw-a">Inform and cautivate with your story.</h1>
	  		
			</div>
			
		</div>
    </div>
    
    <div class="row">
		<div class="col-sm-offset-2  col-sm-10 spa50">
			<h1 class="fw-a fc-g">Categories</h1>
			<hr/>
		</div>
    </div>
    <!-- ROW1 -->
    <div class="row">
		<div class="col-sm-offset-2 col-sm-1">
			<img src="/static/images/ico_flag.png"  class="img-responsive" />
		</div>
		<div class="col-sm-5">
		  	<h4 class="fw-c"> Company <span class="fs-0-6 fc-g">FACTS</span></h4>
		  	<p>Tell the world about your company, what drives it,  what is the story behind it, who found it, also tell us about basic information like hours of operation, how it’s easier to reach you, accreditations, etc.</p>
		</div>
		<div class="col-sm-4">	
			<a href="" class="btn btn-warning"> Complete your Company Facts</a>
			<p><i class="fa fa-eye"></i>see a complete Company Profile</p>
			<div class="spa20"></div>
		</div>
		
    </div>
    <hr/>
    <!-- ROW2 -->
    <div class="row">
		<div class="col-sm-offset-2 col-sm-1">
			<img src="/static/images/ico_loca.png"  class="img-responsive" />
		</div>
		<div class="col-sm-5">
		  	<h4 class="fw-c"> Location <span class="fs-0-6 fc-g">FACTS</span></h4>
		  	<p>Share the locations of your business in the physical world, but also on the web and mobile apps, help your customers find you in every retailer that carry your product, maximize your conversion rate.</p>
		</div>
		<div class="col-sm-4">	
			<a href="" class="btn btn-warning"> Complete your Company Facts</a>
			<p><i class="fa fa-eye"></i>see a complete Company Profile</p>
			<div class="spa20"></div>
		</div>
		
    </div>
    <hr/>
    <!-- ROW3 -->
    <div class="row">
		<div class="col-sm-offset-2 col-sm-1">
			<img src="/static/images/ico_prod.png"  class="img-responsive" />
		</div>
		<div class="col-sm-5">
		  	<h4 class="fw-c"> Products <span class="fs-0-6 fc-g">FACTS</span></h4>
		  	<p>What is your product name, what benefits your customers will get from buying it, how it looks like (photos, video), The more specific the better, customers and media love details.</p>
		</div>
		<div class="col-sm-4">	
			<a href="" class="btn btn-warning"> Complete your Company Facts</a>
			<p><i class="fa fa-eye"></i>see a complete Company Profile</p>
			<div class="spa20"></div>
		</div>
		
    </div>
    <hr/>
    <!-- ROW4 -->
    <div class="row">
		<div class="col-sm-offset-2 col-sm-1">
			<img src="/static/images/ico_promo.png"  class="img-responsive" />
		</div>
		<div class="col-sm-5">
		  	<h4 class="fw-c"> Promotions</h4>
		  	<p>create seasonal promotions, organize sales events,  and distribute numbered coupons to activate interest in your products and locations.</p>
		</div>
		<div class="col-sm-4">	
			<a href="" class="btn btn-warning"> Complete your Company Facts</a>
			<p><i class="fa fa-eye"></i>see a complete Company Profile</p>
			<div class="spa20"></div>
		</div>
		
    </div>
    <hr/>



    
    
<!--
     <div class="row">
      <div class="col-sm-offset-2 col-sm-8 text-left">
      		<div class="spa50">
	      		<h3 class="fw-c"> Informed customers = <span class="fc-c">happy customers <i class="fa fa-smile-o"></i></span></h3>
	      		<p>When your customers are looking for your product they have plenty of questions. The best way to gain their trust is by providing all the information and answers they need on the spot. MyBusinessFacts helps you create a knowledge Base that is compatible with any system, mobile app or website.</p>
      		</div>
      		<a href="" class="btn btn-warning"> Start today</a>
      		<div>Try it for free, no credit card required</div>
      		<div class="spa20"></div>
      </div>
    </div>
-->
    
    
    
    
    
    
    <div class="row text-left bg-c">
      
      <div class="col-sm-offset-2 col-sm-8">
      
      		<div class="spa80">
	      		<h2 class="fw-a text-black lh-1-2"><span class="fw-c">Engage with</span> your customers by providing <span class="fw-c">meaningful and useful information</span> about your product and service.</h2>




									<!-- COLLAPSIBLE: LOCATIONS -->
					<div class="panel-group spa50" id="objections">
						<div class="panel panel-default bg-white">
							<div class="panel-heading p-5 fs-1 fw-c">
							  <a data-toggle="collapse" data-parent="#objections" href="#p01" aria-expanded="true">
							    What are the benefits of joining Business Facts?
							    
							  </a>
							</div>
							<div id="p01" class="panel-collapse collapse" role="tabpanel">
								
								<div class="panel-body">
									<p class="p-30">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
									</p>
								</div>
							</div>
						</div>
						<!-- end -->
						<div class="panel panel-default ">
							<div class="panel-heading p-5 fs-1 fw-c" role="tab">
							  <a class="collapsed" data-toggle="collapse" data-parent="#objections" aria-expanded="false" href="#p02">
							    But what if my company have a website already?
							    
							  </a>
							</div>
							<div id="p02" class="panel-collapse collapse" role="tabpanel">
								<div class="panel-body">
									<p class="p-30">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
								</p>
								</div>
							</div>
						</div>
						<!-- end -->
						<div class="panel panel-default ">
							<div class="panel-heading p-5 fs-1 fw-c" role="tab">
							  <a class="collapsed" data-toggle="collapse" data-parent="#objections" aria-expanded="false" href="#p03">
							    I’m short of staff don’t have the time to do it
							    
							  </a>
							</div>
							<div id="p02" class="panel-collapse collapse" role="tabpanel">
								<div class="panel-body">
									<p class="p-30">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
								</p>
								</div>
							</div>
						</div>
						<!-- end -->
						<div class="panel panel-default ">
							<div class="panel-heading p-5 fs-1 fw-c" role="tab">
							  <a class="collapsed" data-toggle="collapse" data-parent="#objections" aria-expanded="false" href="#p02">
							    But I have Linkedin already
							    
							  </a>
							</div>
							<div id="p02" class="panel-collapse collapse" role="tabpanel">
								<div class="panel-body">
									<p class="p-30">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
								</p>
								</div>
							</div>
						</div>
						<!-- end -->

						
					</div>
				<!-- CLOSE COLLAPSIBLE -->
      		</div>
      
      </div>
    </div>
    
    
    
    

    
    <div class="row text-left">
      
      <div class="col-sm-offset-2 col-sm-8 text-left">
      
      		<div class="spa40">
	      		<h4 class="fw-c">Some happy customers:</h4>
	      	
	      		
	      		<div class="row text-left spa10">
	      			<div class="col-sm-2">
	      			<!-- <img src="static/images/bea.jpg" class="img-responsive img-circle"/> -->
	      			<i class="fa fa-smile-o fa-3x fc-g"></i>
	      			</div>
	      			<div class="col-sm-9">
	      				
	      				<blockquote><p class="fs-0-8">"We used to a have a passive role in the way Online Stores sell our hotel, now we can provide new photos, add new descriptions and be more proactive"</p><p><small>Carol R. / Owner, Compass Hotel</small></p></blockquote>
	      			</div>
	      		</div>
	      		
	      		<div class="row text-left spa10">
	      			<div class="col-sm-2">
	      			<!-- <img src="static/images/bea.jpg" class="img-responsive img-circle"/> -->
	      			<i class="fa fa-smile-o fa-3x fc-g"></i>
	      			</div>
	      			<div class="col-sm-9">
	      				
	      				<blockquote><p class="fs-0-8">We thought creating an App for mobile was the next step after building our website, thank god that was not the case, we are working with 8 apps and selling more than ever”</p><p><small>Andres G. / New Accounts, Shoesmatter</small></p></blockquote>
	      			</div>
	      		</div>
	      		
      		</div>
      
      </div>
    </div>
    
    
    <div class="row text-left bg-e">
      
      <div class="col-sm-offset-2 col-sm-2">
      
      		<div class="spa80">
	      		
	      		<img src="/static/images/f/cata1.png" class="img-responsive"/>
      		</div>
      
      </div>
      
      <div class="col-sm-6">
      
      		<div class="spa80">
	      		<h2 class="fw-a">Make <span class="fw-b">"business facts"</span> your company's biggest competitive advantage. <a class="fs-0-6" href="">(How it works?)</a></h2>
	      		
      		</div>
      
      </div>
    </div>
    
    
    <div class="row bg-c">
      
      <div class="col-sm-offset-2 col-sm-8">
      
      		<div class="spa70">
	      		<h1 class="text-white fw-c">Start today</h1>
	      		
	      		<p>It's free the first 30 days, and super accesible with plans starting at $9.99</p>
	      		
	      		<form class="form-inline spa20" action="https://avispa.myring.io/_register">
				  <div class="form-group">
				    <label class="sr-only" for="exampleInputEmail3">Name</label>
				    <input type="text" class="form-control" id="exampleInputName2" placeholder="Name">
				  </div>	      		
				  <div class="form-group">
				    <label class="sr-only" for="exampleInputEmail3">Email</label>
				    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="email">
				  </div>

				  <button type="submit" class="btn btn-default">Sign up</button>
				</form>


      		</div>
      
      </div>
    </div>
    

</div>


{% endblock %}
