
{% extends 'base.html' %}



{% block content %}


<div class="container-fluid">
        
    <div class="row bg-07 spa30">
      <div class="col-sm-offset-2 col-sm-7">
      		<div class="spa20">
      		
				<h3>-MyBusiness Facts Profile-</h3>
	      		<h1 class="text-black fw-a fs-3">How <span class="fw-c">it works </span>?</h1>
	      		 
      		</div>
      </div>
    </div>
    <br/><br/><br/>

    <div class="row bg-1">
    	<div class="col-sm-offset-2 col-sm-2 spa10">
    		<div class="spa10">
	      		<img src="/_static/images/ai2_05.png" class="img-responsive"/>
      		</div>
    	</div>
		<div class="col-sm-offset-1 col-sm-4 spa10">
			<h3 class="fw-c text-gray lh-1">1. We ask you to complete some quick questions</h3>
			
				
				<p class="fs-1 lh-1-2">You start the process by creating your Business Facts profile and answering few questions. The more you answer, the easier will be to Search Engines, Apps and A.I. systems to understand you. 

				
				In case your staff is too busy to complete the facts we have a team of seasoned experts that can help.<a href="/_sandbox/mbf_experts">(see experts)</a> 
				

				</p> 
			
		</div>
    </div>

    <div class="row">
		<div class="col-sm-offset-2 col-sm-2 spa10">
    		<div class="spa10">
	      		<img src="/_static/images/mbf/right.gif" class="img-responsive"/>
      		</div>
    	</div>
		<div class="col-sm-offset-1 col-sm-4 spa10">
			<h3 class="fw-c text-gray lh-1">2. Your answers are divided in Facts & Stories</h3>

				<p class="fs-1 lh-1-2">Facts provide important information about your business location, hours of operation , etc.  and the stories give context about your company mission and drive behind it. In other words, the facts give answer to your customer right brain (analytical), while the second are meant to appeal to your left side (creative emotional).</p>
			
		</div>
    </div>
    <!-- ROW1 -->

    <div class="row">
		<div class="col-sm-offset-2 col-sm-2 spa10">
    		<div class="spa10">
	      		<img src="/_static/images/f/cata1.png" class="img-responsive"/>
      		</div>
    	</div>
		<div class="col-sm-offset-1 col-sm-4 spa10">
			<h3 class="fw-c text-gray lh-1">3. We help you localize who's using your data</h3>

				<p class="fs-1 lh-1-2">You profile comes with an API that have all your information perfectly annotated and optimized for Search Engine and A.I. systems. That doesn't mean that you are automatically connected to every app in the planet, but that you are ready to be connected. The next step is to find Apps using your kind of Data and engage with them to start a relation. </p>

				<div class="spa50"></div>
			
		</div>
    </div>
    <!-- ROW1 -->



     <div class="row bg-j">
      <div class="col-sm-offset-2 col-sm-8 text-left">
      		<div class="spa50">
      			
	      		<h1 class="fw-a"> Facts + Story telling = <span class="fc-a fw-c"><i class="fa fa-smile-o"></i> Informed customer</span></h1>
	      		
      		</div>
      		
      </div>
    </div>






     <div class="row bg-07 spa80">
		<div class="col-sm-offset-3  col-sm-6 spa10">

			<h1 class="fc-b fw-c fs-3">Some Frequent Asked Questions</h1>


			<br/>
			<h3 class="fw-c fc-g lh-1">Can I implement myBusiness Facts into my own website?</h3>
				
				<p class="fs-1 lh-1-2">Absolutelly, there’s a lot of ways to include your business facts into your website. Doing it will improve your SEO ranking because it follows all the new Google directrices to rank web content.</p>


			<hr/>

			<h3 class="fw-c fc-g lh-1">Can I decide not to include it on my website?</h3>
				
				<p class="fs-1 lh-1-2">Yes. that’s also an option. It depends on your business model, for example some travel companies prefer to have both strategies separated , in one hand their website and in the other Data and content for their resellers (Kayak, expedia, etc.) </p>

			<hr/>
			<h3 class="fw-c fc-g lh-1">Are you creating an Artificial Intelligence system?</h3>
				
				<p class="fs-1 lh-1-2">No, we are creating tools that facilitate the communication between companies and A.I. Systems.</p>


			<hr/>
			<h3 class="fw-c fc-g lh-1">Are you part of Siri, Watson, Cortana or other A.I. team?</h3>
				
				<p class="fs-1 lh-1-2">No, we are a neutral source of facts and content, and we are planning to remain like that.</p>


			<hr/>

			<h3 class="fw-c fc-g lh-1">Are you a Big Data solution?</h3>
				
				<p class="fs-1 lh-1-2">No, we consider this a Deep Data Solution, which means that we are creating high resolution data set. The problem we see with Big Data is that sometimes is pretty superficial, it scratch only the tip of the iceberg of what a company is and have to say. Big Data is important but we believe is time for better data. </p>


			<hr/>


			<h3 class="fw-c fc-g lh-1">Do you resell MyRing information to third parties?</h3>
				
				<p class="fs-1 lh-1-2">No, we are just a tool that our customers use to own and have full control over their data and facts. We do sometimes introduce developers creating apps with data owners where there's a perfect match, and definitely we encourage a healthy market.  But the Data owner have the last say on everything.</p>


			<hr/>
			<h3 class="fw-c fc-g lh-1">How do you guys make money?</h3>
				
				<p class="fs-1 lh-1-2">By creating the best Capture, Organization and Data sharing tools for our customers, also by brokering Content and Data Distribution (CDN) with big consumers of Data and by creating dedicated Data Reports.</p>


			<hr/>
			<h3 class="fw-c fc-g lh-1">Can you give me a warranty that Siri or watson will use my data?  </h3>
				
				<p class="fs-1 lh-1-2">No, no one can. A.I. operates in a similar way to Search Engines, it uses an internal logic (aka “The algorithm”) that defines what to use and what to discard. The only thing anyone can do is to play by their rules (Artificial Intelligence Optimization) so they find their data relevant for their results and answers. </p>


			<hr/>
			<h3 class="fw-c fc-i lh-1">Why this is important?  </h3>
				
				<p class="fs-1 lh-1-2 fc-b">1. Because your traditional Website + SEO strategy is not enough.

Websites, paid banners and SEO techniques, belong to the desktop environment. Currently there are more mobile than desktop users and this will only increase dramatically over the next decade.</p>

				<p class="fs-1 lh-1-2 fc-b">2. Because it's time for a new online advertising model. The existent one is only an adapatation of one created in the 90s for desktop. We believe content and marketing strategies combined by exclusive content delivered via API will be huge in the future.
				</p>


				<p class="fs-1 lh-1-2 fc-b">3. Because a responsive HTML website doesn't make you mobile friendly: Mobile users only spend 14% in their Mobile Device Browsers, even the best responsive website ever designed will miss 86% of the mobile user attention and 100% on any Weareable.  </p>




			<hr/>
			<h3 class="fw-c fc-g lh-1">In one line, what MyRing do?  </h3>
				
				<p class="fs-1 lh-1-2">We set your company for success in a present where mobile, A.I., and weareables are taking over. </p>









			<br/><br/>
		</div>
    </div>
    <!-- ROW1 -->



    
    <div class="row bg-j">
      
      <div class="col-sm-offset-2 col-sm-8">
      
      		<div class="spa70">
	      		<h1 class="text-white fw-c">Start today</h1>
	      		
	      		<p>You can try it for free for 30 days, and it's super accesible with plans starting at $9.99</p>

            <a href="/_sandbox/mbf_signup" type="submit" class="btn btn-default btn-lg">CREATE ACCOUNT</a>
	      		
	      		<!-- <form class="form-inline spa20" action="https://avispa.myring.io/_register">
				  <div class="form-group">
				    <label class="sr-only" for="exampleInputEmail3">Name</label>
				    <input type="text" class="form-control" id="exampleInputName2" placeholder="Name">
				  </div>	      		
				  <div class="form-group">
				    <label class="sr-only" for="exampleInputEmail3">Email</label>
				    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="email">
				  </div>

				  <button type="submit" class="btn btn-default">Sign up</button>
				</form> -->


      		</div>
      
      </div>
    </div>
    

</div>


{% endblock %}
