
{% extends 'base.html' %}



{% block content %}


<div class="container-fluid">
        
    
    <div class="row bg-c">
      
      <div class="col-sm-offset-2 col-sm-8">
      
      		
      		<div class="spa50">
      			
      			
	      		<!--
<h1 class="text-black fw-c">Do you have products <span class="fw-a fs-0-6">and/or</span> services?</h1>
	      		<h1 class="text-black fw-a">Let everyone know about it</h1>
	      		
-->

				<h1 class="text-black fw-c fs-4">My Business Facts</h1>
	      		<h1 class="text-black fw-a">The voice of the business owner</h1>
	      		<p class="fs-1-5">We live in an era where business live and die by reviews. For everyone who have created a business, risked family savings and put thousands of hours of hard work to pursue a dream and a vision we have created this project.
	      		
	      		 </p>
	      		
	      		
      		</div>
      		
      
      </div>
    </div>
    
    <div class="row spa20">
      <div class="col-sm-offset-2 col-sm-10 text-left">
      	<h3 class="fw-b spa40">Cut through the noise with accurate business facts</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8 text-left">
      	
      		<img src="/static/images/mbf/cutnoise.png"  class="img-responsive" />
      </div>
    </div>
    <div class="row spa80 bg-07">
      <div class="col-sm-offset-2 col-sm-5">
      		
      		<h3 class="fw-c lh-1"> What is a Business fact Profile?</h3>
      		
      		<p class="fs-0-9">A Profile it's a consolidation of your business facts and the stories behind them. 

      		The BF profile is exclusively mantained by primary sources (such as managers, staff and experts) making it a high quality and preferred source of information for Search Engines, Mobile App and A.I. systems.</p>
      		
      		
      </div>
      <div class="col-sm-offset-1 col-sm-3 text-left bord-left">
      		<a href="" class="btn btn-warning"> Start today</a>

      		<br/><br/>
      		<div class="fs-1 fw-a text-gray">Start your Business Profile </div> 

      		<div class="fs-0-9 fw-a text-gray">-No credit Card required- </div>
      		<hr/>
      		<a class="" href="/_sandbox/mbf_how">(how it works?)</a>
      		
      </div>
    </div>
    
    
<!--
     <div class="row">
      <div class="col-sm-offset-2 col-sm-8 text-left">
      		<div class="spa50">
	      		<h3 class="fw-c"> Informed customers = <span class="fc-c">happy customers <i class="fa fa-smile-o"></i></span></h3>
	      		<p>When your customers are looking for your product they have plenty of questions. The best way to gain their trust is by providing all the information and answers they need on the spot. MyBusinessFacts helps you create a knowledge Base that is compatible with any system, mobile app or website.</p>
      		</div>
      		<a href="" class="btn btn-warning"> Start today</a>
      		<div>Try it for free, no credit card required</div>
      		<div class="spa20"></div>
      </div>
    </div>
-->
    
    
    
    
    
    
    <div class="row text-left bg-connect bg-c">
      
      <div class="col-sm-offset-2 col-sm-5">
      
      		<div class="spa80">
	      		<h3 class="fw-c text-white">Why it's important?</h3>
	      		<p class="text-white">80% of online shoppers make a quick research before taking any purchasing decision. They want to know reviews of course, but also what drives the company (culture, history, charitable etc.) In a world of cold facts you can level the plainfield by telling your story.</p>
      		</div>
      
      </div>
    </div>
    
    
    
    
    <div class="row text-left">
      
      <div class="col-sm-offset-2 col-sm-8">
      
      		<div class="spa80">
	      		<h3 class="fw-c">Engage across platforms <span class="fc-c">even the newest ones</span></h3>
	      		<p>When you tell the story behind your product you are making easy for Search, A.I. and Mobile Apps to understand it in great detail. <a class="" href="">(how it works?)</a></p>
	      		
	      		<img src="/static/images/mbf/cheese.png"  class="img-responsive" />
	      		
	      		<a href="" style="float:right;">Sign up today , it's free and easy</a>
      		</div>
      
      </div>
    </div>
    
    <div class="row text-left bg-07">
      
      <div class="col-sm-offset-2 col-sm-8">
      
      		<div class="spa70">
	      		<h3 class="fw-c">But what if I have a website already?</h3>
	      		<p>Great, having annotated Facts is the perfect complement of your existent website, Business Facts can help boost your SEO(1) and will allow your product to gain access to the next generation of devices where a website simply can’t go . </p>
	      		
	      		
	      		<img src="/static/images/mbf/lineweb.png"  class="img-responsive" />
	      		
	      		<p class="fs-0-7">(1. Google recently released rules establish that annotated websites will rank higher in results. MBF Provide website Annotation and API REST in the same service)</p>
	      		<hr/>
	      		
	      		<a href="" class="btn btn-warning"> Start today</a>
      			<span>Try it for free, no credit card required</span>
      			
      		
      		
      		</div>
      
      </div>
    </div>
    
    <div class="row text-left spa40">
      
      <div class="col-sm-offset-2 col-sm-8 text-left">
      
      		<div class="spa40">
	      		<h4 class="fw-c">Some happy customers:</h4>
	      		<p class="fc-c"><em> (Business Owners)</em></p>
	      	
	      		
	      		<div class="row text-left spa10">
	      			<div class="col-sm-2">
	      			<!-- <img src="static/images/bea.jpg" class="img-responsive img-circle"/> -->
	      			<i class="fa fa-smile-o fa-3x fc-g"></i>
	      			</div>
	      			<div class="col-sm-9">
	      				
	      				<blockquote><p class="fs-0-8">"We used to a have a passive role in the way Online Stores sell our hotel, now we can provide new photos, add new descriptions and be more proactive"</p><p><small>Carol R. / Owner, Compass Hotel</small></p></blockquote>
	      			</div>
	      		</div>
	      		
	      		<div class="row text-left spa10">
	      			<div class="col-sm-2">
	      			<!-- <img src="static/images/bea.jpg" class="img-responsive img-circle"/> -->
	      			<i class="fa fa-smile-o fa-3x fc-g"></i>
	      			</div>
	      			<div class="col-sm-9">
	      				
	      				<blockquote><p class="fs-0-8">"We thought creating an App for mobile was the next step after building our website, thank god that was not the case, we are working with 8 apps and selling more than ever”</p><p><small>Andres G. / New Accounts, Shoesmatter</small></p></blockquote>
	      			</div>
	      		</div>
	      		
      		</div>
      
      </div>
    </div>
    
    
    <div class="row text-left bg-e">
      
      <div class="col-sm-offset-2 col-sm-2">
      
      		<div class="spa80">
	      		
	      		<img src="/static/images/f/cata1.png" class="img-responsive"/>
      		</div>
      
      </div>
      
      <div class="col-sm-6">
      
      		<div class="spa80">
	      		<h2 class="fw-a">Get ahead of the game, make your <span class="fw-b">"business facts"</span> your biggest competitive advantage.</h2>
	      		
      		</div>
      
      </div>
    </div>
    
    
    <div class="row bg-c">
      
      <div class="col-sm-offset-2 col-sm-8">
      
      		<div class="spa70">
	      		<h1 class="text-white fw-c">Start today</h1>
	      		
	      		<p>It's free the first 30 days, and super accesible with plans starting at $9.99</p>
	      		
	      		<form class="form-inline spa20" action="https://avispa.myring.io/_register">
				  <div class="form-group">
				    <label class="sr-only" for="exampleInputEmail3">Name</label>
				    <input type="text" class="form-control" id="exampleInputName2" placeholder="Name">
				  </div>	      		
				  <div class="form-group">
				    <label class="sr-only" for="exampleInputEmail3">Email</label>
				    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="email">
				  </div>

				  <button type="submit" class="btn btn-default">Sign up</button>
				</form>


      		</div>
      
      </div>
    </div>
    

</div>


{% endblock %}
