
{% extends 'base.html' %}



{% block content %}

<div class="container-fluid">
      
    <div class="row bg-i">
      
    <div class="col-sm-offset-2 col-sm-8">
      <div class="spa80">
        
          <h1 class="fw-c fs-3 fc-a">Developers:</h1>
          

          <h2 class="fw-b fc-c">Integrate Business Facts into your app</h2>
            <p class="fs-1-5 fc-a">Stop scrapping the web,  add value to your web or mobile 
            app with data and content straight from the business owner.
            
             </p>

            

      </div>
    </div>
    </div>

    

    
    <!-- ROW -->
    <div class="row text-left bg-e">
      
      <div class="col-sm-offset-2 col-sm-5">
      
      		<div class="spa80">
	      		<h4 class="fw-c">First Hand / No Scrapping</h4>
	      		<p>Our Facts come from the 2 most reliable sources. The business owner herself or professional experts with deep understanding in the area. </p>
      		</div>
      
      </div>
      <div class="col-sm-2">
      	<div class="spa80">
      		<img src="/static/images/mbf/d_noscrap.png" class="img-responsive"/>
      	</div>
      </div>
    </div>

    <!-- ROW -->
    <div class="row text-left">
      <div class="col-sm-offset-2 col-sm-3">
        <div class="spa80">
          <img src="/static/images/mbf/d_handshake.png" class="img-responsive"/>
        </div>
      </div>
      <div class=" col-sm-4">
      
          <div class="spa80">
            <h4 class="fw-c">Easy to use</h4>
            <p>Our API it’s extremely easy to use and it comes in different flavors. We work constantly in our documentation and have a 24/7 response team to tackle any problem you might encounter.</p>
          </div>
      
      </div>
      
    </div>


    
    <!-- ROW -->
    <div class="row text-left bg-i">
      <div class="col-sm-offset-1 col-sm-4">
      	<div class="spa50">
      		<img src="/static/images/mbf/d_json.png" class="img-responsive"/>
      	</div>
      </div>
      <div class=" col-sm-4">
      
      		<div class="spa50">
	      		<h4 class="fw-c fc-a">Clean and Annotated</h4>
	      		<p class="fc-g">All data is perfectly annotated, allowing developers to create advanced and predictable functionality in top of it.</p>
      		</div>
      
      </div>
      
    </div>
    
        <!-- ROW -->
    <div class="row text-left bg-e">
      
      <div class="col-sm-offset-2 col-sm-5">
      
      		<div class="spa80">
	      		<h4 class="fw-c">Clear licenses</h4>
	      		<p>Every bit of information, data and content is clearly licensed (most of it under Creative Commons) This will allow you to build complex programmatical solutions without worrying about copyright issues.</p>
      		</div>
      
      </div>
      <div class="col-sm-2">
      	<div class="spa80">
      		<img src="/static/images/mbf/d_licenses.png" class="img-responsive"/>
      	</div>
      </div>
    </div>
    
    <!-- ROW -->
    <div class="row text-left">
      <div class="col-sm-offset-2 col-sm-2">
      	<div class="spa80">
      		<img src="/static/images/mbf/d_clang.png" class="img-responsive"/>
      	</div>
      </div>
      <div class=" col-sm-5">
      
      		<div class="spa80">
	      		<h4 class="fw-c">Well documented</h4>
	      		<p>We have created clear documentation that shows how MyBusiness Facts can be integrated to any web and mobile app. All the repositories are available in Github.</p>
      		</div>
      
      </div>
      
    </div>
    
    
    
    <div class="row bg-e">
      
      <div class="col-sm-offset-2 col-sm-6 text-left">
      
          <div class="spa50">
            <h3 class="fw-a lh-1" > <span class="fw-c">MBF captures and organizes accurate facts for hundreds of companies.<hr/></span> We work directly with business owners to provide updated photos, professionally written descriptions and translated versions of their content.</h3>
            
          </div>
          
          
          
      
      </div>
      <div class="col-sm-2 text-left">
        <div class="spa50">
          <img src="/static/images/connect2.png" class="img-responsive" />
        </div>
      </div>
    </div>

    
    
    
<div class="row text-left bg-h spa50">
      
      <div class="col-sm-offset-2 col-sm-6 text-left">
      
      		<div class="spa40">
	      		<h3 class="fw-c fc-a lh-1">If we don't have the data you are looking for, we can help you obtain it.</h3>
	      		<br/>
	      		<p class=" fc-a">Create a Data Request and send it in minutes.  Our system allows you to organize <strong>Crowd-Capturing campaigns</strong>, <strong>Capturethons</strong> and other strategies to get the information you are missing.</p>
	      	</div>
	  </div>
</div>
    
    
    <div class="row text-left">
      
      <div class="col-sm-offset-2 col-sm-8 text-left">
      
      		<div class="spa40">
	      		<h4 class="fw-c">Some happy customers:</h4>
	      		<p class="fc-l"><em> (Developers)</em></p>
	      		
	      		
	      		<div class="row text-left spa10">
	      			<div class="col-sm-2">
	      			<!-- <img src="static/images/bea.jpg" class="img-responsive img-circle"/> -->
	      			<i class="fa fa-smile-o fa-3x fc-g"></i>
	      			</div>
	      			<div class="col-sm-9">
	      				
	      				<blockquote><p class="fs-0-8">"We work with more than 2,000 hotels and we need  translated descriptions in 3 different languages.  MyBusiness facts connected hotels, translators and us. It saved us a lot of time."</p><p><small>-Kenia M. / Director Contracting, TA Inc.</small></p></blockquote>
	      			</div>
	      		</div>
	      		
	      		<div class="row text-left spa10">
	      			<div class="col-sm-2">
	      			<!-- <img src="static/images/bea.jpg" class="img-responsive img-circle"/> -->
	      			<i class="fa fa-smile-o fa-3x fc-g"></i>
	      			</div>
	      			<div class="col-sm-9">
	      				
	      				<blockquote><p class="fs-0-8">"We use to take images for our App straight out from Google images, now we receive them directly from the wineries"</p><p><small>-Tim R. / CEO BotellaJerez</small></p></blockquote>
	      			</div>
	      		</div>
	      		
      		</div>
      
      </div>
    </div>
    
    
   
    
    
       <div class="row text-left bg-e">
      
      <div class="col-sm-offset-2 col-sm-2">
      
      		<div class="spa80">
	      		
	      		<img src="/static/images/f/dfly3.png" class="img-responsive"/>
      		</div>
      
      </div>
      
      <div class="col-sm-6">
      
      		<div class="spa80">
	      		<h2>Spend more time <span class="fw-c">improving your App functionality</span>, let us find the data you are still missing.</h2>
	      		
      		</div>
      
      </div>
    </div>
    
    
    <div class="row bg-h">
      
      <div class="col-sm-offset-2 col-sm-8">
      
      		<div class="spa70">
	      		<h1 class="text-white fw-c">Sign Up as a developer</h1>
	      		<p class="fc-a">And receive a 12 Month free account.</p>
	      		
	      		<form class="form-inline spa20" action="https://avispa.myring.io/_register">
				  <div class="form-group">
				    <label class="sr-only" for="exampleInputEmail3">Name</label>
				    <input type="text" class="form-control" id="exampleInputName2" placeholder="Name">
				  </div>	      		
				  <div class="form-group">
				    <label class="sr-only" for="exampleInputEmail3">Email</label>
				    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="email">
				  </div>

				  <button type="submit" class="btn btn-default">Sign up</button>
				</form>


      		</div>
      
      </div>
    </div>
    


</div>



{% endblock %}
