<div class="row text-left bg-j">
      
      <div class="col-sm-offset-2 col-sm-8">
      
      		<div class="spa80">
	      		<h2 class="fw-a text-black lh-1-2"><span class="fw-c">Frequent</span> Asked Questions</h2>




									<!-- COLLAPSIBLE: LOCATIONS -->
					<div class="panel-group spa50" id="objections">
						<div class="panel panel-default bg-white">
							<div class="panel-heading p-5 fs-1 fw-c">
							  <a data-toggle="collapse" data-parent="#objections" href="#p01" aria-expanded="true" class="fc-b">
							    What are the benefits of joining Business Facts?
							    
							  </a>
							</div>
							<div id="p01" class="panel-collapse collapse" role="tabpanel">
								
								<div class="panel-body">
									<p class="p-30">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
									</p>
								</div>
							</div>
						</div>
						<!-- end -->
						<div class="panel panel-default ">
							<div class="panel-heading p-5 fs-1 fw-c" role="tab">
							  <a class="collapsed fc-b" data-toggle="collapse" data-parent="#objections" aria-expanded="false" href="#p02">
							    But what if my company have a website already?
							    
							  </a>
							</div>
							<div id="p02" class="panel-collapse collapse" role="tabpanel">
								<div class="panel-body">
									<p class="p-30">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
								</p>
								</div>
							</div>
						</div>
						<!-- end -->
						<div class="panel panel-default ">
							<div class="panel-heading p-5 fs-1 fw-c" role="tab">
							  <a class="collapsed fc-b" data-toggle="collapse" data-parent="#objections" aria-expanded="false" href="#p03">
							    I’m short of staff don’t have the time to do it
							    
							  </a>
							</div>
							<div id="p02" class="panel-collapse collapse" role="tabpanel">
								<div class="panel-body">
									<p class="p-30">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
								</p>
								</div>
							</div>
						</div>
						<!-- end -->
						<div class="panel panel-default ">
							<div class="panel-heading p-5 fs-1 fw-c" role="tab">
							  <a class="collapsed fc-b" data-toggle="collapse" data-parent="#objections" aria-expanded="false" href="#p02">
							    But I have Linkedin already
							    
							  </a>
							</div>
							<div id="p02" class="panel-collapse collapse" role="tabpanel">
								<div class="panel-body">
									<p class="p-30">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
								</p>
								</div>
							</div>
						</div>
						<!-- end -->

						
					</div>
				<!-- CLOSE COLLAPSIBLE -->
      		</div>
      
      </div>
    </div>