{% extends 'avispa_rest/tabs.html' %}

{% block title %}
	My Ring - {{ data.section_name}}
{% endblock %}




    {% block crumbs %}
          
	<li class="active">{{ data.section_name}}</li>


    {% endblock %}
         
    {% block tabcontent %}


	<div class="row">
	    <div class="col-sm-9 omega">     

	    
	    	<div class="rn-box-title">
	        Rings
	      	</div>
	      	<div class="rn-box-solo">

	        123
	      	</div>
	    </div>

	    <div class="col-sm-3 alpha">     

	    
	    	<div class="rn-box-title">
	        Actions
	      	</div>
	      	<div class="rn-box-solo">

	        ABC
	      	</div>
	    </div>

	               
	</div>
    

    {% endblock %}


