{% extends 'base.html' %}

{% block content %}

  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <form action="/_forgot" method="POST" role="form">
        <legend>Forgot your password? No problem</legend>
      
        <div class="form-group">
          <label for="">What is your email? We'll send you instructions there</label>
          <input type="email" id="email" name="email" class="form-control" placeholder="Email">
        </div>
              
        <button type="submit" class="btn btn-primary">Send</button>
      </form>
    </div>
  </div>

  

 
{% endblock %}