{% extends 'base.html' %}

{% block content %}


  <div class="row text-center">
      <div class="col-sm-12 spa30">     
        <h1>Welcome to MyRing</h1>
      </div>
      <hr/>
           
  </div>

  <div class="row">
  

    <div class="col-sm-offset-3 col-sm-6">     

        <div class="rn-box text-center" style="padding:0 15%;">

          <div class="spa10">
            <h4 class="fc-g spa30">Please Log In</h4>
          </div>

          <form action="" method="POST" role="form">
            <div class="input-group input-group-md">

              <span class="input-group-addon fw-c" id="sizing-addon1"><i class="fa fa-envelope"></i></span>
              <input type="email" id="email" name="email" class="form-control" placeholder="email">
            </div>
                
            <div class="spa5"></div>
            <div class="input-group input-group-md text-center">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-key"></i></span>
              <input type="password" name="password" id="password" class="form-control" required="required" title="" placeholder="password">
            </div>

            <div class="spa20">
              <table style="width:100%;">
                <tr>
                  <td colspan="2">
                    
                    <button type="submit" class="btn btn-info btn-lg fs-1-2" style="width:100%;">Login</button>

                    <span class="text-lgray" style="float:left;"><input type="checkbox" name="remember" value="yes"/>Remember me</input></span>

                    <div class="spa40"></div>
                    <hr/>
                  </td>
                </tr>
                <tr>
                  <td align="left">
                    <p class="fs-0-9"> New User? <a href="/_register">Register here</a> </p>
                  </td>
                  <td align="right">
                    <p class="fs-0-9"> <a href="/_forgot">Forgot Password?</a> </p>
                  </td>
                </tr>
              </table>
              
            </div>
          </form>
        </div> <!-- close box -->


    </div>             
  </div>
  

 
{% endblock %}