{% extends 'base.html' %}
{% block content %}
<!--   <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <form action="/_forgot" method="POST" role="form">
        <legend>New Password</legend>

        <input type="hidden" name="k" value="{{data.key}}">
        <input type="hidden" name="e" value="{{data.email}}">
      
        <div class="form-group">
          <label for="">Your new Password:</label>
          <input type="password" name="password" id="password" class="form-control" required="required" title="">
        </div>
        
        <div class="form-group">
          <label for="">Repeat Password:</label>
          <input type="password" name="confirm" id="confirm" class="form-control" required="required" title="">
        </div>
              
        <button type="submit" class="btn btn-primary">Send</button>
      </form>
    </div>
  </div> -->
    <div class="row text-center">
      <div class="col-sm-12 spa30">     
        <h2>New Password</h2>
      </div>
      <hr/>          
  </div>
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6">     
        <div class="rn-box text-center" style="padding:20px 20px;">
        <div class="spa20"></div>
          <form action="/_forgot" method="POST" role="form">
              <input type="hidden" name="k" value="{{data.key}}">
              <input type="hidden" name="e" value="{{data.email}}">
            <div class="input-group input-group-md">
              <span class="input-group-addon fw-c" id="sizing-addon1"><i class="fa fa-key"></i></span>
              <input type="password" name="password" id="password" class="form-control" required="required" title="" placeholder="password">
              <input type="password" name="confirm" id="confirm" class="form-control" required="required" title="" placeholder="repeat password">
            </div>
            <div class="spa20">
              <table style="width:100%;">
                <tr>
                  <td>  
                    <button type="submit" class="btn btn-warning fs-1">Send</button>
                    <div class="spa10"></div>
                    <hr/>
                  </td>
                </tr>
              </table>             
            </div>
          </form>
        </div> <!-- close box -->
    </div>             
  </div> 
{% endblock %}