{% extends 'avispa_rest/settings_base.html' %}
            {% block settings %}
                <div class="gcard">
                    <div class="gcard-title bg-d">                        
                        <span class="fc-b fs-1-2"> {{ data.user['name'] }}</span>123
                        <span class="fc-b fs-1-2 fw-c"> Profile</span>             
                    </div> 
                    <div class="gcard-body p-20">             
                        <form class="form-horizontal" action="" method="POST" role="form">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">                                       
                                        <div class="col-sm-10">
                                          <input type="hidden" class="form-control" id="input_images_1"  name="profilepic" value="{{ data.user['profilepic'] }}">
                                          <div id='dropzone1' class="dropzone" style="min-height:0px; padding:10px 10px;"><span class="dz-message" ><i class="fa fa-camera fa-1x"> </i> Upload Photo</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-7 spa30">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label fc-n fs-0-9">Name</label>
                                        <div class="col-sm-10">
                                          <input type="text" id="name" name="name"  class="form-control input-sm" placeholder="Your Name" value="{{ data.user['name'] }}" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                      <label class="col-sm-2 control-label fc-n fs-0-9">Website</label>
                                      <div class="col-sm-10">
                                          <input type="text" id="url" name="url"  class="form-control input-sm" placeholder="Homepage, personal blog" value="{{ data.user['url'] }}">
                                       </div>
                                    </div>
                                    <div class="form-group">
                                      <label class="col-sm-2 control-label fc-n fs-0-9">About</label>
                                      <div class="col-sm-10">
                                        <input type="text" id="about" name="about"  class="form-control input-sm" placeholder="About you" value="{{ data.user['about'] }}">
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label class="col-sm-2 control-label fc-n fs-0-9">Location</label>
                                      <div class="col-sm-10">
                                        <input type="text" id="location" name="location"  class="form-control input-sm" placeholder="Where do you live" value="{{ data.user['location'] }}">
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label class="col-sm-2 control-label fc-n fs-0-9">OnLogin</label>
                                      <div class="col-sm-4">
                                        <input type="text" id="onlogin" name="onlogin"  class="form-control input-sm" placeholder="" value="{{ data.user['onlogin'] }}">
                                      </div>
                                    </div>                                  
                                </div>
                            </div>
                             <div class="row">
                                <div class="col-sm-offset-1 col-sm-11">
                                    <div class="rn-box-content text-right">
                                        <hr/>
                                        <button type="submit" class="btn btn-primary btn-xs">Update</button>
                                        <a href="/{{ data.handle }}/_home" class="btn btn-default btn-sm">Cancel</a>
                                    </div>
                                </div>
                            </div>                           
                        </form>
                    </div><!-- //close box -->
                </div>
            {% endblock %}