
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:300);
@import url(http://fonts.googleapis.com/css?family=Raleway:300,500,900);

@font-face{
    font-family:FontAwesome;
    src:url(/static/assets/font-awesome/fonts/fontawesome-webfont.eot?#iefix) format('eot'),
    url(/static/assets/font-awesome/fonts/fontawesome-webfont.woff) format('woff'),
    url(/static/assets/font-awesome/fonts/fontawesome-webfont.ttf) format('truetype'),
    url(/static/assets/font-awesome/fonts/fontawesome-webfont.svg#FontAwesome) format('svg');
    font-weight:400;font-style:normal;}


body{background-color:#f5f5f5;}
/*TEXT */

h1{ font-family: 'Raleway', sans-serif; font-weight: 300; text-transform: none;}
h2{ font-family: 'Raleway', sans-serif; font-weight: 300; text-transform: none;}
h3{ font-family: 'Raleway', sans-serif; font-weight: 300; line-height:0.7em; text-transform: none;}
h4{ font-family: 'Raleway', sans-serif; font-weight: 300; text-transform: none;}
h5{ font-family: 'Raleway', sans-serif; font-weight: 300; text-transform: none;}

p{ font-family: 'Roboto Slab', sans-serif; font-weight: 300;}



/* GLOBAL */
iframe{ border:0; margin-top:0 !important;}
p, ul{font-weight: 500;}
a{cursor:pointer;}
a:hover{color:#000; text-decoration:none !important;  -o-transition:.3s; -ms-transition:.3s; -moz-transition:.3s; -webkit-transition:.3s; transition:.35s;}


.clearlink:link{text-decoration:none !important; outline:0 !important;}
.clearlink:active{text-decoration:none !important; outline:0 !important;}
.clearlink:focus{text-decoration:none !important; outline:0 !important;}
.clearlink:hover{color:#CCC; text-decoration:none !important;  -o-transition:.3s; -ms-transition:.3s; -moz-transition:.3s; -webkit-transition:.3s; transition:.35s;}
.clearlink:focus{color:#CCC; text-decoration:none !important; outline:0 !important;}

/* RING */
/*MyRing green: #D9E021*/


/*COPIED FROM ring-home.css*/

.text-s1{ font-family: 'Raleway', sans-serif; font-weight: 300;}
.text-s2{ font-family: 'Roboto Slab', sans-serif; font-weight: 300;}

.lw-1em{line-height:1em;}
.lw-1-5em{line-height:1.5em;}
.lw-2em{line-height:2em;}
.lw-3em{line-height:3em;}

.lh-0-5{line-height:0.5em;}
.lh-1{line-height:1em;}
.lh-1-5{line-height:1.5em;}
.lh-2{line-height:2em;}
.lh-3{line-height:3em;}


.ls-1{letter-spacing: 1px;}
.ls-1-5{letter-spacing: 1.5px;}
.ls-2{letter-spacing: 2px;}


.fw-a{font-weight:200;} /*light*/
.fw-b{font-weight:400;} /*medium*/
.fw-c{font-weight:800;} /*heavy*/

.fs-0-6{font-size:0.6em;}
.fs-0-7{font-size:0.7em;}
.fs-0-8{font-size:0.8em;}
.fs-0-9{font-size:0.9em;}
.fs-1{font-size:1em;}
.fs-1-2{font-size:1.2em;}
.fs-1-5{font-size:1.5em;}
.fs-1-7{font-size:1.7em;}
.fs-2{font-size:2em;}
.fs-2-5{font-size:2.5em;}
.fs-3{font-size:3em;}
.fs-4{font-size:4em;}
.fs-5{font-size:5em;}
.fs-8{font-size:8em;}
.fs-9{font-size:9em;}


.fc-a{color:#FFF;} /*white*/
.fc-b{color:#000;} /*black*/
.fc-c{color:#f69416;} /*orange*/
.fc-d{color:#00acdd;} /*light blue*/
.fc-e{color:#212f62;} /*dark blue*/
.fc-f{color:#ffd100;} /*yellow*/
.fc-g{color:#CCC;} /*lgray*/
.fc-h{color:#d40044;} /*red*/
.fc-i{color:#28b62c;} /*green*/
.fc-j{color:#80deff;} /*superlightblue*/
.fc-k{color:#c9a614;} /*darkyellow*/


.lh-0-5{line-height:0.5em;}
.lh-0-7{line-height:0.7em;}
.lh-1{line-height:1em;}
.lh-1-2{line-height:1.2em;}
.lh-1-5{line-height:1.5em;}

.text-black {color:#000;}
.text-white {color:#FFF;}
.text-gray {color:#666;}
.text-lgray {color:#CCC;}
.text-dgray {color:#515151;}
/*END COPIED*/


/* MARGINS & PADDINGS & OTHER */
.no-padding{padding:0 !important;}
.no-margin{margin:0 !important;}

.p-5{padding:5px !important;}
.p-7{padding:7px !important;}
.p-10{padding:10px !important;}
.p-15{padding:15px !important;}
.p-50{padding:50px 0 !important;}

.m-10{margin:10px !important;}
.m-15{margin:15px !important;}
.m-50{margin:50px !important;}

.pb-10{padding-bottom:10px;}
.pb-20{padding-bottom:20px;}
.pt-10{padding-top:10px;}
.pt-20{padding-top:20px;}
.pl-20{padding-left:20px;}
.pl-30{padding-left:30px;}
.pl-40{padding-left:40px;}

.mt-20{margin-top:20px;}
.mb-20{margin-bottom:20px;}

.pad-y-10{padding:10px 0;}
.pad-x-4{padding:0 4px;}
.pad-x-8{padding:0 8px;}
.pad-x-16{padding:0 16px;}
.pad-x-20{padding:0 20px;}
.pad-x-32{padding:0 32x;}
.pad-y-20{padding:20px 0 !important;}

.margin-b-10{margin-bottom:10px;}
.margin-b-20{margin-bottom:20px;}
.margin-t-15{margin-top:15px;}
.margin-t-20{margin-top:20px;}
.margin-y-10{margin:10px 0;}
.margin-y-20{margin:20px 0;}
.margin-x-7{margin:0 7px;}
.margin-x-10{margin:0 10px;}
.margin-x-20{margin:0 20px;}


/*SPACING*/

.clearboth{clear:both;}

.spa200{padding:200px 0;}
.spa100{padding:100px 0;}
.spa90{padding:90px 0;}
.spa80{padding:80px 0;}
.spa70{padding:70px 0;}
.spa60{padding:60px 0;}
.spa50{padding:50px 0;}
.spa40{padding:40px 0;}
.spa30{padding:30px 0;}
.spa20{padding:20px 0;}
.spa15{padding:15px 0;}
.spa10{padding:10px 0;}
.spa5{padding:5px 0;}


@media(max-width:550px){  /*extended*/

.spa200{padding:100px 0;}
.spa100{padding:50px 0;}
.spa90{padding:45px 0;}
.spa80{padding:40px 0;}
.spa70{padding:35px 0;}
.spa60{padding:30px 0;}
.spa50{padding:25px 0;}
.spa40{padding:20px 0;}
.spa30{padding:15px 0;}
.spa20{padding:10px 0;}
.spa10{padding:5px 0;}
.spa5{padding:3px 0;}

}

/*BACKGROUNDS*/

  .bg-ring01{  
  background: -webkit-linear-gradient(60deg, #2891cc, #184f89);
  background: -o-linear-gradient(60deg, #2891cc, #184f89);
  background: -moz-linear-gradient(60deg, #2891cc, #184f89);
  background:linear-gradient(60deg, #2891cc, #184f89);
}

  .bg-ring02{  
  background: -webkit-linear-gradient(60deg, #307cff, #30caff);
  background: -o-linear-gradient(60deg, #307cff, #30caff);
  background: -moz-linear-gradient(60deg, #307cff, #30caff);
  background:linear-gradient(60deg, #307cff, #30caff);
}



.bg-ai{  
  background: url(/static/images/back01.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-hand{  
  
  background: url(/static/images/csiri.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color:#ffe045;
}


  .bg-05{  
  background: url(../images/grass4.jpg), -webkit-linear-gradient(60deg, #FFF, #eae5df);
  background: url(../images/grass4.jpg), -o-linear-gradient(60deg, #FFF, #eae5df);
  background: url(../images/grass4.jpg), -moz-linear-gradient(60deg, #FFF, #eae5df);
  background: url(../images/grass4.jpg), linear-gradient(60deg, #FFF, #eae5df);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
  .bg-05b{  
  background: url(../images/phantom.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size:cover;
}

  .bg-07{  
  background: -webkit-linear-gradient(60deg, #FFF, #eae5df);
  background: -o-linear-gradient(60deg, #FFF, #eae5df);
  background: -moz-linear-gradient(60deg, #FFF, #eae5df);
  background:linear-gradient(60deg, #FFF, #eae5df);
}


.bg-white{background-color: #FFF;}
.bg-black{background-color: #000;}
.bg-gray{background-color: #CCC;}
.bg-lgray{background-color: #e2e2e2;}
.bg-yellow{background-color: #FFE045;}
.bg-a{background-color: #d40044; }
.bg-b{background-color: #298fff; }
.bg-c{background-color: #ffd033; }


/*TAGS*/


.bt-1{background-color: #ffa0a0;}
.bt-2{background-color: #fed160;}
.bt-3{background-color: #feef53;}
.bt-4{background-color: #caee4f;}
.bt-5{background-color: #a7dbfe;}
.bt-6{background-color: #f0c8fe;}
.bt-7{background-color: #d2d2d2;}



.bb-1{border-color: #ffa0a0;}
.bb-2{border-color: #fed160;}
.bb-3{border-color: #feef53;}
.bb-4{border-color: #caee4f;}
.bb-5{border-color: #a7dbfe;}
.bb-6{border-color: #f0c8fe;}
.bb-7{border-color: #d2d2d2;}




.r-tag{
width:15px;
height:15px;  
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px; 
border-style:solid;
border-width:1px;
margin:2px 3px 2px 0;
}


/*STYLED FORM*/
.remove-s{
    -webkit-appearance: none;
    border: 0px solid #000;
    border-width: 0px 0px 1px 1px;
    background-color: #FFE045;

}


.remove-b{
    -webkit-appearance: none;
    border: 0px solid #000;
    background-color: #FFE045;
    padding: 10px;

}




/*//////*/
.nogut {
    margin-left:  (@gutter / -2);
    margin-right: (@gutter / -2);
  }

.alpha{padding-left:0px;}
.omega{padding-right:0px;}

/*HR*/
/*copied to ring1.css*/
.rhr{padding:1px 5px; width:30%; margin: 0 0 0 -10px;}
.rhr2{padding:1px 5px; width:30%; margin: 0 0 0 -6px;}
.rhr3{height:0.5px; width:20%;}
.rhr4{height:0.5px; width:100%; background-color:#CCC;}
.rvr{padding:5px 5px; height:30%; margin: 0 0 0 -10px;}

.bord-left{
    border-left-style: solid;
    border-left-color:#CCC;
    border-left-width:1px;
    padding-left:10px;

}

.bord-right{
    border-right-style: solid;
    border-right-color:#CCC;
    border-right-width:1px;
}


/*GRAPH WRAPPER*/
.graph-wrap{
border-style: solid;
border-color: #CCC;
border-width: 0px 0px 1px 0px;
border-radius: 10px;
background-color: white;
padding: 5px;

}
.pair_win200{height:200px;}
.pair_win300{height:300px;}
.pair_win400{height:400px;}
.pair_win500{height:500px;}

.numdot{
background-color: gray; padding:0 3px;
border-radius: 0 5px;
color:white; 
}



.svg-container { 

display: inline-block;

position: relative;

width: 100%;

padding-bottom: 100%; 

vertical-align: middle; 

overflow: hidden; 

}



.svg-content { 

 display: inline-block;

 position: absolute;

 top: 0;

 left: 0;

}


/*USER GRAPH*/


.ugp-container{width:100%; float:left; height:150px; padding:10px 0;}

.ugp{
float:left;
position:relative; top:50%;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
border-radius: 0 20px;
background-color: #86b7d1;

background: rgb(179,197,206);
background: -moz-linear-gradient(top,  rgba(179,197,206,1) 0%, rgba(134,183,209,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(179,197,206,1)), color-stop(100%,rgba(134,183,209,1)));
background: -webkit-linear-gradient(top,  rgba(179,197,206,1) 0%,rgba(134,183,209,1) 100%);
background: -o-linear-gradient(top,  rgba(179,197,206,1) 0%,rgba(134,183,209,1) 100%);
background: -ms-linear-gradient(top,  rgba(179,197,206,1) 0%,rgba(134,183,209,1) 100%);
background: linear-gradient(to bottom,  rgba(179,197,206,1) 0%,rgba(134,183,209,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3c5ce', endColorstr='#86b7d1',GradientType=0 );

}

.ugp-0{ height:1%; background-color:gray;}
.ugp-1{ height:10%; background-color:#2fcfff;}
.ugp-2{ height:20%; background-color:#2ec7ff;}
.ugp-3{ height:30%; background-color:#29beff;}
.ugp-4{ height:40%; background-color:#26b5ff;}
.ugp-5{ height:50%; background-color:#24acff;}
.ugp-6{ height:60%; background-color:#21a3ff;}
.ugp-7{ height:70%; background-color:#1e9bff;}
.ugp-8{ height:80%; background-color:#1b92ff;}
.ugp-9{ height:90%; background-color:#1789ff;}
.ugp-10{ height:100%; background-color:#147fff;}


.ugp{width:2%;} /*amount of lines to display divided by 100% */

.ugp2{background: #ffb76b;
background: -moz-linear-gradient(top,  #ffb76b 0%, #ffa73d 42%, #ff7c00 56%, #ff7c00 56%, #ff7f04 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb76b), color-stop(42%,#ffa73d), color-stop(56%,#ff7c00), color-stop(56%,#ff7c00), color-stop(100%,#ff7f04));
background: -webkit-linear-gradient(top,  #ffb76b 0%,#ffa73d 42%,#ff7c00 56%,#ff7c00 56%,#ff7f04 100%);
background: -o-linear-gradient(top,  #ffb76b 0%,#ffa73d 42%,#ff7c00 56%,#ff7c00 56%,#ff7f04 100%);
background: -ms-linear-gradient(top,  #ffb76b 0%,#ffa73d 42%,#ff7c00 56%,#ff7c00 56%,#ff7f04 100%);
background: linear-gradient(to bottom,  #ffb76b 0%,#ffa73d 42%,#ff7c00 56%,#ff7c00 56%,#ff7f04 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 );

}


.fa01{
     
    content:"3";
    padding:0 5px 0 15px;   
} 

/*WIZARD*/

.step{ 
    border-top-style: dotted;
    border-right-style: dotted;
    border-bottom-style: dotted;
    border-left-style: solid;
    border-color:#CCC;
    border-width:1px 1px 1px 6px;
    padding:5px;
    background-color:#FFF;
    color:#CCC;
    }
.step-on{
    border-color:#28b62c;
    border-width:1px 1px 1px 12px;
    color:#000;
}

.graphlabel{
    margin-left:-20px;
}



.rn-pad20{padding:20px;}

.rn-p5{padding:5px;}
.rn-p10{padding:10px;}
.rn-p20{padding:20px;}

.rn-hp5{padding:0 5px;}
.rn-hp10{padding:0 10px;}
.rn-hp20{padding:0 20px;}

.rn-vp5{padding:5px 0;}
.rn-vp10{padding:10px 0;}
.rn-vp20{padding:20px 0;}


.label-crumb{height:44px; background-color:#CCC;float:left;}


.bp-20{padding:0 0 5px 0 }
.ring-bc{color:#D9E021; font-weight:bold; }
.rn-bold{font-weight:bold; }

.btn-crumb{height:44px;}


.btn-vader{margin: 0px 0; background-color:#666; color:#CCC;}
.btn-vader:hover {
margin-top: 0px;
background-color:#999;
color:#FFF;
}


.rn-mar5{margin:5px}

.label-discrete {
background-color: #CCC;
}

.textcodearea { font-family: Consolas, Lucida Console, monospace; font-size: 0.9em; }

.rules-box {
    border-top-style: dotted;
    border-right-style: dotted;
    border-bottom-style: dotted;
    border-left-style: solid;
    border-color:#CCC;
    border-width:1px 1px 1px 6px;
    padding:5px;
    background-color:#FFF;

}

.label-m{background-color:red;}
.label-c{background-color:orange;}
.label-x{background-color:purple;}
.label-h{background-color:#0FAA9B;}

.rn-b1{font-size: 20px;}
.rn-b2{font-size: 25px;}
.rn-b3{font-size: 30px;}
.rn-b4{font-size: 50px;}


.nounder{text-decoration: none !important;}
.rn-t1{font-size: 17px;}
.rn-t2{font-size: 15px;}
.rn-t3{font-size: 12px; line-height: 1em;}

.rn-gray{color:gray;}
.rn-clear{color:#CCC;}
.rn-black{color:#000;}
.rn-white{color:#FFF;}

.btn-fix1{min-width:120px;}

.rn-img-result{
width:100px; height:100px;
}

.rn-box-result{
    
margin:10px;
border-style: solid;
border-color: #ddd;
border-width: 2px;
border-radius: 4px;
-webkit-box-shadow: none;
box-shadow: none;
background-color:#CCC; 
padding: 10px;
margin: 0;
float: left;
color:black;
font-weight:bold;
}

.rn-box-title{
background-color:#E9EFF2; 
border-style: solid;
border-color: #ddd;
border-top-color: #fff;
border-left-color: #fff;
border-width: 1px 1px 1px 1px;
border-radius: 12px 12px 0 0;
padding: 15px 5px 15px 30px;
margin: 4px 4px 0 4px;
color: gray;
font-size: 1.3em;
font-family: 'Raleway', sans-serif; font-weight: 200;

}

.rn-box-title-slim{
background-color:#E9EFF2; 
border-style: solid;
border-color: #ddd;
border-top-color: #fff;
border-left-color: #fff;
border-width: 1px 1px 1px 1px;
border-radius: 12px 12px 0 0;
padding: 4px 2px 4px 30px;
margin: 4px 4px 0 4px;
color:#ACBDC4;
font-size: 0.9em;
font-family: 'Raleway', sans-serif; font-weight: 200;
}

.rn-box-solo{
margin-right: 0;
margin-left: 0;
background-color: #FFF;
border-style: solid;
border-color: #ddd;
border-width: 0 0 2px 0;
border-radius: 0 0 8px 8px;
padding: 7px 30px;
margin: 0px 4px 4px 4px;
position: relative;


}


.rn-box-space{
margin-right: 0;
margin-left: 0;
background-color: none;
border-style: solid;
border-color: #ddd;
border-width: 1px 0;
border-radius: 0 0 ;
padding: 5px 0px;
margin: 0;
position: relative;

}

.rn-box-gray{
background-color:#DADFE0; 
border-style: solid;
border-color: #ddd;
border-top-color: #fff;
border-left-color: #fff;
border-width: 0px 1px 0px 1px;
padding: 15px 5px 15px 30px;
margin: 0px 4px 0 4px;
color: gray;
font-size: 1em;
font-family: 'Raleway', sans-serif; font-weight: 200;

}




.rn-box-content{
margin-right: 0;
margin-left: 0;
background-color: #fff;
border-style: solid;
border-color: #FFF;
border-width: 0 1px 1px 1px;
border-radius: 0 0 4px 4px;
-webkit-box-shadow: none;
box-shadow: none;
padding: 5px 15px 15px;
margin: 0;
position: relative;
}

.rn-box{
border-style: solid;
border-color: #CCC;
border-width: 0px 0px 1px 0px;
border-radius: 10px;
background-color: white;
padding: 5px;
}

.rn-box-top{
border-style: solid;
border-color: #CCC;
border-width: 0px 0px 1px 0px;
border-radius: 10px;
background-color: white;
}


.rn-box-gad{
border-radius: 10px;
margin:2px; 
float:left;
}

.rn-box-white{
border-style: solid;
border-color: #CCC;
border-width: 0px 0px 1px 0px;
border-radius: 10px;
background-color: white;
padding: 5px;
margin:2px; 
}


.gad25{width:24.5%;}
.gad50{width:49%;}
.gad75{width:73.5%;}
.gad100{width:99%;}

.gad33{width:32.5%;}
.gad66{width:65.5%;}


/*TABS*/


.tab-box-a{
    margin-right: 200px;
    line-height: 1.42857;
    border: 1px solid white;
    border-width: 1px 1px 0px 1px;
    border-radius: 5px 5px 0px 0px;
    margin:0 1px;
    padding:12px 5px 12px 5px; 
    width:17%;
    float:left; 
    background-color: #d8d8d8;
    background-color: #d8d8d8;
    box-shadow: 0px 7px 5px #ccc;
    font-size: 1em;
}

.tab-box-b{
    margin-right: 200px;
    line-height: 1.42857;
    border: 1px solid white;
    border-width: 1px 1px 0px 1px;
    border-radius: 5px 5px 0px 0px;
    margin:0 1px;
    padding:0px 5px; 
    width:15%;
    float:left; 
    background-color: #d8d8d8;
    box-shadow: 0px 7px 5px #ccc;
    font-size: 0.8em;
}

.tab-box-c{
    margin-right: 200px;
    line-height: 1.42857;
    border: 1px solid white;
    border-width: 1px 1px 0px 1px;
    border-radius: 5px 0px 0px 5px;
    padding:20px 20px; 
    width:90%;
    background-color: #d8d8d8;
    box-shadow: 0px 7px 5px #ccc;
}

.tab-box-d{
    
    border: 1px solid #E2E2E2;
    border-width: 1px 0px 1px 1px;
    padding-top: 20px;
    padding-bottom:20px;
    width:100%;
    text-align: middle;
    color:#CCC;
    background-color: #F9f9f9;
    font-size:1.2em;
    float:left;
}

.tab-on2{
background-color: #FFF;
color:#127BA3;
font-size:1.4em;
margin:0px 0;
border-width: 1px 0px 1px 3px;
border-left-color:#A5BEC6;
margin-left:1px;

}



.tab-on{background-color: white; border: 3px solid #e8e8e8; border-width: 3px 0px 3px 3px; padding-right:20px;}

.tb-icon{width:10%; }



/*PHOTOS*/

.user-big{
width:80px;    
border:1px solid #FFF;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;  }

.user-med{
max-width:80px;    
border:1px solid #FFF;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;  }

.user-small{
width:50px;    
border:1px solid #FFF;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;  }

/*SORTABLE RINGMODELER*/

.columnfields {
width: 100%;
float: left;
/*padding-bottom: 100px;*/
}
.portlet {
margin: 0 1em 1em 0;
padding: 0em;
}
.portlet-header {
padding: 0.2em 0em;
margin-bottom: 0em;
position: relative;
}
.portlet-toggle {
position: absolute;
top: 50%;
right: 10px;
margin-top: -8px;
}
.portlet-content {
background-color: white;
margin:0 10px;
padding:10px;
}
.portlet-placeholder {
border: 4px dotted #CCC;
margin: 0 0.4em 0.4em 0;
height: 50px;
border-radius: 10px 0px 10px 10px;
}

/*FROM JQUERY UI*/


.ui-widget-header {
    /*border: 1px solid #AAA;*/
    color: #222;
    border-radius: 10px 0px 10px 10px;
    padding-left: 10px;
    /*box-shadow: 3px 3px 5px #CCC;*/
}
.ui-sortable-handle {
}
.ui-widget-content {
    color: #222;
}
.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
}


.ui-sort-position {
      text-align: center;
      font-size: 3.8em;
}









/*FINISH SORTABLE */

/* Navigation Bar */
.topbar{margin:0; padding:0; background:#EAEAEA; border:0; border-bottom:0px solid #fff; border-radius:0; z-index:1000; }
.topbar .navbar-nav > li > a{color:#222; padding:5px 16px; font-size:15px; font-weight:normal;}
.topbar .navbar-nav > li > a.dropdown-form-toggle{color:#fff; background:#CCC; padding:14px 16px; margin-top:14px; margin-right:4px; font-size:15px; font-weight:normal;}
.topbar .navbar-nav > li > a:hover,
.topbar .navbar-nav > li > a:focus {color:#666; background-color:#999;}

.topbar .navbar-nav > .active > a,
.topbar .navbar-nav > .active > a:hover,
.topbar .navbar-nav > .active > a:focus {color:#222; background-color:#CCC; border-radius:0px;}

.topbar .navbar-nav > .disabled > a,
.topbar .navbar-nav > .disabled > a:hover,
.topbar .navbar-nav > .disabled > a:focus {color:#cccccc; background-color:transparent;}

.topbar .navbar-toggle {border-color:#fff; margin-top:10px;}
.topbar .navbar-toggle .icon-bar {background-color: #fff;}
.topbar .navbar-toggle:hover,
.topbar .navbar-toggle:focus{background-color:#CCC; border-color:#CACACA;}
.topbar .navbar-toggle:hover .icon-bar,
.topbar .navbar-toggle:focus .icon-bar{background-color:#FFF;}
.topbar .navbar-toggle:hover .icon-search,
.topbar .navbar-toggle:focus .icon-search{color:#FFF;}

.topbar .navbar-collapse,
.topbar .navbar-form {border-color:#e7e7e7;}

.topbar .navbar-nav > .dropdown > a:hover .caret,
.topbar .navbar-nav > .dropdown > a:focus .caret {border-top-color:#FFF; border-bottom-color: #FFF;}

.topbar .navbar-nav > .open > a,
.topbar .navbar-nav > .open > a:hover,
.topbar .navbar-nav > .open > a:focus {color: #666;background-color: #CCC;}

.topbar .navbar-nav > .open > a .caret,
.topbar .navbar-nav > .open > a:hover .caret,
.topbar .navbar-nav > .open > a:focus .caret {border-top-color:#FFF; border-bottom-color:#FFF;}
.topbar .navbar-nav > .dropdown > a .caret {border-top-color:#4c4c4c; border-bottom-color:#4c4c4c;}

.topbar .dropdown-menu{min-width:180px; background:#FFF; border:0; border-top:1px solid #CACACA; border-bottom:3px solid #CACACA; border-radius:0;}
.topbar .dropdown-menu:after, .arrow_box:before {bottom:100%;left:86%; border:solid transparent; content:" "; height:0; width:0; position: absolute; pointer-events:none;}
.topbar .dropdown-menu:after{border-color:rgba(231, 76, 60, 0); border-bottom-color:#fff; border-width:10px; margin-left:0;}
.topbar .dropdown-menu:before{border-color: rgba(231, 76, 60, 0); border-bottom-color:#fff; border-width: 10px; margin-left:0;}
.topbar .dropdown-menu-user:after{border-color:rgba(231, 76, 60, 0); border-bottom-color:#CACACA; border-width:10px; margin-left:24px;}
.topbar .dropdown-menu-user:before{border-color: rgba(231, 76, 60, 0); border-bottom-color:#CACACA; border-width: 10px; margin-left:-10px;}
.topbar .dropdown-menu > li{border-bottom:1px solid #eee;}
.topbar .dropdown-menu > li:last-child{border:0;}
.topbar .dropdown-menu > li > a{color:#4c4c4c; padding:8px 15px;}
.topbar .dropdown-menu > li > a:hover{background:#CACACA; color:#FFF;}
.topbar .dropdown-menu label.checkbox{color:#4c4c4c;}
.topbar .dropdown-form h4{margin:0; padding:15px 15px 5px 15px; color:#FFF;}
.topbar h4{color:#FFF;}


header .navbar-default{margin:0; padding:14px 0; background:url(none) repeat; border:0; border-radius:0;}
.navbar-brand{padding: 1px; margin:3px 0; border:1px solid transparent; border-radius:0px;}
header .navbar-ring{padding:7px 15px; margin-top:50px; border:1px solid transparent; border-radius:3px;}




.bird{background-color: yellow; color:black;}

@media (max-width:768px){

.pair_win200{height:100%;}
.pair_win300{height:100%;}
.pair_win400{height:100%;}
.pair_win500{height:100%;}

    .bird{background-color: orange; color:black;}

    .tab-box-d{
    
    border: 1px solid #CCC;
    border-width: 0px 0px 1px 0px;
    padding-top: 20px;
    padding-bottom:20px;
    width:19%;
    text-align: middle;
    float:left;

    
    }
    .tab-on2{
background-color: #FFF;
color:#127BA3;
margin:0px 0;

}

.rn-box-title{ width:99%;}
.rn-box-title-slim{ width:99%;}
.rn-box-solo{ width:99%;}

.gad25{width:99%;}
.gad50{width:99%;}
.gad75{width:99%;}
.gad100{width:99%;}

.gad33{width:99%;}
.gad66{width:99%;}



}

a.nostroke{
  text-decoration: none;
  outline: none;
    }


.modal-dialog{
    position: relative;
width: auto;
margin: 1px auto;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 750px;
    margin: 1px auto;
  }
  }





