
/*@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,500,700);*/

@font-face{
    font-family:FontAwesome;
    src:url(/static/assets/font-awesome/fonts/fontawesome-webfont.eot?#iefix) format('eot'),
    url(/static/assets/font-awesome/fonts/fontawesome-webfont.woff) format('woff'),
    url(/static/assets/font-awesome/fonts/fontawesome-webfont.ttf) format('truetype'),
    url(/static/assets/font-awesome/fonts/fontawesome-webfont.svg#FontAwesome) format('svg');
    font-weight:400;font-style:normal;}
/*#f2f0ed*/

/*body{background-color:#f5f5f5;}*/
body{background-color:#f6f6f6; 
font-family: 'Raleway', sans-serif; font-weight: 300; text-transform: none;
}
/*TEXT */

h1{ font-family: 'Raleway', sans-serif; font-weight: 300; text-transform: none;}
h2{ font-family: 'Raleway', sans-serif; font-weight: 300; text-transform: none;}
h3{ font-family: 'Raleway', sans-serif; font-weight: 300; line-height:0.7em; text-transform: none;}
h4{ font-family: 'Raleway', sans-serif; font-weight: 300; text-transform: none;}
h5{ font-family: 'Raleway', sans-serif; font-weight: 300; text-transform: none;}

p{ font-family: 'Roboto Slab', sans-serif; font-weight: 300;}



.text-s1{ font-family: 'Raleway', sans-serif; font-weight: 300;}
.text-s2{ font-family: 'Roboto Slab', sans-serif; font-weight: 300;}
